include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.1 ما هي الكيمياء؟
    body
        +navbar
        div.center
            h1 الوحدة الأولى
            p.center.blue 1.1 ما هي الكيمياء؟
            p
                |- <a href="#1.1.1">1.1.1 علم الكيمياء</a>
                br
                |- <a href="#1.1.2">1.1.2 هل الكيمياء والكيماويات خطيرَين؟</a>
                br
                |- <a href="#1.1.3">1.1.3 إذا كانت بعض الكيماويات خطيرة، لماذا نحتاج لأن نتعامل معهم؟</a>
                br
                |- <a href="#1.1.4">1.1.4 المادة والمادة الكيميائية</a>

            hr

            h2 <a id="1.1.1" href="#1.1.1">1.1.1 علم الكيمياء</a>

            p الكيمياء هي فرع من العلوم يدرس المواد وكيفية تحولهم إلى مواد أخرى. تسمى العملية التي تتحول فيها مادة إلى مادة أخرى بالتفاعل الكيميائي. اضغط <a href="https://www.youtube.com/watch?v=0Bt6RPP2ANI">هنا</a> لمشاهدة بعض الفيديوهات الجميلة لبعض التفاعلات الكيميائية. إذا كنت مهتم برؤية المزيد، فأنصحك بشدة بتصفح هذه <a href="https://www.youtube.com/user/chatzida/videos">القناة</a> وبالأخص هذه الفيديوهات:
            ul(dir="ltr")
                li <a href="https://www.youtube.com/watch?v=x1Ftrblb6nQ">The Colors of Chemistry</a>
                li <a href="https://www.youtube.com/watch?v=Idh9oHf090k">The Fun of Chemistry</a> 
                li <a href="https://www.youtube.com/watch?v=uLp0NhNszQU">7 Minutes of Joy with Chemistry Experiments</a>
                li <a href="https://www.youtube.com/watch?v=NOiHE_9a2Mc">8 Minutes of Joy with Chemistry Experiments</a>
                li <a href="https://www.youtube.com/watch?v=l1ryVBryubw">12 Captivating Chemistry Experiments</a>
                li <a href="https://www.youtube.com/watch?v=V2Menn5mNTg">Chemistry is Enchanting</a>

            h2 <a id="1.1.2" href="#1.1.2">1.1.2 هل الكيمياء والكيماويات خطيرَين؟</a>

            p هل الشوكة والسكينة التان نستعملهما أثناء الأكل خطيرتين؟ ربما ستكونا كذلك إذا لم نعرفهم كيفية استعمالهن بشكل صحيح. نفس الشيء ينطبق على الكهرباء والكثير من الأدوات المستخدمة بشكل يومي، مثل المطارق، الحفارات، الخياطات، إلخ... بعض المواد التي تتعامل معها الكيمياء آمنة، والبعض الآخر خطير لسمّيته، لقابلية اشتعاله، أو لقابلية انفجاره.

            h2 <a id="1.1.3" href="#1.1.3">1.1.3 إذا كانت بعض الكيماويات خطيرة، لماذا نحتاج لأن نتعامل معهم؟</a>

            p إذا كانت بعض المواد الكيميائية خطيرة، أليست بالفكرة الجيدة أن نبتعد عنهم ونريح رأسنا؟ والله قرر لحالك بعد قراءة الفقرتين التاليتين.

            p <a href="https://ar.wikipedia.org/wiki/%D8%B3%D9%8A%D8%B3%D8%A8%D9%84%D8%A7%D8%AA%D9%8A%D9%86">السيسبلاتين</a> وأدوية أخرى مضادة للسرطان قد أنقذت الملايين من الأرواح. ومع ذلك فإن هذه الأدوية عبارة عن مواد سامة جدا وتستطيع أن تودي بحياة زلمة إذا تم تناولها بشكل غير مسؤول وبكميات زائدة. لا نستطيع أبداً تخيل حياتنا بدون النايلون، والذي هو مبني باستخدام كميات كبيرة من مادة سامة جدا، سيانيد الهيدروجين. كميات هائلة من الخل تنتج باستخدام أول أوكسيد الكربون السام. مواد خطيرة يتم استخدامها لصناعة أنواع كثيرة من الأدوية، البوليمر، مواد للبناء، منظفات، أصباغ، طلاءات ودهانات، مخصبات تربة، عملاء حماية المحاصيل، مواد للكهربائيات التي تستخدم في الحواسيب والهواتف الذكية، شاشات ملونة كاملة، وما إلى ذلك... فقط حاول أن تتخيل حياتنا بدون هذه الأشياء.

            p الجازولين وبتروكيماويات أخرى قابلة للاشتعال ويمكن حتى أن تكون متفجرة تحت ظروف معينة. هل تود بأن تتخلى عن قيادة سيارتك؟ الكهرباء هي بديل رائع للجازولين، ولكن الكهرباء تُنتج بطرق كيميائية. حتى عملية الحصول على الطاقة الـ"متجددة" من الشمس والرياح تحتاج إلى مواد لا يمكن صناعتها إلا بكيماويات. العالم المتحضر العصري ومعاييره لا يمكن تخيلها أبداً بدون الكيمياء. لحد الآن ما مقتنع؟ شاهد هذا <a href="https://www.youtube.com/watch?v=EUQ3hS0reXc">الفيديو القصير</a> وهذا <a href="https://www.youtube.com/watch?v=AbfW_CMMe48">الكرتون</a>.

            p نحتاج نحن البشر إلى عدد لا يحصى من الكيماويات. لاستخدام هذه الكيماويات بشكل آمن، يجب علينا معرفة الخصائص الكيميائية، الحيوية، والبيئية لهذه المواد. ويجب علينا أيضاً استخدام معرفتنا بحكمة لأنه بقدر ما أن المعرفة تمهد لنا الطريق لحياة أفضل، فتستطيع أيضاً أن تؤدي بنا إلى الهلاك. إلى "<a href="https://www.youtube.com/watch?v=vXrpFxHfppI">صديق قاتل إن لم يضع أحدٌ القواعد</a>" (P. Sinfield). على سبيل المثال، يمكن استخدام الفوسفور الأبيض لصناعة حمض الفوسفوريك والذي يعطي المشروبات الغازية ذاك الطعم الواخز الذي نستمتع به، ولكن وأيضاً يمكن استخدامه لصناعة متفجرات تحرق، تسمم، وتقتل البشر. لا يجب علينا فقط أن نصنع مواد متنوعة كثيرة وأن نعرف خصائصهم، بل يجب علينا أيضاً وضع حدود لكيفية استعمالهم.

            h2 <a id="1.1.4" href="#1.1.4">1.1.4 المادة والمادة الكيميائية</a>

            p كما قلنا سابقاً، فالكيمياء تدرس المواد وكيفية تحولهم إلى مواد أخرى. إذاً ما هي <span class="term">المادة الكيميائية substance</span>؟ للإجابة على هذا السؤال، يجب علينا أولاً أن نُعرف <span class="term">المادة matter</span>. كل شيء لديه كتلة وحجم يسمى مادة. نحن مادة. الحيوانات والكلاب والحمير والأشجار حولانا كلها مادة. الهواء مادة. الماء مادة. المادة تتكون من مواد كيميائية مختلفة. طيب، ما هو الذي لا يعتبر مادة؟ الوقت، الصداقة، الحب، الكراهية، خيالنا، أفكارنا، أحلامنا، وابتسامتك الجميلة :) كلها أمثلة على ما هو ليس بمادة.

            p تتكون المادة الكيميائية من نوع واحد من المادة ولديها تكوين وخصائص كيميائية ثابتَين. نوع واحد من مادة ما يسمى بـ<span class="term">جزيئات molecules</span> من نفس النوع (زُر القسم الفرعي التالي). على سبيل المثال، السكر (الاسم الكيميائي: السكروز) يتكون من عدة جزيئات من نوع واحد فقط. السكر هو مادة كيميائية. الماء هو مادة كيميائية أيضاً، مكونة من جزيئات أخرى متطابقة النوع. ولكن شراب السكر هو عبارة عن محلول السكر في الماء، لا يمكن تسميته بمادة كيميائية ﻷنه يحتوي على جزيئات مختلفة النوع، جزيئات من السكر وجزيئات من الماء. شراب السكر هو <span class="term">خليط mixture</span> من مادتين كيميائيتين مختلفتين.

            br

            a.next(href="/1.2") الصفحة التالية ← 1.2

            br
