include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.10 الأكسجين
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.10 الأكسجين
            p
                |- <a href="#1.10.1">1.10.1 معلومات عامة</a>
                br
                |- <a href="#1.10.2">1.10.2 الأوزون (O<sub>3</sub>). تآصل</a>
                br
                |- <a href="#1.10.3">1.10.3 تطبيقات للأكسجين</a>
                br
                |- <a href="#1.10.4">1.10.4 الخواص الفيزيائية للـO<sub>2</sub></a>
                br
                |- <a href="#1.10.5">1.10.5 إعداد الأكسجين</a>
                br
                |- <a href="#1.10.6">1.10.6 الخواص الكيميائية للأكسجين O<sub>2</sub></a>
                br
                |- <a href="#1.10.7">1.10.7 تمارين</a>
            hr

            h2 <a id="1.10.1" href="#1.10.1">1.10.1 معلومات عامة</a>

            p كعنصر كيميائي، فالأكسجين لديه رمز الـO، الرقم الذري 8 في الجدول الدوري، ووزن ذري (الكتلة) حوالي 16amu. تكافؤه 2. الأكسجين هو أكثر عنصر وفرة في قشرة الأرض، 50% بالكتلة (<a href="#fig_1.31">الصورة 1.31</a>).

        .center.extra
            .figure <a id="fig_1.31" href="#fig_1.31">الصورة 1.31</a>
                div
                    a.extra(href="/imgs/fig_1.31.png")
                        img(src="/imgs/fig_1.31.png" alt="")
                div
                    p الوفرة الكتلية لأكثر العناصر شيوعاً في قشرة الأرض (<a href="https://glossary.periodni.com/glossary.php?en=abundance+of+elements">المصدر</a>، <a href="/svg/fig_1.31.svg">المعدلة</a>)
        .center
            p كمادة كيميائية بسيطة، فالأكسجين يكون على شكل جزيء ثنائي الذرة (O<sub>2</sub>) والذي كتلته الجزيئية هي 32. الغلاف الجوي (الهواء) يحتوي على تقريباً 21% أكسجين مخلوط مع نيتروجين، N<sub>2</sub> (78%) وتقريباً 1% غازات أخرى، بالحجم.

            h2 <a id="1.10.2" href="#1.10.2">1.10.2 الأوزون (O<sub>3</sub>). تآصل</a>
            p هناك شكل آخر أقل شيوعاً للأكسجين كمادة كيميائية بسيطة، ألا وهو الأوزون. الأوزون هو غاز أزرق باهت. يتكون جزيء الأوزون من ثلاث ذرات أكسجين، وبذلك فصيغته هي O<sub>3</sub>. الأوزون هو أقل استقراراً وأكثر قابلية للتفاعل من الـO<sub>2</sub>. أيضاً، فبينما أن الأسكجين O<sub>2</sub> عديم الرائحة، فالأوزون O<sub>3</sub> له رائحة مميزة وهو سام في تركيزات عالية. يتكون الأوزون في الغلاف الجوي من جزيئات الـO<sub>2</sub> أثناء العواصف الرعدية عندما يقصف البرق (تفريغ الكهرباء). لذلك عادة ما يقال أن الهواء تنبعث منه رائحة الأوزون بعد عاصفة رعدية كبيرة. في الطبقات العليا للغلاف الجوي، هناك طبقة أوزون. هذه الطبقة هي مهمة للغاية للحياة على كوكبنا لأنها توقف الأشعة الما فوق البنفسجية الخطرة من الشمس قبل أن تصل إلينا.

            p الأوزون (O<sub>3</sub>) هو <span class="term">تعديل تآصلي allotropic modification</span> (أيضاً ما يعرف بـ<span class="term">شكل تآصلي allotropic form</span> أو فقط <span class="term">متآصل allotrope</span>) من الأكسجين (O<sub>2</sub>). <span class="term">التآصل Allotropy</span> هي ظاهرة وجود أكثر من مادة كيميائية بسيطة واحدة لنفس العنصر الكيميائي. على الرغم من أن المتآصلون مكونون من نفس نوع الذرات، فيستطيعوا أن يظهروا خواص فيزيائية، كيميائية، وحيوية مميزة ومختلفة بسبب اختلاف هياكلهم. كما ذُكر أعلاه، فالأكسجين O<sub>2</sub> هو غير سام، عديم الرائحة، ومستقر. وبالمقابل، فالأوزون O<sub>3</sub> هو سام، ذو رائحة مميزة، وأقل استقراراً بكثير.

            p المتآصلون معروفون للعديد من العناصر. مثال معروف بشكل خاص هو الألماس والغرافيت، متآصلا الكربون الإثنان (<a href="#fig_1.32">الصورة 1.32</a>). أغلب الناس قد رأوا مجوهرات الألماس واستخدموا أقلام رصاص، والذي جوهرهم، ما يعرف أيضاً برأس الرصاص، مصنوع من الغرافيت. الألماس والغرافيت لديهم خواص ومظاهر مختلفة تماماً، على الرغم من حقيقة أن كلاهما يتكون من ذرات الكربون. فالألماس هو واضح وشفاف، بينما الغرافيت أسود. الألماس هو أصلب مادة معروفة، بينما الغرافيت ناعم. الغرافيت يوصل الكرهباء، بينما الألماس لا يوصل.
            .figure <a id="fig_1.32" href="#fig_1.32">الصورة 1.32</a>
                div
                    img.portrait(src="/imgs/fig_1.32.png" alt="")
                div
                    p أشكال تآصل للكربون (C)، <a href="https://www.learner.org/wp-content/uploads/2019/02/Chemistry-ModernMaterialsSolidState-bondingdiamondsgraphite-Fig13-6.jpg">مصدر</a> صور الهياكل. <a href="https://en.wikipedia.org/wiki/File:Brillanten.jpg">مصدر</a> صورة الألماس. <a href="https://kids.kiddle.co/Image:Closeup_of_pencil_graphite.JPG">مصدر</a> صورة القلم.

            p يأتي اختلاف الغرافيت عن الألماس من <span class="term">هياكلهما structures</span> المختلفين،  طريقة وصل ذرات الكربون ببعضهن البعض وكيفية ترتيبهن في كلا المتآصلَين. الهيكلان المعروضان على يسار <a href="#fig_1.32">الصورة 1.32</a> سيُشرحوا بتفصيل أكثر في الوحدة الثالثة من هذه الدورة. للوقت الحالي، فقط تذكر حقيقة أن الغرافيت والألماس مختلفان بسبب اختلاف هياكلهما. هناك الكثير من الأشكال التآصلية للكربون. كلهم لديهم هياكل مختلفة، وبالتالي، يمتلكون خواص مميزة.

            p عنصر آخر يستطيع أن يكون أشكال تآصلية هو الفوسفور (P). هناك العديد من تآصلات الفوسفور المعروفة، أكثرهم شيوعاً هو الفوسفور الأبيض (أحياناً يسمى بالأصفر) والفوسفور الأحمر. مرة آخرى، الفرق بين خواص هؤلاء الإثنين شاسع. الفوسفور الأبيض ذو لون العاج يضيء في الظلام وهو فعلاً مادة شيطانية بحيث أنها سامة جداً و<span class="term">اشتعالية pyrophoric</span> أيضاً. المادة الكيميائية الاشتعالية هي مادة كيميائية تشتعل بعفوية في الهواء، بدون الحاجة إلى أي مصدر اشتعال. الحروق الكيميائية المتسبب بها الفوسفور الأبيض هي بشكل خاص مؤلمة وتحتاج لوقت طويل للشفاء. لمنع اشتعاله من تلقاء نفسه، عادة ما يخزن الفوسفور  الأبيض تحت الماء. وبالمقابل البعيد، فالفوسفور الأحمر (لونه أحمر داكن) هو ليس بالسام ولا يشتعل من تلقاء نفسه في الهواء ولا يضيء في الظلام.

        .center.red_box
            p ننحرف قليلاً. إذا قرأت كتاب <strong>كلب آل باسكرفيل</strong> من تأليف آرثر كونان دويل، فربما تتذكر أن الكلب المخيف الوحشي، كما وُصف بالرواية، كان لديه "خطم مضيء" و "عيون مشتعلة". خَلَصا المحقق العبقري الخيالي شرلوك هولمز وصديقة د. واتسون على أن تأثير الإضاءة كان بسبب تطبيق الفوسفور. مع كل الاحترام، فهذه الخلاصة لا تحمل ماءً. متآصل الفوسفور الوحيد الذي يضيء في الظلام هو الفوسفور الأبيض، والذي هو سام جداً وتلقائي الاشتعال. تطبيق فوسفور أبيض على جلد كلب أو شعره سيؤدي إلى حروق بليغة وتسمم، وربما أيضاً إلى الهلاك.

        .center

            p التآصل هو أيضاً خاصية للقصدير (Sn). في درجة حرارة الغرفة، فالقصدير هو معدن قابل للسحب والطرق. ولكن عندما يُبرد إلى 13 °C وما تحت، فشكل تآصله التقليدي هذا يتحول إلى متآصل آخر، مادة رمادية هشة تتفكك بسهولة إلى مسحوق.  تحول التآصل هذا يُعرف أيضاً <span class="term">بتَوَبُّؤ القصدير tin pest</span>. يعرف بالإنجلزية أيضاً بـtin leprosy ،tin blight ،وtin plague. شاهد كيفية تحول شكل القصدير العادي إلى متآصل هش من القصدير <a href="https://www.youtube.com/watch?v=FUoVEmHuykM">هنا</a>.

        .center.red_box
            p ننحرف قليلاً. لقد اقتُرح بأن هزيمة نابليون الكارثية في حرب غزو روسيا عام 1812 قد تكون بسبب أزرار الزي الرسمي للجيش. كانت الأزرار مصنوعة من القصدير، وشتاء روسيا عام 1812 كان قاسي البرودة، <span dir="ltr">-31 °C</span> في بداية ديسمبر. كان هذا الجو البارد ملائمأً لتوبؤ القصدير. وليس من الأمر السهل أن تحارب في ساحة حرب سقيعة وبنطالك غير محكم الإغلاق ويظل يسقط لأنه ليس لديه أزرار بعد الآن. يُقال أحياناً أن حادثة أزرار قصدير 1812 كانت أكبر خلل ملابس في التاريخ. لا نعلم ما إذا كانت قصة أزرار نابليون صحيحة أم لا. ولكن الذي نعرفه أن التحول التآصلي للقصدير على درجة حرارة 13 °C هو حقيقة مثبتة علمياً وموثقة جيداً.

        .center
            p الآن سؤال لك. الأكسجين الذري، O، هو شديد قصر العمر لأنه يتوحد ثنائياً لإعطاء الجزيء المستقر O<sub>2</sub>. ومع ذلك، فذرات الأكسجين قد اكتشفت بالتجربة. هل تعتقد أن الأكسجين الذري يمكن أن يُعَرف بشكل تآصلي آخر للأكسجين؟ [جوابي: لما لا؟ العرض التجريبي للأكسجين الذري يري أنه يمكن أن يتواجد تحت ظروف معينة.]

            h2 <a id="1.10.3" href="#1.10.3">1.10.3 تطبيقات للأكسجين</a>
            p يُستخدم الأكسجين النقي لصهر سبائك الحديد إلى فولاذ، للإذابة، للحام، لوقود الصواريخ، لصناعة كيماويات، وفي الطب.

            h2 <a id="1.10.4" href="#1.10.4">1.10.4 الخواص الفيزيائية للـO<sub>2</sub></a>
            p الأكسجين هو غاز عديم اللون والرائحة وأكثف من الهواء بقليل. في الضغط العادي (1 atmosphere)، نقطة غليان الأكسجين تكون <span dir="ltr">-183 °C</span>. الأكسجين السائل لونه أزرق. في درجة حرارة <span dir="ltr">-219 °C</span> يتحول الأكسجين إلى صلب.

            h2 <a id="1.10.5" href="#1.10.5">1.10.5 إعداد الأكسجين</a>
            p في المصانع، يُفصل الأكسجين عن الهواء بعملية تقطير <span class="term">بتبريد عميق cryogenic</span> أو بعملية أخرى تسمى <span class="term">امتزاز تأرجح الفراغ vacuum swing adsorption</span>. في المختبر، عادة ما يُحصل على الأكسجين بتسخين بيرمنغنات البوتاسيوم، KMnO<sub>4</sub>، نسبة إلى المعادلة التالية.

            p(dir="ltr") 2KMnO<sub>4</sub> = 2KMnO<sub>4</sub> + MnO<sub>2</sub> + O<sub>2</sub>↑ (شاهد هذا <a href="https://www.youtube.com/watch?v=bf9m9GhcpCw">الفيديو</a>)

            p كميات صغيرة من الـO<sub>2</sub> يمكن أيضاً أن تُعد بتحلل بيروكسيد الهيدروجين في حال وجود حفاز، مثل الـMnO<sub>2</sub> أو خميرة الخباز (انظر إلى القسم 1.8، بما فيه <a href="/1.8#experiment_5">التجربة 5</a>):

            p(dir="ltr") 2H<sub>2</sub>O<sub>2</sub> = 2H<sub>2</sub>O + O<sub>2</sub>↑

            h2 <a id="1.10.6" href="#1.10.6">1.10.6 الخواص الكيميائية للأكسجين O<sub>2</sub></a>

            p بدون الأكسجين في الغلاف الجوي، فلن تكون هناك حياة. الأكسجين الذي نتنفسه ضروري جداً للعديد من العمليات الحيوية المهمة في جسمنا التي تحدث باستمرار. هذه العمليات الحيوية هي تحولات كيميائية متعددة الخطوات، وبسبب تعقيدهم، يُدرسوا في دورات كيميائية وكيميائية حيوية متقدمة. في دورتنا الابتدائية هذه، سنأخذ فقط تفاعلات بسيطة للـO<sub>2</sub> بعين الاعتبار.

            p كما يُعرض في هذا <a href="https://www.youtube.com/watch?v=qfp6nvnkCSo">الفيديو</a> فالمواد الكيميائية المشتعلة تحترق في الأكسجين بشكل أفضل من الهواء العادي، والذي يحتوي فقط على 20% O<sub>2</sub>.  ضمن مواد كيميائية بسيطة أخرى، يتفاعل الهيدروجين (H<sub>2</sub>)، الكربون (C)، الكبريت (S)، الفوسفور (P)، المغنيسيوم (Mg)، الألومنيوم (Al)، وحتى الحديد (Fe) مع الأكسجين لإنتاج <span class="term">الأكسيدات oxides</span> المقابلة لهذه العناصر (<a href="#fig_1.33">الصورة 1.33</a>). ضمن العدد القليل من المواد الكيميائية البسيطة التي لا تتفاعل مع الـO<sub>2</sub> هي معادن نفسية، مثل الذهب والبلاتينوم.

            .figure <a id="fig_1.33" href="#fig_1.33">الصورة 1.33</a>
                div
                    h3(dir="ltr")
                        |2H<sub>2</sub> + O<sub>2</sub> = 2H<sub>2</sub>O
                        br
                        |C + O<sub>2</sub> = CO<sub>2</sub>
                        br
                        |S + O<sub>2</sub> = SO<sub>2</sub>
                        br
                        |4P + 5O<sub>2</sub> = 2P<sub>2</sub>O<sub>5</sub>
                        br
                        |2Mg + O<sub>2</sub> = 2MgO
                        br
                        |4Al + 3O<sub>2</sub> = 2Al<sub>2</sub>O<sub>3</sub>
                        br
                        |4Fe + 3O<sub>2</sub> = 2Fe<sub>2</sub>O<sub>3</sub>
                div
                    p تفاعلات مع مواد كيميائية محددة مع الأكسجين.

            p الكثير من المواد الكيميائية المعقدة (المركبات) تتفاعل بسهولة أيضاً مع الأكسجين. حرق الميثان CH<sub>4</sub>، المكون الرئيسي للغاز الطبيعي (<a href="#fig_1.34">الصورة 1.34</a>)، هو مصدر رائع للطاقة ويُستخدم كثيراً لأغراض التسخين. الأكسجين هو أساس احتراق الوقود لإنتاج الطاقة ونفس الشيء مع التنفس.

            .figure <a id="fig_1.34" href="#fig_1.34">الصورة 1.34</a>
                div
                    h3(dir="ltr") CH<sub>4</sub> + 2O<sub>2</sub> = CO<sub>2</sub> + 2H<sub>2</sub>O
                div
                    p احتراق الميثان.

            p عندما تحترق مادة كيميائية مع الأكسجين، نرى أن هذه المادة قد <span class="term">تأكسدت</span>.  تفاعلات المواد الكيميائية مع الـO<sub>2</sub> عادةً ما تُصطحب بكميات ليست بقليلة من الحرارة. التحولات الكيميائية التي تطلق طاقة على شكل حرارة تسمى <span class="term">بالطاردة للحرارة exothermic</span>. التفاعلات التي تستهلك الطاقة تسمى <span class="term">بماصة للحرارة endothermic</span>. كل تفاعلات الاحتراق مع الـO<sub>2</sub> هي تفاعلات طاردة للحرارة.

            p مع الأسف، فليس من غير الاعتيادي أن تسمع أناساً يقولوا بأن الأكسجين هو قابل للاشتعال ويمكن أن يحترق. هذه الكلام لا يمد للواقع بصلة لأن الأكسجين <u>غير</u> قابل للاشتعال لوحده. القابل للاشتعال هو مادة كيميائية أو خليط من مواد كيميائية (مثل الغاز الطبيعي والغازولين) والذي يحترق في حال تواجد الأكسجين (أي يتفاعل مع الـO<sub>2</sub>).

            h2 <a id="1.10.7" href="#1.10.7">1.10.7 تمارين</a>

            p 1. وازن المعادلات الكيميائية التالية لتفاعلات مواد كيميائية متنوعة مع الـO<sub>2</sub>. (لا تنسى التلميحة: إذا كان عدد ذرات الأكسجين على اليمين (المنتج) فردي، فيجب أن تضع المعامل المناسب بجانبه ليصير زوجي. إذا نسيت لماذا، فارجع إلى القسم <a href="/1.8#1.8.6">الفرعي 1.8.6</a>)

            p
                |1) C + O<sub>2</sub> = CO<sub>2</sub>
                br
                |2) Li + O<sub>2</sub> = Li<sub>2</sub>O 
                br
                |3) Ca + O<sub>2</sub> = CaO
                br
                |4) B + O<sub>2</sub> = B<sub>2</sub>O<sub>3</sub>
                br
                |5) Cu + O<sub>2</sub> = CuO


            p.no_bottom 2. هل هناك معادن لا تتفاعل مع الـO<sub>2</sub>؟
            input.answer(type="checkbox" id="2")
            label(for="2") الجواب:
            span نعم ولكن ليس بالكثير. أمثلة على ذلك الذهب (Au) والبلاتينوم (Pt).

            p.no_bottom 3. واحدة من المعادلات الكيميائية في <a href="#fig_1.33">الصورة 1.33</a> استُخدمت بشكل واسع في تصوير الفلاش لعقود من ستينيات القرن التاسع عشر (1860). أي منهن هي؟
            input.answer(type="checkbox" id="3")
            label(for="3") الجواب:
            span حرق المغنيسيوم (Mg) في الهواء. أنصحك بالبحث عن هذا التطبيق على الإنترنت لفهمه أكثر.

            p.no_bottom 4. الألماس والغرافيت هما متآصلان للكربون. كلاهما يحترق في أكسجين زائد لإنتاج ثنائي أكسيد الكربون (CO<sub>2</sub>). هل تعتقد أن الـCO<sub>2</sub> المنتج من الألماس مختلف عن قرينه المنتج من الغرافيت؟
            input.answer(type="checkbox" id="4")
            label(for="4") الجواب:
            span بالطبع لا. المادة الكيميائية لصيغة (تكون) وهيكل معينان تُظهر بالضبط نفس الخواص مهما كان مصدرها.

            p.no_bottom 5. احتراق الميثان C<sub>2</sub>H<sub>6</sub> في الأكسجين ينتج CO<sub>2</sub> و H<sub>2</sub>O. اكتب معادلة كيميائية متوازنة لهذا التفاعل.
            input.answer(type="checkbox" id="5")
            label(for="5") الجواب:
            span 2C<sub>2</sub>H<sub>6</sub> + 7O<sub>2</sub> = 4CO<sub>2</sub> + 6H<sub>2</sub>O

            p.no_bottom 6. ما هو لون الأكسجين السائل؟
            input.answer(type="checkbox" id="6")
            label(for="6") الجواب:
            span أزرق فاتح

            p.no_bottom 7. الأنتيموان (Sb) يتفاعل مع الأكسجين لإعطاء أكسيد الأنتيموان الثلاثي. اكتب الصيغة لأكسيد الأنتيموان الثلاثي والمعادلة الكيميائية لهذا التفاعل.
            input.answer(type="checkbox" id="7")
            label(for="7") الجواب:
            div 
                span 
                    |Sb<sub>2</sub>O<sub>3</sub>
                    br
                    |4Sb + 3O<sub>2</sub> = 2Sb<sub>2</sub>O<sub>3</sub>

            p.no_bottom
                |8. تفاعلات الاحتراق التي تتضمن الأكسجين هي
                br
                |1) دائماً ماصة للحرارة
                br
                |2) دائماً طاردة للحرارة
                br
                |3) إما طاردة أو ماصة
            input.answer(type="checkbox" id="8")
            label(for="8") الجواب:
            span 2

            br
            br
            a.next(href="/1.11") الصفحة التالية ← 1.11
            a.previous(href="/1.9") 1.9 → الصفحة السابقة