include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.11 الهيدروجين
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.11 الهيدروجين
            p
                |- <a href="#1.11.1">1.11.1 معلومات عامة</a>
                br
                |- <a href="#1.11.2">1.11.2 تطبيقات للهيدروجين</a>
                br
                |- <a href="#1.11.3">1.11.3 خواص فيزيائية للـH<sub>2</sub></a>
                br
                |- <a href="#1.11.4">1.11.4 إعداد الهيدروجين. تجربة</a>
                br
                |- <a href="#1.11.5">1.11.5 خواص كيميائية للـH<sub>2</sub></a>
                br
                |- <a href="#1.11.6">1.11.6 تمارين</a>
            hr

            h2 <a id="1.11.1" href="#1.11.1">1.11.1 معلومات عامة</a>
            p كعنصر كيميائي، فالهيدروجين لديه رمز H وكتلة ذرة 1amu. الهيدروجين هو أول عنصر في الجدول الدوري وأخف عنصر معروف. تكافؤه الهيدروجين في مركباته هو 1. كمادة كيميائية بسيطة، فالهيدروجين هو غاز يتكون من جزيء ثنائي الذرات H<sub>2</sub>.

            p بينما أن الأكسجين هو أوفر عنصر على الأرض، فالهيدروجين هو أوفر عنصر في الكون، أكثر من 70% بالكتلة. ولكن هناك ما يقارب إلى اللا شيء من الهيدروجين في الغلاف الجوي، فقط حوالي 0.0001% بالحجم.

            h2 <a id="1.11.2" href="#1.11.2">1.11.2 تطبيقات للهيدروجين</a>
            p لدى الهيدروجين تطبيقات مهمة كثيرة. أكبر مستهلكي الـH<sub>2</sub> مصانع هم الكيماويات البتروكيماويات. بينما أنه يُستخدم الكثير من الهيدروجين لمعالجة الوقود الأحفوري، فكميات أكثر من الـH<sub>2</sub> تُستخدم لصناعة الأمونيا (NH<sub>3</sub>) لصناعة الأسمدة. لأخذ فكرة عن الحجم الهائل وأهمية إنتاج الأمونيا، التخليق الصناعي للأمونيا يستهلك حالياً أكثر من 1% من كل الطاقة المنتجة في العالم ويعطي طعاماً لأكثر من نصف عدد سكان الكوكب. تطبيق مهم للهيدروجين في صناعة الأغذية هو صناعة السمن النباتي من الزيوت النباتية.

            h2 <a id="1.11.3" href="#1.11.3">1.11.3 خواص فيزيائية للـH<sub>2</sub></a>
            p الهيدروجين هو غاز عديم اللون والرائحة. بما أنه أخف غاز معروف، تقريباً 15 مرة أخف (أقل كثافة) من الهواء. في ضغط عادة، نقطتا غليان وذوبان الهيدروجان هما <span dir="ltr">-253 °C</span> و <span dir="ltr">-259 °C</span> على التوالي.

            h2 <a id="1.11.4" href="#1.11.4">1.11.4 إعداد الهيدروجين. تجربة</a>
            p كعنصر، فالهيدروجين واسع الانتشار في الأرض، كونه متواجد في الماء، الغاز الطبيعي، وكل الكائنات الحية. ولكن على عكس الأكسجين (O<sub>2</sub>) المتاح بسهولة (في الهواء)، فالهيدروجين كمادة كيميائية بسيطة (H<sub>2</sub>) يتكون بشكل طبيعي على كوكبنا بكميات ضئيلة جداً ولذلك يجب عليه أن يُخلق صناعياً لتطبيقاته الكثيرة. أكثر من 90% من الهيدروجين يأتي من الدخان المبعوث من الغاز الطبيعي، الميثان (<a href="#fig_1.35">الصورة 1.35</a>). يتم إجراء هذا التفاعل في درجات حرارة عالية ما بين 700 - 1،000 °C في وجود حفاز نِيكلي.
            .figure <a id="fig_1.35" href="#fig_1.35">الصورة 1.35</a>
                div
                    h3(dir="ltr")
                        |CH<sub>4</sub> + H<sub>2</sub>O = CO + 3H<sub>2</sub>
                div
                    p دخان متكون من الميثان.

            p في المختبر، عادةً ما يُحصل على الهيدروجين بواسطة تفاعلات بعض الأحماض مع معادن معينة. أكثرهم شيوعاً هو الزنك (Zn) أو الحديد (Fe) ومحلول مائي لحمض الكبريتيك (H<sub>2</sub>SO<sub>4</sub>)، (<a href="#fig_1.36">الصورة 1.36</a>)
            .figure <a id="fig_1.36" href="#fig_1.36">الصورة 1.36</a>
                div
                    h3(dir="ltr")
                        |Zn + H<sub>2</sub>SO<sub>4</sub> = ZnSO<sub>4</sub> + H<sub>2</sub>
                        br
                        |Fe + H<sub>2</sub>SO<sub>4</sub> = FeSO<sub>4</sub> + H<sub>2</sub>
                div
                    p طرق مختبرية لصناعة الهيدروجين
            
            p لاحظ أنه يمكن للحديد أن يكون ثنائي أو ثلائي التكافؤ، دائماً ما يكون مركب الـFe المتكون من تفاعل الـFe مع الـH<sub>2</sub>SO<sub>4</sub> ثنائي التكافؤ، وأغلب الأحماض الأخرى كذلك.

        .center.red_box
            p خارج السياق قليلاً. بعض الناس يعتقدون أن أغلب غاز الهيدروجين (H<sub>2</sub>) يُنتج بسهولة وبنظافة من الماء، والذي هو متوفر ومجاني للكل. هذا ليس بصحيح. لصناعة H<sub>2</sub> من الـH<sub>2</sub>O، يجب على المرء استخدام <span class="term">التحليل الكهربائي electrolysis</span>. التحليل الكهربائي، كما سنتعلم في الوحدة الثانية، هو طريقة لتنفيذ بعض التفاعلات الكيميائية باستخدام تيار كهربائي مستمر. إذا أردنا صناعة كميات كبيرة من الهيدروجين من الماء، فلن تكون هذه الطريقة بالاقتصادية لأن الكهرباء غالية الثمن. (فقط تذكر أن التسخين الكهرباء أغلى بكثير من التسخين الوقودي أو الغازي.) علاوةً على ذلك، فإنتاج الكهرباء باستخدام وسائل تقليدية ليس بصديق للبيئة. كحقيقة، فصنع كهرباء رخيصة بحرق الفحم هي عملية مضرة جداً للبيئة، على الرغم من أنه هناك وسائلاً جديدة لإنتاج الكهرباء حميدة للبيئة، مثل الطواحينة الهوائية والألواح الشمسية، فقدراتهم الحالية هي فقط جزء صغير جداً من المطلوب.
        
        .center

            p <strong><a id="experiment_9" href="#experiment_9">التجربة 9. إعداد غاز الهيدروجان</a></strong> رجائاً اقرأ الآتي بتمعن وتفكر:

            +experiments_disclaimer

            p إذا قررت عدم فعل التجارب، فرجائاً أكمل قراءة هذا القسم الفرعي.

            p قم بتنظيف مسمار حديد بورق صنفرة ومن ثم ضعه في حاوية زجاج تحتوي على خل أبيض. راقب كيفية حدوث ثقاعات صغيرة من الـH<sub>2</sub> على سطح المسمار. بالإعتماد على قوة الخل ونقاوة الحديد، فقد يكون تبخر الـH<sub>2</sub> ملاحظاً مباشرةً أو قد تحتاج إلى بضع دقائق لترى الفقاعات تظهر على سطح المسمار. إذا احتجت، فتستطيع استخدام عدسة مكبرة لرؤيتهم. المعادلة الكيميائية لهذا التفاعل هي كالتالي:
            p(dir="ltr") Fe + 2C<sub>2</sub>H<sub>4</sub>O<sub>2</sub> = Fe(C<sub>2</sub>H<sub>3</sub>O)<sub>2</sub> + H<sub>2</sub>↑ (<span dir="rtl">C<sub>2</sub>H<sub>4</sub>O<sub>2</sub> هي صيغة حمض الأسيتيك</span>)
            p.no_top من المتوقع أن تتذكر أن الخل هو عبارة عن محلول حمض الأسيتيك. تركيز حمض الأسيتيك في الخل الأبيض يتراوح ما بين 4% إلى 8%. كلما كان التركيز أعلى، كان تفاعله أسرع مع الحديد. ولكن إذا كان الخل لديك ضعيف، فتستطيع تسريع التفاعل بتسخين الخل قليلاً قبل وضع المسمار فيه. عدا عن بعض الاستثنائات النادرة والمثيرة جداً للاهتمام، فالتفاعلات الكيميائية تُجرى بشكل أسرع في درجات حرارة مرتفعة. أثر درجة الحرارة على تفاعل الخلص مع الحديد يُمكن أن يُرى في هذا <a href="https://www.youtube.com/watch?v=JjrsrODuFQg">الفيديو</a>.

            p <u>تحذير: <strong>إياك ثم إياك</strong></u> أن تضع الخل مع المسمار في الميكرويف. سخن الخل وحده به، ومن ثم أطفئه، وأخرج الخل. بعدها ضع المسمار في الخل الدافئ. لرؤية ماذا سيحصل إذا وضعت مسامير في الميكرويف، اضغط <a href="https://www.youtube.com/watch?v=uqDIF7e_rRY">هنا</a>. والآن تخيل معي ماذا سيحصل إذا كان الهيدروجين، غاز قابل للاشتعال والذي يكون مخاليط متفجرة مع الهواء (أو الأكسجين)، قد أُنتج داخل الميكرويف الذي يتواجد به مسامير حديدية قد احمرت من قوة الحرارة والتي تعطي شرارات كبيرة.

            p في <a href="/1.8#1.8.4">القسم الفرعي 1.8.4</a> حول تفاعلات الاستبدال (اطلع أيضاً على <a href="/1.8#fig_1.25">الصورة 1.25</a>)، علمنا أن الصوديوم يتفاعل مع الماء لإعطاء الهيدروجين والـNaOH.

            p 2Na + 2H<sub>2</sub>O = 2NaOH + H<sub>2</sub>

            p ولكن، بسبب طبيعته العنيفة (وأيضاً بسبب غلاء الصوديوم)، <u>فلا</u> يُستخدم هذا التفاعل لصناعة الهيدروجين.

            p هناك أيضاً فئة مركبات مثيرة للاهتمام تسمى <span class="term">بالهيدريدات الفلزية metal hydrides</span>. الهيدريد الفلزي هو انشقاق هيدروجيني من فلز (معدن)، مثل الـNaH (هيدريد الصوديوم) والـCaH<sub>2</sub> (هيدريد الكالسيوم). الهيدرات الفلزية تتفاعل مع الماء لإعطاء غاز الهيدروجين، كما يُمثل بالمعادلة التالية:

            p(dir="ltr") CaH<sub>2</sub> + 2H<sub>2</sub>O = Ca(OH)<sub>2</sub> + 2H<sub>2</sub>

            p هذا التفاعل الناعم صراحة بين لهيدريد الكالسيوم والماء (شاهد هذا <a href="https://www.youtube.com/watch?v=hn0QxiLGW4c">الفيديو</a>) يُستخدم في الأجهزة المحمولة التي تولد الهيدروجين لنخ بلالين الطقس. بالمقابل، فتفاعل هيدريد الصوديوم (NaH) مع الماء عنيف (شاهد <a href="https://www.youtube.com/watch?v=EilO9kKxGBg">هذا</a>) ولذلك لا يمكن استخدامه لصناعة الـH<sub>2</sub>.
            
            h2 <a id="1.11.5" href="#1.11.5">1.11.5 خواص كيميائية للـH<sub>2</sub></a>

            p كما علمنا سابقاً، فالهيدروجين يحترق مع الأكسجين أو الهواء لإنتاج الماء:

            p(dir="ltr") 2H<sub>2</sub> + O<sub>2</sub> = 2H<sub>2</sub>O

            p هذا التفاعل النظيف هو طارد للحرارة بشكل كبير (يُنتج الكثير من الحرارة) وهو حميد للبيئة بما أنه ينتج فقط الماء كمنتج كيميائي.

        .center.red_box

            p ننحرف قليلاً. من النظرة الأولى، فسيعتقد المرء أن الهيدروجين كوقود هو مصدر مثالي للطاقة. للأسف، فلا يبدوا أن اقتصاد الهيدروجين قابل للتطبيق في الوقت الحالي لعدة أسباب. أولاً، الـH<sub>2</sub> هو ليس رخيصاً كما يعتقد البعض. ثانياً، الـH<sub>2</sub> هو خفيف جداً ليتم نقله بشكل اقتصادي. ثالثاً، بسبب حجم زيئات الـH<sub>2</sub> الصغيرة جداً، يتسرب غاز الهيدروجين بسهولة من خلال جميع أنواع المواد، ومنهم التي تستخدم لصناعة أنابيب الغاز والخراطيم المتكونة من (فولاذ، مطاط، وأنواع عديدة من البلاستيك). أخيراً وليس آخراً، مخاليط H<sub>2</sub> مع الأكسجين أو الهواء هي اشتعالية وقد تكون انفجارية ف بعض الأحيان (كما ذكرنا سابقاً، فهو الهيليوم اللااشتعالي الذي يستخدم لنفخ البلالين والسفن الهوائية، بالرغم من حقيقة أن الـH<sub>2</sub> ليس فقط بالأخف بل أيضاً بالأرخص بكثير من الـHe.) ولكن لاحظ أن تيار دخان H<sub>2</sub> نقي يحترق بسلاسة في الهواء؛ بينما مخاليط بكميات معينة من الأكسجن والهيدروجين هي التي تكون متفجرة.

        .center
            p لا يتفاعل الهيدروجين فقط مع الأكسجين، بل أيضاً مع مواد كيميائية بسيطة أخرى (<a href="#fig_1.37">الصورة 1.37</a>)
            
            .figure <a id="fig_1.37" href="#fig_1.37">الصورة 1.37</a>
                div
                    h3(dir="ltr")
                        |H<sub>2</sub> + Cl<sub>2</sub> = 2HCl
                        br
                        |H<sub>2</sub> + S = H<sub>2</sub>S
                        br
                        |2Na + H<sub>2</sub> = 2NaH
                        br
                        |Ca + H<sub>2</sub> = CaH<sub>2</sub>
                div
                    p تفاعل الهيدروجين مع مواد كيميائية بسيطة محددة.

            p خاصية كيميائية مهمة للـH<sub>2</sub> هي قدرته على اقتلاع الأكسجين من بعض (ولكن ليس كل) الأكاسيد المعدنية. على سبيل المثال، تسخين أكسيد النحاس الثنائي (CuO) في غلاف غازي من الـH<sub>2</sub> سيؤدي إلى تكون معدن النحاس الأحمر (Cu) وماء (<a href="#fig_1.38">الصورة 1.38</a>). اضغط <a href="https://www.youtube.com/watch?v=mDmy4crrF5g">هنا</a> لماشهدة عرض لهذا التفاعل.

            .figure <a id="fig_1.38" href="#fig_1.38">الصورة 1.38</a>
                div
                    img.portrait(src="/imgs/fig_1.38.png", alt="")
                div
                    p تفاعل أكسيد النحاس الثنائي مع الهيدروجين
            
            p التفاعلات التي يتحول بها أكسيد معدن إلى المعدن ذاته بالهيدروجين تسمى بتفاعلات <span class="term">الاختزال reduction</span>. تفاعل اختزال مهم هو تكون معدن التنجستن (W) من أكسيده WO<sub>3</sub> (<a href="#fig_1.39">الصورة 1.39</a>)
            .figure <a id="fig_1.39" href="#fig_1.39">الصورة 1.39</a>
                div
                    h3(dir="ltr")
                        |WO<sub>3</sub> + 3H<sub>2</sub> = W + H<sub>2</sub>O
                div
                    p اختزال أكسيد التنجستن باستخدام الهيدروجين.
            br

        .center.red_box
            p ننحرف قليلاً. تفاعل الـWO<sub>3</sub> مع الـH<sub>2</sub> (<a href="#fig_1.39">الصورة 1.39</a>) يُستخدم لصناعة تنجستن عالي النقاوة لفتيل المصابيح. بعد أن يُشغل مصباح متوهج، يجب على الفتيل أن يصل بسرعة إلى درجات حرارة عالية جداً من 2،500 - 3،000 °C لانبعاث ضوء منه وفي نفس الوقت عدم ذوبانه. التنجستن هو معدن بأعلى نقطة ذوبان (3،422 °C) وهو أفضل مادة لصناعة فتائل للمصابيح المضيئة وكذلك أيضاً الصمامات المفرغة وأنابيب الأشعة السينية. فتيل التنجستن الحديث هو بين الكثير من الأشياء التي نأخذها كهبة؛ نستخدم نحن المصابيح المتوهجة يومياً، ولكن لا نعلم أنهم في الحقيقة معجزة علمية وإنجاز هندسي عظيم. شاهد هذا <a href="https://www.youtube.com/watch?v=DIGqBb3iZPo">الفديو</a> الممتاز القصير عن التحديات الكبيرة التي كان يجب أن تُجتاز لجعل إنتاج فتائل التنجستن للمصابيح أمراً ممكناً.

        .center

            h2 <a id="1.11.6" href="#1.11.6">1.11.6 تمارين</a>
            p.no_bottom 1. على درجات حرارة عالية وضغط مرتفع، الألومنيوم (Al) يتفاعل مع الـ H<sub>2</sub> لإعطاء هيدريد الألومنيوم. بمعرفة تكافؤ الألومنيوم (القسم 1.9، <a href="/1.9#table_1">الجود 1</a>)، اكتب الصغية الكيميائية لهيدريد الألومنيوم والمعادلة الكيميائية المتوازنة لتكونه من الـAl والـH<sub>2</sub>
            input.answer(type="checkbox" id="1")
            label(for="1") الجواب:
            div(dir="ltr")
                p.no_top
                    |AlH<sub>3</sub>
                    br
                    |2Al + 3H<sub>2</sub> = 2AlH<sub>3</sub>
            
            p.no_bottom 2. وازن المعادلات الكيميائية التالية.
            p.no_top(dir="ltr")
                |1) H<sub>2</sub> + F<sub>2</sub> = HF
                br
                |2) H<sub>2</sub> + Li = LiH
                br
                |3) H<sub>2</sub> + Ca = CaH<sub>2</sub>
                br
                |4) H<sub>2</sub> + N<sub>2</sub> = NH<sub>3</sub>
                br
                |5) Fe<sub>2</sub>O<sub>3</sub> + H<sub>2</sub> = Fe + H<sub>2</sub>O

            p.no_bottom 3. مؤلفات نحاس-تنجستن (Cu-W) هي مواد قيّمة لديها مقاومة حرارية عالية جداً وهي خرافية لتوصيل الكهرباء والحرارة، وفي نفس الوقت باتساع حجمها بشكل ضئيل فقط. بما أن التنجستن والنحاس المذابان غير قابلان للمزاج ولا يمكن تشكيل سبيكة منهما، فمؤلقات الـCu-W تُعد <span class="term">بتلبيد sintering</span> مسحوق ناعم من المعدنين. لديك أكسيد النحاس الثنائي، أكسيد التنجستن الثلاثي، حمض الكبريتيك، ومسامير حديدية. اقترح طريقة لصناعة معدنَي النحاس والتنجستن باستخدام هذه المواد.
            input.answer(type="checkbox" id="3")
            label(for="3") الجواب:
            span اصنع أولاً H<sub>2</sub> باستخدام حمض الكبريتيك والمسامير الحديدية (<a href="#fig_1.36">الصورة 1.36</a>). اختزل أكسيد النحاس الثنائي (CuO) وأكسيد التنجستن الثلاثي (WO<sub>3</sub>) مع الـH<sub>2</sub> لإنتاج معدنَي النحاس والتنجستن (الصورة <a href="#fig_1.38">1.38</a> و <a href="#fig_1.39">1.39</a>).
            
            p.no_bottom 4. كما شُرح في <a href="#1.11.4">القسم الفرعي 1.11.4</a>، فكلا الحديد (Fe) والزنك (Zn) يتفاعلا مع حمض الكبريتيك (H<sub>2</sub>SO<sub>4</sub>) لإعطاء H<sub>2</sub> (<a href="#fig_1.36">الصورة 1.36</a>). لديك 1g من الـZn، و1g من الـFe، والكثير من الـH<sub>2</sub>SO<sub>4</sub>. مطلوب منك صناعة أكبر كمية ممكنة من الـH<sub>2</sub> باستخدام هذه الكواشف، ولكن مسموح لك باستخدام إما الزن أو الحديد. أي من هذين المعدنين ستستخدم؟ حاول بحل هذه المشكلة ذهنياً، فقط بالنظر إلى المعادلات الكيميائية والكتل الذرية للـZn والـFe في <a href="/1.2#fig_1.2">الجدول الدوري</a>.
            input.answer(type="checkbox" id="4")
            label(for="4") الجواب:
            span واضح تماماً من المعادلات الكيميائية أنه يمكن تكوين جزيء H<sub>2</sub> بإما ذرة Fe واحدة أو ذرة Zn واحدة. الكتل الذرية للـZn والـFe هي تقريباً 65 و 56، على التوالي. لذلك، فذرة Zn واحدة هي أثقل من ذرة Fe واحدة. وفقاً لذلك، فعدد ذرات الـFe في 1g حديد سيكون أكثر من عدد ذرات الـZn في 1g زنك. وبالتالي، فـ1g من الـFe سينتج H<sub>2</sub> أكثر في تفاعل مع حمض الكبريتيك من 1g من الـZn.

            br
            br
            a.next(href="/1.12") الصفحة التالية ← 1.12
            a.previous(href="/1.10") 1.10 → الصفحة السابقة