include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.12 الأحماض والقواعد
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.12 الأحماض والقواعد
            p   
                |- <a href="#1.12.1">1.12.1 الأحماض. معلومات عامة</a>
                br
                |- <a href="#1.12.2">1.12.2 تسمية الأحماض</a>
                br
                |- <a href="#1.12.3">1.12.3 حمض الكبريتيك. التجفاف</a>
                br
                |- <a href="#1.12.4">1.12.4 حمض الهيدروكلوريك. نسبة تركيز الكتلة المئوي</a>
                br
                |- <a href="#1.12.5">1.12.5 حمض النتريك</a>
                br
                |- <a href="#1.12.6">1.12.6 حمض الفوسفوريك</a>
                br
                |- <a href="#1.12.7">1.12.7 حمض الكربونيك</a>
                br
                |- <a href="#1.12.8">1.12.8 القواعد. معلومات عامة والتسمية</a>
                br
                |- <a href="#1.12.9">1.12.9 هيدروكسيد الصوديوم (الصودا الكاوية)، NaOH، هيدروكسيد البوتاسيوم (البوتاس الكاوي)، KOH</a>
                br
                |- <a href="#1.12.10">1.12.10 هيدروكسيد الكالسيوم (الجير المطفأ)، Ca(OH)<sub>2</sub></a>
                br
                |- <a href="#1.12.11">1.12.11 قواعد لاذوبانية</a>
                br
                |- <a href="#1.12.12">1.12.12 أهذا حمض أم قاعدة؟ مؤشرات الأحماض والقواعد</a>
                br
                |- <a href="#1.12.13">1.12.13 تمارين</a>
            hr

            h2 <a id="1.12.1" href="#1.12.1">1.12.1 الأحماض. معلومات عامة</a>
            p لدى <span class="term">الأحماض acids</span> مذاق حامض مميز. الخل هو حامض المذاق ويحتوي على حمض الأسيتيك. الليمون حامض المذاق لاحتوائه على حمض الستريك. اللبن حامض المذاق بسبب تواجد حمض اللاكتيك. توضع كميات صغيرة من حمض الفوسفوريك في المشروبات الغازية لإعطائهم ذاك المذاق الحامض والحاد. النمل ينتج حمض الفورميك، والذي هو أيضاً حامض. إذا وُضعت على تلة نمل وأُبقيت هناك لعدة دقائق، فقطعة زجاج سيصبح مذاقها حامض من الكميات الصغيرة لحمض الفورميك المنتج بواسطة النمل.

            p الحمض يتكون من ذرات هيدروجين <u>متنقلة</u> والتي يمكن استبدالها بذرة فلز. (الكلمة "متنقلة" عادة ما تُستخدم للتأكيد على قابلية ذرة هيدروجين في جزيء حمضي على الاستبدال مع ذرة فلز.) لقد علمنا سابقاً أن حمض الكبريتيك (H<sub>2</sub>SO<sub>4</sub>) يتفاعل مع الزنك (Zn) والحديد (Fe). في هذا التفاعل، تُستبدل ذرتَي هيدروجين الـH<sub>2</sub>SO<sub>4</sub> مع ذرة زنك أو ذرة حديد.
            p(dir="ltr") Zn + H<sub>2</sub>SO<sub>4</sub> = ZNSO<sub>4</sub> + H<sub>2</sub>↑
            p على نفس المنوال، فالحديد يتفاعل مع حمض الأسيتيك، كما شُرح سابقاً (<a href="/1.11#experiment_9">التجربة 9</a> في القسم 1.11). ولكن لاحظ أنه بالرغم من تواجد 4 ذرات هيدروجين في جزيء حمض الأسيتيك (C<sub>2</sub>H<sub>4</sub>O<sub>2</sub>)، <u>ففقط واحدة من أولاء الأربعة هي متنقلة</u> لأنه يمكن لذرة واحدة فقط من أولاء الأربعة أن تُستبدل بذرة فلز. سنعرف لماذا لاحقاً في هذه الدورة بشكل مفصل أكثر.

            p إذاً، فجزيء أي حمض يتكون من ذرة هيدروجين متنقلة واحدة أو أكثر ومن باقي الجزيء. سنسمي باقي الجزيء، للوقت الحالي، الاسم القديم "بقايا الحمض". عرض تخطيطي لحمض معروض في <a href="#fig_1.40">الصورة 1.40</a>
            .figure <a id="fig_1.40" href="#fig_1.40">الصورة 1.40</a>
                div
                    img.portrait(src="/imgs/fig_1.40.png" alt="")
                div 
                    p عرض بسيط وعام لحمض
            p هناك أحماض تحتوي على إثنان، ثلاثة، وحتى أكثر من ذرات هيدروجين متنقلة. الذرة في جزيء التي يمكن استبدالها بسهولة مع ذرة أخرى تسمى بالمتنقلة. الأحماض التي تحتوي على ذرة هيدروجين واحدة متنقلة يسمَّوا بأحماض أحاديات القواعد. الذين لديهم ذرتَي أو ثلاث ذرات هيدروجين يُسمَّوا بأحماض ثنائية وثلاثية القواعد، على التوالي (<a href="#fig_1.41">الصورة 1.41</a>). يمكن أن تتكون بقايا الحمض إما من ذرة واحدة (H<span class="yellow">Cl</span>) أو من مجموعة من الذرات (H<sub>2</sub><span class="yellow">SO<sub>4</sub></span>).
            .figure <a id="fig_1.41" href="#fig_1.41">الصورة 1.41</a>
                div
                    img(src="/imgs/fig_1.41.png" alt="")
                div 
                    p عرض تخطيطي للأحماض أحادية، ثنائية، وثلاثية القاعدة مع أمثلة

            h2 <a id="1.12.2" href="#1.12.2">1.12.2 تسمية الأحماض</a>
            p <u>التسمية</u> الكيميائية هي مجموعة من القواعد لتسمية المواد الكيميائية. تسمية الأحماض، وخاصة اللاعضوية التي ندرسها الآن، هي بسيطة: كلهم لديهم أسامي مشتركة (<a href="#table_2">الجدول 2</a>) والتي يجب حفظهاً.

            .figure <a id="table_2" href="#table_2">الجدول 2.</a> أسامي بعض الأحماض المحددة وبقاياهم الحمضية.
                div
                    table
                        tr
                            th اسم الحمض
                            th صيغة الحمض
                            th اسم بقايا الحمض
                        tr
                            td هيدروفلوريك
                            td HF
                            td فلوريد
                        tr 
                            td هيدروكلوريك
                            td HCl
                            td كلوريد
                        tr 
                            td هيدروبروميك
                            td HBr
                            td بروميد
                        tr
                            td هيدرويوديك
                            td HI
                            td يوديد
                        tr 
                            td نتريك
                            td HNO<sub>3</sub>
                            td نترات
                        tr 
                            td كبريتيك
                            td H<sub>2</sub>SO<sub>4</sub>
                            td كبريتات
                        tr 
                            td هيدروكبريتيد
                            td H<sub>2</sub>S
                            td كبريتيد
                        tr 
                            td فوسفوريك
                            td H<sub>3</sub>PO<sub>4</sub>
                            td فوسفات
                        tr
                            td كربونيك
                            td H<sub>2</sub>CO<sub>3</sub>
                            td كربونات
                        tr
                            td سيليسيك
                            td H<sub>2</sub>SiO<sub>3</sub>
                            td سيليكات

            p أدناه شرح مختصر لأهم الأحماض التي سندرسها في هذه الدورة.

            h2 <a id="1.12.3" href="#1.12.3">1.12.3 حمض الكبريتيك. التجفاف</a>
            p جزيء من حمض الكبريتيك، H<sub>2</sub>SO<sub>4</sub>، لديه ذرتا هيدروجين متصلتان بالبقايا الحمضية (SO<sub>4</sub>) وبذلك فهو حمض ثنائي القاعدة. ربما قد يكون حمض الكبريتيك أهم سلعة كيميائية والتي لديها تطبيقات كثيرة وتُصنع بكميات هائلة. عادةً ما يقال أن كمية حمض الكبريتيك المستهلك والمصنع للفرد هو مقياس ومؤشر لمدى تطور البلد في التنمية الصناعية. أكبر مستهلكي حمض الكبريتيك هم الأسمدة، والمنشئات الكيميائية والبتروكيميائية.

            p حمض الكبريتيك هو سائل بلا لون وبلا رائحة. محتوى الـH<sub>2</sub>SO<sub>4</sub> في حمض الكبريتيك التجاري الغير مخفف، والذي يسمى حمض الكبريتيك المركز، يتراوح ما بين 95% إلى تقريباً 100% بالوزن (الباقي ماء). يكون حمض الكبريتيك المركز <span class="term">لزجاً viscous</span> (مثل لزوجة الزيت) والذي يفسر اسم الزيت القديم vitriol. ولكن على عكس الزيت، فحمض الكبريتيك كثيف للغاية، d = 1.84 g/mL، تقريباً ضعف كثافة الماء.

            p حمض الكبريتيك هو قابل للامتزاج مع الماء بأي نسبة، لديه ألفة عالية مع الماء، وهو <span class="term">مسترطب hygroscopic</span>. يقال عن المادة الكيميائية أنها مسترطبة ما إذا كانت تأخذ وتحتفظ بالرطوبة من الهواء. حمض الكبريتيك المركز لا يفعل ذلك فقط، بل وبعدم استحياء يسحب الماء من كثير من المركبات والمواد العضوية واللاعضوية. تسمى عملية إزالة الماء من مادة كيميائية <span class="term">بالتجفاف dehydration</span>. هناك نوعان من التجفاف. في إحدَيهما، جزيئات الماء المتكونة أصلاً في مادة رطبة تُنقل عبر عامل تجفاف. في هذه الحالة، يكون فقدان الماء أمراً فيزيائياً. في النوع الثاني للتجفاف، يُحدِث عامل التجفاف تفاعلاً كيميائياً ينتج به ماءً ليمتصه العامل نفسه. بوسع حمض الكبريتيك المركز أن يقوم بكلا النوعين. شاهد هذا <a href="https://www.youtube.com/watch?v=poDBrGIyTEk">العرض</a> الجبار لتجفاف السكر بحمض الكبريتيك المركز. صيغة السكر (السكروز) هي C<sub>12</sub>H<sub>22</sub>O<sub>11</sub>؛ سنتعرف على هيكل السكروز لاحقاً في الوحدة الرابعة من هذه الدورة. في الوقت الحالي، يكفي القول أنه لا توجد أي جزيئات ماء في السكر. ولكن بما أنه "فجعان" للماء، فحمض الكبريتيك يجبر جزيئات السكروز إلى أن تتحلل إلى ماء وكربون ومواد أخرى أيضاً (<a href="#fig_1.42">الصورة 1.42</a>). جزيئات الماء المنتجة من تفاعل التحلل هذا يمتصها الـH<sub>2</sub>SO<sub>4</sub> المستخدم ذاته لإحداث التفاعل.

            .figure <a id="fig_1.42" href="#fig_1.42">الصورة 1.42</a>
                div
                    img(src="/imgs/fig_1.42.png" alt="")
                div
                    p تجفاف السكروز (السكر) الناجم عن حمض الكبريتيك المركز

            br

        .center.red_box
            p ننحرف قليلاً. السكر (السكروز) إلى جانب الفركتوز والجلوكوز هم <span class="term">كربوهيدرات carbohydrates</span>. الاسم القديم الذي ما زال يستخدم لحد اليوم "كربوهيدرات" يعني "كربون مائي" لأنه تقريباً كل المركبات في فئته تناسب الصيغة العامة C<sub>n</sub>(H<sub>2</sub>O)<sub>m</sub>. على سبيل المثال، صيغة السكروز، C<sub>12</sub>H<sub>22</sub>O<sub>11</sub>، يمكن أن تكتب كـ C<sub>12</sub>(H<sub>2</sub>O)<sub>11</sub> (n=12؛ m=11) واللتان للفركتوز والجلوكوز، C<sub>6</sub>H<sub>12</sub>O<sub>6</sub>، كـ C<sub>6</sub>(H<sub>2</sub>O)<sub>6</sub> (n=6؛ m=6). ولكن كما ذكر أعلاه، فليس هناك أي جزيئات ماء في هياكل الكربوهيدرات.

        .center
            p قدرة حمض الكبريتيك المركز العالية على التجفاف هي أحد السببين الرئيسيَّين لأكّاليته الشديد. السبب الرئيسي الآخر هو قوة الـH<sub>2</sub>SO<sub>4</sub> العالية كحمض. سنتعرف على قوة الأحماض والقواعد في الوحدة الثانية.

            p يجب على الـH<sub>2</sub>SO<sub>4</sub> المركز أن يُتعامل معه بأقصى حذر ممكن لأنه يحرق من خلال القماش ويسبب حروق مؤلمة وبطيئة الشفاء على الجلد. تلامس مباشر مع H<sub>2</sub>SO<sub>4</sub> مركز مع العينين قد يؤدي إلى عمى دائم. <a href="https://ar.wikipedia.org/wiki/%D9%86%D8%AE%D8%B1">نخور</a> الأنسجة التي يتسببها حمض الكبريتيك لديها مصادر كيميائية وحرارية. عندما يجفف حمض الكبريتيك المركز شيئاً ما، يصدر الكثير من الحرارة، والتي تفاقم الضرر الكيميائي بحرق حراري على نفس المنطقة.

            p تُعد محاليل مائية من حمض الكبريتيك لاستخدامات متنوعة بتخفيف H<sub>2</sub>SO<sub>4</sub> مركز. يجب أخذ الحذر الشديد عند خلط حمض كبريتيك مركز مع الماء لأن الخلط يُنتج كميات كبيرة من الحرارة. <u>لتخفيف H<sub>2</sub>SO<sub>4</sub> مركز، يجب دائماً أن تصب الحمض على الماء ببطء ومن ثم الخلط اللطيف.</u> فعل ذلك بالعكس قد يؤدي إلى حادث مؤسف. في هذا <a href="https://www.youtube.com/watch?v=TyGv07xp-6Y">الفيديو</a> التعليمي، يُصب الماء على الـ H<sub>2</sub>SO<sub>4</sub> عن عمد، لإظهار الخطر المحتمل ما إذا كان ترتيب إضافة السوائل خاطئ. لاحظ أنه قرب نهاية هذا العرض القصير جداً، ارتفعت درجة الحرارة في القارورة إلى ما فوق نقطة غليان الماء (100 °C). تخيل حمضاً حارقاً وحاراً جداً يتطاير في كل الأرجاء وعلى ملابسك وجلدك أيضاً، ناهيك عن عيونك. في المقابل، لن يحدث أي شيء كهذا إذا ما وضعت الحمض على الماء. كاختصار لتتذكر الترتيب. في الإنجليزية "<span class="vibrant_red">A</span>cid <span class="vibrant_red">T</span>o <span class="vibrant_red">W</span>ater"، لدى أحرفهم الأولى نفس ترتيب الأبجدية، <span class="vibrant_red">ATW</span>. إذا صببتهم بالترتيب الخاطئ "<span class="vibrant_red">W</span>ater <span class="vibrant_red">T</span>o <span class="vibrant_red">A</span>cid"، فستكون أحرفهم الأولى خاطئة وعكس ترتيب الأبجدية، <span class="vibrant_red">WTA</span>.

        .center.red_box
            p ننحرف قليلاً. لماذا يُحدث ترتيب صب (الحمض على الماء vs الماء على الحمض) فرقاً شاسعاً؟ ستكون كمية الحرارة المنتجة بخلط كميات معينة من كلا الـH<sub>2</sub>SO<sub>4</sub> والماء نفسها تماماً، مهما كانت طريقة خطلهم. شرح لهذه الظاهرة هو بسبب الفرق بين كثافة حمض الكبريتيك والماء (كما ذكرنا أعلاه). عندما يُضاف الماء على الـH<sub>2</sub>SO<sub>4</sub> الأكثر كثافة بكثير، يبقى الماء على السطح لوهلة قبل أن يمتزجا تماماً. الحرارة الفورية المُنبعثة من تلامسهما هي كافية لجعل الطبقة العلوية من <u>كمية الماء القليلة</u> أن تتبخر بطرفة عين وعنف أيضاً، ما يتسبب بتطاير وتناثر حول المحلول الحمضي. ولكن عندما يضاف الحمض على الماء، فحمض الكبريتيك الأكثر كثافة سينزل إلى تحت والحرارة المنبعثة ستتبدد على <u>كمية الماء الكبيرة</u> في الطبقة العلوية.


        .center

            h2 <a id="1.12.4" href="#1.12.4">1.12.4 حمض الهيدروكلوريك. نسبة تركيز الكتلة المئوي</a>
            p حمض الهيدروكلوريك Hydrochloric Acid، المعروف أيضاً <span class="term">بحمض الميوريتك muriatic acid</span>، هو محلول من كلوريد الهيدروجين، HCl، في الماء. في درجة حرارة الغرفة، يكون الـHCl غازاً. كلوريد الهيدروجين هو قابل للذوبان في الماء بسهولة (<a href="#table_3">الجدول 3</a>). لاحظ أنه كأي غاز آخر (وعلى عكس أغلب الأصلاب والسوائل)، فالـHCl لديه ذوبانية أعلى في درجات حرارة منخفضة.

            .figure <a id="table_3" href="#table_3">الجدول 3.</a> ذوبانية الـHCl في الماء في ضغط 1 atmoshpere.
                div
                    table.center
                        tr
                            th درجة الحرارة، °C
                            th الذوبانية، 1g لكل 100g من الماء
                        tr 
                            td 0
                            td 82
                        tr 
                            td 20
                            td 72
                        tr 
                            td 60
                            td 56
            p كلا كلوريد الهيدروجين ومحاليله المائية المركزة (حمض الهيدروكلوريك) لديهما رائحة لاذعة وأكالين بشكل عالي. يطلق على حمض الهيدروكلوريك المركز أحياناً بدخان حمض الهيدروكلوريك لأنه يتبخر في الهواء الرطب وينتج <a href="https://ar.wikipedia.org/wiki/%D8%B3%D8%AF%D9%8A%D9%85_(%D8%B6%D8%A8%D8%A7%D8%A8)">سديم</a> من الـHCl. محاليل HCl مركزة كهذه قد تؤدي إلى آثار ضرر للعينين، أعضاء الجهاز التنفسي، والأغشية المخاطية. ولكن ويا ما هي من صدمة، فالـHCl هو المكون الأساسي لحمض المعدة (المعروف أيضاً بالعصارة الهضمية)، السائل المُنتج في معداتنا لهضم الطعام الذي نأكله. هذه الحقيقة هي توضيح آخر جميل للمثل الشهير "الدواء يصنع الداء".

            p لدى حمض الهيدروكلوريك الكثير من الاستخدامات ويُصنع بأحجام هائلة. كميات كبيره من الـHCl تستخدم لتخليل الفولاذ، لصناعة الكثير من المواد الكيميائية العضوية واللاعضوية، لإزالة الصدأ، ولصناعة الأغذية. معيار التركيز الرئيسي لأحماض الهيدروكلوريك المركزة هو تقريباً 37%. ماذا يعني هذا الرقم؟

            p.no_bottom <u>التركيز المئوي يظهر عدد الغرامات من المذاب في 100g من المحلول.</u> لذلك، لإعداد 100g من محلول HCl 37%، يجب علينا خلط 37g من HCl صافي مع 63g من الماء.
            h3.center <span dir="ltr">100g HCL 37% = <span class="yellow">37g HCl</span> + <span class="blue_vibrant">63g ماء</span></span>

            h2 <a id="1.12.5" href="#1.12.5">1.12.5 حمض النتريك</a>
            p صيغة حمض النتريك هي HNO<sub>3</sub>، وهو بوضوح حمض أحادي القاعدة. يكون حمض النتريك الصافي سائلاً بلا لون. ولكن، عينات من HNO<sub>3</sub> مركز عادةً ما تكون صفراء، برتقالية، أو حتى برتقالي على بني داكن بسبب تحلله البطيء وهو متروك. أحد منتجات التحلل هو NO<sub>2</sub>، غاز بتقالي على بني والذي يبقى مذاباً في الحمض، ولذلك يعطيه هذا اللون المميز. بما أن التفاعل ينجم بسبب الضوء، يفضل تخزين الـHNO<sub>3</sub> المركز في قوارير ذات زجاج ذات لون بني داكن.

            p حمض النتريك هو أيضاً سلعة كيميائية تُصنع على نطاق واسع ولا غنى عنها في إنتاج الأسمدة، الأصباغ، المتفجرات، والكثير من الكيماويات المفيدة، منها الأدوية وعاملات لحماية المحاصيل.

            p الـHNO<sub>3</sub> المركز هو أكال بشكل كبير وقد يتسبب بحروق كيميائية قوية. رغم ذلك فحمض النتريك المخفف هو ليس بتلك الخطورة، عادةً ما يصبغ الجلد بلون أصفر. سبب اللون الأصفر هو تفاعل حمض النتريك مع بعض البروتينات على الجلد. هذا التفاعل، الذي يسمى <span class="term">بتفاعل الزانثوبروتيك xanthoproteic reaction</span>، ينتمي إلى فئة تفاعلات نترتة والتي سوف نأخذها بعين الاعتبار في وحدة الكيمياء العضوية في هذه الدورة (الوحدة الرابعة).

            h2 <a id="1.12.6" href="#1.12.6">1.12.6 حمض الفوسفوريك</a>
            p هناك الكثير من أحمضة الفوسفوريك، من بينهم حمض الأورثو-فوسفوريك H<sub>3</sub>PO<sub>4</sub>، حمض الميتا-فوسفوريك HPO<sub>3</sub>، وحمض البيروفوسفوريك H<sub>4</sub>P<sub>2</sub>O<sub>7</sub>. أكثرهم شيوعاً واستخداماً هو الـH<sub>3</sub>PO<sub>4</sub>، حمض الأورثو-فوسفوريك، والذي عادة ما يسمى بفقط حمض الفوسفوريك. حمض الفوسفوريك هو حمض ثلاثي القاعدة. الـH<sub>3</sub>PO<sub>4</sub> الصافي هو عبارة عن بلورات بيضاء صلبة. ولكن حمض الفوسفوريك التجاري يكون عادةً 85%، ما يعني أنه لكل 100g من هذا المحلول، فهناك 85g من الـH<sub>3</sub>PO<sub>4</sub> و15g من الماء. محاليل حمض فوسفوريك مركزة كهذه تكون بلا لون ولزجة كثيراً، كالشراب المركز كثيراً.

            p كما ذُكر أعلاه، فحمض الفوسفوريك يُستخدم كإضافة للمشروبات الغازية. إنها الكمية الصغيرة من الـH<sub>3</sub>PO<sub>4</sub> المسؤولة عن ذلك الإحساس الممتع الذي يخدر لسانك عندما ترشف مياهاً غازية باردة. هناك الكثير من التطبيقات الأخرى لحمض الفوسفوريك، وأكثرها أهمية هي في إنتاج الأسمدة.

            h2 <a id="1.12.7" href="#1.12.7">1.12.7 حمض الكربونيك</a>
            p كثيراً ما نستخدم حمض الكربونيك، H<sub>2</sub>CO<sub>3</sub>، بدون معرفتنا. المذاق الحامض قليلاً للمشروبات الغازية هو بسبب حمض الكربونيك والذي يُنتج بعد <u>كربنة الماء water carbonation</u>، عملية تشبع الماء مع ثنائي أكسيد الكربون، CO<sub>2</sub> (<a href="#fig_1.43">الصورة 1.43</a>).
            .figure <a id="fig_1.43" href="#fig_1.43">الصورة 1.43</a>
                div
                    h3 CO<sub>2</sub> + H<sub>2</sub>O = H<sub>2</sub>CO<sub>3</sub>
                div
                    p تكوّن حمض الكربونيك من ثنائي أكسيد الكربون والماء.
            p تكوّن حمض الكربونيك من الـCO<sub>2</sub> والـH<sub>2</sub>O هو <u>قابل للانعكاس</u>، أي أنه يمكن لهذا التفاعل إما أن يتحد ثنائي أكسيد الكربون مع الماء ويُنتجا حمض الكربونيك، أو أن يتحلل الكربونيك ويُنتج بذلك ثنائي أكسيد الكربون والماء. سنتناقش أكثر عن التفاعلات القابلة للانعكاس في الوحدة الثانية. ولكن للوقت الحالي، يكفي القول بأن التفاعلات الانعكاسية يمكن التحكم بها، بحيث أن تكون إحدا العمليتان هي التي تسود.

            p لا يمكن لحمض الكربونيك أن يُعزل ويتواجد فقط في محاليل مخففة. في درجة حرارة الغرفة وتحت الضغط الجوي، فالـH<sub>2</sub>CO<sub>3</sub> في محلول ما يتحلل إلى CO<sub>2</sub> و H<sub>2</sub>O بشكل سريع. بينما يفرقع الـCO<sub>2</sub> في الماء الكربوني إلى الهواء، يقل تركيز الـH<sub>2</sub>CO<sub>3</sub>. بسبب ذلك يكون عصير المياه الغازية "الفوار" من قارورة فُتحت حديثاً ألذ ومخدر أكثر للسان من قارورة فُتحت من ذي فترة.
            h3.center H<sub>2</sub>CO<sub>3</sub> = CO<sub>2</sub>↑ + H<sub>2</sub>O

            h2 <a id="1.12.8" href="#1.12.8">1.12.8 القواعد. معلومات عامة والتسمية</a>
            p القاعدة هي أي مركب يتكون من ذرة فلز ومجموعة HO واحدة أو أكثر موصولة بها. تسمى مجموعة الـOH بـ"الهيدروكسيد". تكافؤ الفلز هو الذي يحدد عدد مجموعات الهيدروكسيد (OH) في جزيء القاعدة (<a href="#fig_1.44">الصورة 1.44</a>). على سبيل المثال، بما أن تكافؤ الصوديوم (Na) هو 1، فصيغة الهيدروكسيد المقابل هي NaOH. وبما أنه هناك مجموعة OH واحدة موصولة بذرة الـNa، فالـNaOH هو قاعدة أحادية القاعدة. الكالسيوم هو أحادي التكافؤ، وبذلك فصيغة هيدروكسيد الكالسيوم ستكون Ca(OH)<sub>2</sub>، والذي يجعله قاعدة ثنائية القاعدة. تكافؤ الحديد (Fe)، كما علمنا سابقاً، يمكن أن يكون إما 2 أو 3. وبالتالي، فيمكن للحديد أن يشكل هيدروكسيدَين انثين، Fe(OH)<sub>2</sub> و Fe(OH)<sub>3</sub>. هيدروكسيد الحديد الثنائي هو قاعدة ثنائية القاعدة وهيدروكسيد الحديد الثلاثي هو قاعدة ثلاثية القاعدة. لتسمية قاعدة ما، نقول أولاً "هيدروكسيد" ومن ثم اسم الفلز. مثلاً، KOH هو هيدروكسيد البوتاسيوم، Mg(OH)<sub>2</sub> هو هيدروكسيد المغنيسيوم، إلخ.
            .figure <a id="fig_1.44" href="#fig_1.44">الصورة 1.44</a>
                div
                    img(src="/imgs/fig_1.44.png" alt="")
                div 
                    p عرض تخطيطي للقواعد أحادية، ثنائية، وثلاثية القاعدة مع أمثلة
            p بعض القواعد قابلة للذوبان في الماء والبعض الآخر ليس بكذلك. القابلين للذوبان في الماء، خصوصاً الأكثرهم شيوعاً واستخداماً NaOH و KOH، يُسمَّوا عادةً <span class="term">بالقلويات alkali</span>. القواعد القابلة للذوبان في الماء تترك إحساس زلق وصابوني على الجلد. أدناه لمحة أكثر عن القواعد شيوعاً.

            h2 <a id="1.12.9" href="#1.12.9">1.12.9 هيدروكسيد الصوديوم (الصودا الكاوية)، NaOH، هيدروكسيد البوتاسيوم (البوتاس الكاوي)، KOH</a>
            p عادة ما يسميا الـNaOH والـKOH <span class="term">بالقلويات alkali</span>، هما صلبان شديدا الكوي، عديما الرائحة ويذوبان في الماء بسهولة تامة. ذوبانية الـNaOH والـKOH في 100mL من الماء في درجة حرارة الغرفة هي 110g و 120g ،على التوالي. كلا الـNaOH والـKOH استرطابيان ويجب أن يُحفظوا في حاويات محكمة الإغلاق. يُفضل استخدام الحاويات البلاستيكية (متعدد الإيثيلين أو بولي بروبيلين) على الزجاجية لأن محاليل الـNaOH والـKOH تحفر في الزجاج ببطء.

            p يجب على المرء توخي الحذر عندما يتعامل مع الـNaOH، KOH، ومحاليلهما، وخاصة المركز منهم. هيدروكسيدات الصوديوم والبوتاسيوم هما شديداتا الأكّالية للجلد وحتى أكثر للأغشية المخاطية والعينين. وبما أن سائل العين حمضي قليلاً، فقد يكونا الـNaOH والـKOH أخطر وأكثر ضرراً للعين من أحماض قوية.

            p كلا الـNaOH والـKOH يُصنعا ويُستخدما على نطاق صناعي واسع. تحتوي تطبيقاتهم على إنتاج الورق، الصابون، المنظفات، عوامل التنظيف، وكيماويات كثيرة. في كثير من الصناعات التي يكون فيها الـNaOH والـKOH قابلَين للتبادل، تُفضل المصانع استخدام الـNaOH الأرخص.

            h2 <a id="1.12.10" href="#1.12.10">1.12.10 هيدروكسيد الكالسيوم (الجير المطفأ)، Ca(OH)<sub>2</sub></a>
            p هيدروكسيد الكالسيوم هو مسحوق أبيض وليس أكال بقدر الـKOH والـNaOH. ذوبانيته في الماء هي فقط حوالي 0.17g لكل 100mL في درجة حرارة الغرفة. المحلول المائي لهيدروكسيد الكالسيوم، يُسمى ماء الجير، قد استُخدم لفترة طويلة ككاشف اختبار لثنائي أكسيد الكربون. مرور غاز يحتوي على الـCO<sub>2</sub> من خلال ماء الجير يجعل المحلول غائم بسبب تشكل وترسب الـCaCO<sub>3</sub> الضعيف الذوبانية (<a href="#fig_1.45">الصورة 1.45</a>).
            .figure <a id="fig_1.45" href="#fig_1.45">الصورة 1.45</a>
                div
                    h3(dir="ltr") Ca(OH)<sub>2</sub> + CO<sub>2</sub> = CaCO<sub>3</sub>↓
                div
                    p ماء الجير لاختبار تواجد ثنائي أكسيد الكربون (CO<sub>2</sub>)


            p هيدروكسيد الكالسيوم هو سلعة كيميائية والتي تُصنع بكميات ضخمة، بشكل رئيسي لإنتاج الإسمنت لأعمال البناء. مصانع اللب والورق أيضاً تستخدم كميات لسيت بقليلة من الـCa(OH)<sub>2</sub>.

            h2 <a id="1.12.11" href="#1.12.11">1.12.11 قواعد لاذوبانية</a>
            p هناك عدد محدود من هيدروكسيدات الفلزات القابلة للذوبان في الماء. إضافة إلى الـ NaOH ،KOH و Ca(OH)<sub>2</sub>، فالقواعد القابلة للذوبان في الماء تحتوي أيضاً على الغريبات LiOH ،RbOH ،CsOH ،Sr(OH)<sub>2</sub>، و Ba(OH)<sub>2</sub>. أغلب هيدروكسيدات الفلزات الأخرى هي لاذوبانية في الماء، مثل الـCu(OH)<sub>2</sub> ،Fe(OH)<sub>2</sub> ،Fe(OH)<sub>2</sub> ،Al(OH)<sub>3</sub> و Zn(OH)<sub>2</sub>.

            h2 <a id="1.12.12" href="#1.12.12">1.12.12 أهذا حمض أم قاعدة؟ مؤشرات الأحماض والقواعد</a>
            p إنه من المهم، أو إن لم يكن حتى لازماً، معرفة ما إذا كان المحلول حمضي أم قاعدي. أبسط وأسرع طريقة لمعرفة وجود حمض أم قاعدة في المحلول هي باستخدام <span class="term">مؤشر حمض-قاعدة acid-base indicator</span>. أقدم وأشهر مؤشر هو <span class="term">عباد الشمس litmus</span>، صبغ طبيعي ويصير أزرق اللون في حال تواجد قاعدة ولكن يتغير إلى الأحمر في حال تواجد حمض. كلا من أوراق عباد الشمس الزرقاء والحمراء متوفرة تجارياً. إذا غيرت قطرة محلول لون ورقة عباد شمس أزرق إلى أحمر، فهذا يعني أن المحلول يحتوي على حمض. وبالمقابل، فستتحول ورقة عباد شمس حمراء إلى زرقاء إذا ما غُمست في محلول (قاعدي) قلوي.

            p مثال مبهر وشرير لاستخدام ورق عباد الشمس لتحقيق المباحث يُعثر عليه في كتاب قصة شيرلوك هولمز لآرثر كونان دويل "وثائق المعاهدة البحرية"، الذي نُشر لأول مرة عام 1893. في بداية القصة، يدخل د. واتسون إلى المختبر المنزلي لرفيقه شيرلوك هولمز، المحقق العبقري الخيالي، لإيجاده مشغولاً بتجارب كيميائية. "لقد أتيت إلى أزمة يا واتسون،" قال كذلك. "إذا بقيت هذه الورقة زرقاء، فكل شيء على ما يرام. إذى تحولت إلى حمراء، فهذا يعني أنها حياة زلمة." غمسها في أنبوب الاختبار وتحولت إلى قمزي باهت وقذر." (<a href="#fig_1.46">الصورة 1.46</a>)
            .figure <a id="fig_1.46" href="#fig_1.46">الصورة 1.46</a>
                div
                    img.portrait(src="/imgs/fig_1.46.jpg" alt="")
                div 
                    p لقد أتيت إلى أزمة يا واتسون (رسم توضيحي بيَد سيدني باجيت؛ <a href="https://commons.wikimedia.org/wiki/File:The_Adventure_of_the_Naval_Treaty_01.jpg">المصدر</a>)

            p هناك الكثير من مؤشرات حمض-قاعدة المتوفرة، تستطيع العثور على مؤشر يتحول من أي لون تريد إلى أي لون تريد. في هذه الدورة، سنذكر واحداً آخر ألا وهو <span class="term">فينول فثالين</span>، مركب عضوي صناعي والذي محاليله بلا لون في حال تواجد حمض ولكن وفي حال تواجد قاعدة يتحول إلى لون التوت الأحمر الجميل.

            h2 <a id="1.12.13" href="#1.12.13">1.12.13 تمارين</a>
            p.no_bottom 1. سمي الأحماض والقواعد التالية:
                br
                |HNO<sub>3</sub>
                br
                |KOH
                br
                |H<sub>3</sub>PO<sub>4</sub>
                br
                |Ca(OH)<sub>2</sub>
                br
                |H<sub>2</sub>SO<sub>4</sub>
                br
                |HCl
                br
                |NaOH
                br
                |Al(OH)<sub>3</sub>
                br
                |Fe(OH)<sub>2</sub>
                br
                |Fe(OH)<sub>3</sub>
            input.answer(type="checkbox" id="1")
            label(for="1") الجواب:
            span
                br
                |HNO<sub>3</sub>: حمض النتريك
                br
                |KOH: هيدروكسيد البوتاسيوم
                br
                |H<sub>3</sub>PO<sub>4</sub>: حمض الفوسفوريك
                br
                |Ca(OH)<sub>2</sub>: هيدروكسيد الكالسيوم
                br
                |H<sub>2</sub>SO<sub>4</sub>: حمض الكبريتيك
                br
                |HCl: حمض الهيدروكلوريك (كلوريد الهيدروجين إذا كان غازاً)
                br
                |NaOH: هيدروكسيد الصوديوم
                br
                |Al(OH)<sub>3</sub>: هيدروكسيد الألومنيوم
                br
                |Fe(OH)<sub>2</sub>: هيدروكسيد الحديد الثنائي
                br
                |Fe(OH)<sub>3</sub>: هيدروكسيد الحديد الثلاثي

            p.no_bottom 2. اكتب الصيغ الكيميائية للأحماض والقواعد التالية:
                br
                |هيدروكسيد المغنيسيوم
                br
                |حمض الهيدروبروميك
                br
                |هيدروكسيد الليثيوم
                br
                |حمض الكربونيك
                br
                |هيدروكسيد الكوبالت الثنائي
                br
                |حمض السيليسيك
            input.answer(type="checkbox" id="2")
            label(for="2") الجواب:
            span
                br
                |هيدروكسيد المغنيسيوم: Mg(OH)<sub>2</sub>
                br
                |حمض الهيدروبروميك: HBr
                br
                |هيدروكسيد الليثيوم: LiOH
                br
                |حمض الكربونيك: H<sub>2</sub>CO<sub>3</sub>
                br
                |هيدروكسيد الكوبالت الثنائي: Co(OH)<sub>3</sub>
                br
                |حمض السيليسيك: H<sub>2</sub>SiO<sub>3</sub>

            p.no_bottom 3. قلد استلمت قارورة من حمض نتريك مركز من مزود. لون حمض النتريك في القارورة أصفر. بمعرفة أن حمض النتريك الصافي هو بلا لون، فهل يجب إعادة القارورة إلى المزود للاسترجاع أموالك؟
            input.answer(type="checkbox" id="3")
            label(for="3") الجواب:
            span ليس بالضرورة. يجب أن نتذكر أن عينات من HNO<sub>3</sub> مركز عادة ما تحتوي على الـNO<sub>3</sub> البرتقالي على بني اللون، أحد منتجات تحلل الـHNO<sub>3</sub>.

            p.no_bottom 4. أمرك مشرفك بصناعة 100g من محلول حمض كربونيك مائي 10% باستخدام ماء و H<sub>2</sub>CO<sub>3</sub> صافي. ما يجب عليك أن تفعل؟
            input.answer(type="checkbox" id="4")
            label(for="4") الجواب:
            span ابحث عن مشرف آخر. ليس هناك بشيء اسمه حمض كربونيك صافي.

            p.no_bottom 5. طُلب من فني مختبر إعداد محلول حمض كبريتيك 20% من ماء و H<sub>2</sub>SO<sub>4</sub> مركز (100%). من أجل ذلك، قرر خلط 100g من الماء و20g من حمض الكبريتيك المركز. وبما أنه من الأسهل قياس السوائل بأحجامهم بدلاً من أوزانهم، وبمعرفة أن كثافة الماء هي 1g/mL، فقام الفني بوضع 100mL في <a href="https://ar.wikipedia.org/wiki/%D8%A3%D8%B3%D8%B7%D9%88%D8%A7%D9%86%D8%A9_%D9%85%D8%AF%D8%B1%D8%AC%D8%A9">أسطوانة مدرجة</a>. وبعدها وضع 20g من حمض الكبريتيك المركز في أسطوانة مدرجة أخرى. بعد ذلك، بدأ بإضافة كمية الماء المحسوبة إلى حمض الكبريتيك. بمجرد إضافة أول جزء من الماء، صدرت الكثير من الحرارة وصار هناك تطاير في الأرجاء. لحسن الحظ، كان الفني قد لبس معطف المختبر، قفازات مطاطية، ووضع نظارات واقية، لأنه على خلاف ذلك فقد يرى تناثرات وحروق حمضية على كل يديه، وجهه، وربما حتى عينيه. بعدما برُد الخليط، قرر الفني التأكد ما إذا كان المحلول حمضياً. للقيام بذلك، خلط بعض القطرات منه مع محلول مؤشر الفينول فثالين. وبما أن المحلول بقي بلا لون بدلاً تحوله إلى لون التوت الأحمر، خلص الفني إلى أنه هناك خطأ ما وأن الحمض قد تحلل. حدد الأخطاء التي قام بها الفني خلال هذه العملية.
            input.answer(type="checkbox" id="5")
            label(for="5") الجواب:
            span 
                |قام هذا الفني بخمس أخطاء جسيمة على الأقل. بالقيام بأيٍ من هذه الخمسة هو بما فيه الكفاية لطرده من وظيفته.
                br
                |الخطأ 1: لإعداد حمض كبريتيك 20% سيحتاج المرء إلى 20g من الـH<sub>2</sub>SO<sub>4</sub> و80g (لا 100g) من الماء (اطلع على معنى <a href="#1.12.4">نسبة تركيز الكتلة المئوي</a> أعلاه)
                br
                |الخطأ 2: بالتأكيد، فكثافة الماء هي 1g/mL، لذلك فـ100g من الماء = 100mL من الماء. ولكن الأمر ليس بكذلك لحمض الكبريتيك الذي كثافته هي 1.84g/mL. لذلك يجب أن تقسم الـ20g من الـH<sub>2</sub>SO<sub>4</sub> بـ 1.84g/mL والذي تقريباً يساوي 11mL، لا 20mL.
                br
                |الخطأ 3. عند تخفيف حمض الكبريتيك يجب صب الحمض على الماء، لا الماء على الحمض. لقد كان محظوظاً أن لم يصبه أي حرق كيميائي.
                br
                |الخطأ 4: الفينول فثالين يتحول إلى لون التوت الأحمر في إذا ما تواجدت قاعدة، ويبقى بلا لون في حال تواجد حمض. لذلك، فمحاليل فينول فثالين عديمة اللون هي بلا فائدة لاختبار تواجد حمض في عينات ما.
                br
                |الخطأ 5: لا يتحلل حمض الكبريتيك عند تخفيفه مع الماء، بغض النظر عما إذا خُفف بشكل صحيح (ATW: acid to water، حمض إلى ماء) أو لا (WTA: water to acid حمض إلى ماء).

            p.no_bottom 6. لإعداد محلول H<sub>2</sub>SO<sub>4</sub> 15% في ماء باستخدام H<sub>2</sub>SO<sub>4</sub> 100%، يجب على المرء أن يخلط:
                br
                |1) 15mL من الـH<sub>2</sub>SO<sub>4</sub> و 100mL من الماء
                br
                |2) 15g من الـH<sub>2</sub>SO<sub>4</sub> و 100mL من الماء
                br
                |3) 15mL من الـH<sub>2</sub>SO<sub>4</sub> و 100g من الماء
                br
                |4) 15g من الـH<sub>2</sub>SO<sub>4</sub> و 85mL من الماء
                br
                |5) 8.15mL من الـH<sub>2</sub>SO<sub>4</sub> و 100g من الماء
                br
                |6) 8.15mL من الـH<sub>2</sub>SO<sub>4</sub> و 85mL من الماء
            input.answer(type="checkbox" id="6")
            label(for="6") الجواب:
            span 4 و 6

            p.no_bottom 7. هناك محلولان اثنان، أحدهم 50g من KCl 10% والآخر 50g من NaCl 10%. عندما سُؤل عن أيهما يحتوي على كمية أكثر من الماء، قال الطالب أ أنه هو محلول الـNaCl، لأن ذرة الصوديوم أخف بكثير من ذرة البوتاسيوم. ولكن الطالب ب جادل بأن محلول الـKCl يحتوي على ماء أكثر لأن عدد جزيئات الـKCl في محلول الـKCl أقل من عدد جزيئات الـNaCl في محلول الـNaCl. أيهما محق في قوله؟
            input.answer(type="checkbox" id="7")
            label(for="7") الجواب:
            span كلاهما مخطئان. كلا المحلولين لديهم نفس كمية الـH<sub>2</sub>O لأن نسبة تركيز الكتلة المئوي هو نفسه. بتعريف نسبة تكريز الكتلة المئوي، فأي 100g من محلول 10% من أي مادة كيميائية سيحتوي على 90g من الماء و10g من المذاب مهما كان نوع المذاب. و50g من محلول 10% يحتوي على نصف كمية الماء، أي 45g.

            p.no_bottom 8. لماذا يُباع الـKOH والـNaOH على شكل كريات (<a href="#fig_1.47">الصورة 1.47</a>) بدلاً من على شكل مسحوق؟
            .figure <a id="fig_1.47" href="#fig_1.47">الصورة 1.47</a>
                div
                    img.portrait(src="/imgs/fig_1.47.jpg" alt="")
                div 
                    p عينة تجارية لـNaOH (<a href="https://commons.wikimedia.org/wiki/File:SodiumHydroxide.jpg">المصدر</a>)
            input.answer(type="checkbox" id="8")
            label(for="8") الجواب:
            span كلا الـKOH والـNaOH استرطابيان، ما يعني أنهما يجذبان بخار الماء الذي في الهواء. كلاهما يمتصه من الهواء وبالأخير يذوبا به (شاهد هذا <a href="https://www.youtube.com/watch?v=4lkUxxQQl2M">الفيديو</a>). العملية التي تذيب فيها المادة الكيميائية المسترطبة نفسها في الماء الذي امتصته من الجواء تسمى <span class="term">بالتميُّع deliquescence</span>. هو امتصاص بخار الماء من الهواء الذي على سطح المادة الاسترطابية. كلما كبرت مساحة السطح، كلما كان الامتصاص أسرع. مسحوق من مادة كيميائية صلبة ستكون مساحته السطحية دائماً أكبر من ما إذا على على شكل كريات أو على شكل كتلة مصنوعة من نفس الكمية ومن نفس المادة الكيميائية. لذلك فكريات من الـKOH والـNaOH هي أقل استرطابية وأكثر ملائمة للعمل معها بدلاً من مساحيق KOH و NaOH.

            br
            br
            a.next(href="/1.13") الصفحة التالية ← 1.13
            a.previous(href="/1.11") 1.11 → الصفحة السابقة