include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.13 تفاعلات التعادل. الأملاح
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.13 تفاعلات التعادل. الأملاح
            p 
                |- <a href="#1.13.1">1.13.1 تفاعلات التعادل. الأملاح</a>
                br
                |- <a href="#1.13.2">1.13.1 التعادل الجزئي</a>
                br
                |- <a href="#1.13.3">1.13.1 تمارين</a>
            hr

            h2 <a id="1.13.1" href="#1.13.1">1.13.1 تفاعلات التعادل. الأملاح</a>
            p تتفاعل الأحماض بسهولة مع القواعد. التفاعل بين الأحماض القواعد يمثل واحدة من أهم التحولات في الكيمياء. في هذا التفاعل، تتحد ذرة H التي على بقايا الحمض مع مجموعة OH التي من هيدروكسيد الفلز لتشكيل جزيء ماء. نتيجة هذا التفاعل هو <span class="term">الملح salt</span>، مركب كيميائي يتكون من بقايا الحمض وذرة الفلز مربوطان ببعضهم البعض (<a href="#fig_1.48">الصورة 1.48</a>).
            .figure <a id="fig_1.48" href="#fig_1.48">الصورة 1.48</a>
                div
                    img.portrait(src="/imgs/fig_1.48.png" alt="")
                div 
                    p تخطيط عام للتفاعل ما بين الأحماض والقواعد
            p تفاعل تعادل حمض-قاعدة نموذجي وبسيط هو التفاعل ما بين حمض الهيدروكلوريك، HCl، وهيدروكسيد الصوديوم، NaOH (<a href="#fig_1.49">الصورة 1.49</a>). في هذا التفاعل، يتفاعل الأكال جداً (HCl) مع الكاوي جداً (NaOH) لإعطاء ماء و NaCl (ملح). نقول أن المحلول الناتج هو <i>متعادل neutral</i> لأنه ليس بالحمضي ولا بالقاعدي. لذلك فالتفاعل ما بين الأحماض والقواعد يسمى <span class="term">بالتعادل neutralization</span>.
            .figure <a id="fig_1.49" href="#fig_1.49">الصورة 1.49</a>
                div
                    h3(dir="ltr") NaOH + HCl = NaCl + H<sub>2</sub>O
                div 
                    p تفاعل تعادل ما بين NaOH (قاعدة) و HCl (حمض)
            p أغلب الأحماض ذوبانية في الماء، بينما أغلب القواعد لاذوبانية. إذا تفاعلت قاعدة لاذوبانية مع حمض ذوباني لإعطاء ملح (والذي يكون كذلك في أغلب الأحيان)، فستبدأ القاعدة بالذوبان عندما يحدث التفاعل. كمثال، فهيدروكسيد النحاس، Cu(OH)<sub>2</sub>، قاعدة لا تذوب في الماء، يذوب إبان تعامله مع الـ HCl، H<sub>2</sub>SO<sub>4</sub>، أو HNO<sub>3</sub> ما يسبب تكون الملح المقابل (<a href="#fig_1.50">الصورة 1.50</a>).
            .figure <a id="fig_1.50" href="#fig_1.50">الصورة 1.50</a>
                div
                    h3(dir="ltr")
                        |Cu(OH)<sub>2</sub> + 2HCl = CuCl<sub>2</sub> + 2H<sub>2</sub>O
                        br
                        |Cu(OH)<sub>2</sub> + H<sub>2</sub>SO<sub>4</sub> = CuSO<sub>4</sub> + 2H<sub>2</sub>O
                        br
                        |Cu(OH)<sub>2</sub> + 2HNO<sub>3</sub> = Cu(NO<sub>3</sub>)<sub>2</sub> + 2H<sub>2</sub>O
                div 
                    p تفاعل تعادل الـ Cu(OH)<sub>2</sub> مع الـ HCl، H<sub>2</sub>SO<sub>4</sub>، و HNO<sub>3</sub>
            p هل لاحظت أن تكافؤ النحاس عادةً ما يكوون 1 أو 2، وبالرغم من ذلك فلقد سمي الـ Cu(OH)<sub>2</sub> أعلاه بهيدروكسيد النحاس، لا هيدروكسيد النحاس الثنائي؟ لم يُذكر عدد تكافؤ النحاس في الاسم لأنه لا يوجد شيء اسمه هيدروكسيد النحاس الأحادي (CuOH)! عندما نقول "هيدروكسيد النحاس"، فنحن لا نقول التكافؤ لأنه يمكن فقط أن يكون Cu(OH)<sub>2</sub>.

            p أغلب الأملاح قابلة للذوبان في الماء، ولكن البعض ليس بكذلك. أمثلة على أملاح لاذوبانية تضم كلوريد الفضة (AgCl)، كربونات الكالسيوم (CaCO<sub>3</sub>)، وكبريتات الباريوم (BaSO<sub>4</sub>).

            h2 <a id="1.13.2" href="#1.13.2">1.13.1 التعادل الجزئي</a>
            p ماذا يجب أن يحصل إذا ما تفاعل حمض ثنائي القاعدة مع قاعدة أحادية القاعدة بنسبة 1 إلى 1؟ في حالات كهذه، كمية القاعدة هي كافية لمعادلة ذرة واحدة فقط من ذرتَي الهيدروجين في جزيء الحمض (<a href="#fig_1.51">الصورة 1.51</a>).
            .figure <a id="fig_1.51" href="#fig_1.51">الصورة 1.51</a>
                div
                    img(src="/imgs/fig_1.51.png" alt="")
                div 
                    p تفاعل تعادل الـ Cu(OH)<sub>2</sub> مع الـ HCl ،H<sub>2</sub>SO<sub>4</sub>، و HNO<sub>3</sub>

            p مثال نموذجي على "تعادل جزئي" مماثل معروض في <a href="#fig_1.52">الصورة 1.52</a>. ناتج هذا التفاعل، NaHSO<sub>4</sub>، هو <span class="term">ملح حمضي acid salt</span>. الاسم الكيميائي الكامل لهذا الملح هو هيدروجين الصوديوم <u>أو</u> هيدروكبريتات الصوديوم <u>أو</u> ثنائي كبريتات الصوديوم. مثال آخر لملح حمضي هو صودا الخبز، NaHCO<sub>3</sub>، كربونات هيدروجين الصوديوم <u>أو</u> هيدروكربونات الصوديوم <u>أو</u> بيكربونات الصوديوم.
            .figure <a id="fig_1.52" href="#fig_1.52">الصورة 1.52</a>
                div
                    h3(dir="ltr") NaOH + H<sub>2</sub>SO<sub>4</sub> = NaHSO<sub>4</sub> + H<sub>2</sub>O
                div 
                    p تفاعل تعادل جزئي ما بين H<sub>2</sub>SO<sub>4</sub> و NaOH
            p على نفس المنوال، فإذا لم يكن هناك حمض كافي لمعادلة مجموعات الـOH الموصولة بفلز القاعدة، فسيتكون ملح قاعدي. معدن المالاكيت الأخضر الجميل هو ملح قاعدي طبيعي Cu<sub>2</sub>(OH)<sub>2</sub>CO<sub>3</sub>.

            h2 <a id="1.13.3" href="#1.13.3">1.13.1 تمارين</a>
            p 1. وازن المعادلات الكيميائية التالية لتفاعلات تعادل بين الأحماض والقوعاد.
                br
                |1) Mg(OH)<sub>2</sub> + HCl = MgCl<sub>2</sub> + H<sub>2</sub>O
                br
                |2) KOH + H<sub>3</sub>PO<sub>4</sub> = K<sub>3</sub>PO<sub>4</sub> + H<sub>2</sub>O
                br
                |3) Ca(OH)<sub>2</sub> + HNO<sub>3</sub> = Ca(NO<sub>3</sub>)<sub>2</sub> + H<sub>2</sub>O
                br
                |4) Ba(OH)<sub>2</sub> + H<sub>2</sub>SO<sub>4</sub> = BaSO<sub>4</sub>↓ + H<sub>2</sub>O
                br
                |5) Al(OH)<sub>3</sub> + H<sub>2</sub>SO<sub>4</sub> = Al<sub>2</sub>(SO<sub>4</sub>)<sub>3</sub> + H<sub>2</sub>O

            p.no_bottom 2. كم سيُحتاج من الـ HBr لمعادلته مع 60g من الـ NaOH؟
            input.answer(type="checkbox" id="2")
            label(for="2") الجواب:
            div
                p.no_margin أولاً، نحتاج إلى كتابة معادلة كيميائية متوازنة لهذا التفاعل: NaOH + HBr = NaBr + H<sub>2</sub>O. بعد ذلك، نحسب الأوزان الجزيئية لكلا الـ NaOH و HBr باستخدام الكتل الذرية من الجدول الدوري. الزن الجزيئي للـ NaOH هو: 23 + 16 + 1 = 40. الوزن الجزيئي للـ HBr هو: 1 + 80 = 81. الآن نستطيع أن هذه الأرقام تحت جزيئهم المقابل في المعادلة:
                .figure.no_border
                    div
                        img.portrait(src="/imgs/eq3.png" alt="")
                p.no_margin تري المعدلة الآن أنه لمعادلة 40g من الـ NaOH، فسنحتاج إلى 81g من الـ HBr. نريد نحن معادلة 60g NaOH. فكمية الـ HBr المحتاجة (x) يجب أن تكون نسبية:
                .figure.no_border
                    div
                        img.portrait(src="/imgs/eq4.png" alt="")
                p.no_margin تُحل هذه النسبة بسهولة لـ x:
                h3(dir="ltr").center x = (60/40)×81 = 121.5
                p.no_top فلموازنة 60g من الـ NaOH، نحتاج إلى 121.5g من الـ HBr.

            p.no_bottom 3. خُلط 50g من محلول HCl 7% مع 30g من محلول KOH 9%. غُمست ورقة عباد شمس زرقاء في الخليط المنتج. هل سيتحول لون ورقة عباد الشمس إلى الأحمر؟
            input.answer(type="checkbox" id="3")
            label(for="3") الجواب:
            div 
                p.no_margin أولاً نحتاج إلى حساب كمية الـ HCl والـ KOH الصافية في المحاليل. بمجرد أن نعرف ذلك، فسنحدد أي الكاشفيَين هو المُحد وأيهما الفائض. إذا كان الـ HCl هو الفائض، فيجب أن يتحول لون ورقة عباد الشمس إلى الأحمر. إذا كان الـ KOH هو الفائض (أو، إذا لم يكن أي منهما فائض، يعني كانت نسبة الـ HCl إلى الـ KOH 1:1)، فسيبقى لون ورقة عباد الشمس نفسه.
                p.no_margin لدينا 50g من HCl 7%، والذي يعني أنه في محلول 100g سيكون لدينا 7g HCl. النسبة هي:
                h3.center(dir="ltr")
                    |100g من محلول HCl 7% => 7g HCl صافي
                    br
                    |50g  من محلول HCl 7% => <span class="blue_vibrant">x</span>g HCl صافي
                p.no_margin ونحسب المعادلة لـ x كالتالي:
                h3(dir="ltr").center <span class="blue_vibrant">x</span> = (50/100)×7 = 3.5
                p.no_top 3.5g هي كمية الـ HCl الصافي في محلولنا.
                p ونحسب نفس الشيء لـ 30g من محلول KOH 9%:
                h3.center(dir="ltr")
                    |100g من محلول KOH 9% => 9g HCl صافي
                    br
                    |50g  من محلول KOH 9% => <span class="blue_vibrant">y</span>g KOH صافي
                p.no_margin ونحسب المعادلة لـ y كالتالي:
                h3(dir="ltr").center <span class="blue_vibrant">y</span> = (50/100)×9 = 2.7
                p.no_top 2.7g هي كمية الـ KOH الصافي في محلولنا.
                p الآن بمعرفتنا أن 3.5g من الـ HCl و 2.7g من الـ KOH قد استُخدما للتفاعل، فنستطيع أن نحسب أيهما الفائض. أولا نكتب المعادلة:
                h3(dir="ltr").center  KOH + HCl = KCl + H<sub>2</sub>O
                p بعد ذلك، نحسب الأوزان الجزيئية لكلا الـ HCl و KOH. وهما 36.5 و 56، على التوالي. والآن نكتب هذَين  الرقمَين تحت الصيغتان في المعادلة لإظهار أنه لمعادلة 56g من KOH صافي، يجب أن يكون لدينا 36.5g من HCl صافي.
                .figure.no_border
                    div
                        img.portrait(src="/imgs/eq5.png" alt="")
                p كمية الـ KOH المُستخدمة للتفاعل هي 2.7g. دعنا نحسب كم يُحتاج من الـ HCl (z) لمعادلة 2.7g من KOH صافي.
                .figure.no_border
                    div
                        img.portrait(src="/imgs/eq6.png" alt="")
                h3(dir="ltr").center z = (36.5/56)×2.7 = 1.76
                p إذا فيجب استخدام 1.7g من الـ HCl لمعادلة 2.7 من الـ KOH. ومحلولنا يحتوي على 3.5g HCl، الضعف تقريباً. لذلك، فالكاشف المُحد هو الـ KOH والـ HCl قد استُخدم بشكل زائد في التفاعل. وبالتالي، فالمحلول الناتج سيكون حمضي وسيتحول لون ورقة عباد الشمس إلى الأحمر.

            br
            br
            a.next(href="/1.14") الصفحة التالية ← 1.14
            a.previous(href="/1.12") 1.12 → الصفحة السابقة