include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title الفئات الرئيسية للمركبات اللاعضوية: الأكاسيد
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue الفئات الرئيسية للمركبات اللاعضوية: الأكاسيد
            p 
                |- <a href="#1.14.1">1.14.1 معلومات عامة</a>
                br
                |- <a href="#1.14.2">1.14.2 تسمية الأكاسيد</a>
                br
                |- <a href="#1.14.3">1.14.3 الأكاسيد القاعدية، الحمضية، التذبذبية، والمتعادلة</a>
                br
                |- <a href="#1.14.4">1.14.4 إعداد الأكاسيد</a>
                br
                |- <a href="#1.14.5">1.14.5 الخواص الكيميائية للأكاسيد</a>
                br
                |- <a href="#1.14.1">1.14.6 تمارين</a>
            hr
            h2 <a id="1.14.1" href="/1.14#1.14.1">1.14.1 معلومات عامة</a>
            p كما علمنا سابقاً، فالأكسيد هو مركب كيميائي يتكون من أكسجين وعنصر آخر. في درجة حرارة الغرفة وتحت الضغط الجوي، يمكن للأكسيد أن يكون غازياً (SO<sub>2</sub> ،CO ،NO ،CO<sub>2</sub>)، سائلاً (Mn<sub>2</sub>O<sub>7</sub> ،SO<sub>3</sub> ،H<sub>2</sub>O) أو صلباً (P<sub>2</sub>O<sub>5</sub> ،ZnO ،Al<sub>2</sub>O<sub>3</sub> ،CaO).

            p الأكاسيد موجودة في كل مكان في الطبيعة. الماء هو أكسيد. (كمبدأ، فيجب أن يسمى الـ H<sub>2</sub> أكسيد الهيدروجين، ولكن ذلك سيبدوا غريباً.) أكسيد السيليكون، SiO<sub>2</sub>، يُحسب لأكثر من 10% من قشرة الأرض بالوزن. الكثير الكثير من الخامات، المعادن، والأحجار هم أكاسيد فلزات. ومنهم الكثير من الأحجار الكريمة. (<a href="#fig_1.53">الصورة 1.53</a>). الياقوت الأحمر والأزرق هما أكاسيد الألومنيوم (AlO<sub>3</sub>). الجمشت هو أكسيد السيليكون (SiO<sub>2</sub>). الزمرد (سيليكات الألومنيوم البريليوم، Be<sub>3</sub>Al<sub>2</sub>Si<sub>6</sub>O<sub>18</sub>) هو أكسيد معقد، أكسيد لديه على الأقل عنصرين أو أكثر بجانب الأكسجين. كل هذه الأكاسيد بيضاء عندما تكون صافية. تُلون الأحجار الكريمة بالشوائب مؤثرة من عناصر أخرى، مثل التيتانيوم (الياقوت الأزرق)، الحديد (الجمشت)، والكروم (الياقوت الأحمر، الزمرد). يتواجد ثنائي أكسيد الكربون في الغلاف الجوي، ولكن بكميات صغيرة.
            .figure <a id="fig_1.53" href="#fig_1.53">الصورة 1.53</a>
                div
                    img(src="/imgs/fig_1.53.webp" alt="")
                div 
                    p من اليسار إلى اليمين:
                        br
                        |1. <a href="https://naturalhistory.si.edu/explore/collections/geogallery/10002687">ياقوت لوغان الأزرق</a>
                        br
                        |2. <a href="https://naturalhistory.si.edu/explore/collections/geogallery/10002734">ياقوتة كارمين لوسيا الحمراء</a>
                        br
                        |3. <a href="https://naturalhistory.si.edu/explore/collections/geogallery/10002703">جمشت 96-قيراط</a>
                        br
                        |4. <a href="https://thejewelerblog.files.wordpress.com/2016/05/hooker1.jpg">زمرد هوكر</a>
                        br
                        |من <a href="https://naturalhistory.si.edu/">المتحف الوطني للتاريخ الطبيعي</a> (واشنطن، الولايات المتحدة الأمريكية)

            h2 <a id="1.14.2" href="/1.14#1.14.2">1.14.2 تسمية الأكاسيد</a>
            p تسمية الأكاسيد أمر سهل. أولاً قُل "أكسيد" ومن ثم اسم العنصر. مثلاً ،MgO هو أكسيد المغنيسيوم، Li<sub>2</sub>O هو أكسيد الليثيوم، و Al<sub>2</sub>O<sub>3</sub> هو أكسيد الألومنيوم. إذا كان للعنصر أكثر من حالة تكافؤ واحدة، فيُقال عدد التكافؤ بعد اسم العنصر. مثلاً، CuO هو أكسيد النحاس الثنائي، بينما Cu<sub>2</sub>O هو أكسيد النحاس الأحادي. نفس الشيء، SO<sub>2</sub> هو أكسيد الكبريت الرباعي و SO<sub>3</sub> هو أكسيد الكبريت الخماسي. وأحياناً أخرى يسمى التركيب بقول عدد ذرات الأكسجين أولا ومن ثم اسم العنصر. بهذه الطريقة، فالأكاسيد التالية تسمى:
                br
                |CO: أحادي أكسيد الكربون
                br
                |SO<sub>2</sub>: ثنائي أكسيد الكبريت
                br
                |SO<sub>3</sub>: ثلاثي أكسيد الكبريت
                br
                |OsO<sub>4</sub>: رباعي أكسيد الأوزميوم
                br
                |P<sub>2</sub>O<sub>5</sub>: خماسي أكسسيد الفوسفور

            h2 <a id="1.14.3" href="/1.14#1.14.3">1.14.3 الأكاسيد القاعدية، الحمضية، التذبذبية، والمتعادلة</a>
            p <u>الأكاسيد القاعدية basic oxides</u> هي أكاسيد فلزية. يتفاعلون مح الأحماض لإعطاء الملح والماء (<a href="#fig_1.54">الصورة 1.54</a>)
            .figure <a id="fig_1.54" href="#fig_1.54">الصورة 1.54</a>
                div
                    h3(dir="ltr")
                        |Na<sub>2</sub>O + 2HCl = 2NaCl + H<sub>2</sub>O
                        br
                        |MgO + 2HNO<sub>3</sub> = Mg(NO<sub>3</sub>)<sub>2</sub> + H<sub>2</sub>O
                        br
                        |CuO + H<sub>2</sub>SO<sub>4</sub> = CuSO<sub>4</sub> + H<sub>2</sub>O
                        br
                        |3CaO + 2H<sub>3</sub>PO<sub>4</sub> = Ca<sub>3</sub>(PO<sub>4</sub>)<sub>2</sub> + H<sub>2</sub>O
                div 
                    p تفاعلات محددة لأكاسيد قاعدية مع أحماض

            p <u>الأكاسيد الحمضية acidic oxides</u> هي أكاسيد لافلزية. يتفاعلون مع القواعد لإعطاء الملح والماء (<a href="#fig_1.55">الصورة 1.55</a>).
            .figure <a id="fig_1.55" href="#fig_1.55">الصورة 1.55</a>
                div
                    h3(dir="ltr")
                        |CO<sub>2</sub> + 2NaOH = Na<sub>2</sub>CO<sub>3</sub> + H<sub>2</sub>O
                        br
                        |SO<sub>3</sub> + Ba(OH)<sub>2</sub> = BaSO<sub>4</sub> + H<sub>2</sub>O
                        br
                        |SiO<sub>2</sub> + 2KOH = K<sub>2</sub>SiO<sub>3</sub> + H<sub>2</sub>O
                div 
                    p تفاعلات محددة لأكاسيد حمضية مع قواعد
            br
        .center.red_box
            p ننحرف قليلاً. أحياناً تسمى الأكاسيد الحمضية باللاهيدراتية. استُخدم مصطلح اللاهيدراتية (من اليونانية άνυδρος) anhydride الذي يعني "بلا ماء" منذ القرن التاسع عشر لتسمية الأكاسيد الحمضية التي قد حُصل عليها بإزالة الماء من الأحماض المقابلة. مثلاً، يسمى SO<sub>3</sub> أحياناً بالكبريتيك اللاهيدريتي لأنه قد صُنع بإزالة الـ H<sub>2</sub>O من حمض الكبريتيك، H<sub>2</sub>SO<sub>4</sub> (في درجات حرارة عالية جداً). ونفس الشيء، يسمى الـ CO<sub>2</sub> أحياناً بالكربونيك اللاهيدريتي لأنه قد صُنع  عندما فقد حمض الكربونك مائه، H<sub>2</sub>CO<sub>3</sub> = H<sub>2</sub>O + CO<sub>2</sub>. لاحظ أن جزيئات الأحماض <u>لا</u> تحتوي على جزيئات ماء بداخلهن، ولكن فقط ذرات الـ H و O التي تندمج معاً لإعطاء الـ H<sub>2</sub>O على التحلل الحراري للحمض.

        .center
            p <u>الأكاسيد المتذبذبة amphoteric oxides</u> هي أكاسيد تتفاعل مع <u>كلا</u> الأحماض والقواعد لإعطاء الملح والماء. تُشكل هذه الأكاسيد من بعض أشباه الفلزات وفلزات على خط الحدود ما بين الفلزات واللافلزات. على سبيل المثال، أكسيد الزنك هو متذبذب، لأنه يتفاعل مع الأحماض على على أنه أكسيد قاعدي ومع القواعد على أنه أكسيد حمضي (<a href="#fig_1.56">الصورة 1.56</a>).
            .figure <a id="fig_1.56" href="#fig_1.56">الصورة 1.56</a>
                div
                    h3(dir="ltr")
                        |ZnO + H<sub>2</sub>SO<sub>4</sub> = ZnSO<sub>4</sub> + H<sub>2</sub>O
                        br
                        |ZNO + 2NaOH = Na<sub>2</sub>ZnO<sub>2</sub> + H<sub>2</sub>O
                div 
                    p تفاعلات أكسيد الزنك المتذبذب مع كلا الأحماض والقواعد

            p الحمض المنتج من تفاعل الـ ZnO مع الـ NaOH (<a href="#fig_1.56">الصورة 1.56</a>، أسفل) يسمى بزنكات الصوديوم. في الواقع، فزنكات الصوديوم لديه هيكل تكوين مختلف عن المعروض في صيغة الـ Na<sub>2</sub>ZnO<sub>2</sub>. ولكن للتبسيط، سنستخدم هذه الصيغة في دورتنا هذه.

            p مثال آخر عن الأكاسيد المتذبذبة هو أكسيد الألومنيوم، Al<sub>2</sub>O<sub>3</sub>. هذه الفلزات التي تكون الأكاسيد المتذبذب أيضاً تكون الهيدروكسيدات المتذبذب. مثل الأكاسيد المتذبذبة، فالهيدروكسيدات المتذبذبة، مثل الـ Zn(OH)<sub>2</sub> أو Al(OH)<sub>3</sub>، تتفاعل مع كلا الأحماض والقواعد لإعطاء الملح والماء. سنتعرف أكثر على الهيدروكسيدات المتذبذبة لاحقاً في هذه الوحدة وأيضاً في الوحدة الثانية والثالثة.

            p <u>الأكاسد المتعادلة neutral oxidex</u> تمثل مجموعة صغيرة من الأكاسيد والتي لا تتفاعل مع أي من الأحماض أو القواعد. أمثلة على أكاسيد متعادلة تحتوي على أحادي أكسيد الكربون (CO) وأكسيد النيتروس (N<sub>2</sub>O).

            p بالمختصر المفيد، الفلزات عادة ما تشكل أكاسيد قاعدية، بينما تُشَكل الأكاسيد الحمضية من لافلزات. بعض الفلزات تذبذبية، مثل الـ ZnO و Al<sub>2</sub>O<sub>3</sub>. (ومن المثير للاهتمام، هناك حتى أكاسيد فلزية حمضية. هؤلاء معروفون فقط لبعض الفلزات الانتقالية في حالات تكافؤ عالي، مثل الـ CrO<sub>3</sub> و Mn<sub>2</sub>O<sub>7</sub>. سنتعرف على الفلزات الانتقالية في الوحدة الثانية.)

            h2 <a id="1.14.4" href="/1.14#1.14.4">1.14.4 إعداد الأكاسيد</a>
            p هناك العديد من الطرق لإعداد الأكاسيد.

            p 1) حرق مواد كيميائية بسيطة في الهواء أو الأكسجين (<a href="#fig_1.57">الصورة 1.57</a>)
            .figure <a id="fig_1.57" href="#fig_1.57">الصورة 1.57</a>
                div
                    h3(dir="ltr")
                        |2Mg + O<sub>2</sub> = 2MgO
                        br
                        |4P + 5O<sub>2</sub> = 2P<sub>2</sub>O<sub>5</sub>
                div 
                    p الكثير من المواد الكيميائية البسيطة مثل المغنيسيوم والفوسفور تتفاعل مع الأكسجين لإعطاء أكاسيد

            p 2) حرف مواد كيميائية معقدة (<a href="#fig_1.58">الصورة 1.58</a>)
            .figure <a id="fig_1.58" href="#fig_1.58">الصورة 1.58</a>
                div
                    h3(dir="ltr")
                        |2ZnS + 3O<sub>3</sub> = 2ZnO + 2SO<sub>2</sub>
                        br
                        |2CO + O<sub>2</sub> = 2CO<sub>2</sub>
                div 
                    p بعض المواد الكيميائية المعقدة التي تتفاعل مع الأكسجين لإعطاء أكاسيد

            p 3) التحلل الحراري (التجفاف) لبعض القواعد (<a href="#fig_1.59">الصورة 1.59</a>). تتحلل الهيدروكسيدات الفلزية اللاذوبانية في الماء بشكل أسرع من الذوبانية. مثلاً، الأزرق Cu(OH)<sub>2</sub> (لاذوباني في الماء) يتحلل إلى الأسود CuO في درجة حرارة ~200 °C، بينما الـ Ca(OH)<sub>2</sub> (ذوباني في الماء) يبدأ بالتحلل فقط فوق 500 °C.
            .figure <a id="fig_1.59" href="#fig_1.59">الصورة 1.59</a>
                div
                    h3(dir="ltr")
                        |Ca(OH)<sub>2</sub> = CaO + H<sub>2</sub>O
                        br
                        |2Fe(OH)<sub>3</sub> = Fe<sub>2</sub>O<sub>3</sub> + 3H<sub>2</sub>O
                div 
                    p الكثير من الهيدروكسيدات الفلزية تتحلل عند تسخينها لإعطاء أكاسيد فلزية وماء

            p 4) التحلل الحراري بعض الأحماض (<a href="#fig_1.60">الصورة 1.60</a>).
            .figure <a id="fig_1.60" href="#fig_1.60">الصورة 1.60</a>
                div
                    h3(dir="ltr")
                        |H<sub>2</sub>CO<sub>3</sub> = CO<sub>2</sub> + H<sub>2</sub>O
                        br
                        |H<sub>2</sub>SO<sub>3</sub> = SO<sub>2</sub> + H<sub>2</sub>O
                div
                    p بعض الأحماض تتحلل إلى أكاسيد لافلزية وماء

            p 5) التحلل الحراري لبعض الأملاح المحتوية على أكسجين (<a href="#fig_1.61">الصورة 1.61</a>)
            .figure <a id="fig_1.61" href="#fig_1.61">الصورة 1.61</a>
                div
                    h3(dir="ltr")
                        |CaCO<sub>3</sub> = CaO + CO<sub>2</sub>
                        br
                        |2Cu(NO<sub>3</sub>)<sub>2</sub> = 2CuO + 4NO<sub>2</sub> + O<sub>2</sub>
                div
                    p بعض الأملاح المحتوية على أكسجين تتحلل عند تسخينها لإعطاء أكاسيد


            h2 <a id="1.14.5" href="#1.14.5">1.14.5 الخواص الكيميائية للأكاسيد</a>
            p 1) تتفاعل الأكاسيد الفلزية واللافلزية لإعطاء هيدروكسيدات فلزات (قواعد) أو أحماض، على التوالي (<a href="#fig_1.62">الصورة 1.62</a>). تفاعلات <u>الهدرجة hydration</u> هذه تحدث بسهولة ما إذا كان الحمض أو القاعدة المنتج ذوباني في الماء. في المقابل، فهيدروكسيدات الفلزات والأحماض اللاذوبانية في الماء لا يُحصل عليها بسهولة عن طريق هدرجة الأكاسيد المقابلة. على سبيل المثال، الـ Cu(OH)<sub>2</sub> و H<sub>2</sub>SiO<sub>3</sub> اللاذوبانيان في الماء <u>لا</u> يُمكن تشكيلهم عن طريق إضافة الماء إلى الـ CuO و SiO<sub>2</sub>، على التوالي.
            .figure <a id="fig_1.62" href="#fig_1.62">الصورة 1.62</a>
                div
                    img(src="/imgs/fig_1.62.png" alt="")
                div
                    p تفاعل هدرجة الأكاسيد يكون سهلاً إذا كان المنتج الحمضي أو القاعدي ذوباني في الماء.

            p 2) الأكاسيد الحمضية (والمتذبذبة) تتفاعل مع القواعد لإعطاء الملح والماء (<a href="#fig_1.63">الصورة 1.63</a>).
            .figure <a id="fig_1.63" href="#fig_1.63">الصورة 1.63</a>
                div
                    h3(dir="ltr")
                        |SO<sub>3</sub> + 2NaOH = Na<sub>2</sub>SO<sub>4</sub> + H<sub>2</sub>O
                        br
                        |CO<sub>2</sub> + Ca(OH)<sub>2</sub> = CaCO<sub>3</sub> + H<sub>2</sub>O
                div
                    p الأكاسيد الحمضية تتفاعل مع القواعد لإعطاء الملح والماء

            p 3) الأكاسيد القاعدية (والمتذبذبة) تتفاعل مع الأحماض لإعطاء الملح والماء (<a href="#fig_1.64">الصورة 1.64</a>).
            .figure <a id="fig_1.64" href="#fig_1.64">الصورة 1.64</a>
                div
                    h3(dir="ltr")
                        |CuO + H<sub>2</sub>SO<sub>4</sub> = CuSO<sub>4</sub> + H<sub>2</sub>O
                        br
                        |Fe<sub>2</sub>O<sub>3</sub> + 6HNO<sub>3</sub> = 2Fe(NO<sub>3</sub>)<sub>3</sub> + 3H<sub>2</sub>O
                div
                    p الأكاسيد القاعدية تتفاعل مع الأحماض لإعطاء الملح والماء

            p 4) يستطيع عنصر تفاعلي أكثر على أن يستبدل عنصراً أقل تفاعلاً من أكسيده. تفاعلا أكسيد النحاس الثنائي مع الهيدروجين وأكسيد الحديد الثلاثي مع الألومنيوم المذكوران سابقاً هما مثالان نموذجيان لهذا النوع من التفاعل (<a href="#fig_1.65">الصورة 1.65</a>).
            .figure <a id="fig_1.65" href="#fig_1.65">الصورة 1.65</a>
                div
                    h3(dir="ltr")
                        |CuO + H<sub>2</sub> = Cu + H<sub>2</sub>O
                        br
                        |Fe<sub>2</sub>O<sub>3</sub> + 2Al = Al<sub>2</sub>O<sub>3</sub> + 2Fe
                div
                    p تفاعلات استبدال لأكاسيد

            p مثال رائع لهذا النوع من تفاعل الاستبدال هو حرق المغنيسيوم (Mg) في ثنائي أكسيد الكربون (<a href="#fig_1.66">الصورة 1.66</a>). شاهد هذا <a href="https://www.youtube.com/watch?v=NMZT2BAEtnc">الفيديو</a> لرؤية الشدية الهائلة لهذا الحرق حتى لو استُخدم الثلج الجاف (CO<sub>2</sub> صلب) البارد جداً (<span dir="ltr">-78 °C</span>) للتفاعل.
            .figure <a id="fig_1.66" href="#fig_1.66">الصورة 1.66</a>
                div
                    h3(dir="ltr")
                        |CO<sub>2</sub> + 2Mg = C + 2MgO
                div
                    p حرق المغنيسيوم في الـ CO<sub>2</sub>

            p 5) تستطيع الأكاسيد القاعدية أن تتفاعل مع الأكاسيد الحمضية (<a href="#fig_1.67">الصورة 1.67</a>).
            .figure <a id="fig_1.67" href="#fig_1.67">الصورة 1.67</a>
                div
                    h3(dir="ltr")
                        |CaO + SiO<sub>2</sub> = CaSiO<sub>3</sub>
                        br
                        |Na<sub>2</sub>O + CO<sub>2</sub> = Na<sub>2</sub>CO<sub>3</sub>
                div
                    p بعض الأكاسيد القاعدية تستطيع أن تتفاعل مع بعض الأكاسيد الحمضية

            p 6) أكاسيد بعض الفلزات مثل النحاس والزئبق تتحلل بسهولة عند التسخين لإعطاء الفلز والأكسجين (<a href="#fig_1.68">الصورة 1.68</a>).
            .figure <a id="fig_1.68" href="#fig_1.68">الصورة 1.68</a>
                div
                    h3(dir="ltr")
                        |2HgO = 2Hg + O<sub>2</sub>
                        br
                        |2Ag<sub>2</sub>O = 4Ag + O<sub>2</sub>
                div
                    p التحلل الحراري لأكسيدَي الزئبق والفضة

            p 7) أكاسيد عناصر ذات حالة تكافؤ منخفضة تستطيع أن تتفاعل مع الـ O<sub>2</sub> لإنتاج أكسيد لنفس العنصر ولكن في حالة أعلى (<a href="#fig_1.69">الصورة 1.69</a>).
            .figure <a id="fig_1.68" href="#fig_1.68">الصورة 1.68</a>
                div
                    h3(dir="ltr")
                        |2CO + O<sub>2</sub> = 2CO<sub>2</sub>
                        br
                        |2Cu<sub>2</sub>O + O<sub>2</sub> = 4CuO
                div
                    p يستطيع أكسيد منخفض التكافؤ أن يتفاعل مع الأكسجين لإعطاء أكسيد مرتفع التكافؤ

            h2 <a id="1.14.1" href="#1.14.1">1.14.6 تمارين</a>
            p.no_bottom 1. هناك أكاسيد سائلة، صلبة، وغازية في درجة حرارة وضغط المحيط. أهذا صحيح؟
            input.answer(type="checkbox" id="1")
            label(for="1") الجواب:
            span صحيح

            p.no_bottom 2. سمي الأكاسيد التالية:
                br
                |1) K<sub>2</sub>O
                br
                |2) Fe<sub>2</sub>O<sub>3</sub>
                br
                |3) FeO
                br
                |4) Mn<sub>2</sub>O<sub>7</sub>
                br
                |5) Cu<sub>2</sub>O
                br
                |6) CuO
                br
                |7) Al<sub>2</sub>O<sub>3</sub>
                br
                |8) CO<sub>2</sub>
                br
                |9) CO
                br
                |10) SO<sub>3</sub>
                br
                |11) SO<sub>2</sub>
                br
                |12) MgO
                br
                |13) H<sub>2</sub>O
                br
                |14) SiO<sub>2</sub>
                br
                |15) CaO
                br
                |16) ZnO
            input.answer(type="checkbox" id="2")
            label(for="2") الجواب:
            span
                br
                |1) K<sub>2</sub>O: أكسيد البوتاسيوم
                br
                |2) Fe<sub>2</sub>O<sub>3</sub>: أكسيد الحديد الثلاثي
                br
                |3) FeO: أكسيد النحاس الثنائي
                br
                |4) Mn<sub>2</sub>O<sub>7</sub>: أكسيد المنغنيز
                br
                |5) Cu<sub>2</sub>O: أكسيد النحاس الأحادي
                br
                |6) CuO: أكسيد النحاس الثنائي
                br
                |7) Al<sub>2</sub>O<sub>3</sub>: أكسيد الألومنيوم
                br
                |8) CO<sub>2</sub>: أكسيد الكربون الرباعي أو ثنائي أكسيد الكربون
                br
                |9) CO: أكسيد الكربون الثنائي أو أحادي أكسيد الكربون
                br
                |10) SO<sub>3</sub>: أكسيد الكبريت السداسي
                br
                |11) SO<sub>2</sub>: أكسيد الكبريت الرباعي
                br
                |12) MgO: أكسيد المغنيسيوم
                br
                |13) H<sub>2</sub>O: أكسيد الهيدروجين (الماء)
                br
                |14) SiO<sub>2</sub>:  أكسيد السيليكون الرباعي أو ثنائي أكسيد السيليكون
                br
                |15) CaO: أكسيد الكالسيوم
                br
                |16) ZnO: أكسيد الزنك

            p.no_bottom 3. اكتب الصيغ الكيميائي للأكاسيد التالية:
                br
                |1) أكسيد الصوديوم
                br
                |2) أكسيد الفوسفور الخماسي
                br
                |3) ثنائي أكسيد الكربون
                br
                |4) أكسيد الكالسيوم
                br
                |5) أكسيد التيتانيوم الرباعي
                br
                |6) أكسيد الفضة
                br
                |7) أكسيد النيتروجين الرباعي
                br
                |8) أكسيد النيتروجين الأحادي
                br
                |9) أكسيد تنجستن السداسي
            input.answer(type="checkbox" id="3")
            label(for="3") الجواب:
            span
                br
                |1) أكسيد الصوديوم: Na<sub>2</sub>O
                br
                |2) أكسيد الفوسفور الخماسي: P<sub>2</sub>O<sub>5</sub>
                br
                |3) ثنائي أكسيد الكربون: CO<sub>2</sub>
                br
                |4) أكسيد الكالسيوم: CaO
                br
                |5) أكسيد التيتانيوم الرباعي: TiO<sub>2</sub>
                br
                |6) أكسيد الفضة: Ag<sub>2</sub>O
                br
                |7) أكسيد النيتروجين الرباعي: NO<sub>2</sub>
                br
                |8) أكسيد النيتروجين الأحادي: N<sub>2</sub>O
                br
                |9) أكسيد تنجستن السداسي: WO<sub>3</sub>

            p.no_bottom 4. تحترق المواد الكيميائية في الأكسجين (أ) بشكل أقوى من الهواء؛ (ب) بنفس القوة في الهواء؛ (ت) بشكل أضعف من الهواء.
            input.answer(type="checkbox" id="4")
            label(for="4") الجواب:
            span (أ)

            p.no_bottom 5. اقترح تحولات كيميائية لصناعة الجير المطفأ من الحجر الجيري واكتب المعادلات الكيميائيات المتوازنات لهذه التفاعلات.
            input.answer(type="checkbox" id="5")
            label(for="5") الجواب:
            span
                | سخن الحجر الجيري ليتحلل إلى الجير الحي، CaCO<sub>3</sub> = CaO + CO<sub>2</sub>، ومن ثم عالج الجير الحي مع الماء، CaO + H<sub>2</sub>O = Ca(OH)<sub>2</sub>.

            p.no_bottom أنهي ووازن المعادلات الكيميائية التالية:
                br
                |a) حرق المغنيسيوم، Mg + O<sub>2</sub> =
                br
                |b) التحلل الحراري لأكسيد الفضة، Ag<sub>2</sub>O = 
                br
                |c) التحلل الحراري لهيدروكسيد الكالسيوم، Ca(OH)<sub>2</sub> =
                br
                |d) حرق الكبريت، S + O<sub>2</sub> =
                br
                |e) هدرجة ثلاثي أكسيد الكبريت، SO<sub>3</sub> + H<sub>2</sub>O =
                br
                |f) تفاعل أكسيد الفضة مع هيدروكسيد الصوديوم، Ag<sub>2</sub>O + NaOH =
                br
                |g) حرق أحادي أكسيد الكربون، CO + O<sub>2</sub> =
                br
                |h) حرق المغنيسيوم في ثنائي أكسيد الكربون، Mg + CO<sub>2</sub> =
                br
                |i) هدرجة ثنائي أكسيد السيليكون، SiO<sub>2</sub> + H<sub>2</sub>O
                br
                |j) اختزال أكسيد النحاس الثنائي مع الهيدروجين، CuO + H<sub>2</sub> =
            input.answer(type="checkbox" id="6")
            label(for="6") الجواب:
            span ستعثر على كل التفاعلات في هذا القسم، إلا لـ (d)، (f) و (i).
                br
                |d) هو: S + O<sub>2</sub> = SO<sub>2</sub>
                br
                |f) بما أنه أكسيد، فالـ Ag<sub>2</sub>O يتفاعل مع الأحماض ولكن لا يتفاعل مع القواعد (NaOH)
                br
                |i) الأكاسيد تتفاعل بكفائة فقط إذا كانت ذوبانية في الماء. انظر إلى <a href="#fig_1.62">الصورة 1.62</a>

            br
            br
            a.next(href="/1.15") الصفحة التالية ← 1.15
            a.previous(href="/1.13") 1.13 → الصفحة السابقة