include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.15 ماذا يجب علينا معرفته قبل أن نواصل
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.15 ماذا يجب علينا معرفته قبل أن نواصل
            p
                |- <a href="#1.15.1">1.15.1 تمهيد</a>
                br
                |- <a href="#1.15.2">1.15.2 الذي هو قاعدة يتفاعل مع الذي هو حمض والذي هو حمض يتفاعل مع الذي هو قاعدة</a>
                br
                |- <a href="#1.15.3">1.15.3 التفاعلات التي تصل إلى الإكمال</a>
                br
                |- <a href="#1.15.4">1.15.4 تمارين</a>
            hr
            h2 <a id="1.15.1" href="#1.15.1">1.15.1 تمهيد</a>
            p في الأقسام القادمة من هذه الوحدة، سنتعرف على عدد ليس بقليل من التفاعلات والتي تضم الكثير من الأحماض، القواعد، والأملاح. ربما ستجد كمية المعلومات هائلة ومتكررة حتى. بينما أنا أؤمن بشدة أن "التكرار هو أم التعليم"، فلتقليص كمية عمل الذاكرة والارتباك، يجب علينا أن نتعرف على مفهومان عامان والذان سيُعرضان في الأقسام اللاحقة، <a href="#1.15.2">1.15.2</a> و <a href="#1.15.3">1.15.3</a>.
            h2 <a id="1.15.2" href="#1.15.2">1.15.2 الذي هو قاعدة يتفاعل مع الذي هو حمض والذي هو حمض يتفاعل مع الذي هو قاعدة</a>

            p في عالم الكيمياء، الأحماض والقواعد هما كمتضادّان. القاعدة تتفاعل مع الحمض والحمض يتفاعل مع القاعدة. علاوة على ذلك، فالذي ليس حمضاً ولكنه ما زال حمضي (مثل الأكسيد الحمضي، أو الملح الحمضي) هو عرضة للتفاعل مع ما هو قاعدة. على نفس المنوال، فالذي ليس بالضرورة هيدروكسيد فلز ولكنه ما زال قاعدة (مثل الأكسيد القاعدي أو الملح القاعدي) هو عرضة للتفاعل مع ما هو حمضي.

            p - الأحماض تتفاعل مع القواعد (هيدروكسيدات الفلزات)، الأكاسيد القاعدية، والأملاح القاعدية.

            p - القواعد (هيدروكسيدات الفلزات) تتفاعل مع الأحماض، الأكاسيد الحمضية، والأملاح الحمضية.

            p - الهيدروكسيدات والأكاسيد التذبذبية تتفاعل مع كلا الأحماض والقواعد.

            p - الأكاسيد الحمضية تتفاعل مع الأكاسيد القاعدية.

            p بينما ندرس معاً في الأقسام القادمة، حاول بوسعك أن:
                br
                |1) تتعرف على الأحماض، مركبات الأحماض (الأكاسيد الحمضية والأملاح الحمضية)، القواعد ومركبات القواعد (الأكاسيد القاعدية والأملاح القاعدية) عن طريق صيغهم.
                br
                |2) راقب شركاء تفاعلاتهم.
                br
                |3) فكر بأي مواد كيميائية قاعدية وحمضية سيتفاعلون معهم.

            h2 <a id="1.15.3" href="#1.15.3">1.15.3 التفاعلات التي تصل إلى الإكمال</a>

            p أغلب التفاعلات التي ناقشناها تذهب في اتجاه واحد فقط. تفاعلات كهذه تسمى <u>باللاعكسية irreversible</u>. وعادةً ما يقال أن التفاعلات اللاعكسية هي التفاعلات التي <u>تصل إلى الإكمال</u>، أي أن التفاعل سيتواصل لحد ما تُستهلك الكواشف كلها. هناك أيضاً التفاعلات <u>العكسية reversible</u> والتي تستطيع الذهاب إلى كلا الأمام والخلف. كما ذكرنا بشكل بسيط في القسم الفرعي <a href="/1.12#1.12.7">1.12.7</a>. هذه التفاعلات بوضوح <u>لا</u> تصل إلى الإكمال لأن المنتاج المُشَكلة في التفاعل الأماماي تستطيع أن تتحول إلى المواد القديمة مرة أخرى عن طريق التفاعل العكسي. للعملية الكيميائية العكسية، كلا التفاعلان الأمامي والخلفي يحدثان دائماً وبلا توقف.

            p <a href="#fig_1.70">الصورة 1.70</a> تعطي مثالين أحدهما تفاعل يصل إلى الإكمال والآخر لا يصل. عندما يضاف محلول AgNO<sub>3</sub> إلى محلول NaCl، يتشكل الـ AgCl الأبيض والترسبي على الفور. يمكن فصل الـ AgCl بالترشيح والمنتج الآخر، NaNO<sub>3</sub> يمكن أن يفصل بتبخر المُرشَّح. إذا خُلطت الكواشف بنسبة 1:1، فكلاهما سيُستهلك تماماً للتفاعل.

        .center.extra 
            .figure <a id="fig_1.70" href="#fig_1.70">الصورة 1.70</a>
                div
                    h3(dir="ltr")
                        |<span class="blue_vibrant">يصل إلى الإكمال (تفاعل لاعكسي)</span>&nbsp;&nbsp;AgNO<sub>3</sub> + NaCl = NaNO<sub>3</sub> + AgCl↓
                        br
                        |<span class="pink">لا يصل إلى الإكمال (تفاعل عكسي)</span>&nbsp;&nbsp;KNO<sub>3</sub> + NaCl = NaNO<sub>3</sub> + KCl
                div
                    p تفاعل واحد (الأعلى) يصل إلى الإكمال، بينما الآخر (الأسفر) لا يصل.

        .center

            p إعادة التجربة مع الـ KNO<sub>3</sub> بدلاً من الـ AgNO<sub>3</sub> لن ينتج أي ترسبات (<a href="#fig_1.70">الصورة 1.70</a>، الأسفل). يبقى المحلول صافياً. تبخر المحلول وذهاب الماء يُعطي خليطاً من الأملاح الأربعة، المادتين الناتجتين (NaNO<sub>3</sub> و KCl) والمادتين الأوّليتَين (KNO<sub>3</sub> و NaCl). هذا التفاعل <u>لا</u> يصل إلى الإكمال.

            p في الأقسام الفرعية الثلاثة التالية سنتعرف على كمية جيدة من تفاعلات تتضمن أحماض، قواعد، وأملاح في محاليل، والذين كلهم يصلون إلى الإكمال. ولكن كيف نستطيع معرفة ما إذا كان سيصل التفاعل إلا الإكمال أم لا؟ فقط تذكر القواعد البسيطة أدناه.

            p التفاعل في محلول يصل إلى الإكمال إذا كان أحد المنتجات إما:
                br
                |1) ماءً؛
                br
                |2) لاذوباني (أو ضعيف الذوبانية) ويترسب؛
                br
                |3) غازاً يهرب من خليط التفاعل

            p يُتعرف على الماء ببساطة من صيغته، ولكن كيف بوسعنا معرفة ما إذا كان المنتج غازاً أو مترسباً في تفاعل ما بالنظر إلى معادلته الكيميائية؟ السهم المشير إلى أعلى والمشير إلى أسفل بعد صيغة منتج في معادلة كيميائية ما يُشير إلى ما إذا كان غازاً أو مترسباً، على التوالي. ولكن كيف بوسعنا معرفة ذلك إذا لم تكن الأسهم مرسومة؟

            p ليس هناك الكثير من الغازات والأصلاب اللاذوبانية التي نحتاج حفظها لنكون مرتاحين مع دراستنا لأغلب التفاعلات المشروحة في هذه الوحدة.

            p الغازات: الهيدروجين (H<sub>2</sub>)؛ الأكسجين (O<sub>2</sub>)؛ ثنائي أكسيد الكربون (CO<sub>2</sub>).
            p الترسبات الشائعة المنتجة في التفاعلات:
                br
                |<u>الأملاح</u>: كلوريد الفضة (AgCl) والبروميد (AgBr) واليوديد (AgI)؛ كبريتات الباريوم والكالسيوم (BaSO<sub>4</sub> و CaSO<sub>4</sub>)؛ كربونات الكالسيوم (CaCO<sub>3</sub>).
                br
                |<u>هيدروكسيدات الفلزات</u>: كل هيدروكسيدات الفلزات، إلا الـ NaOH ،KOH ،Ba(OH)<sub>2</sub> ،Ca(OH)<sub>2</sub> (وأيضاً الأعجب CsOH ،RbOH ،LiOH).
                br
                |أمثلة على ذلك (هيدروكسيدات الفلزات) تحتوي على Cu(OH)<sub>2</sub> ،Fe(OH)<sub>2</sub> ،Fe(OH)<sub>3</sub> ،Al(OH)<sub>3</sub> ،Zn(OH)<sub>2</sub>
                br
                |<u>الأحماض</u>: حمض السيليسيك (H<sub>2</sub>SiO<sub>3</sub>)، والذي عادة ما يترسب من المحلول على شكل هلام (انظر إلى القسم التالي والوحدة الثالثة).

            h2 <a id="1.15.4" href="#1.15.4">1.15.4 تمارين</a>

            p.no_bottom 1. هل تتوقع من الـ NaOH أن يتفاعل مع
                br
                |1) HCl
                br
                |2)Ca(OH)<sub>2</sub>
                br
                |3) MgO
                br
                |4) CO<sub>2</sub>
                br
                |5) Zn(OH)<sub>2</sub>
                br
                |6) H<sub>2</sub>SiO<sub>3</sub>
                br
                |اكتب المعادلة الكيميائية للتفاعلات التي ستحدث.
            input.answer(type="checkbox" id="1")
            label(for="1") الجواب:
            div
                p.no_top الـ NaOH هو قاعدة قوية. لذلك فسيتفاعل مع الأحماض والأكاسيد والهيدروكسيدات الحمضية والمتذبذبة.
                p 1) الـ HCl هو حمض قوي: NaOH + HCl = NaCl + H<sub>2</sub>O
                p 2) لا يتفاعل مع القواعد، بما فيهم الـ Ca(OH)<sub>2</sub>
                p 3) لا يتفاعل مع الأكاسيد، بما فيهم الـ MgO
                p 4) الـ CO<sub>2</sub> هو أكسيد حمضي:
                    br
                    |2NaOH + CO<sub>2</sub> = Na<sub>2</sub>CO<sub>3</sub> + H<sub>2</sub>O (NaOH فائض)
                    br
                    |NaOH + CO<sub>2</sub> = NaHCO<sub>3</sub> (CO<sub>2</sub> فائض)
                p 5) الـ Zn(OH)<sub>2</sub> هو متذبذب: NaOH + Zn(OH)<sub>2</sub> = Na<sub>2</sub>ZnO<sub>2</sub> + 2H<sub>2</sub>O
                p 6) الـ H<sub>2</sub>SiO<sub>3</sub> هو حمض: 2NaOH + H<sub>2</sub>SiO<sub>3</sub> = Na<sub>2</sub>SiO<sub>3</sub> + 2H<sub>2</sub>O

            p.no_bottom 2. هل تتوقع من الـ SO<sub>3</sub> أن يتفاعل مع
                br
                |1) HCl
                br
                |2) Mg(OH)<sub>2</sub>
                br
                |3) CaO
                br
                |4) CO<sub>2</sub>
                br
                |5) Ag<sub>2</sub>O
                br
                |اكتب المعادلة الكيميائية للتفاعلات التي ستحدث.
            input.answer(type="checkbox" id="q2")
            label(for="q2") الجواب:
            div
                p.no_top الـ SO<sub>3</sub> هو أكسيد حمضي. لذلك فسيتفاعل مع القواعد والمواد القاعدية.
                    br
                    |1) الـ HCl هو حمض، أي لا تفاعل
                    br
                    |2) الـ Mg(OH)<sub>2</sub> هو قاعدة: SO<sub>3</sub> + Mg(OH)<sub>2</sub> = MgSO<sub>4</sub> + H<sub>2</sub>O
                    br
                    |3) الـ CaO هو أكسيد قاعدي: SO<sub>3</sub> + CaO = CaSO<sub>4</sub>
                    br
                    |4) الـ CO<sub>2</sub> هو أكسيد حمضي، أي لا تفاعل.
                    br
                    | الـ Ag<sub>2</sub>O هو أكسيد قاعدي: SO<sub>3</sub> + Ag<sub>2</sub>O = Ag<sub>2</sub>SO<sub>4</sub>

            p 3. حدد التفاعلات التالية التي تصل إلى الإكمال.
            p 1) H<sub>2</sub>SO<sub>4</sub> + Ba(OH)<sub>2</sub> = BaSO<sub>4</sub> + 2H<sub>2</sub>O
            p 2) H<sub>2</sub>SO<sub>4</sub> + BaCl<sub>2</sub> = BaSO<sub>4</sub> + 2HCl
            p 3) 2HNO<sub>3</sub> + BaCl<sub>2</sub> = Ba(NO<sub>3</sub>)<sub>2</sub> + 2HCl
            p 4) Ag<sub>2</sub>O + 2HCl = 2AgCl + H<sub>2</sub>O
            p 5) Ag<sub>2</sub>O + 2HNO<sub>3</sub> = 2AgNO<sub>3</sub> + H<sub>2</sub>O
            p 6) KBr + NaCl = KCl + NaBr
            p 7) 2NaOH + H<sub>2</sub>S = Na<sub>2</sub>S + 2H<sub>2</sub>O
            p 8) 2H<sub>2</sub>O<sub>2</sub> = 2H<sub>2</sub>O + O<sub>2</sub>
            p 9) 2HCl + MgO = MgCl<sub>2</sub> + H<sub>2</sub>O
            p 10) 2NaCl + Ba(OH)<sub>2</sub> = 2NaOH + BaCl<sub>2</sub>
            p 11) Ca(NO<sub>3</sub>)<sub>2</sub> + K<sub>2</sub>CO<sub>3</sub> = CaCO<sub>3</sub> + 2KNO<sub>3</sub>
            p 12) 2Na + 2H<sub>2</sub>O = 2NaOH + H<sub>2</sub>
            p 13) ZnO + 2NaOH = Na<sub>2</sub>ZnO<sub>2</sub> + H<sub>2</sub>O 
            p 14) CaCO<sub>3</sub> + 2HCl = CaCl<sub>2</sub> + CO<sub>2</sub> + H<sub>2</sub>O
            p 15) Zn + H<sub>2</sub>SO<sub>4</sub> = ZnSO<sub>4</sub> + H<sub>2</sub>
            p 16) Cu(OH)<sub>2</sub> + 2HNO<sub>3</sub> = Cu(NO<sub>3</sub>)<sub>2</sub> + 2H<sub>2</sub>O
            input.answer(type="checkbox" id="q3")
            label(for="q3") الجواب:
            span 1, 2, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16

            br
            br
            a.next(href="/1.16") الصفحة التالية ← 1.16
            a.previous(href="/1.14") 1.14 → الصفحة السابقة