include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.16 الفئات الرئيسية للمركبات اللاعضوية: الأحماض
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.16 الفئات الرئيسية للمركبات اللاعضوية: الأحماض
            p
                |- <a href="#1.16.1">1.16.1 ملاحظات عامة</a>
                br
                |- <a href="#1.16.2">1.16.2 إعداد الأحماض</a>
                br
                |- <a href="#1.16.3">1.16.3 الخواص الكيميائية للأحماض</a>
                br
                |- <a href="#1.16.4">1.16.4 تمارين</a>
            hr

            h2 <a id="1.16.1" href="#1.16.1">1.16.1 ملاحظات عامة</a>

            p دعنا نستذكر أن الأحماض هي مركبات كيميائية تحتوي على ذراة هيدروجين والتي يُستطاع استبدالها مع ذرة فلز. الأحماض لديهم أسامي شائعة (<a href="/1.12#table_2">الجدول 2</a> في القسم 1.12) التي يجب حفظها. مثل الأكاسيد، فالأحماض وفيرة في الطبيعة. ولكن أغلب الأحماض الطبيعية عضوية. منهم حمض الالستريك (الفاكهة)، الفورميك (النمل)، الأسيتيك (النباتات، الفاكهة) واللاكتيك (الحليب). على عكس الأحماض العضوية، فالأحماض اللاعضوية، أيضاً ما تُعرف بالأحماض المعدنية، هي ليست بالمنتشرة فالطبيعة ويجب صناعتها من أجل تطبيقات كثيرة مختلفة.

        .center.red_box
            p ننحرف قليلاً. ربما سمعت عن "رحلات" الحمض" والـ <a href="https://ar.wikipedia.org/wiki/%D8%AB%D9%86%D8%A7%D8%A6%D9%8A_%D8%A5%D9%8A%D8%AB%D9%8A%D9%84_%D8%A3%D9%85%D9%8A%D8%AF_%D8%AD%D9%85%D8%B6_%D8%A7%D9%84%D9%84%D9%8A%D8%B3%D8%B1%D8%AC%D9%8A%D9%83">LSD</a> والذي عادةً ما يُلقب بـ"الحمض". في الواقع، فالـ LSD <u>ليس</u> بحمض في المنطق الكيميائية، ولكنه اشتقاق من حمض ليسرجيك، إنه ثنائي إيثيلاميد.

        .center
            h2 <a id="1.16.2" href="#1.16.2">1.16.2 إعداد الأحماض</a>
            p الأحماض الذوبانية في الماء تُعد عبر معالجة أكسيد حمضي مع الماء (<a href="#fig_1.71">الصورة 1.71</a>). أهم سعلة حمضية كيميائية، حمض الكبريتيك (H<sub>2</sub>SO<sub>4</sub>)، يصنع فهذه الطريقة.
            .figure <a id="fig_1.71" href="#fig_1.71">الصورة 1.71</a>
                div
                    h3(dir="ltr")
                        |SO<sub>3</sub> + H<sub>2</sub>O = H<sub>2</sub>SO<sub>4</sub>
                        br
                        |P<sub>2</sub>O<sub>5</sub> + 3H<sub>2</sub>O = 2H<sub>3</sub>PO<sub>4</sub>
                div
                    p تفاعل الـ SO<sub>3</sub> والـ P<sub>2</sub>O<sub>5</sub> مع الماء لإعطاء حمض الكبريتيك والفوسفوريك، على التوالي.

            p يستطيع حمض قوي أن يتفاعل مع ملح حمض أضعف لإعطاء الحمض الضعيف وملح أقوى. عمليات كهذه هي عملية تبادل نموذجية. بما أنه من أقوى الأحماض المعدنية، عادةً ما يُستخدم حمض الكبريتيك صناعة أحماض أخرى بهذه الطريقة (<a href="#fig_1.72">الصورة 1.72</a>).
            .figure <a id="fig_1.72" href="#fig_1.72">الصورة 1.72</a>
                div
                    img.portrait(src="/imgs/fig_1.72.png" alt="")

                div
                    p تفاعل الـ SO<sub>3</sub> والـ P<sub>2</sub>O<sub>5</sub> مع الماء لإعطاء حمض الكبريتيك والفوسفوريك، على التوالي.
            p لاستخدام هذه الطريقة لأغراض عملية، فيجب أن يكون هناك طريقة بسيطة وفعالة لعزل الحمض المنتج من خليط التفاعل. يُفعل ذلك بسهولة إذا كان أحد المنتجان غازاً يهرب من محيط التفاعل أو مترسباً يُستطاع فصله بالترشيح. المعادلة العليا في <a href="#fig_1.72">الصورة 1.72</a> هي للتفاعل أالأكثر استخداماً في المختبرات لصناعة HCl صافي. تسخين خليط NaCl مع H<sub>2</sub>SO<sub>4</sub> مركز يُنتج غاز الـ HCl والذي يمكن جمعه واستخدامه.

        .center.red_box
            p ننحرف قليلاً. بينما في المختبرات يُصنع الـ HCl من الـ NaCl و H<sub>2</sub>SO<sub>4</sub> (<a href="#fig_1.72">الصورة 1.72</a>)، فالصناعات تحصل على الـ HCl كمنتج ثانوي عن طريق كلورة مركبات عضوية، أكثر الأحيان الميثان (CH<sub>4</sub>). سنتعرف على بعض هذه التفاعلات في الوحدة الرابعة من هذه الدورة.

        .center
            p المعادلة الوسطى في <a href="#fig_1.72">الصورة 1.72</a> تري التفاعل الذي هو أقرب ما يكون علاقة مع التفاعل المستخدم لصناعة حمض الفوسفوريك على نطاق صناعي واسع (الوحدة الثالثة). هز الـ Ca<sub>3</sub>(PO<sub>4</sub>)<sub>2</sub> مع H<sub>2</sub>SO<sub>4</sub> يؤدي إلى تشكل الـ H<sub>3</sub>PO<sub>4</sub> واللاذوباني CaSO<sub>4</sub> والذي يمكن فصله بالترشيح.

            p المعادلة السفلى في <a href="#fig_1.72">الصورة 1.72</a> تري حالة خاصة. حمض السيليسيك (H<sub>2</sub>SiO<sub>3</sub>) المنتج في هذا التفاعل هو لاذوباني في الماء، ولكنه مع ذلك لا يترسب من المحلول بالمعنى التقليدي ولا يمكن عزله بالترشيح. الجسيمات في حمض السيليسيك المُشكلة في هذا التفاعل هي صغيرة، وتُشكل <a href="https://ar.wikipedia.org/wiki/%D8%AD%D9%84%D8%A7%D9%84%D8%A9">حُلالة sol</a>، <u>محلول غرواني colloidal solution</u> الذي يبدوا كسائل مبهم وغائم (<a href="#fig_1.73">الصورة 1.73</a>).هذه جسيمات الصغيرة المسمى تقليدياً <a href="https://ar.wikipedia.org/wiki/%D8%BA%D8%B1%D9%88%D8%A7%D9%86%D9%8A#%D8%AA%D8%B5%D9%86%D9%8A%D9%81_%D8%A7%D9%84%D8%BA%D8%B1%D9%88%D9%8A%D8%A7%D8%AA">بالغرويات calloids</a>، قد صار لها اسماً جديداً ونزوة "جسيمات نانوية". الرغويات هي مواد كيميائية مثيرة للاهتمام ومهمة كثيراً والتي تدرس في فرع خاص من الكيمياء، يسمى بكيمياء الرغويات Calloidal Chemistry.


            .figure <a id="fig_1.73" href="#fig_1.73">الصورة 1.73</a>
                div
                    img(src="/imgs/fig_1.73.webp" alt="")

                div
                    p محلول رغواني من حمض السيليسيك (<a href="https://s.alicdn.com/@sc04/kf/HTB1mtNcbDTI8KJjSsph763FppXaP.png_960x960.png">المصدر</a>)

            h2 <a id="1.16.3" href="#1.16.3">1.16.3 الخواص الكيميائية للأحماض</a>
            p كما نعرف سابقاً، فالتحول الكيميائي الأكثرة عمومية وأهمية للأحماض هو تفاعلاتهم مع القواعد (هيدروكسيدات الفلزات) لإعطاء الماء والملح (التعادل). ونعرف أيضاً أن الأحماض تتفاعل مع الأكاسيد القاعدية لإعطاء الماء والملح، ومع بعض الفلزات لإعطاء الملح والهيدروجين. دعنا نلخص ونوسع معرفتنا بالخواص الكيميائية للأحماض.

            p 1) تعادل الأحماض مع القواعد وهيدروكسيدات متذبذبات لإعطاء الملح والماء (<a href="#fig_1.74">الصورة 1.74</a>).
            .figure <a id="fig_1.74" href="#fig_1.74">الصورة 1.74</a>
                div
                    h3(dir="ltr")
                        |HBr + KOH = KBr + H<sub>2</sub>O
                        br
                        |2HNO<sub>3</sub> + Ba(OH)<sub>2</sub> = Ba(NO<sub>3</sub>)</sub>2</sub> + H<sub>2</sub>O
                        br
                        |H<sub>2</sub>SO<sub>4</sub> + Zn(OH)<sub>2</sub> = ZnSO<sub>4</sub> + 2H<sub>2</sub>O
                div
                    p أمثلة على تفاعلات تعادل

            p 2) تتفاعل الأحماض مع الأكاسيد القاعدية والمتذبذبة لإعطاء الملح والماء (<a href="#fig_1.75">الصورة 1.75</a>).
            .figure <a id="fig_1.75" href="#fig_1.75">الصورة 1.75</a>
                div
                    h3(dir="ltr")
                        |H<sub>2</sub>SO<sub>4</sub> + CuO = CuSO<sub>4</sub> + H<sub>2</sub>O
                        br
                        |2HNO<sub>3</sub> + ZnO = Zn(NO<sub>3</sub>)<sub>2</sub> + H<sub>2</sub>O
                div
                    p أمثلة على تفاعلات أحماض مع أكاسيد قاعدية (الأعلى) وتذبذبية (أسفل)

            p 3) تتفاعل الأحماض مع الكثير من الفلزات لإعطاء الهيدروجين والملح (<a href="#fig_1.76">الصورة 1.76</a>).
            .figure <a id="fig_1.76" href="#fig_1.76">الصورة 1.76</a>
                div
                    h3(dir="ltr")
                        |H<sub>2</sub>SO<sub>4</sub> + Zn = ZnSO<sub>4</sub> + H<sub>2</sub>↑
                        br
                        |2HCl + Mg = MgCl<sub>2</sub> + H<sub>2</sub>↑
                div
                    p أمثلة على تفاعلات أحماض مع فلزات

            p بعض الفلزات تتفاعل بسهولة مع الأحماض، والبعض ليس بتلك بسهولة، والبعض الآخر لا يتفاعل أبداً. ترتيب التفاعلية لفلزات تجاه للأحماض معروض في <a href="#fig_1.77">الصورة 1.77</a>.
            .figure <a id="fig_1.77" href="#fig_1.77">الصورة 1.77</a>
                div
                    img(src="/imgs/fig_1.77.png" alt="")
                div
                    p ترتيب تفاعليات فلزات محددة تجاه الأحماض
            p في <a href="#fig_1.77">الصورة 1.77</a>، الفلزات التي على يمين رمز الهيدروجين (الرموز السوداء) لا تستبدل الهيدروجين من الأحماض. التي على اليسار (الرموز الحمراء) يستبدلون، تفاعليتهم تزيد من اليمين إلى اليسار. سنعرف لماذا عن قريب. للوقت الحالي، دعنا فقط نتذكر أن قدرة فلزات مختلفة للتفاعل مع الأحماض قد تكون مختلفة جداً. على سبيل المثال، بينما القصدير (Sn) يتفاعل بشكل مثير للشفقة مع الـ HCl، <a href="https://www.youtube.com/watch?v=B9QLaN0bDSc">فتفاعل الزنك</a> (Zn) هو قوي، <a href="https://www.youtube.com/watch?v=CXDhdVMKKF4">الصوديوم</a> (Na) عنيف، <a href="https://www.youtube.com/watch?v=53T5WZHQ_Ck">والبوتاسيوم</a> (K) على أعنف من ذلك. تفاعل الـ HCl مع الـ K هو تفاعل مذهل (وخطر أيضاً)!

            p 4) تتفاعل الأحماض مع بعض الأملاح لإعطاء أملاح حمضية (<a href="#fig_1.78">الصورة 1.78</a>).
            .figure <a id="fig_1.78" href="#fig_1.78">الصورة 1.78</a>
                div
                    h3(dir="ltr")
                        |H<sub>2</sub>SO<sub>4</sub> + Na<sub>2</sub>SO<sub>4</sub> = NaHSO<sub>4</sub>
                        br
                        |H<sub>2</sub>CO<sub>3</sub> + CaCO<sub>3</sub> = Ca(HCO<sub>3</sub>)<sub>2</sub>
                div
                    p أمثلة على تفاعلات أحماض مع أملاح لإعطاء أملاح حمضية

            h2 <a id="1.16.4" href="#1.16.4">1.16.4 تمارين</a>

            p.no_bottom 1. كلا الأحماض العضوية واللاعضوية (المعدنية) هي منتشرة في الطبيعة. أهذا صحيح؟
            input.answer(type="checkbox" id="q1")
            label(for="q1") الجواب:
            span خاطئ. الأحماض العضوية فعلاً منتشرة، ولكن الأحماض المعدنية ليست بكذلك.

            p.no_bottom 2. الطريقة التي تستخدمها المصانع لصناعة الـ HCl هي مبنية على تفاعل الـ H<sub>2</sub>SO<sub>4</sub> مع الـ NaCl (<a href="#fig_1.72">الصورة 1.72</a>، الأسفل). أهذا صحيح؟
            input.answer(type="checkbox" id="q2")
            label(for="q2") الجواب:
            span خاطئ. تفاعل الـ H<sub>2</sub>SO<sub>4</sub> مع الـ NaCl هو طريقة مختبرية لصناعة الـ HCl بكميات قليلة. في الصناعات، يُصحل على الـ HCl كمنتج ثانوي من تفاعلات كلورة لبعض المركبات العضوية.

            p 3. أنهي ووازن المعادلات التالية:

            p(dir="ltr") a) H<sub>2</sub>SO<sub>4</sub> + Mg =

            p(dir="ltr") b) SO<sub>3</sub> + H<sub>2</sub>O =

            p(dir="ltr") c) SO<sub>3</sub> + KOH (فائض) =

            p(dir="ltr") d) CaCO<sub>3</sub> + HCl (فائض) =

            p(dir="ltr") e) H<sub>3</sub>PO<sub>4</sub> + NaOH (فائض) =

            p(dir="ltr") f) HNO<sub>3</sub> + Cu(OH)<sub>2</sub> =

            p(dir="ltr") g) H<sub>2</sub>SO<sub>4</sub> + BaCl<sub>2</sub> =

            p(dir="ltr") h) P<sub>2</sub>O<sub>5</sub> + H<sub>2</sub>O =

            input.answer(type="checkbox" id="q3")
            label(for="q3") الجواب:
            div(dir="ltr")
                p
                    |a) H<sub>2</sub>SO<sub>4</sub> + Mg = MgSO<sub>4</sub> + H<sub>2</sub>↑
                    br
                    |b) SO<sub>3</sub> + H<sub>2</sub>O = H<sub>2</sub>SO<sub>4</sub>
                    br
                    |c) SO<sub>3</sub> + 2KOH = K<sub>2</sub>SO<sub>4</sub> + H<sub>2</sub>O
                    br
                    |d) CaCO<sub>3</sub> + 2HCl = CaCl<sub>2</sub> + H<sub>2</sub>O + CO<sub>2</sub>↑
                    br
                    |e) H<sub>3</sub>PO<sub>4</sub> + 3NaOH = Na<sub>3</sub>PO<sub>4</sub> + 3H<sub>2</sub>O
                    br
                    |f) 2HNO<sub>3</sub> + Cu(OH)<sub>2</sub> = Cu(NO<sub>3</sub>)<sub>2</sub> + 2H<sub>2</sub>O
                    br
                    |g) H<sub>2</sub>SO<sub>4</sub> + BaCl<sub>2</sub> = BaSO<sub>4</sub>↓ + 2HCl
                    br
                    |h) P<sub>2</sub>O<sub>5</sub> + 3H<sub>2</sub>O = 2H<sub>3</sub>PO<sub>4</sub>
            
            br
            br
            a.next(href="/1.17") الصفحة التالية ← 1.17
            a.previous(href="/1.15") 1.15 → الصفحة السابقة