include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.17 الفئات الرئيسية للمركبات اللاعضوية: القواعد (هيدروكسيدات الفلزات)
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.17 الفئات الرئيسية للمركبات اللاعضوية: القواعد (هيدروكسيدات الفلزات)
            p
                |- <a href="#1.17.1">1.17.1 ملاحظات عامة والتسمية</a>
                br
                |- <a href="#1.17.2">1.17.2 إعداد قواعد هيدروكسيدات الفلزات</a>
                br
                |- <a href="#1.17.3">1.17.3 الخواص الكيميائية للقواعد. تجربة: تفاعل ألومنيوم مع الـ NaOH</a>
                br
                |- <a href="#1.17.4">1.17.4 تمارين</a>
            hr
            h2 <a id="1.17.1" href="#1.17.1">1.17.1 ملاحظات عامة والتسمية</a>
            p قد عرفنا سابقاً، أن القاعدة هي مركب يتكون من ذرة فلز ومجموعة OH واحدة أو أكثر موصولة بها. هيدروكسيدات الفلزات هي ليست الشائعة في الطبيعة مثل المعادن الأخرى. أمثلة على فلزات هيدروكسيدية تضم:
                br
                |الجبسيت (Al(OH)<sub>3</sub>)
                br
                |البروسيت (Mg(OH)<sub>2</sub>)
                br
                |<span dir="ltr">portlandite</span> (Ca(OH)<sub>2</sub>)
                br
                |<span dir="ltr">spertiniite</span> (Cu(OH)<sub>2</sub>)
                br
                |<span dir="ltr">dzhalindite</span> (In(OH)<sub>3</sub>)
                br
                |<span dir="ltr">sweetite</span> (Zn(OH)<sub>2</sub>)

            p تسمية الهيدروكسيدات هي بسيطة ومشابهة للأكاسيد. لتسمية هيدروكسيد فلز قاعدي، نقول أولاً "هيدروكسيد" ثم اسم الفلز. إذا كان للفلز أكثر من حالة تكافؤ واحدة وبذلك يُشكل أكثر من هيدروكسيد واحد، فيُقال عدد التكافؤ بعد اسم الفلز. مثلاً:
                br
                |Fe(OH)<sub>2</sub> هو هيدروكسيد الحديد الثنائي
                br
                |Fe(OH)<sub>3</sub> هو هيدروكسيد الحديد الثلاثي
            
            h2 <a id="1.17.2" href="#1.17.2">1.17.2 إعداد قواعد هيدروكسيدات الفلزات</a>
            p الصناعات الكيميائية تنتج الـ NaOH، KOH، و Ca(OH)<sub>2</sub> بكميات ضخمة. كلا القلويان NaOH و KOH، يُصَنعا عن طريق <span class="term">التحليل الكهربائي electrolysis</span> لمحاليل مائية من الـ NaCl و KCl، على التوالي (<a href="#fig_1.79">الصورة 1.79</a>). التحلل الكهربائي هو تفاعل كيميائي ناجم عن تمرير تيار كهربائي مستمر خلال مركب كيميائي في محلول أو في حالة ذوبانه. سيكون هناك قسم للتحلل الكهربائي في الوحدة 2. للوقت الحالي، دعنا فقط معرفة حقيقة  أن الـ NaOH و KOH يُصَنعا من الأملاح الكلوريدية المقابلة باستخدام الكربهاء.

            .figure <a id="fig_1.79" href="#fig_1.79">الصورة 1.79</a>
                div
                    h3(dir="ltr")
                        |2NaCl + 2H<sub>2</sub>O = 2NaOH + Cl<sub>2</sub> + H<sub>2</sub>
                div
                    p التحلل الكهربائي للـ NaCl في الماء

            p كميات كبيرة من الـ Ca(OH)<sub>2</sub> تصنع عن طريق هدرجة الـ CaO (<a href="#fig_1.80">الصورة 1.80</a>).
            .figure <a id="fig_1.80" href="#fig_1.80">الصورة 1.80</a>
                div
                    h3(dir="ltr")
                        |CaO + H<sub>2</sub>O = Ca(OH)<sub>2</sub>
                div
                    p تفاعل أكسيد الكالسيوم مع الماء

            p في المختبر، يُستخدم المتوفر تجارياً NaOH، KOH، و Ca(OH)<sub>2</sub> لإعداد هيدروكسيدات لاذوبانية لفلزات أخرى. لبعض الأمثلة، انظر إلى (<a href="#fig_1.81">الصورة 1.81</a>). تُفصل الهيدروكسيدات المرسبة بالترشيح، تُنظف بالماء، وتُجفف إذا كان لازماً. يجب التوخي بالحذر مع التجفيف لأنه في درجات حرارةً مرتفعة كهذه فمن الممكن للهيدروكسيدات أن تتحلل إلى الأكاسيد المقابلة والماء.

            .figure <a id="fig_1.81" href="#fig_1.81">الصورة 1.81</a>
                div
                    h3(dir="ltr")
                        |CuSO<sub>4</sub> + 2NaOH = Cu(OH)<sub>2</sub>↓ + Na<sub>2</sub>SO<sub>4</sub>
                        br
                        |Fe(NO<sub>3</sub>)<sub>3</sub> + 3KOH = Fe(OH)<sub>3</sub>↓ + 3KNO<sub>3</sub>
                div
                    p ترسب اللاذوبانيان Cu(OH)<sub>2</sub> و Fe(OH)<sub>3</sub> عند إضافة القلوي (KOH أو NaOH) إلى الـ CuSO<sub>4</sub> و Fe(NO<sub>3</sub>)<sub>3</sub>، على التوالي.

            p لتفاعلات كهذه، يمكن استخدام الـ NaOH و KOH بالتبادل. أي أنه لصنع الـ Cu(OH)<sub>2</sub> من CuSO<sub>4</sub>، فيمكن استخدام الـ KOH بدلاً من الـ NaOH: CuSO<sub>4</sub> + 2KOH = Cu(OH)<sub>2</sub>↓ + K<sub>2</sub>SO<sub>4</sub>. وعلى نفس المنوال، فيُمكن تكوين الـ Fe(OH)<sub>3</sub> باستخدام الـ NaOH بدلاً من الـ KOH: Fe(NO<sub>3</sub>)<sub>3</sub> + 3NaOH = Fe(OH)<sub>3</sub>↓ + 3MaNO<sub>3</sub>.

            p لاحظ أنه لأغلب التفاعلات الكيميائية المحتوية على قلويات ككواشف، فكلا الـ NaOH و KOH يمكن استخدامهما.
            
            h2 <a id="1.17.3" href="#1.17.3">1.17.3 الخواص الكيميائية للقواعد. تجربة: تفاعل ألومنيوم مع الـ NaOH</a>

            p كما عرفنا سابقاً فالقواعد تتفاعل مع الأحماض والأكاسيد الحمضية. دعنا الآن نلخص هذه الأنواع والتحولات ونتعرف أكثر عن هيدروكسيدات الفلزات.

            p 1) أهم خواص الكيميائية للقواعد هي تفاعلاتهم مع الأحماض لإعطاء الملح والماء (التعادل). على الرغم من أننا عرفنا نفسنا على هذا التفاعل أكثر من مرة، فمثالان اثنان أكثر لن يضرا في <a href="#fig_1.82">الصورة 1.82</a>.
            .figure <a id="fig_1.82" href="#fig_1.82">الصورة 1.82</a>
                div
                    h3(dir="ltr")
                        |Ca(OH)<sub>2</sub> + 2HCl = CaCl<sub>2</sub> + 2H<sub>2</sub>O
                        br
                        |3KOH + H<sub>3</sub>PO<sub>4</sub> = K<sub>3</sub>PO<sub>4</sub> + 3H<sub>2</sub>O
                div
                    p مثالان آخران لتفاعل التعادل
            
            p 2) تفاعل القواعد مع الأكاسيد الحمضية لإعطاء الملح والماء (<a href="#fig_1.83">الصورة 1.83</a>).
            .figure <a id="fig_1.83" href="#fig_1.83">الصورة 1.83</a>
                div
                    h3(dir="ltr")
                        |Mg(OH)<sub>2</sub> + SO<sub>3</sub> = MgSO<sub>4</sub> + H<sub>2</sub>O
                        br
                        |2KOH + CO<sub>2</sub> + CO<sub>2</sub> = K<sub>2</sub> + H<sub>2</sub>O
                div
                    p تفاعل القواعد مع الأكاسيد الحمضية

            p 3) قواعد قوية مثل الـ NaOH و KOH يتفاعلون مع الأكاسيد والهيدروكسيدات المتذبذبة (<a href="#fig_1.84">الصورة 1.84</a>).
            .figure <a id="fig_1.84" href="#fig_1.84">الصورة 1.84</a>
                div
                    h3(dir="ltr")
                        |2NaOH + Zn(OH)<sub>2</sub> = Na<sub>2</sub>ZnO<sub>2</sub>b + H<sub>2</sub>
                        br
                        |2KOH + ZnO = H<sub>2</sub>O<sub>2</sub> + H<sub>2</sub>O
                div
                    p تفاعل القواعد القوية مع الأكاسيد والهيدروكسيدات المتذبذبة

            p 4) تتفاعل الهيدروكسيدات الفلزية الذوبانية مع أملاح فلزات أخرى لإعطاء هيدروكسيد لاذوباني والذي يترسب (<a href="#fig_1.81">الصورة 1.81</a>). <a href="#fig_1.85">الصورة 1.85</a> تعطي مثالين أخرين لنوع التفاعل هذا.
            .figure <a id="fig_1.85" href="#fig_1.85">الصورة 1.85</a>
                div
                    h3(dir="ltr")
                        |MgCl<sub>2</sub> + 2KOH = Mg(OH)<sub>2</sub>b + 2KCl
                        br
                        |Al(NO<sub>3</sub>)<sub>3</sub> + 3NaOH = Al(OH)<sub>3</sub> + 3NaNO<sub>3</sub>
                div
                    p ترسب اللاذوبانيان Mg(OH)<sub>2</sub> و Al(OH)<sub>3</sub> على إضافة الـ KOH و NaOH إلى الـ MgCl<sub>2</sub> و Al(NO<sub>3</sub>)<sub>3</sub>، على التوالي.

            p 5) بعض الفلزات التي تشكل أكاسيد وهيدروكسيدات متذبذبة تتفاعل مع محاليل مائية من NaOH و KOH لإعطاء غاز الهيدروجين (<a href="#fig_1.86">الصورة 1.86</a>). هذا التحول الجدير بالملاحظة الذي لم نتعرف عليه لحد الآن والمسلي <a href="https://www.youtube.com/watch?v=NBy3m-SLVuE">لمشاهدته</a>. إذا تمنيت تجربة هذا التفاعل في المنزل، فيمكنك كذلك.
            .figure <a id="fig_1.86" href="#fig_1.86">الصورة 1.86</a>
                div
                    h3(dir="ltr")
                        |2Al + 2NaOH + 2H<sub>2</sub>O = 2NaAlO<sub>2</sub> + 3H<sub>2</sub>↑
                div
                    p تفاعل فلز الألومنيوم مع الـ NaOH لإعطاء الماء

            p <strong><a id="experiment_10" href="#experiment_10">التجربة 10. تفاعل الألومنيوم مع الـ NaOH</a></strong> رجائاً اقرأ الآتي بتمعن وتفكر:
            +experiments_disclaimer
            p إذا قررت عدم فعل التجارب، فرجائاً أكمل قراءة هذا القسم الفرعي.

            p لهذه التجربة، ستحتاج إلى ورق ألومنيوم وهيدروكسيد الصوديوم، NaOH. يتوفر ورق القصدير في متاجر الأغذية وأماكن أخرى. هيدروكسيد الصوديوم (محلول قلوي lye) هو المكون الأساسي لمسلكات المجاري الصلبة الذي يباع في محلات المعدات. الـ NaOH الصالح للأغذية يتوفر من متاجر متعددة على الإنترنت. اشتري أصغر كمية ممكنة من الـ NaOH.

            p دعنا الآن إعادة انعاش ذاكرتنا على الـ NaOH والتفاعل (<a href="#fig_1.86">الصورة 1.86</a>) من أجل التوصل إلى <u>تدابير السلامة</u> لفعل التجربة.

            p 1. يجب دائماً تذركر أن الـ NaOH هو مادة كاوية جداً والخطرة للجلد وخاصة العينين. لذلك، تجنب أي تلامس مباشر مع الـ NaOH الصلبة ومحاليلها أيضاً. إذا تلامس الـ NaOH مع جلدك، فاغسل المكان مباشرة لحد ما يقل الشعور اللزج أو يذهب تماماً. ومباشرة بعد الغسل ضع على المنطقة خل أبيض ومن ثم ماءٌ بعد ذلك. لماذا الخل؟ لأن الخل هو محلول ضعيف لحمض الأسيتيك والذي سيتعادل مع الـ NaOH المتبقي.

            p 2. يذوب الـ NaOH في الماء، وتُصدر الكثير من الحرارة. التفاعل (<a href="#fig_1.86">الصورة 1.86</a>) هو طارد للحرارة. وبالتالي، فسيدفئ المحلول أو ربما سيصبح ساخناً خلال التجربة. كن حذراً أثناء لمس الوعاء.

            p 3. التفاعل سينتج H<sub>2</sub> (<a href="#fig_1.86">الصورة 1.86</a>). بما أن الهيدروجين اشتعالي، لا يجب أن يكون هناك أن مصدر اشتعال في الأرجاء. من الأفضل أن تؤدى التجربة في الهواء الطلق.

            p ضع 5-10 شرائط ورق ألومنيوم. تستطيع أن تكون الشرائيط حوالي 3cm مربع في الحجم. اسكب ماء حنفية على الشرائط لحد ما يصير الوعاء مملوئاً إلى حوالي ربعه. باستخدام ملعقة شاي، كماشة أو ملقط، أضف بعض كرات الـ NaOH واخلط محتويات الوعاء بلطف. راقب تشكل فقاعات هيدروجين صافي من التفاعل (<a href="#fig_1.86">الصورة 1.86</a>). بعد توقف تصاعد الهيدروجين. أضف الخل واملئ الوعاء به. سيُعادل الخل الـ NaOH المتبقي (إذا بقي أي شيء) من الخلط، بعدها تستطيع التخلص من الخليط بأمان.

            p شاهد هذا <a href="https://www.youtube.com/watch?v=79nDqxfMTvI">الفيديو</a> لشخصين يمرحان بالتفاعل ما بين الألومنيوم والـ NaOH. لا أنصحك بتجربة هذا التفاعل على نطاق واسع. أولاً، لن تريد أي انسكاب لمحلول كاوي على طاولتك أو حتى أغراض بيتك، أو ربما أسوء، جلدك. ثانياً، يجب عليك تجنب تشكل كميات كبيرة من الهيدروجين الاشتعالي. ثالثاً، إذا ما جُربت على نطاق واسع، فستُصدر الكثير من الحرارة، والذي قد يزيد من خطورة حدوث حروق حرارية.

            p الآن ألقي نظرة على المعادلة الكيميائية لتفاعل الألومنيوم مع هيدروكسيد الصوديوم (<a href="#fig_1.86">الصورة 1.86</a>). مثل الصيغة المعروضة سابقاً لزنكات الصوديوم (Na<sub>2</sub>ZnO<sub>2</sub>)، فالتي لهيدروكسيد الصوديوم (NaAlO<sub>2</sub>) هي مبسطة. كيميائي مدقق قد يتهمني بأنني أدرس صيَغ غير صحيحة. ولكنني أفعل هذا عن عمد، من أجل عدم غرمك بمعلومات التي أؤمن أنها لن تفيدك فقط بالتعلم لهذه المرحلة، بل قد تشتتك وتربكك. إذا أردت معرفة الصيغ على أي حال، فهؤلاء هم: Na<sub>2</sub>[Zn(OH)<sub>4</sub>] و Na[Al(OH)<sub>4</sub>]. قد يبدوان غريبين لك. كيف للـ Zn و Al أن يكونا ثلاثيا التكافؤ؟ ما هذه الأقواس المعقوفة ولماذا نحتاج استخدامهم؟ حسناً، هذه المواد الكيميائية تسمى <span class="term">بالمركبات التناسقية coordination compounds</span>، المعروفين أيضاً بالفلزات المعقدة أو معقدات "<a href="https://en.wikipedia.org/wiki/Ate_complex">ات</a>". على الأغلب فأنت لحد الآن ليس لديك المعلومات الكافية من الكيمياء الأساسية لدراسة المركبات التناسقية. خطوة بخطوة، لذلك دعنا الآن ندرس الأشياء الأبسط أولاً في الكيمياء.

            h2 <a id="1.17.4" href="#1.17.4">1.17.4 تمارين</a>
            p.no_bottom 1. كلا الـ NaOH و KOH يحدثان في الطبيعة بسبب تكون معادن بلورية منهم. أهذا صحيح؟
            input.answer(type="checkbox" id="q1")
            label(for="q1") الجواب:
            span خاطئ. الـ NaOH و KOH هما تفاعليان للكثير من المواد الكيميائية الموجودة في الطبيعة، وخاصةً وهما صافياً. علاوة على ذلك، فالـ NaOH و KOH هما استرطابيان ومتميّعيان، وبالتالي، يبقيان صلبان في هواء رطب لفترة قصيرة جداً من الوقت (انظ إلى <a href="/1.12#1.12.9">1.12.9</a> و <a href="/1.12#1.12.13">1.12.13</a>، المشكلة 8).

            p 3. يُسمى هيدروكسيد الكالسيوم بالجير المطفأ، يُصنع متفاعل الجير الحي (CaO) مع الماء، ويُستخدم بكميات كبيرة لصناعة الخرسانة. أهذا صحيح؟
            input.answer(type="checkbox" id="q2")
            label(for="q2") الجواب:
            span صحيح

            p 3. أنهي ووازن المعادلات الكيميائية التالية:
            p(dir="ltr") a) NaOH + HNO<sub>3</sub> =
            p(dir="ltr") b) KOH + CuCl<sub>2</sub> =
            p(dir="ltr") c) Ca(OH)<sub>2</sub> + CO<sub>2</sub> =
            p(dir="ltr") d) Fe(OH)<sub>3</sub> + HCl =
            p(dir="ltr") e) AlCl<sub>3</sub> + 3NaOH =
            p(dir="ltr") f) AlCl<sub>3</sub> + NaOH (excess) =
            p(dir="ltr") g) Cu(OH)<sub>2</sub> (heating) =
            p(dir="ltr") h) Zn(OH)<sub>2</sub> + KOH =
            p(dir="ltr") i) MgCl<sub>2</sub> + NaOH =
            p(dir="ltr") j) Na<sub>2</sub>O + H<sub>2</sub>O =
            input.answer(type="checkbox" id="q3")
            label(for="q3") الجواب:
            div(dir="ltr")
                p 
                |a) NaOH + HNO<sub>3</sub> = NaNO<sub>3</sub> + H<sub>2</sub>O
                br
                |b) 2KOH + CuCl<sub>2</sub> = Cu(OH)<sub>2</sub>↓ + 2KCl
                br
                |c) Ca(OH)<sub>2</sub> + CO<sub>2</sub> = CaCO<sub>3</sub>↓ + H<sub>2</sub>O
                br
                |d) Fe(OH)<sub>3</sub> + 3HCl = FeCl<sub>3</sub> + 3H<sub>2</sub>O
                br
                |e) AlCl<sub>3</sub> + 3NaOH = Al(OH)<sub>3</sub>↓ + 3NaCl
                br
                |f) AlCl<sub>3</sub> + 4NaOH = NaAlO<sub>2</sub> + 3NaCl + 2H<sub>2</sub>O
                br
                |g) Cu(OH)<sub>2</sub> = CuO + H<sub>2</sub>O
                br
                |h) Zn(OH)<sub>2</sub> + 2KOH = K<sub>2</sub>ZnO<sub>2</sub> + 2H<sub>2</sub>O
                br
                |i) MgCl<sub>2</sub> + 2NaOH = Mg(OH)<sub>2</sub>↓ + 2NaCl
                br
                |j) Na<sub>2</sub>O + H<sub>2</sub>O = 2NaOH
            br
            br
            a.next(href="/1.18") الصفحة التالية ← 1.18
            a.previous(href="/1.16") 1.16 → الصفحة السابقة