include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.18 الفئات الرئيسية للمركبات اللاعضوية: الأملاح
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.18 الفئات الرئيسية للمركبات اللاعضوية: الأملاح
            p
                |- <a href="#1.18.1">1.18.1 ملاحظات عامة والتسمية</a>
                br
                |- <a href="#1.18.1">1.18.2 إعداد الأملاح</a>
                br
                |- <a href="#1.18.2">1.18.3 الخواص الكيميائية للأملاح. تجربة: تفاعل الـ CuSO<sub>4</sub> مع الـ Fe (مسمار حديد)</a>
                br
                |- <a href="#1.18.3">1.18.4 تمارين</a>
            hr
            h2 <a id="1.18.1" href="#1.18.1">1.18.1 ملاحظات عامة والتسمية</a>
            p كما من المتوقع أن تعرف تماماً الآن، فالأملاح هي مركبات تتكون من ذرة فلز واحدة أو أكثر ومن بقايا حمض واحدة أو أكثر. وأيضاً من المتوقع معرفتك طريقة تسمية الأملاح. لتسمية الملح، على المرء أن يقول اسم بقايا الحمض (<a href="/1.12#table_2">الجدول 2</a> في القسم 1.12) ومن ثم اسم الفلز. كمثل حالة الأكاسيد والقواعد، فإذا كان الفلز لديه أكثر من حالة تكافؤ واحدة، فيُقال عدد التكافؤ بعد اسم الفلز. فنقول للـ CuBr أنه بروميد النحاس الأحادي و CuBr<sub>2</sub> على أنه بروميد النحاس الثنائي. ولكن إذا كان الفلز ذو عدة حالات تكافؤ يستطيع أن يشكل فقط ملحاً مع بقايا حمض معينة، فلا داعي لقول التكافؤ في اسم الملح. مثلاً، تكافؤ النحاس يمكن أن يكون 1 أو 2. سيتوقع المرء أنه هناك إذاً ملحا فلوريد للنحاس، CuF و CuF<sub>2</sub>. من بين أولاء الإثنين، يوجد فقط الـ CuF<sub>2</sub>. وبالتالي، فنسمي الـ CuF<sub>2</sub> بفلوريد النحاس، لا فلوريد النحاس الثنائي. على نفس المنوال، فالـ CuI ممكن الحدوث، ولكن الـ CuI<sub>2</sub> ليس بكذلك. لهذا السبب، الاسم الصحيح للـ CuI هو يوديد النحاس، لا يوديد النحاس الأحادي.

            p  الكثير من الأملاح تحدث في الطبيعة كمعادن صلبة أو في محاليل، مثل ماء البحر والمياه المعدنية. من ضمن أكثر الأملاح الطبيعية شيوعاً هو الـ NaCl وكربونات، كبريتات، وكلوريدات البوتاسيوم، الكالسيوم، والمغنيسيوم. كربونات الكالسيوم هي المكون الرئيسي لمعادن مهمة جداً مثل الحجر الجيري، الرخام، والطبشور. معدن الكالسيت هو أساساً CaCO<sub>3</sub> صافي، وبذلك فهو في قشرة بيض الدجاجة.


            h2 <a id="1.18.1" href="#1.18.1">1.18.2 إعداد الأملاح</a>
            p بما أن الكثير من الأملاح متوفرة تجارياً، فليس هناك حاجة ماسة لصناعة أملاح بسيطة في المختبرات. ولكن إذا دعت الحاجة، فالأملاح تُعد بعدد من التفاعلات، ومن بينهم تفاعل:
                br
                |1) قاعدة مع ملح (التعادل)
                br
                |2) قاعدة مع أكسيد حمضي
                br
                |3) حمض مع أكسيد قاعدي
                br
                |4) فلز مع حمض
                br
                |الأملاح اللاذوبانية أو ضعيفة الذوبانية عادةً ما تُعد بتفاعلات تبادل متنوعة بين أملاح ذوبانية وأملاح ذوبانية أخرى، أحماض، أو قواعد (<a href="#fig_1.87">الصورة 1.87</a>).
            .figure <a id="fig_1.87" href="#fig_1.87">الصورة 1.87</a>
                div
                    h3(dir="ltr")
                        |CaCl<sub>2</sub> + Na<sub>2</sub>CO<sub>3</sub> = CaCO<sub>3</sub> + 2NaCl
                        br
                        |AgNO<sub>3</sub> + HCl = AgCl↓ + HNO<sub>3</sub>
                        br
                        |Ba(OH)<sub>2</sub> + K<sub>2</sub>SO<sub>4</sub> = BaSO<sub>4</sub>↓ + 2KOH
                div
                    p إعداد أملاح لاذوبانية بتفاعلات تبادل

            h2 <a href="#1.18.2">1.18.3 الخواص الكيميائية للأملاح. تجربة: تفاعل الـ CuSO<sub>4</sub> مع الـ Fe (مسمار حديد)</a>

            p أكثر أنواع تحول الأملاح شيوعاً هو تفاعلات التبادل والاستبدال، بحيث تُستبدل ذرة فلز مع ذرة فلز آخرى.

            p 1) تفاعلات التبادل للأملاح هي شائع كثيراً. شريك التبادل يكون ملحاً آخر، قاعدة أو حمض (الصور <a href="/1.16#fig_1.72">1.72</a>، <a href="/1.17#fig_1.81">1.81</a>، <a href="/1.17#fig_1.85">1.85</a>، <a href="/1.18#fig_1.87">1.87</a>).

            p 2) تفاعلات الاستبدال لملح فلز مع ملح فلز آخر هي أيضاً خاصية للكثير من الأملاح. تفاعل "شجرة الفضة" (<a href="/1.8#experiment_7">التجربة 7</a>) هي مثال لنوع التحول هذا.

            p.center(dir="ltr") 2AgNO<sub>3</sub> + Cu = Cu(NO<sub>3</sub>)<sub>2</sub> + 2Ag

            p في هذا التفاعل، يستبدل النحاس الفضة من نيترات ملحها. التفاعل العكسي، والذي تستبدل فيه الفضة النحاس من ملح النحاس الثنائي، لا يحدث.

            p هل هناك طريقة لمعرفة أي الفلزات ستتفاعل مع هذا الملح وأيها لن تفعل؟ هناك طريقة. نحتاج فقط إلى الإشارة إلى تفاعلية الفلزات التي قد تكلمنا عنها سابقاً، انظر إلى القسم 1.16.3 و <a href="/1.16#fig_1.77">الصورة 1.77</a>. يستطيع الفلز M أن يستبدل فلزاً آخر M' من ملحه ما إذا كان M على يسار M' في سلسلة التفاعلية (<a href="#fig_1.88">الصورة 1.88</a>). يحدث تفاعل الاستبدال فقط في حالة معالجة ملح ذو فلز أقل تفاعلية مع فلز أكثر تفاعلية. تعمل تجربة شجرة الفضة لأن النحاس أكثر تفاعلية من الفضة. وعلى نفس المنوال، فتحول العملة النحاسية إلى "فضية" (القسم الفرعي 1.8.4 و<a href="/1.8#fig_1.25">الصورة 1.25</a>؛ <a href="https://www.youtube.com/watch?v=xFV8myj4IIQ">الفيديو</a>) يحدث بسبب أن النحاس أكثر تفاعلية من الزئبق.
            .figure <a id="fig_1.88" href="#fig_1.88">الصورة 1.88</a>
                div
                    img(src="/imgs/fig_1.88.png" alt="")
                div
                    p سلسلة تفاعلية الفلزات

            p للتوضيح أكثر عن كفية استخدام سلسلة التفاعلية (<a href="#fig_1.88">الصورة 1.88</a>)، دعنا نفترض مثالاً مع النحاس (Cu) والزنك (Zn). هل سيتفاعل فلز الـ Cu مع ملح الـ Zn، أو هل سيتفاعل فلز الـ Zn مع ملح الـ Cu؟ الزنك هو على يسار النحاس في <a href="#fig_1.88">الصورة 1.88</a>، والذي بدوره يعني أن الـ Zn أكثر تفاعلية من الـ Cu. لذلك، فالـ Zn يستطيع استبدال الـ Cu من ملحه، ولكن لا يمكن عكس ذلك (<a href="#fig_1.89">الصورة 1.89</a>).
            .figure <a id="fig_1.89" href="#fig_1.88">الصورة 1.88</a>
                div
                    img(src="/imgs/fig_1.89.png" alt="")
                div
                    p الـ Zn الأكثر تفاعلية يتسطيع استبدال الـ Cu الأقل تفاعلية من ملحه، ولكن ليس العكس.

            p على الرغم من أن الحديد (Fe) أقل تفاعلية من الزنك (Zn)، فهو مازال على يسار الـ Cu، وبذلك، يجب أن يتفاعل مع الـ CuSO<sub>4</sub> أيضاً. إذا كان لديك بقايا من الـ CuSO<sub>4</sub>•5H<sub>2</sub>O من إعادات التبلور (<a href="/1.4#experiment_3">التجربة 3</a>)، فقد تستخدمهم لتفاعل آخر مثير للاهتمام.


            p <strong><a id="experiment_3" href="#experiment_3">التجربة 11. تفاعل الـ CuSO<sub>4</sub>•5H<sub>2</sub>O مع الـ Fe (مسمار حديد)</a></strong> رجائاً اقرأ الآتي بتمعن وتفكر:
            +experiments_disclaimer
            p إذا قررت عدم فعل التجارب، فرجائاً أكمل قراءة هذا القسم الفرعي.

            p أذب حوالي ربع ملعقة شاي من الـ CuSO<sub>4</sub>•5H<sub>2</sub>O في حوالي نصف كوب ماء في وعاء فارغ. ضع مسمار الحديد في المحلول وراقب تشكل الـ Cu الأحمر على سطح المسمار. شاهد هذا <a href="https://www.youtube.com/watch?v=KmhD8BmEFIo">الفيديو</a> لأخذ فكرة عن التصميمات الممكنة لهذه التجربة. التفاعل الذي يحصل هو التالي:

            h3.center(dir="ltr") Fe + CuSO<sub>4</sub> = Cu + FeSO<sub>4</sub>

            p لاحظ أنه هو كبريتات الحديد الثنائي الأخضر، FeSO<sub>4</sub>، وليس كبريتاد الحديد الثلاثي البني، Fe<sub>2</sub>(SO<sub>4</sub>)<sub>3</sub>، الذي يتكون في هذا التفاعل.

            p 3) هناك الكثير من التفاعلات المثيرة للاهتمام الأقل عامية ولكن خاصة لأملاح صُنعت من حمض معين. مثال جميل هو النيترات، أملاح حمض حمض النتريك (HNO<sub>3</sub>)، والذين كلهم يتحللون عند التسخين. التحلل في درجة حرارة معينة لأملاح النيترات ومنتجات التحلل يعتمدون بشكل كبير على طبيعة الفلز. سنتعرف أكثر بكثير على هذه التفاعلات في الوحدة الثالثة من دورتنا هذه.

            h2 <a id="1.18.3" href="#1.18.3">1.18.4 تمارين</a>

            p.no_bottom 1. استخدم سلسلة تفاعلية الفلزات (<a href="#fig_1.88">الصورة 1.88</a>) لتحديد أي التفاعلان أدناه يمكن حدوثه وأيهما لا يمكن:
                br
                |a) Hg(NO<sub>3</sub>)<sub>2</sub> + 2Ag = Hg + 2AgNO<sub>3</sub>
                br
                |b) 2AgNO<sub>3</sub> + Hg = Hg(NO<sub>3</sub>)<sub>2</sub>
            input.answer(type="checkbox" id="q1")
            label(for="q1") الجواب:
            span (b)، لأن الـ Hg هو أكثر تفاعلية من الـ Ag.

            p أنهي ووازن المعادلات التالية:
            p(dir="ltr") (a) K + HCl = 
            p(dir="ltr") (b) Ag<sub>2</sub>SO<sub>4</sub> + BaCl<sub>2</sub> =
            p(dir="ltr") (c) Zn(OH)<sub>2</sub> + HCl = 
            p(dir="ltr") (d) Cu(NO<sub>3</sub>)<sub>2</sub> + Ca(OH)<sub>2</sub> =
            p(dir="ltr") (e) CuCl<sub>2</sub> + Zn = 
            p(dir="ltr") (f) Cu + HCl = 
            p(dir="ltr") (g) Al(OH)<sub>3</sub> + H<sub>2</sub>SO<sub>4</sub> =
            p(dir="ltr") (h) Al(OH)<sub>3</sub> + KOH = 
            p(dir="ltr") (i) Al<sub>2</sub>O<sub>3</sub> + KOH = 
            p(dir="ltr") (j) CaBr<sub>2</sub> + Na<sub>2</sub>CO<sub>3</sub> =
            p(dir="ltr") (k) SiO<sub>2</sub> + Na<sub>2</sub>O = 
            p(dir="ltr") (l) K<sub>2</sub>CO<sub>3</sub> + HCl = 
            p(dir="ltr") (m) Zn + HCl = 
            p(dir="ltr") (n) Fe + H<sub>2</sub>SO<sub>4</sub> =<br />
            input.answer(type="checkbox" id="q2")
            label(for="q2") الجواب:
            div
                p.no_top(dir="ltr")
                    br
                    |(a) 2K + 2HCl = 2KCl + H<sub>2</sub>↑ 
                    br
                    |(b) Ag<sub>2</sub>SO<sub>4</sub> + BaCl<sub>2</sub> = BaSO<sub>4</sub>↓ + 2AgCl↓
                    br
                    |(c) Zn(OH)<sub>2</sub> + 2HCl = ZnCl<sub>2</sub> + 2H<sub>2</sub>O
                    br
                    |(d) Cu(NO<sub>3</sub>)<sub>2</sub> + Ca(OH)<sub>2</sub> = Ca(NO<sub>3</sub>)<sub>2</sub> + Cu(OH)<sub>2</sub>↓
                    br
                    |(e) CuCl<sub>2</sub> + Zn = ZnCl<sub>2</sub> + Cu
                    br
                    |(f) Cu + HCl = لا تفاعل
                    br
                    |(g) 2Al(OH)<sub>3</sub> + 3H<sub>2</sub>SO<sub>4</sub> = Al<sub>2</sub>(SO<sub>4</sub>)<sub>3</sub> + 6H<sub>2</sub>O
                    br
                    |(h) Al(OH)<sub>3</sub> + KOH = KAlO<sub>2</sub> + 2H<sub>2</sub>O
                    br
                    |(i) Al<sub>2</sub>O<sub>3</sub> + 2KOH = 2KAlO<sub>2</sub> + H<sub>2</sub>O
                    br
                    |(j) CaBr<sub>2</sub> +Na<sub>2</sub>CO<sub>3</sub> = 2NaBr + CaCO<sub>3</sub>↓
                    br
                    |(k) SiO<sub>2</sub> + Na<sub>2</sub>O = Na<sub>2</sub>SiO<sub>3</sub>
                    br
                    |(l) K<sub>2</sub>CO<sub>3</sub> + 2HCl = 2KCl + H<sub>2</sub>O + CO<sub>2</sub>↑
                    br
                    |(m) Zn + 2HCl = ZnCl<sub>2</sub> + H<sub>2</sub>↑
                    br
                    |(n) Fe + H<sub>2</sub>SO<sub>4</sub> = FeSO<sub>4</sub> + H<sub>2</sub>↑

            br
            br
            a.next(href="/1.19") الصفحة التالية ← 1.19
            a.previous(href="/1.117") 1.17 → الصفحة السابقة