include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.19 اختبر معرفتك
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.19 اختبر معرفتك
            hr
            p لقد أتت هذه الوحدة الأولى إلى نهايتها وحان الوقت الآن لاختبار معرفتك (إذا أردت). حظاً موفقاً!

            p.no_bottom 1. أعطي الأسامي الكيميائية للمواد الكيميائية التالية:
            p.no_margin(dir="ltr")
                |a) H<sub>2</sub>
                br
                |b) O<sub>2</sub>
                br
                |c) CuO
                br
                |d) Cu<sub>2</sub>O
                br
                |e) K<sub>2</sub>O
                br
                |f) Al<sub>2</sub>O<sub>3</sub>
                br
                |g) ZnO
                br
                |h) Ba(OH)<sub>2</sub>
                br
                |i) Fe(OH)<sub>2</sub>
                br
                |j) Fe(OH)<sub>3</sub>
                br
                |k) Na<sub>2</sub>CO<sub>3</sub>
                br
                |l) MgSO<sub>4</sub>
                br
                |m) CaCl<sub>2</sub>
                br
                |n) H<sub>3</sub>PO<sub>4</sub>
                br
                |o) HF
                br
                |p) O<sub>3</sub>
                br
                |q) KHSO<sub>4</sub>
                br
                |r) Sr(NO<sub>3</sub>)<sub>2</sub>
                br
                |s) SnCl<sub>2</sub>
                br
                |t) Al<sub>2</sub>(SO<sub>4</sub>)<sub>3</sub>
                br
            p.no_margin أي من فئات المواد الكيميائية تنتمي كل صيغة إليها؟
            input.answer(type="checkbox" id="q1")
            label(for="q1") الجواب:
            div
                p.no_top(dir="ltr")
                    |a) H<sub>2</sub>: غاز الهيدروجين (مادة كيميائية بسيطة)
                    br
                    |b) O<sub>2</sub>: غاز الأوكسجين (مادة كيميائية بسيطة)
                    br
                    |c) CuO: أكسيد النحاس الثنائي (أكسيد)
                    br
                    |d) Cu<sub>2</sub>O: أكسيد النحاس الأحادي (أكسيد)
                    br
                    |e) K<sub>2</sub>O: أكسيد البوتاسيوم (أكسيد)
                    br
                    |f) Al<sub>2</sub>O<sub>3</sub>: أكسيد الألومنيوم (أكسيد)
                    br
                    |g) ZnO: أكسيد الزنك (أكسيد)
                    br
                    |h) Ba(OH)<sub>2</sub>: هيدروكسيد الباريوم (هيدروكسيد؛ قاعدة)
                    br
                    |i) Fe(OH)<sub>2</sub>: هيدروكسيد الحديد الثنائي (هيدروكسيد؛ قاعدة)
                    br
                    |j) Fe(OH)<sub>3</sub>: هيدروكسيد الحديد الثلاثي (هيدروكسيد؛ قاعدة)
                    br
                    |k) Na<sub>2</sub>CO<sub>3</sub> كربونات الصوديوم (ملح)
                    br
                    |l) MgSO<sub>4</sub> كبريتات المغنيسيوم (ملح)
                    br
                    |m) CaCl<sub>2</sub>: كلوريد الكالسيوم (ملح)
                    br
                    |n) H<sub>3</sub>PO<sub>4</sub>: حمض الفوسفوريك (حمض)
                    br
                    |o) HF: فلوريد الهيدروجين أو حمض الهيدروفلوريك (حمض)
                    br
                    |p) O<sub>3</sub>: أوزون (مادة كيميائية بسيطة)
                    br
                    |q) KHSO<sub>4</sub>: هيدروكبريتات البوتاسيوم أو بيكبريتات البوتاسيوم (حمض)
                    br
                    |r) Sr(NO<sub>3</sub>)<sub>2</sub>: نيترات السترونشيوم (ملح)
                    br
                    |s) SnCl<sub>2</sub>: كلوريد القصدير الثنائي (ملح)
                    br
                    |t) Al<sub>2</sub>(SO<sub>4</sub>)<sub>3</sub>: كبريتيك الألومنيوم (ملح)
            
            p.no_bottom 2. اكتب الصيغ الكيميائية للمواد الكيميائية التالية:
            p.no_margin()
                |a) الماء
                br
                |b) حمض الهيدروكلوريك
                br
                |c) أكسيد النحاس الثنائي
                br
                |d) أكسيد النحاس الأحادي
                br
                |e) كلوريد النحاس الأحادي
                br
                |f) كلوريد النحاس الثنائي
                br
                |h) حمض الكبريتيك
                br
                |i) حمض الفوسفوريك
                br
                |j) حمض النتريك
                br
                |k) كلوريد القصدير الثنائي
                br
                |l) كلوريد الحديد الثلاثي
                br
                |m) كلوريد الحديد الثنائي
                br
                |n) حمض الهيدروبروميك
                br
                |o) هيدروكسيد البوتاسيوم
                br
                |p) بيكربونات الصوديوم
            input.answer(type="checkbox" id="q2")
            label(for="q2") الجواب:
            div
                p.no_top
                    |a) الماء: H<sub>2</sub>O
                    br
                    |b) حمض الهيدروكلوريك: HCl
                    br
                    |c) أكسيد النحاس الثنائي CuO
                    br
                    |d) أكسيد النحاس الأحادي Cu<sub>2</sub>O
                    br
                    |e) كلوريد النحاس الأحادي: CuCl
                    br
                    |f) كلوريد النحاس الثنائي: CuCl<sub>2</sub>
                    br
                    |h) حمض الكبريتيك: H<sub>2</sub>SO<sub>4</sub>
                    br
                    |i) حمض الفوسفوريك: H<sub>3</sub>PO<sub>4</sub>
                    br
                    |j) حمض النتريك: NHO<sub>3</sub>
                    br
                    |k) كلوريد القصدير الثنائي: SnCl<sub>2</sub>
                    br
                    |l) كلوريد الحديد الثلاثي: Fe<sub></sub>Cl<sub>3</sub>
                    br
                    |m) كلوريد الحديد الثنائي: FeCl<sub>2</sub>
                    br
                    |n) حمض الهيدروبروميك: HBr
                    br
                    |o) هيدروكسيد البوتاسيوم: KOH
                    br
                    |p) بيكربونات الصوديوم: NaHCO<sub>3</sub>

            p.no_bottom 3. هل الـ SO<sub>2</sub> و SO<sub>3</sub> متآصلان؟
            input.answer(type="checkbox" id="q3")
            label(for="q3") الجواب:
            span لا. المتآصلون يكونون مواد كيميائية بسيطة مختلفة متشكلة من نفس العنصر

            p.no_bottom 4. كل المواد الكيميائية البسيطة هي صلبة والواتي يظهرن خاصية فضية اللون هي فلزات. صحيح أم خاطئ؟
            input.answer(type="checkbox" id="q4")
            label(for="q4") الجواب:
            span خاطئ. انظر إلى <a href="/1.2#1.2.2">1.2.2</a>.

            p.no_bottom 5. الزئبق هو الفلز الوحيد الذي يذوب في درجة حرارة الغرفة (حوالي 23 °C). الكثير من الفلزات تذوب في الزئبق السائل لإعطاء سبائك سائلة. بماذا تسمى سبائك كهذه؟ هل هي مخاليط متجانية أم غير متجانسية؟
            input.answer(type="checkbox" id="q5")
            label(for="q5") الجواب:
            span ملغمة، متجانسة

            p.no_bottom 6. مثل الهيدروجين، الأوكسجين، النيتروجين، الكلورين، البرومين، وكل اللافلزات الأخرى هي إما غازات أو سائل في درجة حرارة الغرفة وتحت الضغط الجوي. أصحيحٌ هذا؟
            input.answer(type="checkbox" id="q6")
            label(for="q6") الجواب:
            span خاطئ. الكربون، الفوسفور، الكبريت، اليود، ولافلزات أخرون هم أصلاب.

            p.no_bottom 7. هل الحليب خليط متجانس أم غير متجانس؟
            input.answer(type="checkbox" id="q7")
            label(for="q7") الجواب:
            span غير متجانس. انظر إلى <a href="/1.4#fig_1.10">الصورة 1.10</a>

            p.no_bottom 8. اكتب معادلة كيميائية متوازنة لتفاعل صودا الخبز مع الـ HCl
            input.answer(type="checkbox" id="q8")
            label(for="q8") الجواب:
            span NaHCO<sub>3</sub> + HCl = NaCl + H<sub>2</sub> + CO<sub>2</sub>

            p.no_bottom 9. لقد وصلك يا حبيبي من مزود عبوة تحتوي على 100g من HCl مركز (36%). لتجاربك، تحتاج إلى HCl 20%. كم كمية الماء التي تحتاج إضافتها إلى الـ HCl المكرز في العبوة للحصول على HCl 20%؟
            input.answer(type="checkbox" id="q9")
            label(for="q9") الجواب:
            div 
                p.no_top هناك العديد من الطرق لحل مشكلة كهذه. عن نفسي أفضل أبسطهم منقطياً. ما هي النسبة المئوية للتركيز؟ بالتعريف، فهي عدد الغرامات المذاب في محلول 100g. بما أن تركيز الـ HCl هو 36%، فيعني أنه لكل 100g من المحلول هناك 36g HCL صافي. والباقي (64g) هو ماء: 100g = 36g + 64g.
                p نحتاج نحن إلى محلول  HCl 20%، أي لكل 100g من المحلول يجب أن يكون هناك 20g HCl صافي، والباقي (80g) ماء. ولكن، كمية الـ HCl التي لدينا هي ليست 20g بل 36g. كم سنحتاج إضافة ماء (x) إلى 36g HCl لإعداد محلول 20%؟ دعنا نحل النسبة البسيطة هذه:
                p(dir="ltr")
                    |20g HCl => 80g H<sub>2</sub>O محتاج
                    br
                    |36g HCl => (x)g H<sub>2</sub>O محتاج
                    br
                    |x = (36/20)×80 = 144g
                p هذه هي كمية الماء (144g) المحتاجة لإعداد محلول 20% من حمض الهدروكلوريك من 36g HCl صافي. ولكن، يحتوي المحلول بالأصل على 64g من الماء. لذلك يجب علينا إضافة فقط <span dir="ltr">144 - 64 = 80g</span> من الماء.

                p هناك طريقة أخرى لحل هذه المشكلة. مجهولنا، y، هو كمية الماء بالغرامات التي نحتاجها لتخفيف المحلول المعطى لخفض تركيزه من 36% إلى 20%. يجب على المحلول المطلوب أن يحتوي على 20g HCl صافي لكل 100g من المحلول. تُحل النسبة لـ y كالتالي:
                p(dir="ltr")
                    |100 => 20 HCl
                    br
                    |100+y => 36 HCl
                    br
                    br
                    |100×36 = (100+y)×20
                    br
                    |3600 = 2000+20y
                    br
                    |20y = 3600-200 = 1600
                    br
                    |y = 1600/20 = 80g
                p كما ترى فالنتيجة هي نفسها: يجب علينا إضافة 80g من الماء لخفض التركيز من الأصلي 36% إلى المطلوب 20%.

            p.no_bottom 10. خليط مخلوط بشكل جيد من الغازات يستطيع أن يكون إما متجاني أو غير متجانس. أصحيحٌ هذا؟
            input.answer(type="checkbox" id="q10")
            label(for="q10") الجواب:
            span خاطئ. خلائط الغاز تكون دائماً متجانسة.

            p.no_bottom 11. كيف يمكن صناعة Ca(OH)<sub>2</sub> من CaCO<sub>3</sub>؟
            input.answer(type="checkbox" id="q11")
            label(for="q11") الجواب:
            span أولاً، سخن الـ CaCO<sub>3</sub> لتُحلله إلى CaO و CO<sub>2</sub>: CaCO<sub>3</sub> = CaO + CO<sub>2</sub>. ثم عالج الـ CaO المُنتج بالماء: CaO + H<sub>2</sub>O = Ca(OH)<sub>2</sub>.
            p.no_bottom 12. فقط واحد من التفاعلين أدناه يمكن حدوثه. أي واحد؟
            p.no_margin(dir="ltr")
                |a) Hg(NO<sub>3</sub>)<sub>2</sub> + Zn = Zn(NO<sub>3</sub>)<sub>2</sub> + Hg
                br
                |b) Zn = Zn(NO<sub>3</sub>)<sub>2</sub> + Hg = Hg(NO<sub>3</sub>)<sub>2</sub> + Zn
            input.answer(type="checkbox" id="q12")
            label(for="q12") الجواب:
            span التفاعل (a) سيحدث و (b) لن يحدث. انظر إلى سلسلة تفاعلية الفلزات (<a href="/1.18#fig_1.88">الصورة 1.88</a>)
            
            p.no_bottom 13. كم من KNO<sub>3</sub> صافي يجب إضافته إلى 50g من محلول KNO<sub>3</sub> 10% لجعله محلول 20%؟
            input.answer(type="checkbox" id="q13")
            label(for="q13") الجواب:
            div
                p.no_top أولاً، يجب علينا حساب كمية الـ KNO<sub>3</sub> والماء في المحلول. النسبة المئوية لتركيز الكتلة هي 10%، أي أنه لكل 100g من المحلول هناك 90g ماء و 10g KNO<sub>3</sub>. لحساب كمية الملح والماء في محلول 50g، نحتاج إلى حل النسبة أدناه، التي ستكون فيها كمية الـ KNO<sub>3</sub> هي x:
                p
                    |100g => 10g KNO<sub>3</sub> 
                    br
                    |50g => (x)g KNO<sub>3</sub>
                    br
                    |x = (50/100)×10 = 5g
                p بذلك، فـ 50g من محلول KNO<sub>3</sub> 10% يحتوي على 5g KNO<sub>3</sub> صافي. والباقي (45g) هو ماء: <span dir="ltr">50-5 = 45g</span>

                p مجهولنا y سيكون كمية الـ KNO<sub>3</sub> الصلب التي ستضاف. مجموع الكتلة المطلوبة كلها هي 20% وبذلك ستكون (50+y)g، ومنهم (5+y)g KNO<sub>3</sub>. بما أن التركيز المحتاج هو 20%، فمحلول 100g أن يحتوي على 20g من الـ KNO<sub>3</sub>.
                p(dir="ltr")
                    |100g => 20g KNO<sub>3</sub>
                    br
                    |(50+y)g => (5+y)g KNO<sub>3</sub>
                    br
                    |100×(5+y) = 20×(50+y)
                    br
                    |y = 6.25g
                    

            p.no_bottom 14. هناك خليط صلب من NaCl، سكر، رمل (SiO<sub>2</sub>) و BaSO<sub>4</sub>. كيف يمكن عزل الـ NaCl من هذا الخليط؟
            input.answer(type="checkbox" id="q14")
            label(for="q14") الجواب:
            span أضف ماءً لإذابة الـ NaCl والسكر. رَشِّح اللاذوبانيين SiO<sub>2</sub> و BaSO<sub>4</sub>. بخر الماء جزئياً لحد ما يتبلور الـ NaCl الأقل ذوبانية من السكر. افصل بلورات الـ NaCl عن شراب الأم المقطر الذي يحتوي على السكر المذاب و بقايا NaCl مذاب.

            p.no_bottom 15. اكتب المعادلات الكيميائية المتوازنة للتفاعلات التالية:
                br
                |a) تحلل بيروكسيد الهيدروجين
                br
                |b) تخازل أكسيد النحاس الثنائي مع الهيدروجين
                br
                |c) تفاعل هيدروكسيد الحديد الثلاثي مع حمض الكبريتيك
                br
                |d) تفاعل كبريتات المغنيسيوم مع كلوريد الباريوم
                br
                |e) التعادل التام لحمض الفوسفوريك مع هيدروكسيد البوتاسيوم
                br
                |f) تفاعل أكسيد النحاس الثنائي مع حمض الهيدروكلوريك
                br
                |g) احتراق الفوسفور الأبيض في الهواء
                br
                |h) تفاعل سيليكات الصوديوم مع حمض الكبريتيك
                br
                |h) تفاعل هيدروكسيد الصوديوم مع كبريتات الحديد الثنائي
                br
                |i) احتراق الميثان
                br
                |j) تفاعل كبريتات الصوديوم مع حمض الكبريتيك
                br
                |k) التحلل الحراري لهيدروكسيد النحاس
                br
                |l) تفاعل فلز الزنك مع حمض الكبريتيك
                br
                |m) تفاعل فلز النحاس مع حمض الفوسفوريك
            input.answer(type="checkbox" id="q15")
            label(for="q15") الجواب:
            span المعادلات الكيميائية لكل هذه التفاعلات موجودة في الوحدة الأولى، عدا تفاعل (m): لا يتفاعل معدن النحاس مع الأحماض، انظر إلى <a href="/1.15#1.15.3">1.15.3</a>

            p.no_bottom 16. شراب الأم المقطر هو:
                br
                |a) محلول يُحصل عليه نتيجة للترشيح
                br
                |b) محلول يحدث بعد أن تتبلور المادة الكيميائية المذابة
                br
                |c) الشراب الخاص الذي يعطيه بعض الناس لأمهاتهم في عيد الأم
            input.answer(type="checkbox" id="q16")
            label(for="q16") الجواب:
            span (b)

            p.no_bottom 17. في الكيمياء، التسامي هو:
                br
                |a) العملية التي يتحول فيها الصلب إلى غاز بدون أن يذوب أولاً
                br
                |b) العملية التي يتحول فيها الغاز إلى صلب بدون تكاثفه إلى سائل أولاً
                br
                |c) تفاعل كيميائي عنيف جداً
            input.answer(type="checkbox" id="q17")
            label(for="q17") الجواب:
            span (a)
            
            p.no_bottom 18. يستخدم تفاعل الصوديوم مع الماء في المختبرات صناعة غاز الهيدروجين. أهذا صحيح؟
            input.answer(type="checkbox" id="q18")
            label(for="q18") الجواب:
            span خاطئ. على الرغم من أن هذا التفاعل يُنتج الـ H<sub>2</sub>، فهو عنيف جداً ليُستخدم بآمان.

            p.no_bottom 19. أغلب هيدروكسيدات الفلزات تذوب بشكل سهل في الماء
            input.answer(type="checkbox" id="q19")
            label(for="q19") الجواب:
            span خاطئ. انظر إلى <a href="/1.12#1.12.11">1.12.11</a>

            p.no_bottom 20. غاز الأوكسجين هو مركب كيميائي مهم جداً. أصحيحٌ هذا؟
            input.answer(type="checkbox" id="q20")
            label(for="q20") الجواب:
            span لا يمكن أن يسمى غاز الأكسجين بـ"المركب" لأنه عبارة عن مادة كيميائية بسيطة، أي مادة كييمائية تتكون من ذرات من عنصر واحد فقط. المركبات هي مواد كيميائية معقدة التي جزيئاتها تتكون من ذرات من أكثر من عنصر واحد.

            br
            br
            a.next(href="/2.1") الصفحة التالية ← 2.1
            a.previous(href="/1.18") 1.18 → الصفحة السابقة