include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.2 من ماذا تتكون المادة؟ العناصر الكيميائية
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.2 من ماذا تتكون المادة؟ العناصر الكيميائية
            p
                |- <a href="#1.2.1">1.2.1 العناصر الكيميائية هي أنواع مختلفة من الذرات</a>
                br
                |- <a href="#1.2.2">1.2.2 الفلزات واللافلزات وأشباه الفلزات</a>
                br
                |- <a href="#1.2.3">1.2.3 الصيغ الكيميائية</a>
                br
                |- <a href="#1.2.4">1.2.4 تمارين</a>

            hr

            h2 <a id="1.2.1" href="#1.2.1">1.2.1 العناصر الكيميائية هي أنواع مختلفة من الذرات</a>

            p المواد الكيميائية تتكون من <span class="term">الجزيئات molecules</span>. الجزيئات تتكون من <span class="term">الذرات atoms</span>. الجزيء هو عبارة عن مجموعة من الذرات مربوطين ببعض بترتيب ثابت.

            p فكر بالذرات على أنها أحجار بناء <a href="https://en.wikipedia.org/wiki/Construction_set">لمجموعة بناء</a> (مثل الليغو) وبالجزيئات على أنها نماذج مختلفة يمكن بنائها باستخدام هذه الأحجار. ستمثل المادة الكيميائية هنا تعدداً من تلك النماذج <span class="term">المتطابقة</span> (الجزيئات <span class="term">المتطابقة</span>) الذين قد بنيوا بواسطة أحجار البناء الأساسية (الذرات) وقد حُزموا ببعضهم البعض في حجم معين.

            p أعيد تأكيد أن المادة الكيميائية تتكون من جزيئات <span class="term">متطابقة</span>. أي مادة تتكون من جزيئات مختلفة النوع تسمى <span class="term">خليط mixture</span> من المواد الكيميائية، لا مادة كيميائية واحدة فقط.

            p قد يتراوح عدد الذرات في الجزيء من إثنين فقط إلى بضع مليارات. يتكون جزيء الماء من 3 ذرات، جزيء السكر من 45 ذرة، وجزيء الحمض النووي من مليارات الذرات. هناك عدد محدود من المواد الكيميائية التي تتكون من ذرة واحدة فقط والتي تسمى <span class="term">جزيئات أحادية monoatomic molecules</span>. على سبيل المثال، غاز الهيليوم (والذي يستخدم لنفخ البالونات) غالباً ما يقال أنه يتكون من جزيئات أحادية للهيليوم أو بصيغة أخرى، من ذرات الهيليوم.

            p الجزيئات والذرات هما ذوات حجم مجهري. ريتشارد فاينمان (1918-1988)، عالم فيزياء بارز وفائز بجائزة نوبل، مرة قال المقارنة التالية.

            p.center "إذا تم تكبير تفاحة لتكون كحجم الأرض، فستكون الذرات تقريباً بمثابة حجم التفاحة الأصلية."

            p بمثل ما أن هناك أنواع مختلفة من أحجار البناء في مجموعة البناء، فهناك أنواع مختلفة من الذرات. هذه الأنواع تسمى <span class="term">بالعناصر الكيميائية chemical elements</span> أو فقط بالعناصر. هناك الكثير من العناصر المعروفة حالياً، منهم 90 يحدثون في الطبيعة. تُرتب العناصر في الجدول الدوري، النسخة الأصلية منه منه طُورت في 1860ـنيات بواسطة الكيميائي الروسي النابغة ألا وهو ديميتري مندلييف (الصورة 1.1).
            .figure <a id="fig_1.1" href="#fig_1.1">الصورة 1.1</a>
                div
                    img.portrait(src="/imgs/fig_1.1.webp" alt="ديميتري إيفانوفيتش مندليف")
                div
                    p ديميتري إيفانوفيتش مندليف (1834-1907) (<a href="https://nl.wikipedia.org/wiki/Bestand:Mendeleev_Photographische_Gesellschaft_3.jpg">المصدر</a>)

            p هناك <a href="https://sciencenotes.org/printable-periodic-table/">الكثير من التصاميم للجدول الدوري</a>. واحد منهم يتم عرضه في الصورة 1.2. هناك جداول دورية متفاعلة أيضاً، مثل <a href="https://periodic.lanl.gov/index.shtml">هذا</a>، والذي أحبه بشكل خاص.
        .center.extra
            .figure <a id="fig_1.2" href="#fig_1.2">الصورة 1.2</a>
                div
                    a.extra(href="/imgs/fig_1.2.png") <img src="/imgs/fig_1.2.png" alt="الجدول الدوري للعناصر الكيميائية">
                div
                    p الجدول الدوري للعناصر الكيميائية (<a href="https://ar.wikipedia.org/wiki/%D9%85%D9%84%D9%81:Periodic_table_large-ar.svg">المصدر</a>، <a href="/svg/periodic_table-ar.svg">المعدلة</a>)

        .center
            p في كل حجرة هناك عنصر كيميائي مع اسمه، رمزه، ورقمه. مثلاً، رمز الهيدروجين H ورقمه 1 في الجدول الدوري. العنصر الـ6 هو الكربون والذي رمزه C. الأكسجين هو العنصر الـ8 برمز O. رمز عنصر الحديد هو Fe برقم 26. تحتوي معظم إصدارات الجدول الدوري على كتلة كل عنصر بوحدة الكتلة الذرية atomic mass unit (amu)، والتي سنتناولها لاحقاً في دورتنا هذه. كما يُرى في الجدول الدوري أعلاه في <a href="#fig_1.2">الصورة 1.2</a>، فإن الكتلة الذرية للهيدروجين (H)، الكربون (C)، الأكسجين (O)، والحديد (Fe) هي 1.008، 12.011، 15.999، و 55.845 <span dir="ltr">amu.</span>، على التوالي.

        .center.red_box
            p ننحرف عن الموضوع قليلاً. ربما ستجدها غريبة، أنه بالرغم من كون رموز الكثير من العناصر وأساميها الإنجليزية منطقية، بعض العناصر الأخرى غريبة. مثلاً رمز C للكربون <span class="underline">c</span>arbon، رمز O للأكسجين <span style="text-decoration:underline">o</span>xygen، رمز H للهيليوم <span class="underline">h</span>elium، ورمز Fr للفرانسيوم <span class="underline">f</span>rancium يبدوا منطقيين. ولكن بالله عليك ليش رمز الحديد Fe، الفضة Ag، والتنجستن رمز W؟ للإجابة على هذا السؤال، يجب علينا أولاً معرفة أصول الأسامي الكيميائية. سُميت الكثير من العناصر التي عرفت من الرومانيين نسبة. إلى أساميهم اللاتينية، مثل Fe للحديد <span class="underline">f</span>errum، رمز Au للذهب <span class="underline">a</span>urum، رمز Pb للرصاص <span class="underline">p</span>lum<span class="underline">b</span>um، رمز Sn للقصدير <span class="underline">s</span>tannum، إلخ...

            p أصل رموز وأسامي عناصر أخر يأتي من أماكن غريبة جداً بصراحة. على سبيل المثال، رمز التنجستن، W، يأتي من الولفرام الألماني German Wolfrahm، حرفياً "سخام الذئب"، "زبد الذئب"، أو "كريم الذئب". هنا ما كتب H.C. Stark في <a href="https://silo.tips/download/tungsten-a-very-hard-business">مقالته</a> عن التنجستن والولفراميت، مادة من التنجستن.

            //- Don't know if I can or even anyone will understand the translation
            //- p "تاريخ التنجستن يعود إلى العصور الوسطى. لاحظ منجمون في جبال الخام لولاية ساكسونيا لاحظت أن بعض الخامات أزالت اختزال حجر القصدير"

            p(dir="ltr") "The history of tungsten goes back to the end of the Middle Ages. The miners in the Erz Mountains of Saxony noticed that certain ores disturbed the reduction of cassiterite [the tin mineral used for tin smelting - my comment] and induced slagging. "They tear away the tin and devour it like a wolf devours a sheep", a contemporary wrote in the symbolic language of the Middle Ages. The miners gave this annoying ore German nicknames like "wolfart," "wolframite" or"wolfrahm"."

            p تستطيع العثور على أصول أسماء العناصر الكيميائية <a href="https://ar.wikipedia.org/wiki/%D9%82%D8%A7%D8%A6%D9%85%D8%A9_%D8%A3%D8%B3%D9%85%D8%A7%D8%A1_%D8%A7%D9%84%D8%B9%D9%86%D8%A7%D8%B5%D8%B1_%D8%A7%D9%84%D9%83%D9%8A%D9%85%D9%8A%D8%A7%D8%A6%D9%8A%D8%A9_%D9%88%D8%A3%D8%B5%D9%84%D9%87%D8%A7">هنا</a>.


        .center

            h2 <a id="1.2.2" href="#1.2.2">1.2.2 الفلزات واللافلزات وأشباه الفلزات</a>

            p هناك 3 أنوع رئيسية للعناصر الكيميائية: <span class="term">الفلزات (معادن) metals</span>، <span class="term">اللافلزات nonmetals</span>، و<span class="term">أشباه الفلزات metalloids</span>.

            p أي جسم من ذرات عنصر فلزي مربوطين ببعض بقوى تسمى الرابطة فلزية (الوحدة الثانية)، سيمثل <span class="term">مادة كيميائية فلزية</span>. كل المواد الكيميائية الفلزية تظهر لماع مميز، والذي هو فضي في أغلب الأحيان. ولكن برغم كونهم براقين، إلا أن النحاس (Cu) أحمر، الذهب (Au) أصفر، والسيزيوم (Cs) أصفر باهت (الصورة 1.3)

            .figure <a id="fig_1.3" href="#fig_1.3">الصورة 1.3</a>
                div
                    img(src="/imgs/fig_1.3.webp" alt="عينات من النحاس، الذهب، والسيزيوم")
                div
                    p من اليسار إلى اليمين:
                        br
                        |1. عينات من النحاس (Cu؛ <a href="https://commons.wikimedia.org/wiki/File:NatCopper.jpg">المصدر</a>)
                        br
                        |2. عينات من الذهب (Au؛ <a href="https://commons.wikimedia.org/wiki/File:Gold-crystals.jpg">المصدر</a>)
                        br
                        |3. عينات من السيزيوم (Cs؛ <a href="http://www.chemistrylearner.com/wp-content/uploads/2018/06/Cesium.jpg">المصدر</a>)

            p تكون أغلب الفلزات بحالتها الصلبة في درجة حرارة الغرفة (حوالي 23 °C)، ما عدا الزئبق (Hg) الذي يكون سائلاً. الغاليوم (Ga) يذوب عند درجة 29.8°C، والتي هي ما دون درجة حرارة جسم الإنسان (36-37 °C)، لذلك يستطيع أحدهم أن يذيب الغاليوم براحة يده، كما هو موضح في هذا <a href="https://www.youtube.com/watch?v=lg--p95xPwg">الفيديو</a>، والذي مشاهدته ممتعة. يمكن شراء الغاليوم من العديد من المتاجر عبر الإنترنت وهو آمن للمس، لذلك تستطيع أن تجرب إذابة الغاليوم براحة يدك إذا أردت. فقط لا تنسى بأن تغسلك يدَيك بالصابون بعدها. حتى السيزيوم (Cs) يذوب عند درجة حرارة أقل (28.5 °C)، ولكن لا تفكر في القيام بتجارب مع فلز ثمين وخطير بشدة. السيزيوم هو <span class="term">تلقائي الاشتعال pyrophoric</span> (يشتعل تلقائياً في الهواء) ويتفجر عند ملامسته الماء. لذلك فإن فلز السيزيوم المعروض في <a href="#fig_1.3">الصورة 1.3</a> قد عُزل في أنبوب زجاجي، وعلى ما يبدوا فهناك أيضاً فراغ خالي من الهواء أو مليئ بغاز خامل (غير نشط) تجاه السيزيوم. النايتروجين والآرغون هما مثالين على هذه الغازات.

            p قال أحدهم وصدق في ما قال "ليس كل ما يلمع ذهباً" (هناك قصة مثيرة للاهتمام <a href="https://www.youtube.com/watch?v=CPSkNFODVRE">لآنسة ظنت العكس</a>.) يجب على المرء أن يكون حذراً جدا عند الحكم بالمظهر فقط على ما إذا كان العنصر فلزي أو غير فلزي. ألقي نظرة على الصورتين المعروضي في الصورة 1.4 أدناه. التي على اليسار تريك البورون (B) والتي على اليمين تريك السيليكون (Si). كلاهما لامعيَن وفضيَّي اللون، ولكن كلاهما البورون والسيليكون ليسا بفلزات.

            .figure <a id="fig_1.4" href="#fig_1.4">الصورة 1.4</a>
                div
                    img(src="/imgs/fig_1.4.webp" alt="عينتان من السيليكون والبورون")
                div
                    p
                        |اليمين: عينات من السيليكون (Si؛ <a href="https://commons.wikimedia.org/wiki/File:SiliconCroda.jpg">المصدر</a>)
                        br
                        |اليسار: عينات من البورون (B؛ <a href="https://commons.wikimedia.org/wiki/File:Boron_R105.jpg">المصدر</a>)

            p توصل الفلزات الحرارة والكهرباء وهي قابلة للسحب والطرق ومطيلية. على الرغم من أن البورون فضي اللون، إلا أنه هش وموصل سيء جدا للكهرباء في حرارة الغرفة. أيضاً، السيليكون هش وعبارة عن <span class="term">شبه موصل semiconductor</span>. الشبه موصل يوصل الكهرباء بشكل أفضل من العوازل مثل متعدد الإيثيلين (البولي إثيلين)، الخشب، أو الزجاج، ولكنه أسوء من الفلزات. عادة ما تسمى عناصر مثل البورون والسيليكون بعناصر <span class="term">شبه فلزية</span>. الشبه فلزات هما عناصر وسطية بين الفلزات <span class="term">واللافلزات</span>. تكون اللافلزات موصلات سيئة جداً للكهرباء وليس لديهم ذاك اللمعان الفضي. في درجة حرارة الغرفة وتحت الضغط الجوي، تكون بعض اللافلزات غازات (الهيدروجين، الأكسجين، النيتروجين)، البعض الآخر صلب (الكربون، الكبريت، الفوسفور)، وآخرون أيضاً سوائل (بروم). <a href="#fig_1.5">الصورة 1.5</a> تريك موقع عناصر الفلزات، أشباه الفلزات، واللافلزات في الجدول الدوري.

        .center.extra
            .figure <a id="fig_1.5" href="#fig_1.5">الصورة 1.5</a>
                div
                    a.extra(href="/imgs/fig_1.5.png") <img src="/imgs/fig_1.5.png" alt="الفلزات، اللافلزات والشبه فلزات في الجدول الدوري">
                div
                    p موقع الفلزات، اللافلزات والشبه فلزات في الجدول الدوري (<a href="https://ar.wikipedia.org/wiki/%D9%85%D9%84%D9%81:Periodic_table_large-ar.svg">المصدر</a>، <a href="/svg/metals_nonmetals_metalloids-ar.svg">المعدلة</a>)

        .center

            h2 <a id="1.2.3" href="#1.2.3">1.2.3 الصيغ الكيميائية</a>

            p تستطيع أن ترتبط الذرات ببعضها البعض لتكوين جزيء. مثلاً، ذرتَي هيدروجين (H) وذرة أكسجين (O) يُكونوا جزيء الماء، <span class="H">H</span>-<span class="O">O</span>-<span class="H">H</span>، أو <span class="H">H<sub>2</sub></span><span class="O">O</span>. ومثال آخر، ذرة واحدة من الكربون (C) وذرتَي أكسجين (O) يُكونوا جزيء ثاني أوكسيد الكربون <span class="C">C</span><span class="O">O<sub>2</sub></span>. أبسط طريقة لعرض صيغة كيميائية هي بكتابة رمز العنصر الأول على السطر، كتابة عدد الذرات الموجودة منه أسفل السطر قليلاً، ومن ثم إعادة نفس العملية للعناصر الباقية في الجزيء. إذا كان هناك ذرة واحدة من عنصر معين، فلا داعي لكتابة رقم 1 بجانبها، وذلك لتبسيط الصيغة. لذلك لم نكتب صيغتي الماء والكربون كـ<span class="C">C<sub>1</sub></span><span class="O">O<sub>2</sub></span> ،<span class="H">H<sub>2</sub></span><span class="O">O<sub>1</sub></span>. بل كتبناهما كـ<span class="C">C</span><span class="O">O<sub>2</sub></span> ،<span class="H">H<sub>2</sub></span><span class="O">O</span> على التوالي. <a href="#fig_1.6">الصورة 1.6</a> توضح هذه القاعدة مع صيغة الماء كمثال.
            .figure <a id="fig_1.6" href="#fig_1.6">الصورة 1.6</a>
                div
                    img.portrait(src="/imgs/fig_1.6.png" alt="الصورة 1.6. طريقة كتابة الصيغة الكيميائية للماء")
                div
                    p طريقة كتابة الصيغة الكيميائية للماء

            p تستطيع أيضاً الذرات من نفس النوع (من نفس العنصر) أن تترابط مع بعضها البعض لتُكون جزيئات. مثلاً، جزيء الهيدروجين يتكون من ذرتَي هيدروجين، <span class="H">H-H</span> أو <span class="H">H<sub>2</sub></span>. نفس الشيء مع جزيء الأكسجين، <span class="O">O<sub>2</sub></span>، لديه ذرتان من عنصر أكسجين.

            p كيف تستطيع قراءة ولفظ الصيغ الكيميائية؟ بسيطة! فقط اقرأ الصيغة حرفاً بعد حرف ورقماً بعد رقم. مثلاً:
                br
                |- تلفظ <span class="H">H<sub>2</sub></span> كـ <span class="H">إتش-إثنان</span>.
                br
                |- تلفظ صيغة حمض الكبريت <span class="H">H<sub>2</sub></span><span class="S">S</span><span class="O">O<sub>4</sub></span> كـ <span class="H">إتش-إثنان</span>-<span class="S">إس</span>-<span class="O">أو-أربعة</span>.
                br
                |- تلفظ صيغة صودا الخَبز <span class="Na">Na</span><span class="H">H</span><span class="C">C</span><span class="O">O<sub>3</sub></span> كـ <span class="Na">إن-إيه</span>-<span class="H">إتش</span>-<span class="C">سي</span>-<span class="O">أو-ثلاثة</span>.

            h2 <a id="1.2.4" href="#1.2.4">1.2.4 تمارين</a>

            p 1. اعثر على العناصر التالية في <a target="_blank" href="/imgs/fig_1.2.png">الجدول الدوري</a>: Si ،Cu ،Ca ،K ،Cl ،S ،P ،Na ،O ،N ،C ،H. ما هي أسامي وأرقام هذه العناصر؟

            p 2. ما هي رموز العناصر التالية: هيدروجين، نيتروجين، ماغنسيوم، كلور، حديد، بوتاسيوم، نحاس، كبريت، أكسجين، فوسفور؟

            p 3. هل هناك فلزات أكثر من اللافلزات أو العكس؟ [تلميحة: استخدم <a target="_blank" href="/imgs/fig_1.5.png">الصورة 1.5</a>]

            p 4. أي من العناصر التالية فلزية، لافلزية، وشبه فلزية: Ba ،B ،Mg ،P ،Fe ،Cu ،As ،Br ،B ،Ca ،Cl ،F ،Na ،Si. [تلميحة: استخدم <a target="_blank" href="/imgs/fig_1.5.png">الصورة 1.5</a>]

            p 5. عبر تبديل الأحرف y ،x، وz بأرقام معينة، اكتب الصيغ الكيميائية للجزيئات التالية.

            p (أ) الميثان (المكون الرئيسي للغاز الطبيعي)، يضم ذرة 1 كربون و 4 ذرات هيدروجين، C<sub>x</sub>H<sub>y</sub>. قم بلفظ الصيغة الناتجة.
                br
                input.answer(type="checkbox" id="5.A")
                label(for="5.A") الجواب:
                span CH<sub>4</sub>؛ سي-إتش-أربعة

            p (ب) الإيزوبروبانول (كحول مسح)، يتكون من 4 ذرات كربون، 8 ذرات هيدروجين، وذرة 1 أكسجين، C<sub>x</sub>H<sub>y</sub>O<sub>z</sub>. قم بلفظ الصيغة الناتجة.
                br
                input.answer(type="checkbox" id="5.B")
                label(for="5.B") الجواب:
                span C<sub>4</sub>H<sub>8</sub>O؛ سي-إثنا عشر-إتش-إثنان-أو-إحدا عشر

            p (ت) السكروز (السكر)، يتكون من 12 ذرة كربون، 22 ذرة هيدروجين، 11 ذرة أكسجين، C<sub>x</sub>H<sub>y</sub>O<sub>z</sub>. قم بلفظ الصيغة الناتجة.
                br
                input.answer(type="checkbox" id="5.C")
                label(for="5.C") الجواب:
                span C<sub>12</sub>H<sub>22</sub>O<sub>11</sub>؛ سي-إثنا عشر-إتش-إثنان وعشرون-أو-إحدا عشر

            p (ث) أكسيد الحديد (الصدء)، يتكون من 2 ذرة حديد، و3 ذرات أكسجين، Fe<sub>x</sub>O<sub>y</sub>. قم بلفظ الصيغة الناتجة.
                br
                input.answer(type="checkbox" id="5.D")
                label(for="5.D") الجواب:
                span Fe<sub>2</sub>O<sub>3</sub>؛  إف-إي-إثنان-أو-ثلاثة

            p (ج) جزيء من الأكسجين يتكون من 2 ذرة أكسجين O<sub>x</sub> والأوزون يتكون من 3 ذرات أكسجين، O<sub>y</sub>. قم بلفظ الصيغة الناتجة.
                br
                input.answer(type="checkbox" id="5.E")
                label(for="5.E") الجواب: 
                span O<sub>2</sub> و O<sub>3</sub>؛ أو-إثنان و أو-ثلاثة
            br

            a.next(href="/1.3") الصفحة التالية ← 1.3

            a.previous(href="/1.1") 1.1 → الصفحة السابقة

            br