include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.3 العناصر الكيميائية البسيطة والمعقدة
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.3 العناصر الكيميائية البسيطة والمعقدة
            p
                |- <a href="#1.3.1">1.3.1 العناصر الكيميائية البسيطة والمعقدة</a>
                br
                |- <a href="#1.3.2">1.3.2 المواد الكيميائية البسيطة والعناصر: هناك فرق!</a>
                br
                |- <a href="#1.3.3">1.3.3 تمارين</a>

            hr

            h2 <a id="1.3.1" href="#1.3.1">1.3.1 العناصر الكيميائية البسيطة والمعقدة</a>

            p كما نعلم، فأي مادة كيميائية تتكون من جزيئات متطابقة. هناك نوعان من المواد الكيميائية: بسيطة ومعقدة.

            p <span class="term">المادة الكيميائية البسيطة simple substance</span> تتكون من جزيئات متكونة من عنصر واحد فقط (من ذرات من نوع واحد فقط). على سبيل المثال، غاز الهيدروجين، H<sub>2</sub> هو مادة كيميائية بسيطة ﻷنه يتكون من جزيئات متكونة من ذرات من نفس النوع، وهي ذرات الهيدروجين (H). أيضاً الفوسفور الأبيض P<sub>4</sub> يعتبر مادة كيميائية بسيطة، وكذلك النيتروجين N<sub>2</sub> والأكسجين O<sub>2</sub>. كما ذُكر أعلاه، فهناك بعض المواد الكيميائية البسيطة التي تتكون من جزيئات ذوات ذرة واحدة فقط، وتسمى هذه الجزيئات بالجزيئات أحادية الذرة monoatomic molecules.

            p <span class="term">المادة الكيميائية المعقدة complex substance</span> وأيضاً تُعرف <span class="term">بالمركب compound</span>، هي عبارة عن مادة كيميائية تتكون من جزيئات متطابقة تتكون من أكثر من عنصر كيميائي واحد. على سبيل المثال، الماء هو مادة كيميائية معقدة وذلك لأن جزيئه، H<sub>2</sub>O، يتكون من ذرات من عناصر مختلفة وهي الهيدروجين (H) والأكسجين (O). أمثلة أكثر على المواد الكيميائية المعقدة معروضة أدناه.

            p 1. ملح الطعام، (كلوريد الصوديوم)، NaCl، هو <span class="term">مادة كيميائية معقدة</span> (أو <span class="term">مركب</span>) لاحتوائه على عنصرين اثنين مختلفَي النوع وهما الصوديوم (Na) والكلور (Cl). قم وابحث عن هذه العناصر في <a href="/imgs/fig_1.2.png">الجدول الدوري</a>.

            p 2. الأسبيرين (حمض الساليسيليك)، C<sub>9</sub>H<sub>8</sub>O<sub>4</sub>، هو <span class="term">مادة كيميائية معقدة</span> (أو <span class="term">مركب</span>) والذي يتكون جزيئه من ثلاث عناصر مختلفة: 9 ذرات كربون، 8 ذرات هيدروجين، و4 ذرات أكسجين. اعثر على هذه العناصر في الجدول الدوري.

            p 3. رماد الصودا، أيضاً ما يُعرف بصودا الغسيل (كربونات الصوديوم)، Na<sub>2</sub>CO<sub>3</sub>، هو <span class="term">مادة كيميائية معقدة</span> (أو <span class="term">مركب</span>) يتم تشكيله بثلاث عناصر مختلفة: الصوديوم، الكربون، والأكسجين. اعثر على أولئك في الجدول الدوري. أيضاً اقرأ عن رماد الصودا.

            p 4. الأكسجين هو غاز وعضو رئيسي في الهواء (حوالي 21% بالكتلة). الأكسجين هو <span class="term">مادة كيميائية بسيطة</span> ولا يجب أبداً أن يسمى بالمركب لأن الـ O<sub>2</sub> يتكون من عنصر واحد فقط لا غير. اعثر على هذا العنصر في الجدول الدوري.

            h2 <a id="1.3.2" href="#1.3.2">1.3.2 المواد الكيميائية البسيطة والعناصر: هناك فرق!</a>

            p هل لاحظت بأن الأكسجين الغازي (O<sub>2</sub>) يطلق عليه نفس إسم عنصره "أكسجين"؟ نفس الوضع مع الهيدروجين: كلا من عنصر الـ(H) وغاز الهيدروجين (H<sub>2</sub>) لديهما نفس الإسم "هيدروجين". فكيف يا ترى سنعرف ما إذا كان أحدهم يتكلم عن <span class="term">العنصر الكيميائي</span> أو عن <span class="term">المادة الكيميائية البسيطة</span>؟ من الوهلة الأولى تبدوا صعبة قليلاً، ولكن يمكن تجنبها بسهولة. كل ما علينا فعله هو أن ننتبه إلى السياق الذي قيل فيه كلمة "هيدروجين" أو "أكسجين".

            p مثل ما أن المواد الكيميائية المعقدة تسمى بغازية، سائلة، أو صلبة، فأيضاً تستطيع المواد الكيميائية البسيطة أن تكون كذلك. على سبيل المثال، الأكسجين هو غاز، الزئبق هو سائل. والكبريت هو صلب. يمكن للمواد الكيميائية أن تُضب بأسطوانات أو بأوعية، أن تُشحن وأن تستخدم لأغراض مختلفة، إلخ...  هم ملموسين ﻷنهم <span class="term">فيزيائيين physical</span>. في المقابل، العنصر الكيميائي هو <i>نوع</i> من الذرة. رغم أن الذرات تعتبر مواداً، إلا أن <i>أنواعهم</i> ليست بالشيء الملموس. لا نستطيع أن نضع <i>نوع</i> من الذرة في وعاء أو حاوية غاز. وأدناه أمثلة للتوضيح، بعضهم يقصد نوع الذرة (العنصر) والآخر المادة الكيميائية البسيطة.

            p
                |مثال 1. كل الجزيئات العضوية تحتوي على الكربون.
                br
                |ما يُقصد هنا هو عنصر الكربون (C) ﻷنه هو ذلك النوع من الذرات (ذرات الكربون) الذي يتواجد دائماً في كل الجزيئات العضوية. (مع حد قليل جداً من الاستثناءات، فالمركبات الكيميائية الكربونية تُدَرس في فرع آخر من الكيمياء يسمى بالكيمياء العضوية. بعض أساسيات الكيمياء العضوية يتم تقديمها في الوحدة الرابعة من هذه الدورة.)

            p
                |مثال 2. مخاليط الأكسجين والهيدروجين مخاليط متفجرة.
                br
                |ما يُقصد هنا هو تماماً المواد الكيميائية البسيطة. مخاليط كهذه يمكن صناعتها بخلط غاز الأكسجين (O<sub>2</sub>) والهيدروجين (H<sub>2</sub>). هذه الغازات هي أشياء ملموسة، تستطيع أن تنفخها في بالونة أو تعبئها في اسطوانة. تستطيع أن تخزنها وأن تستخدمها لأغراض مختلفة.

        .center.red_box
            p ننحرف عن الموضوع. لم يعد يُستخدم غاز الهيدروجين لنفخ البلالين والمناطيد بعد الآن ﻷنه إذا تسرب إلى الهواء الطلق الذي يحتوي على الأكسجين، فسيتكون لدينا خليط من الـH<sub>2</sub> و O<sub>2</sub> وفروووم ينفجر. لن يكون الأمر بالمضحك الكثير بعد مشاهدة هذه <a href="https://www.youtube.com/watch?v=rWeO1q0gHJE">اللقطات الحية</a> لفاجعة هيندنبورغ ، حدث ذلك الإنفجار بمنطاد سفينة زيبلين 129 هيندينبيرغ والذي كان منفوخاً بالهيدروجين ومليءً بالركاب في مارس 6 عام 1937 أثناء هبوطه بمطار ليكهرست في نيوجيرسي، الولايات المتحدة الأمريكية. في هذه الأيام، يستخدم غاز الهيليوم لنفخ البلالين والمناطيد بالرغم من حقيقة ضعفه وغلائه مقارنة بالهيدروجين. ليش؟ ﻷن الهيليوم غير قابل للاشتعال. "السلامة أولاً" هي شعار جميل.

        .center
            p
                |المثال 3. الهيموغلوبين هو مسؤول عن عن حمل الأكسجين من الرئتين إلى كل أنسجة الجسم.
                br
                |هنا يُقصد بغاز الأكسجين، غاز الأكسجين هو شيء ملموس ويمكن نقله من مكان إلى آخر، وهو مادة كيميائية بسيطة.

            p
                |المثال 4. نقل الكهرباء عبر الماء، H<sub>2</sub>O، والذي يتكون من <span class="yellow">الهيدروجين والأكسجين</span>، يؤدي إلى تفكك الماء <span class="pink">للهيدروجين وللأكسجين</span> والذان يصبحان بذلك فقاعات في الماء.
                br
                |هذه الجملة مثيرة للاهتمام. في أولها، يٌقصد بكلمتَي "<span class="yellow">الهيدروجين والأكسجين</span>" على أنهما العناصر.
                br
                |مثلاً: يتكون ثاني أوكسيد الكربون CO<sub>2</sub> من عنصرين اثنين، الكربون والأكسجين.
                br
                |ولكن كلمتَي، "<span class="pink">للهيدروجين وللأكسجين</span>" في آخر الجملة تعنيان المواد الكيميائية البسيطة، أي غازَي الهيدروجين والأكسجين. والذان يُنتجا بسبب تفاعل مرور الكهرباء عبر الماء، لذلك سترى فقاعات. أن يصير شيء غازاً وأن تراه على شكل فقاعات يعني تماماً أنه شيء ملموس وبذلك فهو مادة كيميائية.

            p لحد الآن متلخبط؟ فكر بسلالات الكلاب. سلالة كلب هي <i>نوع</i> من الكلاب تميزها مظهر فريد وخواص أخرى، مثل المزاجية، الوزن، لون الشعر، سرعة الجري، إلخ.
                br
                |تخيل أن أحدهم قال، "الكلاب الراعية الألمانية هي كلاب رائعة للتربية." <a class="dimmed" href="https://ar.wikipedia.org/wiki/%D8%A7%D9%84%D9%83%D9%84%D8%A8_%D8%A7%D9%84%D8%B1%D8%A7%D8%B9%D9%8A_%D8%A7%D9%84%D8%A3%D9%84%D9%85%D8%A7%D9%86%D9%8A">معلومات أكثر</a>
                br
                |على سماع ذلك فستتصور مباشرة ذاك <i>النوع</i> من الكلاب الرشيق والرياضي، حجمهم التقريبي، شكل رأسهم، جسمهم، وذيلهم، وأيضاً خواص أخرى تتميز بها السلالة. كما ترى، فاستطعت تصور شكل الكلب في مخيلتك، ولكنك لا تستطيع أن تلمس ذلك <i>النوع</i> من الكلاب لأنه عبارة عن <i>نوع</i> من الكلاب وليس الكلب نفسه.
                br
                |والآن تخيل جارك الحبيب يقول لك، "سأذهب بعيداً عن المنزل هذا المساء، أيمكنك رعاية كلبي الراعي الألماني plz؟"
                br
                |في هذه الحالة، فيقصد جارك كلبه الراعي الألماني، ذاك الكلب الذي طاردك أمس وكنت تهرب كالهرة منه. كمى ترى فشيء ملموس، هو الكلب نفسه (كلب جارك) وليس نوعاً من الكلاب.
                br
                |العناصر الكيميائية وأنواع الكلاب هما أشياء غير ملموسة ﻷنهما عبارة عن <i>أنواع</i> فقط لا غير، تُكتب في الكتب للتفرقة بينهم ولدراستهم. وبالمقابل، فالمواد الكيميائية والكلاب الموجودة فعلاً في الواقع مثل كلب جارك الحبيب هما أشياء ملموسة وتستطيع رؤيها ولمسها أي أنها أشياء فيزيائية.

            p شيء آخر مهم في الفرق بين العناصر والمواد الكيميائية البسيطة. أحياناً ما تكون هناك حاجة ماسة لعنصر ما في الجهاز الحيوي ليستطيع أن يشتغل بكشل صحيح. وفي نفس الوقت، إذا تكون نفس العنصر لمادة كيميائية بسيطة فسيصبح مميتاً لنفس الجهاز. مثلاً، لن نكون موجودين في هذه الحياة من دون كميات كبيرة من عنصر الفوسفور والذي يتواجد في الكثير من المواد الكيميائية المعقدة التي يحتاجها جسمنا. ولكن ما إذا كان الفوسفور عبارة عن مادة كيميائية بسيطة، الفوسفور (الفوسفور الأبيض، P<sub>4</sub>) فسيكون سماً مميتاً.

            h2 <a id="1.3.3" href="#1.3.3">1.3.3 تمارين</a>

            p قم بتحديد أي الجمل أدناه تقصد بقولها العنصر الكيميائي أو المادة الكيميائية البسيطة التي تتكون من ذلك العنصر الكيميائي.

            p 
                |1. الكلور هو غاز سام.
                br
                input.answer(type="checkbox" id="1")
                label(for="1") الجواب:
                span مادة كيميائية بسيطة. بالطبع، مثل أي غاز آخر، تستطيع أن تضع غاز الكلور (Cl<sub>2</sub>) في حاوية غاز وتستطيع أن تشحنه وأن تتنفسه حتى، ولكن إياك أن تفعل ذلك لأنه سام.

            p 
                |2. السبانخ مليئة بالحديد.
                br
                input.answer(type="checkbox" id="2")
                label(for="2") الجواب:
                span العنصر الكيميائي الحديد (Fe). كمادة كيميائية بسيطة، فسترى الحديد كمعدن مثل المسامير والصفائح الحديدية. ولكنك لن ترى مسامير في السبانخ، ولا في البروكولي، ولا في أي طعام آخر غني بعنصر الحديد. لو فعلاً كان مادة كيميائية بسيطة، لكانت السبانخ صلبة جداً وطعمها طعم حديد كأنك أكلت مسمار.

            p
                |3. البروم يكون سائلاً في درجة حرارة الغرفة تحت الضغط الجوي.
                br
                input.answer(type="checkbox" id="3")
                label(for="3") الجواب:
                span مادة كيميائية بسيطة، Br<sub>2</sub>. العنصر الكيمائي البروم لا يمكن أن يكون صلباً، سائلاً، أو غازاً ﻷنه عنصر. حالة الصلب والسائل والغاز هي خواص للمواد الكيميائة وليست خواص للعناصر. العناصر لديها خواص أخرى مثل عدد البروتونات والإلكترونات إلخ.

            p 4. من بين كل المعادن، التنغستين (W) لديه أعلى نقطة ذوبان.
                br
                input.answer(type="checkbox" id="4")
                label(for="4") الجواب:
                span مادة كيميائية بسيطة. مثل وضع حالة الصلب والسائل والغاز، نقطة الذوبان والغليان هما خواص للمادة الكيميائة وليسا خواص للعناصر.

            p 5. يحتاج جسمك إلى الفوسفور.
                br
                input.answer(type="checkbox" id="5")
                label(for="5") الجواب:
                span العنصر الكيميائي الفوسفور. مثل السبانخ، غنية بعنصر الحديد. وهنا نحتاج أن يكون جسمنا مليئ بعنصر الفوسفور. المادة الكيمائية البسيطة الفوسفور أو الفوسفور الأبيض هي مادة كيميائية خطيرة وسامة جداً وقابلة للاشتعال أيضاً.

            br

            a.next(href="/1.4") الصفحة التالية ← 1.4

            a.previous(href="/1.2") 1.2 → الصفحة السابقة

            br