include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.4 المواد الكيميائية الفردية والمخاليط
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.4 المواد الكيميائية الفردية والمخاليط
            p
                |- <a href="#1.4.1">1.4.1 المواد الكيميائية الفردية</a>
                br
                |- <a href="#1.4.2">1.4.2 الشوائب والنقاوة</a>
                br
                |- <a href="#1.4.3">1.4.3 مخاليط المواد الكيميائية</a>
                br
                |- <a href="#1.4.4">1.4.4 المخاليط المتجانسة وغير المتجانسة</a>
                br
                |- <a href="#1.4.5">1.4.5 فصل المخاليط وطرق التنقية: التقطير، وإعادة التبلور</a>
                br
                |- <a href="#1.4.6">1.4.6 تجارب بلورة</a>
                br
                |- <a href="#1.4.7">1.4.7 طرق فصل غير اعتيادية</a>
                br
                |- <a href="#1.4.8">1.4.8 تمارين</a>
            
            hr

            h2 <a id="1.4.1" href="#1.4.1">1.4.1 المواد الكيميائية الفردية</a>
            p تتكون المادة الكيميائية من جزيئات من نوع معين. مثلاً، غاز الأكسجين يتكون من جزيئات الـ O<sub>2</sub>، الماء من جزيئات الـ H<sub>2</sub>O، الهيليوم من ذرات الـ He (جزيئات أحادية الذرة)، إلخ... للتأكيد على أن المادة الكيميائية تتكون من جزيئات من نفس النوع، يُستخدم مصطلح <span class="term">المادة الكيميائية الفردية individual substance</span> (انظر أيضاً إلى القسم الفرعي <a href="#1.4.2">1.4.2</a>). بعض المعادن التي تتكون وحدها في الطبيعة هي مواد كيميائية فردية، بسيطة ومعقدة. الأمثلة على المواد الكيمائية البسيطة التي قد وُجدت في في الطبيعة هي أمثلة محدودة. يشملن الكربون (C) على شكل ألماس، الذهب (Au)، الكبريت (S)، والنحاس (Cu)، كما يُعرض هنا في الصورة 1.7

            .figure <a id="fig_1.7" href="#fig_1.7">الصورة 1.7</a>
                div
                    img(src="/imgs/fig_1.7.webp" alt="عينات من الألماس، الذهب، الكبريت، النحاس")
                div
                    p عينات من مواد كيميائية بسيطة أصلية. من اليسار إلى اليمين:
                        br
                        |ألماس (C؛ <a href="https://media.tvzvezda.ru/news/vstrane_i_mire/content/201712161205-b6xx.htm/1.jpg">المصدر</a>)
                        br
                        |ذهب (Au؛ <a href="https://www.bowers.org/images/exhibit_pic/large/California-Gold.jpg">المصدر</a>)
                        br
                        |كبريت (S؛ <a href="https://images-of-elements.com/sulfur.jpg">المصدر</a>)
                        br
                        |نحاس (Cu؛ <a href="https://upload.wikimedia.org/wikipedia/commons/9/91/Copper-21991.jpg">المصدر</a>)

            p المواد الكيميائية المعقدة الطبيعية (المركبات) متوفرة بشكل أكبر وتحتوي على عدد كبير من المعادن، بعضهم يتم عرضه في الصورة 1.8. لاحظ في هذه الصورة أن صيغة المالاكيت في الوصف مكتوبة كـ Cu<sub>2</sub>CO<sub>3</sub>(OH)<sub>2</sub> وليس كـ Cu<sub>2</sub>H<sub>2</sub>CO<sub>5</sub>. سنشرح سبب وضع أقواس حول "OH" في ما بعد.

            .figure <a id="fig_1.8" href="#fig_1.8">الصورة 1.8</a>
                div
                    img(src="/imgs/fig_1.8.png" alt="")
                div
                    p عينات من مواد كيميائية معقدة فردية طبيعية. من اليسار إلى اليمين:
                        br
                        |كوارتز، SiO<sub>2</sub>؛ <a href="https://commons.wikimedia.org/wiki/File:Quartz,_Tibet.jpg">المصدر</a>
                        br
                        |مالاكيت، Cu<sub>2</sub>CO<sub>3</sub>(OH)<sub>2</sub>؛ <a href="https://geology.com/minerals/malachite.shtml">المصدر</a>
                        br
                        |ملح صخري، NaCl؛ <a href="https://farm1.staticflickr.com/133/358359211_d4aef8ab56.jpg">المصدر</a>

            p تمتلك المواد الفردية خصائص الجزيئات المكونة منها، مهما كان مصدرهم. على سبيل المثال، السكر الأبيض النقي (السكروز C<sub>12</sub>H<sub>22</sub>O<sub>11</sub>) لديه نفس الخواص تماماً (الحلاوة، الذوبانية في الماء، شكل البلورات، نقطة الذوبان، إلخ...) مهما كان مصدره، سواء أكان من قصب السكر، من شمندر سكري، أو من الفواكه. بعض الناس يعتقدون أن مسحوق السكر أحلى طعماً من حبوب السكر. هذا ليس صحيحاً. ربما سيكون طعم مسحوق السكر أحلى لأنه يتكون من حبيبات أصغر (بلورات) والتي تذوب في فم المرء بشكل أسرع، ولكن قهوتك ستكون لديها نفس الحلاوة مهما كانت طريقة تحليتها سواء أكانت بمسحوق السكر، بحبيبات السكر، أو حتى بمكعبات السكر، طالما أنك قد وضعت نفس كمية الكتلة من هذه الأنواع التجارية لأشكال السكر في مشروبك الساخن :)

            h2 <a id="1.4.2" href="#1.4.2">1.4.2 الشوائب والنقاوة</a>

            p إذا كان يجب على أي مادة كيميائية أن تكون متكونة من جزيئات متطاقة النوع، فلماذا نستعمل مصطلح "المادة الكيميائية الفردية"؟ والله صراحة وعلى أرض الواقع، ليس هناك شيء يسمى بمادة نقية تماماً، مهما إذا ما كانت طبيعية أو من صنع الإنسان. إضافةً إلى الجزيئات الرئيسية للمادة الكيميائية، فدائماً ما ستكون هناك نسبة صغيرة من جزيئات من مواد كيميائية أخرى والتي تسمى بـ<span class="term">الشوائب impurities</span>.

            p كل مرة تسمع كلمة مادة كيميائية "نقية"، فضع في بالك أنه ليس هناك بمادة كيميائية حقيقية نقية 100%. وإذا كان الحال كذلك، فمتى نقول عن مادة أنها نقية، أو بكلمة أخرى، فردية؟ يعتمد ذلك على معاييرنا لمادة كيميائية معينة في تطبيق معين. على سبيل المثال، يجب على السيليكون (Si) أن يكون نقياً بنسبة 99.999999999% يكون صالحاً للاستعمال في أشباه الموصلات. لتطبيقات الخلايا الشمسية، فيمكن للسيليكون أن يكون 100،000 مرة أقل نقاوة، "فقط" 99.9999%، للتطبيقات العلم فلزية metallurgical applications، فتقريباً أقل نقاوة بـ2 مليار مرة، حوالي 98%، لذلك فعينة سيليكون بنقاوة 99.99% تعتبر نقية جداً لأشغال علم الفلزات وفي نفس الوقت مليئة بالشوائب لمنشئات الشبه موصلات والخلايا الشمسية. وصناعة أشياء بهذه النقاوة تكون مكلفة جداً.

            p نسبة نقاوة المواد الكيمائية التي تستخدم للأبحاث العلمية الكيميائية وللصناعة عادة ما تكون 90-99%. النعت "فردي" غالباً، ولكن ليس دائماً، ما يضاف إلى الكلمة "المادة الكيميائية" لتوضيح فكرة أن المادة الكيميائية المعطاة تفي بمعايير النقاوة لتطبيق معين و/أو لمنشور في مجلة علمية.

            h2 <a id="1.4.3" href="#1.4.3">1.4.3 مخاليط المواد الكيميائية</a>

            p المادة التي تتكون من مواد كيميائية مختلفة (جزيئات من أنواع مختلفة) تسمى بـ<span class="term">الخليط mixture</span>. على سبيل المثال، إذا أذبنا سكر في الماء، فالشراب الناتج سيكون خليطاً من السكر والماء. الخل الأبيض الصافي أيضاً هو عبارة عن خليط من حمض الأسيتيك Acetic acid والماء. الأسمنت البورتلاندي هو أيضاً خليط من مادتين كيميائيتين رئيسيتين، أكسيد الكالسيوم calcium oxide (CaO) وثنائي أكسيد السيليكون silicon oxide (SiO<sub>2</sub>) وأيضاً كميات صغيرة من أكسيد الألومنيوم aluminum oxide (Al<sub>2</sub>O<sub>3</sub>) وبعض المركبات الأخرى.

            p ليس من غير الاعتيادي أن يتلخبط في الفرق ما بين المادة الكيميائية، المادة الكيمائية المعقدة، والخليط. دعنا نكرر، مرة أخرى،
                br
                |<span class="term">المادة الكيميائية البسيطة</span> تتكون من <span class="term">جزيئات متطابقة</span> متكونة من عنصر واحد فقط (نوع ذرة واحد).
                br
                |<span class="term">المادة الكيميائية المعقدة</span> تتكون من <span class="term">جزيئات متطابقة</span> متكونة من أكثر من عنصر واحد مختلفين عن بعضهم البعض.
                br
                |<span class="term">الخليط</span> يتكون من <span class="term">جزيئات مختلفة</span>

            p معظم المادة حولنا هي على شكل خليط. نحن عبارة عن مخاليط معقدة جداً من عدد لا يحصى من الكيماويات التي تتفاعل باستمرار. الهواء هو خليط من غازات، في المقام الأول النيتروجين (N<sub>2</sub>) والأكسجين (O<sub>2</sub>) وكميات أقل بكثير من الآرغون (Ar)، ثاني أوكسيد الكربون (CO<sub>2</sub>)، بخار الماء، ومكونات أخرى ثانوية. الماء المكون طبيعياً هو عبارة عن خليط من الماء والعديد من الأملاح المتنوعة. ماء البحر هو مالح بسبب كلوريد الصوديو (NaCl، ملح الطعام) وبسبب أملاح أخرى ذابت به. الحليب هو خليط من الماء والكثير من مركبات لاعضوية وعضوية، منهم بروتينات، ليبيدات (دهن) كربوهيدرات، واملاح معدنية.

            p كلا من المواد الكيميائية النقية ومخالطهم لهما استخدامات مهمة. على سبيل المثال، مكونات نشطة نقية من كثير من الأدوية وعملاء حماية المحاصيل crop protection agents يتم خلطهم مع مواد كيميائية أخرى عن قصد، لأجل تعزيز فائدة التأثير. مثال آخر هو <a href="https://ar.wikipedia.org/wiki/%D9%82%D8%A7%D8%A6%D9%85%D8%A9_%D8%A7%D9%84%D8%B3%D8%A8%D8%A7%D8%A6%D9%83_%D8%A7%D9%84%D9%85%D8%B3%D9%85%D8%A7%D8%A9">السبائك</a>، مخاليط من الفلزات، والتي عادة ما تكون أفضل من المكونات الفلزية الفردية. السبيكة الأكثر استخداماً والتي هي الفولاذ لديها قوة شد أعلى من مكونها الرئيسي الفردي، الحديد.

            p في بعض الأحيان يتم خلط مواد كيميائية نقية مع مواد كيميائية أخرى لأغراض تسويقية بحتة. مثال على هذا هو السكر البني، والذي عادة ما ينتج بمزج سكر أبيض نقي (سكروز نقي 99.9%) مع دبس السكر والذي يعطي بالناتج خاصية اللون البني الفاتح. يُعتقد أن السكر البني أصح من السكر الأبيض المكرر، ونتيجة لذلك، لديه قيمة سوقية أعلى. ولكن على أرض <a href="https://www.nytimes.com/2007/06/12/health/nutrition/12real.html">الواقع</a>، فلا يوجد أي فرق بين السكر البني والأبيض من ناحية التغذية والآثار الصحية.

            h2 <a id="1.4.4" href="#1.4.4">1.4.4 المخاليط المتجانسة وغير المتجانسة</a>

            p هناك نوعان من المخاليط، <span class="term">المتجانسة homogeneous</span> و<span class="term">غير المتجانسة heterogeneous</span>. يكون الخليط متجانساً إذا كانت المكونات موزعة بالتساوي بشكل تام على المستوى الجزيئي. توزيع منتظم كهذا يضمن نفس التكوين في كل أنحائه، وبالتالي فلنفس خواص الخليط من خلال أي عينة معطاة. على سبيل المثال، إذا أذبنا السكر في الماء سواء أكان بالتقليب أو بالاهتزاز، المحلول solution الناتج يسكون خليطاً متجانساً. مهما كان المكان الذي تتذوق منه الخليط سواء أكان من أسفله أو أعلاه أو أي مكان آخر، ستشعر بنفس طعم الحلاوة. وفي المقابل، المخاليط غير المتجانسة تحتوي على تكوينات وخواص مختلفة كلما غيرت مكان العينة منها لأن الخليط غير متساوي التوزيع. الصورة 1.9 تريك رسم توضيحي للمخاليط المتجانسة وغير المتجانسة.

            .figure <a id="fig_1.9" href="#fig_1.9">الصورة 1.9</a>
                div
                    img(src="/imgs/fig_1.9.png" alt="")
                div
                    p المخاليط المتجانسة (توزيع متساوي) وغير المتجانسة (توزيع غير متساوي وأشبه بالكتل). (<a href="https://commons.wikimedia.org/wiki/File:Mixtures_and_Pure_Substances_2x2.svg">المصدر</a>، <a href="/svg/homogeneous_vs_heterogeneous.svg">المعدلة</a>)

            p دائماً ما تكون مخاليط الغاز متجانسة. المحاليل وأيضاً الكثير من السبائيك مخاليط متجانسة. المحلول solution، هو سائل يحتوي على مادتين كيميئيتين أو أكثر. مثلاً، الأجاج يتكون من مادتين كيميائيتين معقدتين، ملح الطعام (NaCl) والماء (H<sub>2</sub>). السبائك، والتي عادة ما تسمى بـ"المحاليل الصلبة"، هي مخاليط من فلزات تم إذابتها مع بعضها البعض ومن ثم تربيدها لتصبح خليطاً. على سبيل المثال، النحاس الأصفر Brass هو سبيكة من النحاس (Cu) والنزك (Zn)، والبرونز هو بسيكة من النحاس (Cu) والقصدير (Sn).

            p المخاليط الصلبة التي تكون بباسطة مزج مادتين صلبتين أو أكثر هي دائماً مخاليط غير متجانسة، حتى ولو كانت مطحونة بشكل ناعم (صارت بوردة). الأسمنت البورتلاندي، الذي تم ذكره أعلاه، هو خليط غير متجانس. بارود هو خليط غير متجانس من نترات البوتاسيوم (KNO<sub>3</sub>؛ ملح الصین) المطحونة بشكل ناعم، الكبريب (S)، والكربون (C) على هيئة فحم نباتي. على الرغم من أن البارود قد يبدوا متجانس للعين المجردة، تحت المجهر فسيستطيع المرأ بسهولة أن يرى بلورات دقيقة من نترات البوتاسيوم بيضاء، حبيبات كبريت صفراء، وحبيبات فحم نباتي أسودة سوداء.

            p المخاليط الغير متجانسة السائلة أيضاً شائعة. الكثير من السوائل تشكل مخاليط متجانسة (محاليل) مع سوائل أخرى، مثلاً الماء وكحول المسح (إيزوبروبانول). في حالات كهذه، نقول أن السائلين هما <span class="term">قابليَن للامتزاج miscible</span>. وهناك أيضاً سوائل غير قابلة للذوبان في سوائل أخرى. مثلاً، زيت الطهي والماء هما <span class="term">غير قابليَن للامتزاج immiscible</span>. مخاليط سوائل غير متجانسة كهذه يُستخدموا أيضاً في <a href="https://www.youtube.com/watch?v=FOQUnyZuTTA">ألعاب الحركة السائلة</a>. وبينما أن الحليب يبدوا عليه أنه متجانس، إلى أنه في الحقيقة ليس كذلك. هو غير متجانس، يرى ذلك بوضوع تحت المجهر (الصورة 1.10).

            .figure <a id="fig_1.10" href="#fig_1.10">الصورة 1.10</a>
                div 
                    img.normal(src="/imgs/fig_1.10.jpg" alt="")
                div
                    p حليب صافي تحت مجهر، مكبر 800 مرة (<a href="http://dairyreality.blogspot.com/2012/08/pasteurized-vs-raw-milk-under-microscope.html">المصدر</a>)

            h2 <a id="1.4.5" href="#1.4.5">1.4.5 فصل المخاليط وطرق التنقية: التقطير، وإعادة التبلور</a>

            p عادة ما نحتاج لفصل المخاليط المواد الكيميائية عن بعضها البعض. هناك الكثير من الطرق. أقدمهم هي <span class="term">التقطير distillation</span>. في عملية التقطير، يسخن السائل لينتج بخاراً سيُكثف في ما بعد على سطح بارد ليعود سائلاً مرة أخرى. بهذه الطريقة، يمكن تحويل ماء البحر الغير قابلة للشرب إلى ماء عذبة، كما هو مبيناً تخطيطياً في الصورة 1.11.

            .figure <a id="fig_1.11" href="#fig_1.11">الصورة 1.11</a>
                div 
                    img(src="/imgs/fig_1.11.png" alt="")

                div 
                    p التقطير كطريقة لصناعة ماء عذب من ماء البحر (<a href="https://www.energy-without-carbon.org/sites/default/files/desal%20single%20effect_0.gif">المصدر</a>، <a href="/svg/distillation.svg">المعدلة</a>)

            p نقطة غليان الماء هي 100 °C، بينما أن كلوريد الصوديو (NaCl) وأملاح أخرى موجودة في ماء البحر، فنقطة غليانهم أعلى بكثير. مثلاً، كلوريد الصوديوم (NaCl)، هو مكون ملح يغلي على حرارة 1،413 °C ولذلك لن يتبخر إذا سخنته لـ100 °C والتي يتبخر بها الماء. هذا <a href="https://www.youtube.com/watch?v=7T5QckyKR1g">الفيديو</a> يوضح فكرة التقطير، ويريك كيفية صناعة ماء مقطر (عذب) في بيتك.

            p بينما أن التقطير يُستخدم لفصل وتنقية المواد الكيميائية السائلة، الطريقة الأكثر استخدامًا لتنقية المواد الكيميائية الصلبة هي <span class="term">إعادة التبلور recrystallization</span>. كل مادة كيميائية لديها ذوبانية محددة ومحدودة في سائل معين عند حرارة وفي ضغط معينين. على سبيل المثال، ذوبانية ملح الطعام (NaCl) في الماء عند درجة حرارة الغرفة (~23 °C) هي تقرباً 360g في 1 لتر. وهذا يعني أن 1 لتر من الماء يمكنه إذابة 360g من الـ NaCl عند درجة حرارة 23 °C. المحلول الذي يحتوي على الحد الأقصى من مادة كيميائية معينة عند درجة حرارة معينة يسمى بـ<span class="term">المحلول المشبع saturated solution</span>. إذا تركنا محلولاً مشبعاً بملح الطعام في صحن وتركناه مفتوحاً لبعض من الوقت، فبعض الماء سيتبخر. الملح الذي كان بالأصل مذاباً في الكمية السابقة من الماء سيصير فوق المشبع وستبدأ الكمية الزائدة بالانفصال عن الماء والترسب لإعطائك بلورات من الـNaCl. هذا الحدث يسمى بـ<span class="term">التبلور crystallization</span> من المحلول.

            p ظاهرة التبلور هذه تُستخدم في طريقة التنقية التي تسمى بإعادة التبلور. على سبيل المثال، تُستخدم إعادة التبلور لإنتاج ملح طعام صالح للأكل من الملح المنجم. عادة ما يكون الـNaCl المتكون في الطبيعة ملوثاً بالرمل (ثنائي أكسيد السيليكون، SiO<sub>2</sub>) والذي قد يخدش ويضر الأسنان. لإزالة الرمل، يتم معالجة الملح بالماء. سيذوب الـNaCl في الماء، ولكن بما أن الـSiO<sub>2</sub> غير قابل للذوبان، فلن يذوب وستتم تصفيته. بعد التصفية، يتم تبخير المحلول الخالي من المواد الصلبة للإبقاء على بلورات كلوريد الصوديم الخالية من الرمل.

            p  أأكد مرة أخرى على أن المصطلحان <span class="term">التبلور</span> و<span class="term">إعادة التبلور</span> لديهما معان مختلفة. 
                br
                |التبلور: هي <em>عملية</em> تكوين مادة كيميائية بلورية من محلولها.
                br
                |إعادة التبلور: هي <em>طريقة التنقية</em> والتي هي عبارة عن خطوتين:
                br
                span.li 1. إذابة مادة صلبة ليتم تنقيتها.
                br
                span.li 2. تبلور المادة الصلبة من المحلول الناتج من الخطوة الأولى.

            p هنا مثال آخر للتنقية بإعادة التبلور. افترض أن حُماراً وضع بالخطأ ملعقة صغيرة من السكر الأبيض (تقريباً 4g) في طبق الملح لديك الذي يحوتي على 100g من ملح الطعام. هل يمكن لملح الطعام أن يُنقى من السكر الموضع خطأً؟ نعم يمكن، السكر (C<sub>12</sub>H<sub>22</sub>O<sub>11</sub>) هو قابل للذوبان أكثر من الملح (NaCl) في الماء. في درجة حرارة الغرفة، ذوبانية الملح تكون 360g للتر الواحد، وذوبانية السكر تكون حوالي 2،110g للتر الواحد، أكثر بكثيييير. لتنقية الملح، سنقوم بإذابة كل الخليط الذي كان في الطبق في كمية محدودة من الماء وسنسمح أيضاً للماء بأن يتبخر. كلما تبخر الماء ونقصت كميته أكثر، كلما بدأ الملح بالتبلور أي أنه سيبدأ بالانفصال عن المحلول، ولكن بالنسبة للسكر، فلأن ذوبانيته أعلى بكثير من الملح، فسيبقى مذاباً في المحلول. وبعد فترة من الزمن، ستستطيع أن تفصل البلورات عن المحلول الذي يحتوي الآن على سكر مذاب وأيضاً القليل من الملح المذاب الباقي. بمعرفة كميات الـNaCl (100g) والـC<sub>12</sub>H<sub>22</sub>O<sub>11</sub> (4g) في المحلول وذوبانيتهما في الماء، ستستطيع أن تحسب الكمية التي يمكن استرجاعها من الملح. [الجواب: <span class="answer">نظرياً، حوالي 99.3g من الـNaCl</span>] ولكن هدفنا الآن ليس بأن نقوم بحسابات كهذه، بل بأن نفهم الفكرة التي وراء إعادة التبلور واستخدامها كطريقة فعالة لتنقية المواد الكيميائية الصلبة القابلة للذوبان.


        .center.red_box
            p ننحرف عن الموضوع قليلاً. للقيام بعملية الحساب في المثال أعلاه، افترضنا أن وجود الـNaCl لا يؤثر على ذوبانية السكر وأن وجود السكر لا يؤثر على ذوبانية الـNaCl. وكانت هذه فرضية معقولة لعدم تعقيد المشكلة. ولكن في الواقع، وجود أي مادة كيميائية أخرى في المحلول دائماً ما تعزز أو تقلل ذوبانية المادة الكيميائية الأولى. في أغلب الأحيان، يكون الفرق صغيراً جداً ويمكن تجاهله. ولكن في أحيان أخرى، فسيكون الفرق شاسعاً. مثلاً، الكثير من المركبات العضوية قابلة للذوبان بشكل أسهل في الماء العذب عن محلول مائي مركز من الـNaCl. هذا التأثير يُستخدم كثيراً لتقنيات الفصل، التنقية، والعزل لبعض المركبات العضوية.


        .center
            p هناك طريقة إعادة تبلور أخرى عادةً ما تُستخدم في المختبرات وفي المصانع. تزيد ذوبانية أغلب المواد الصلبة والسائلة (ولكن <em>ليس</em> الغازية!) عندما تزيد حرارتهم. لذلك فتستطيع أن تذيب كمية كبير من مادة كيميائية صلبة في كمية صغيرة من ماء ساخن (أو مذيب آخر) وبعدها تبرد الماء. فعندما يكون الماء ساخناً، سيكون قادراً على إذابة كميات كبير من المادة الصلبة. ولكن بعد أن يبرد، فسيفقد هذه الخاصية وسيصير ما فوق المشبع، وستبدأ المادة الصلبة وقتها بالانفصال والتبلور. إذا كانت المادة الصلبة هذه بها بعض الشوائب التي تريد تنقيتها منها، فتستطيع أن تصفي المحلول الساخن أولاً. ومن بعدها تبرده لتبدأ المادة الكيميائية بالتبلور وإعطائك المادة الصلبة وهي نقية.

            p التبلور هو شيء ساحر. مشاهدة <a href="https://www.youtube.com/watch?v=hibmI6aGOso">البلورات تنموا</a> شيء جميل جداً. هناك الكثير من الفيديوهات على يوتيوب تريك كيفية تنمية بلورات بشكل آمن للمتعة، مثل <a href="https://www.youtube.com/watch?v=k3nClG-DT7w">كبريتات النحاس</a> والبلورات <a href="https://www.youtube.com/watch?v=kTBnBZGMCGs">الملونة</a> و<a href="https://www.youtube.com/watch?v=DCg-Q1xpGes">المضيئة</a> من فوسفات أمونيوم ثنائي هيدروجين. ولكن، هدفنا الرئيسي هو ليس أن نستمتع بتبلور مركبات، ولكن أيضاً أن نعرف كيف يمكن استخدام التبلور للتنقية. الموضوع التالي سيشرح لك ثلاث تجارب تبلور والتي تستطيع القيام بها بنفسك إذا أردت.

            h2 <a id="1.4.6" href="#1.4.6">1.4.6 تجارب التبلور</a>

            +experiments_disclaimer

            p لإجراء تجارب كيميائية ناجحة وبأمان، فيجب علينا أن نلتزم بقواعد معينة.

            p.red
                |1. اعرف جيداً ما هي المواد والكيماويات التي ستستخدمها للتجربة.
                br
                |2. بعد أن عرفت الخصائص والمخاطر المحتملة للكيماويات التي ستستخدمها، فقرر أي أدوات وقاية يجب لبسها.
                br
                |3. شغل مخك. إذا كنا Homo Sapiens، والتي تعني باللاتينية "الرجل الحكيم"، فعلينا أن نتصرف بحكمة وعقلانية. ولفعل ذلك، يجب أن <em>نفكر</em>. فكر بخطتك لإجراء التجربة الكيميائية، انتبه للتفاصيل، وتأكد من أن العملية واضحة. فكر أيضاً أثناء القيام بها. وفكر بكيفية التخلص من المواد بعد انتهاء التجربة.

            p التالي سيكون وصف موجز لما هو مطلوب لإجراء تجربة التبلور.

            p <strong><em>الكيماويات</em></strong> المركبات التي ستقوم بإعادة بلورتها هي NaCl (كلوريد الصوديوم أو ملح الطعام)، KNO<sub>3</sub> (نترات البوتاسيوم أو saltpeter)، و CuSO<sub>4</sub>•5H<sub>2</sub>O (كبريتات النحاس الثنائي). ولأنه يجب علينا أن نعرف الكيماويات التي سنستخدمها بشكل جيد، فأدناه بعض المعلومات عن الثلاثة.

            p <strong>NaCl.</strong> كلوريد الصوديم، وأيضاً ما يعرف بملح الطعام، هو غير سام، رخيص، ومتوفر في أي متجر طعام. تقريباً كل العلامات التجاربية لـNaCl الصالح للأكل تحتوي على كميات صغيرة من <a href="https://ar.wikipedia.org/wiki/%D9%85%D8%B6%D8%A7%D8%AF_%D8%AA%D9%83%D8%AA%D9%84">مضاد تكتل</a> (سيليكات الألومنيوم الصوديوم sodium aluminosilicate) على شكل بودرة بيضاء ناعمة غير قابلة للذوبان في الماء. لذلك محاليل ملح الطعام في الماء تكون غائمة قليلاً. هناك نوعان رئيسيان من ملح الطعام الذي يباع في الأسواق، العادي والمعالج باليود. الملح المعالج باليود يحتوي على كمية صغيرة من مركب يودي تضاف إلى الـNaCl كمكمل لمنع نقص اليود. يمكن للمادة اليودية المضافة لإنتاج الملح المعالج باليود أن تكون واحدة من المركبات الأربعة التالية:
                br
                span.li - يوديد البوتاسيوم (KI)
                br
                span.li - يودات البوتاسيوم (KIO<sub>3</sub>)
                br
                span.li - يوديد الصوديوم (NaI)
                br
                span.li - يودات الصوديوم (NaIO<sub>3</sub>)
                br
                |في أغلب الأحيان، يحتوي الملح المعالج باليود على ما يقرب من 0.005% من يوديد البوتاسيوم (KI).

            p <strong>KNO<sub>3</sub>.</strong> نترات البوتاسيوم، هو مركب كيميائي يتم استخدامه كثيراً وأحياناً يسمى بـ<span class="term">saltpeter</span>. عادة ما كان يعثر على الـsaltpeter في الطبيعة بكميات ضخمة، وبالتحديد في الهند. ولذلك عادة ما يلقب الـKNO<sub>3</sub> بالـsaltpeter الهندي للتمييز بينه وبين نظيره الصوديوم، NaNO<sub>3</sub>، والذي يعثر عليه أصلياً في تشيلي وبيرو ويسمى بالـsaltpeter التشيلي. في قديم الزمان، كان يُستخدم الـsaltpeter على نطاق واسع لحفظ اللحم وفي عملية إنتاج البارود. كانت كمية الاستهلاك عالية لدرجة أن موارد الـKNO<sub>3</sub> قد نفذت منذ فترة بعيدة. في هذه الأيام، فتقريباً كل الـKNO<sub>3</sub> في المتاجر هو <span class="term">صناعي</span>، بمعنى أنه ليس بالطبيعي وإنما قد أنتج من كيماويات أخرى. تُصنَّع نترات البوتاسيوم على نطاق واسع وتُستخدم في أغلب الأحيان للأسمدة. وتُستخدم أيضاً لأغراض أخرى كثيرة، مثل الألعاب النارية ونزع جذع الأشجار.

            p نترات البوتاسيوم هي بلورات بيضاء صلبة وهي آمنة بشكل معقول للعمل معها. كثيراً ما يقال أن الـKNO<sub>3</sub> هو غير سام. بالفعل كذلك، الـKNO<sub>3</sub> هو أحد المكونات لبعض معاجين الأسنان المخصصة للأسنان الحساسة. ولكن لا تنسى أن "<a href="https://en.wikipedia.org/wiki/The_dose_makes_the_poison">الدواء يصنع السم</a>". أكل الكثير من المادة الكيميائية البريئة، السكر، قد يؤدي إلى تسمم أو يودي بحياتك. فقط لا تأكل KNO<sub>3</sub>، تجنب وصوله لعينيك، واغسل يديك بالماء إذا ما سكبته على جلدك بالخطأ. أبقه في عبوة زجاجية أو بلاستيكية. <u>إياك</u> أن تحفظه في قصدير أو أي وعاء معدني وتجنب خلطه مع مواد أخرى. ستفهم لماذا عندما نتكلم عن عملية الأكسدة والاختزال (الوحدة الثانية). يمكن شراء الـsaltpeter من أماكن عديدة. طريقة سهلة ورخيصة للحصول عليه هي بشراء  نازع جذع الأشجار من شركة Spectracide. اسمه بالإنجليزي: Spectracide Stump Remover. والذي هو عملياً عبارة عن KNO<sub>3</sub> نقية.
            .figure.no_border
                div
                    img.portrait(src="/imgs/spectracide_stump_remover.webp" alt="")
                div 
                    p نازع جذع الأشجار Spectracide Stump Remover (<a href="https://i5.walmartimages.com/asr/bfc6a1e1-5314-4f79-8abb-f3444725be51_4.b41684b9ea80d621f908155c3f39292a.jpeg">المصدر</a>)


            p <strong>CuSO<sub>4</sub>•5H<sub>2</sub>O.</strong> كبريتات النحاس الثنائي هو مركب معروف جداً ويستخدم كثيراً. أولاً وقبل لك شيء، إيش هذه الصيغة والإسم الغريبَين؟ الكثير من المركبات تتبلور من المحاليل المائية على شكل <span class="term">هيدرات بلورة crystal hydrates</span>. هيدرات بلورة ما <u>لا</u> تعتبر خليط من ماء مع مادة كيميائية أخرى لأن جزيئات الماء هي عبارة عن جزء من هيكل الجزيء الأكبر. هي موصولة بالبلورات. لن ترى بلورات صلبة مع ماء سائل، بل سترى بلورات مهدرجة صلبة ولن ترى أي ماء سائل.

            p يمكن أن يتفاوت عدد جزيئات الماء التي تشكل بلورات كهذه. على سبيل المثال، الجص هو أيضاً هيدرات بلورة يحتوي على جزيئين إثنين من الماء، CaSO<sub>4</sub>•2H<sub>2</sub>O. جزيئات الماء هذه تسمى بـ<span class="term">ماء التبلور water of crystallization</span> ويُكتبوا في آخر الصيغة الكيميائية للمركب الرئيسي، وتوضع قبلهن نقطة وسطى. يمكن للكثير، ولكن ليس الكل، من هيدرات البلورات أن يُفصل منها الماء بالتسخين.

            p في قديم الزمان، كان لدى كبريتات النحاس الثنائي الكثير من الأسامي، ومنهم الحجر الأزرق، اللاذع الأزرق أو الروماني، ولاذع النحاس. وكما قد لاحظت من هذه الأسامي، فالـCuSO<sub>4</sub>•5H<sub>2</sub>O أزرق اللون، وفعلاً لونه الأزرق وجميل جداً (الصورة 1.12).
            .figure <a id="fig_1.12" href="#fig_1.12">الصورة 1.12</a>
                div
                    img.normal(src="/imgs/fig_1.12.jpg" alt="بلورات من الـCuSO<sub>4</sub>•5H<sub>2</sub>O")
                div
                    p بلورات من الـCuSO<sub>4</sub>•5H<sub>2</sub>O (<a href="https://sciencenotes.org/how-to-grow-blue-copper-sulfate-crystals/">المصدر</a>)

            p تسخين الـCuSO<sub>4</sub>•5H<sub>2</sub>O الأزرق سيؤدي إلى فقدان جزيئات ماء البلورات وإلى تشكيل CuSO<sub>4</sub> أبيض اللون. (شاهد هذا <a href="https://www.youtube.com/watch?v=eX3JiKmenuU">الفيديو</a>). إذا صببت ماءً مرة أخرى على الـCuSO<sub>4</sub> الأبيض، فسيرجع له اللون الأزرق بسبب استرجاعه للهيدرات الخماسية (5H<sub>2</sub>O).

            p كما سنتعلم عن قريب، فالـCuSO<sub>4</sub> يتفاعل مع الحديد وفلزات أخرى كثيرة لإعطاء النحاس المعدني. لذلك فلا يجب على الـCuSO<sub>4</sub>•5H<sub>2</sub>O سواءً أكان محلولاً أم صلباً أن يلمس أي قطعة معدنية (فلزية).

            p تُستخدم كبريتات النحاس الثنائي على نطاق واسع في الزراعة للتحكم بأمراض الفطريات في النباتات ولمعالجة نقص النحاس في التربة. المركب هو "نوعاً ما سام" ومهيّج خفيف للجلد والأعين. إذا سكبت CuSO<sub>4</sub>•5H<sub>2</sub>O على جلدك بالخطأ، ففقط اغسل تلك الأماكن بالماء. وبالمناسبة، لمس الكيماويات بالأيدي هي "عادة سيئة" في الكيمياء ليس فقط لأن بعض المواد الكيميائية قد تضر بالجلد، بل لأنك بلمسك لكيماوي فقد تلوثه بمركبات أخرى كانت على سطح جلدك. كبريتات النحاس الثنائي متوفرة ويمكن الحصول عليها بسهولة من العديد من متاجر على الإنترنت أو محلات بيع الأجهزة الإلكترونية أو تحت مسمى تجاري مثل Zep Root Kill.

            p <strong><em>أدوات وقاية</em></strong>. قال مرة دكتور كيمياء مشهور أن الباحث الكيميائي الماهر لا يجب عليه ارتداء معطف المختبر وإنما يجب عليه لبس أفضل بدلة لديه عندما يعمل في المختبر. ما يقصده هو أنا الكيميائي الحقيقي يجب أن يعرف كيفية التعامل مع الكيماويات بشكل آمن لتجنب أي تعرض لمواد خطرة، انسكابات، اشتعال نار، تفجيرات، إلخ. إذا كان يعرف الكيميائي كيف يتعامل مع المواد بشكل آمن، فسيحتاج فقط إلى ارتداء أدوات وقاية قليلة جداً، ولكن على الرغم من ذلك فهناك حالات معينة يجب فيها ارتداء نظارات حماية، قفازات، معطف مختبر، ووقاء الوجه.

            p أهم أداة وقاية لكيميائي باحث هي معرفته بالكيمياء ومهاراته في المختبر. سنقوم بتطوير أساسيات كلا من هتين المهارتين في دورتنا هذه. التجارب المشروحة في هذا القسم هي آمنة جداً للمبتدئين. لا يحتاج المرء أن يلبس قفازات أو نظارات حماية لتجربتهم. ولكن بالتأكيد تستطيع ارتداءهم إذا شعرت براحة أكبر معهم.

            p <strong><em>معدات</em></strong>. لا تحتاج لأي معدات لتنفيذ هذه التجارب. ولكن سيساعد كثيراً إذا كان لديك ميزان رقمي حساس أو ميزان طعام. إذا لم يكن لديك، ففكر بشراء واحد صغير بـ10$.

            p إذا كنت تريد استعمال الميزان الحساس، فلا يجب عليك أبداً أن تضع المواد على سطحه بشكل مباشر. ضع ورقة نظيفة على سطح الميزان، فوّض الميزان، وبعد ذلك ضع المادة التي تريد قياسها. إذا كنت لا تريد استعمال الميزان الحساس، فتستطيع أن تقدر الكميات وأن <a href="https://www.aqua-calc.com/">تقيسهم</a> باستخدام فناجين وملاعق المطبخ. ضع في بالك أن قياس الأشياء الصلبة بالملعقة ليس بالشيء الدقيق، وخاصة لأن <a href="https://www.aqua-calc.com/">الموقع</a> لا يبدوا عليه أنه ما إذا كان يقصد بـ <a href="https://www.wikihow.com/Use-Measuring-Spoons-and-Cups">غرفة heaped، مستديرة rounded، مستوية level، أو حفنة scant</a>.
            .figure.no_border
                div 
                    img(src="/imgs/spoon_types.png" alt="أنواع المعالق: غرفة، مستديرة، مستوية، أو حفنة")

            p <strong>التجربة 1. إعادة تبلور ملح الطعام.</strong> تستطيع أن تستخدم إما ملح معالج باليود أو ملح عادي لهذه التجربة. لنقل أنه لديك ملح معالج باليود. كيف يمكننا أن نجعله خالي من اليود؟ قم بتحضير محلول بملح في ماء واجعله مركزاً (قريباً للتشبع). يجب أن يُعد السائل في وعاء ذو فم مخصص للصب. إذا كان لديك <a href="https://ar.wikipedia.org/wiki/%D9%83%D9%88%D8%A8_%D8%B2%D8%AC%D8%A7%D8%AC%D9%8A">دورق</a> فاستخدمه. وإذا لم يكن لديك، فتستطيع استخدام زجاج أو وعاء بلاستيكي شفاف للقياس. ضع حوالي 4 ملاعق شاي (~43g) من الملح المعالج باليود ونصف كوب من الماء (~.0.12 ليتر) واخلطهم بملعقة لبضع دقائق لحد ما يذوب الملح ولا يمكن أن يُرى أي ملح صلب يسبح في المحلول.

            p لماذا لسنا نحن متأكدين من أن الـNaCl سيذوب؟ ألا نعرف ذوبانيته وكميات الـNaCl والماء التي استخدمناها؟ نعم نعلم، ولكن بما أن مقياس 4 ملاعق شاي ليس بالدقيق أبداً. فمن الممكن أن نكون قد وضعنا أكثر أو أقل من 43g. إذا كان أكثر، فلن يذوب كل الملح. وإذا كان أقل، فلن يتشبع المحلول وسنضطر للانتظار لوقت أكثر ليبدأ التبلور. فلذلك، إذا ذاب كل الملح، فاستمر في وضع المزيد بكميات صغيرة (~0.5 ملعقة شاي) واستمر في الخلط لحد ما يصير فوق المشبع وتبدأ برؤية ملح صلب واضح في القاع عندما تتوقف عن الخلط. الآن خليطك يتكون من محلول مشبع بملح الطعام وملح طعام صلب في القاع، وحان الوقت الآن لفصلهم بالترشيح (بالتصفية).

            p للترشيح، نحتاج إلى قمع مصنوع من زجاج، بلاستيك، أو معدن. إذا لديك فلتر قهوة يلائم قمعك، فتستطيع أن تستعمله. إذا لم يكن لديك فلتر قهوة ولكن لديك ورقة ترشيح مستدير، فاطوها وضعها في القمع، لصناعة مرشِّح (فلتر، مصفاة) كما يُرى في الصورة 1.13.
            .figure <a id="fig_1.13" href="#fig_1.13">الصورة 1.13</a>
                div
                    img(src="/imgs/fig_1.13.png" alt="")
                div 
                    p صناعة مرشِّح باستخدام ورق ترشيح. (<a href="https://www.cbsetuts.com/ncert-class-9-science-lab-manual-separation-mixture/">المصدر</a>، <a href="/svg/making_cone_from_paper_towel.svg">المعدلة</a>)

            p إذا لم يكن لديك ورق ترشيح مستدير مخصص، فتستطيع أن تصنع مرشِّح مخروطي باستخدام مناديل المطبخ كما يُعرض في الصورة 1.14. وإذا أردت، فهناك طريقة طوي أخرى معروضة في هذا <a href="https://www.youtube.com/watch?v=NiTa9xh5KvQ">الفديو</a>.
            .figure <a id="fig_1.14" href="#fig_1.14">الصورة 1.14</a>
                div
                    img(src="/imgs/fig_1.14.png" alt="")
                div
                    p الصورة 1.14. صناعة مرشِّح باستخدام مناديل المطبخ.


            p بدلا من الطرق السابقة، تستطيع أن تستعمل صوف قطني (كرات قطن) بدلاً من ورق الترشيح. إذا قررت استعماله، فيجب عليك أن تشكله بحيث أن يكون له 'ذيل' يذهب إلى فم القمع السفلي. ادفع القطن بلطف نحو فم القمع لحد ما يصير محزوم بإحكام. لا تشد عليه كثيراً، ولا تطبق أي قوة مفرطة، وخاصة ما إذا كان القمع زجاجياً، لأنه قد ينكسر.

            p الآن وبما أن لدينا محلول الملح المعالج باليود ومرشِّحك في مكانهما، فسنريد الآن وعاء نظيف وخالي من الغبار لاستقبال <span class="term">المرشَّح filtrate</span>. المرشَّح (المصفى) هو محلول ناتج من عملية ترشيح (تصفية). الصورة 1.15 تعرض أبسط طريقة ترشيح مختبرية (اليسار) وجهاز ترشيح منزلي الصنع باستخدام زجاج وقمع بلاستيكي من المطبخ، وفلتر قهوة. (اليمين).
            .figure <a id="fig_1.15" href="#fig_1.15">الصورة 1.15</a>
                div
                    img(src="/imgs/fig_1.15.png" alt="")
                div 
                    p 
                        |اليسار: إعداد ترشيح مختبري بسيط (<a href="https://o.quizlet.com/2GiMer3ZFjCiyDJQ1XyEhw_b.png">المصدر</a>، <a href="/svg/fig_1.15.svg">المعدلة</a>)
                        br
                        |اليمين: جهاز ترشيح مصنوع في المنزل

            p لاستخدام القطن للترشيح، قم بصب محلولك الملحي على القمع ببطء لتجنب فيضانه. إذا كنت تستعمل ورق ترشيح على شكل مخروط، فصب المحلول على المخروط بمعدل بحيث أن لا يفيض السائل إلى ما فوق حافة الورقة. لا تكن مستاءً إذا ما وجدت المرشَّح غائم قليلاً. هذا بسبب مضاد التكتل الذي ذكرنا عنه سابقاً. والذي هو غير قابل للذوبان في الماء ويضاف إلى الملح على شكل بودرة ناعمة جداً ولن تستطيع مسامات الورق أن ترشح (تصفي) أصغر حبيباتها. من تجربتي الخاصة، فقطن محزوم بشكل كافٍ قد يستطيع أن يصيد حبيبات مضاد التكتل هذه بكفائة جيدة. ولكن بالمقابل فستكون عملية الترشيح أبطء من المعتاد.

            p الآن نحتاج لأن نترك المرشَّح لكي يتبخر. التبخر هي العملية التي تترك بها جزيئات السائل (الماء في حالتنا) سطح السائل. يعتمد معدل التبخر على الكثير من العوامل، منها الحرارة، الضغط، الرطوبة، ومساحة سطح السائل. يتبخر الماء بشكل أسرع في الهواء الجاف وفي درجات حرارة مرتفعة، لذلك فوضع مرشَّحك في مكان جاف ودافئ سيسرع من نمو البلورات. أيضاً كلما كانت مساحة سطح السائل أكبر، كلما تبخر بشكل أسرع. فكر بأن تضع المرشَّح في وعاء ضحل وواسع إذا ما أردت من بلورات الـNaCl أن تظهر بشكل أسرع. على أية حال، قم بتغطئة الصحن الذي يحتوي على المرشَّح بقطعة من ورق نظيف أو مناديل ورقية وأمّن عليها برباط مطاطي. هذا الأمر مطلوب لحماية المرشَّح من أي غبار ريثما يتبخر الماء. لماذا هي فكرة جيدة أن تحمي المرشَّح من الغبار؟ والله لأنك إذا أردت بلورات أكبر من الـNaCl فالغبار سيكون عائقاً لذلك وبمثابة ما يسمى بمراكز التبلور  crystallization centers، والذي سيؤدي إلى تكون بلورات كثيرة صغيرة الحجم بدلاً من بلورات قليلة كبيرة ونقية وجذابة أكثر.

            p الآن فقط كن صبوراً. انتظر لأن تتبخر كمية كافية من الماء لكي تستطيع بلورات الـNaCl أن تنموا. من الصعب توقع متى ستبدأ البلورات بالظهور في تجربتك. عادة ما تأخذ على الأقل عدة ساعات أو، في أغلب الأوقات، أياماً عدة قبل أن تبدأ بلورات صغيرة بالظهور. بعد ما يحدث التبلور (إلى أي حد كان)، فالمحلول الباقي الذي على البلورات يسمى بـ<span class="term">شراب الأم المقطر mother liquor</span>.

            p هنا سؤال لك. إذا قمت باستخدام ملح معالج باليود في هذه تجربة التبلور هذه وتركت المحلول ليتبخر لحد الجفاف، فهل ستكون بلورات الـNaCl خالية من اليود؟ بالطبع لا! المادة المضافة التي تحتوي على اليود لن تتبخر أو بالأحرى لن "تختفي". لذلك فإذا أردت أن ترشح مادة كيميائية ما من شوائب قابلة للذوبان، فيجب على المرشَّح أن لا يكون جافاً تماماً. بل أبق على بعض السائل الباقي (شراب الأم المقطر) لكي تترك الشوائب مذابة به وتكون البلورات خالية منهن.

            p ليس هناك داعٍ لشرح كيفية التخلص من المحاليل والبلورات في هذه التجربة. فقط اسكبهم على البالوعة وارمي المرشِّح في حاوية قمامة. إنه فقط ملح طعام!

            p <strong>التجربة 2. إعادة تبلور نترات البوتاسيوم، KNO<sub>3</sub>.</strong> كما ذكرنا أعلاه، فذوبانية المواد الصلبة والسائلة، ولكن <u>ليس</u> الغازية، عادة ما تزيد مع ازدياد درجة الحرارة. (هناك بعض الاستثناءات مثل كبريتات الليثيوم، Li<sub>2</sub>SO<sub>4</sub>، والتي تنقص ذوبانيتها قليلاً في الماء الحار بدلاً من البارد). تأثير ازدياد الذوبانية عند درجات حرارة أعلى قد يكون بسيطاً جداً لبعض المواد الكيميائية، مثل الـNaCl، أو قد يكون ضخماً، مثل حالة الـKNO<sub>3</sub>. ذوبانية نترات البوتاسيوم أعلى بكثير في الماء الحار عن الماء البارد. ذوبانيتها تكون 2،440 غ/ليتر عندما يكون الماء على درجة حرارة الغليان (100 °C)، أكبر بـ10 أضعاف من درجة حرارة الغرفة، 240 غ/ليتر.
            .figure <a id="fig_1.16" href="#fig_1.16">الصورة 1.16</a>
                div
                    img(src="/imgs/fig_1.16.png" alt="")
                div 
                    p اعتماد ذوابنية الـKNO<sub>3</sub> والـNaCl على درجة حرارة الماء (<a href="https://www.chemguide.co.uk/physical/phaseeqia/saltsoln.html">المصدر</a>، <a href="/svg/fig_1.16.svg">المعدلة</a>)

            p الصورة 1.16 تشير إلى اختلاف رهيب بين اعتماد ذوبانية الـKNO<sub>3</sub> والـNaCl. لقد استعملنا من قبل وحدة الـ غ/ليتر للذوبانية. ولكن الرسم البياني في الصورة يستخدم وحدة مختلفة، يستخدم وحدة وهي كمية الـKNO<sub>3</sub> والـNaCl بالغرام القابلة للذوبان في 100g من الماء. وبما أن كثافة الماء هي 1g/mL وطبعاً
                br
                |(mL = milliliter)، فـ 100g من الماء = 100mL. وبالتالي فذوبانية 100g من الماء = ذوبانية 100mL من الماء. كلا من الوحدتين، g/L و g/100 mL، يتم استخدامهما على نطاق واسع للتعبير عن الذوبانية. الصورة 1.6 تبين أن ما بين درجة حرارتَي <span dir="ltr">0-20 °C</span>، فالـKNO<sub>3</sub> هو أقل ذوبانية في الماء من الـNaCl. وعند 25 °C، يكون لديهما نفس الذوبانية. ولكن فوق الـ 25 °C، تبدأ ذوبانية الـKNO<sub>3</sub> بالإزدياد بتسارع، بينما للـNaCl فهذا التأثير ضعيف. إذا قمنا بإعداد محلول مشبع من الـNaCl في ماء مغلي وبعدها برّدناه لدرجة حرارة الغرفة، فكمية قليلة جداً ستتبلور من الـNaCl. وبالمقابل، هذه الطريقة رائعة للـKNO<sub>3</sub>، لأن الفرق شاسع ما بين ذوبانيته في الماء الحار عن الماء البارد.

            p لإعادة تبلور الـKNO<sub>3</sub>، لا يجب علينا بالضرورة أن نستعمل ماء مغلي. فقط ماء ساخن من الحنفية هو كافي لأداء التجربة. افتح الحنفية على الماء الساخن لدقيقة أو شيئاً كهذا لتتأكد من أن الماء على أعلى حرارته. في كثير من البلدان، تكون درجة حرارة الماء الساخن حوالي 50 °C، لذلك لا تحرق نفسك! استخدم كوباً بمقبض. اغسل الكوب بالماء الساخن لجعله هو ساخن أيضاً. بهذه الطريقة، لن يبرد ماء التبلور الخاص بنا بسبب جدران الكوب. قم بالصب في الكوب ما يقرب من حوالي نصف حجمه (تقريباً <span dir="ltr">100-120mL</span>). وبعد ذلك، اغرف من الـKNO<sub>3</sub> وضعه في الماء الساخن الذي في الكوب واخلط المحلول. أبقي على فعل ذلك لحد ما يتوقف الـsaltpeter عن الذوبان. يقترح الرسم البياني أن 70g من الـKNO<sub>3</sub> سيذوب في 100mL من الماء عند درجة حرارة 45 °C. وبما أن ملعقة شاي من الـKNO<sub>3</sub> هي تقريباً 10g، فستحتاج حوالي 7 ملاعق شاي منه. ومرة أخرى، فهذا تقريب ليس بالدقيق ولكنه يعطيك فكرة عن الكمية التي يجب أن تضعها لحد ما يصل إلى نقطة يتوقف فيها عن الذوبان. عندما تصل إلى هذه النقطة، قم بصب كميات صغيرة من الماء الساخن على الكوب بينما تخلط لحد ما تذوب كل مواد الـKNO<sub>3</sub> الصلبة في المحلول. الآن محلولك مشبع أو قريب للتشبع في الحرارة الحالية. اترك الكوب يجلس في درجة حرارة الغرفة وشاهد كيف يتم تشكيل بلورات بيضاء عندما تبدأ درجة حرارة المحلول بالانخفاض وتبدأ ذوبانية الـKNO<sub>3</sub> بالانخفاض أيضاً بسبب درجة الحرارة.

            p للتخلص من بلورات ومحلولك، قم فقط بسكبه على بالوعة من دون أي مخاوف سلامة أو خطر على البيئة. كما ذكر سابقاً، فيستخدم الـKNO<sub>3</sub> في بعض ماركات معاجين الأسنان، كسماد، وكنازع لجذع الأشجار.

            p <strong><a id="experiment_3" href="#experiment_3">التجربة 3. إعادة تبلور كبريتات النحاس الثنائي، CuSO<sub>4</sub>•5H<sub>2</sub>O.</a></strong> أولاً وقبل لك شيء، فعلي أن أذكرك بأن لا تستعمل أي شيء مصنوع من معدن (فلز) لخلط أو احتوائك محاليلك الـCuSO<sub>4</sub>. لا تجعل الـCuSO<sub>4</sub>، سواءٌ أكان سائلاً أم صلباً، يلمس أي شيء معدني. كما نستعلم لاحقاً في هذه الدورة، فالـCuSO<sub>4</sub> يتفاعل مع الحديد وفلزات أخرى كثيرة لإعطائك النحاس المعدني.

            p ذوبانية الـCuSO<sub>4</sub>•5H<sub>2</sub>O في الماء عند درجة حرارة الغرفة تكون أكثر بقليل من 300g/L. ضع ملعقتَي شاي (مصنوعة من البلاستيك، <u>وليس</u> معدن!) من الـCuSO<sub>4</sub>•5H<sub>2</sub>O (تقريباً 35g) في ½ كوب من الماء (تقريباً 0.12L) ذو حرارة درجة الغرفة وحركه لعدة دقائق بملعقة بلاستيكية أو عود خشب. إذا ذابت كل كبريتات النحاس الثنائي، فضع كميات قليلة أكثر. قم بفعل ذلك لحد ما يتوقف عن الذوبان. قم بترشيح (تصفية) المحلول إلى وعاء زجاجي باستخدام مرشِّح، كما شرحنا في التجربة 1. اربط خيطاً بعود خشب أو قلم من الوسط. قص الخيط بحيث أن يتدلى ويصل طوله إلى نصف الوعاء. اربط عقدة في نهاية الخيط، واغمره في المرشَّح، غطي الوعاء بقطعة من مناديل المطبخ، واتركه وحده عند درجة حرارة الغرقة. قم بفحص المحلول من وقت لآخر. عندما يتبخر الماء، سترى بلورات من الـCuSO<sub>4</sub>•5H<sub>2</sub>O قد بدأت بالنمو. سترى شيئاً يشبه الصورة 1.17.
            .figure <a id="fig_1.17" href="#fig_1.17">الصورة 1.17</a>
                div
                    img.portrait(src="/imgs/fig_1.17.jpg" alt="")
                div
                    p إعداد بسيط لنمور بلورات CuSO<sub>4</sub>•5H<sub>2</sub>O (<a href="https://www.instructables.com/id/Purification-of-Copper-Sulfate/">المصدر</a>)

            p زراعة البلورات هو فن. إذا كنت محظوظاً جداً. فسيحدث التبلور على عقدة الخيط بدلاً من جدران الوعاء لإعطائك بلورات كبيرة مثل المعروضة في الصورة 1.18. ولكن للحصول على بلورة كهذه، فيجب استخدام بعض حيل التبلور. إحدى هذه الحيل تسمى بزراعة نواة التبلور. تؤخذ أفضل وأكبر بلورة من زراعة ماضية وتربط بنهاية الخيط وتغمر في محلول مشبع من المركب نفسه. بهذه الطريقة، فأي نمو زائد سيكون على سطح هذه البلورة النواة المدلاة بدلاً من جدران الوعاء. يجب على جدران الوعاء الداخلية أن تكون خالية من الغبار وبالأخص أن تكون ناعمة وليس فيها أي خدوش أو عيوب تسمح للبلورات بالنمو فيها واعتبارها مراكز للتبلور. يمكن العثور على تفاصيل أكثر في كثير من الصفحات على النت مثل <a href="https://www.thoughtco.com/copper-sulfate-crystals-606228">هذه</a> و<a href="https://www.scienceprojectlab.com/growing-crystal.html">هذه</a> وهذا <a href="https://www.youtube.com/watch?v=k3nClG-DT7w">الفيديو</a> الممتاز.
            .figure <a id="fig_1.18" href="#fig_1.18">الصورة 1.18</a>
                div
                    img.portrait(src="/imgs/fig_1.18.jpg" alt="")
                div
                    p بلورة من الـCuSO<sub>4</sub>•5H<sub>2</sub>O مزروعة منزلياً (<a href="https://imgur.com/gallery/GM0Rr">المصدر</a>)

            p تستطيع أن تتخلص من كبريتات نحاس بعد التجربة في المرحاض أو مغسلة الحمام. في الوقاع، فالتطبيقات الرئيسية للـCuSO<sub>4</sub>•5H<sub>2</sub>O هي <a href="https://www.youtube.com/watch?v=kS5iLHZpPSU">منع انسداد أنظمة الصرف الصحي</a>.

            p زراعة البلورات تُستخدم أيضاً لصناعة <a href="https://babbledabbledo.com/borax-crystal-wind-catchers/">حرف</a> جميلة جداً. ويجب عليك أن تدع مخيتلك تستكشف طرق تبلور عديدة، تخترع طرق وتقنيات لزراعتهم، والقيام بإيجاد طرق جديدة لدوكرة حرفك بالبلورات. ولكن، هدفنا في هذه الدورة هو تعريفك على التبلور كريقة فعالة لفصل وتنقية المواد الكيميائية.

            h2 <a id="1.4.7" href="#1.4.7">1.4.7 طرق فصل غير اعتيادية</a>

            p التقطير والتبلور هما بلا شك أكثر طريقتين مستخدمتين للفصل والتنقية. ولكن هناك طرق أخرى كثيرة لفصل وتنقية المركبات. مثال مثير للاهتمام هو الفصل ما بين خليط من الكبريت والحديد باستخدام مغناطيس (<a href="#fig_1.19">الصورة 1.19</a>). المغناطيس يجذب الحديد ولكن لا يجذب الكبريت. لا يمكن أن يُفصل ما بين الكبريت والحديد بالتقطير أو إعادة التبلور، ولكن تستطيع فعل ذلك باستخدام مغناطيس والنتيجة ستكون جيدة، كما يُرى في الصورة 1.19 وفي هذا <a href="https://www.youtube.com/watch?v=LRqmr0alhJA">الفيديو القصير</a>.
            .figure <a id="fig_1.19" href="#fig_1.19">الصورة 1.19</a>
                div
                    img(src="/imgs/fig_1.19.webp" alt="")
                div
                    p فصل خليط من الحديد (Fe؛ الحبيبات السوداء) والكبريت (S؛ الحبيبات الصفراء) باستخدام مغناطيس (المصدر: <a href="https://commons.wikimedia.org/wiki/File:Fe-S_mixture_05.jpg">اليسار</a> و<a href="https://commons.wikimedia.org/wiki/File:Fe-S_mixture_01.jpg">اليمين</a>)

            p في <a href="#fig_1.19">الصورة 1.19</a>، لاحظ أن هناك زجاجاً قد وضع بين المغناطيس والخليط. يُفعل ذلك لابعاد الحديد عن المغناطيس بسهولة بعد انتهاء علمية الفصل. تستطيع أيضاً أن تستعمل قطعة ورق أو قطعة بلاستيك لنفس العملية.

            h2 <a id="1.4.8" href="#1.4.8">1.4.8 تمارين</a>

            p 1. هل خليط من غازَي النيتروجين (N<sub>2</sub>) والآرغون (Ar) متجانس أم غير متجانس؟
                br
                input.answer(type="checkbox" id="1")
                label(for="1") الجواب: <span>متجانس، مخاليط الغازات دائماً ما تكون متجانسة.</span>

            p 2. رميت بعض مكعبات السكر في الماء. قبل أن يذوب كل السكر في الماء، الخليط <span class="pink">[متجانس / غير متجانس]</span>. بعد أن تم خلطه بشكل جيد وتمت إذابة كل مكعبات السكر وأصبح محلول صافي موحد. فسيكون الخليط الآن <span class="orange">[متجانس / غير متجانس]</span>. بعد فترة من الوقت وبينما المحلول يجالس مفتوح، تبخر بعض الماء وبدأت بعض بلورات السكر بالتشكل، والذي جعل من الخليط <span class="yellow">[متجانس / غير متجانس]</span>
                br
                input.answer(type="checkbox" id="2")
                label(for="2") الجواب:
                span <span class="pink">غير متجانس</span>؛ <span class="orange">متجانس</span>؛ <span class="yellow">غير متجانس</span>
            p 3. بينما تسخن ماءً لدرجة الغليان، وقبل أن يبدأ بالغليان سترى فقاعات في السطح الداخلي للحاوية. هذه الفقاعات هي
                br
                |أ) الهواء الذي قد ذاب سابقاً في الماء والآن ويبدأ الآن بصناعة فقاعات عندما يصير الماء ساخناً. مثل كل الغازات، الهواء هو مكون أقل ذوبانية في الماء وسوائل أخرى عند درجات حرارة عالية.
                br
                |ب) لا يمكن أن يكون هواءً لأن الهواء غير قابل للذوبان في الماء. بل إنه عبارة عن بخار بسبب غليان الماء البطيء عند درجات حرارة أقل من نقطة غليانه والتي هي 100 °C.
                br
                input.answer(type="checkbox" id="3")
                label(for="3") الجواب:
                span (أ) هو الجواب الصحيح و(ب) غير صحيح. إنه فعلاً هواء مذاب في الماء. ومثل الكثير من الغازات الأخرى، فالهواء لديه ذوبانية أكبر في الماء البارد عن الماء الحار. إذا لم يكن الهواء قابل للذوبان في الماء، فلن تكون هناك أي حياة في الماء لأن الأسماك والحيوانات المائية لن تستطيع التنفس. ليس هناك بشيء اسمه "غليان بطيء" تحت نقطة غليان السائل.

            p 4. كانت هناك عينة من NaCl ملوثة برمل وكمية صغيرة من KNO<sub>3</sub>. لتنقية الـNaCl، قام فنّي بصب الخليط في كوب فائض بالماء، ومن ثم رشحه (صفاه)، وبعدها ترك المرشَّح ليتبخر لحد الجفاف. ما هي الأشياء الصحيحة والخاطئية التي فعلها الفني؟
                br
                input.answer(type="checkbox" id="4")
                label(for="4") الجواب:
                span صب الماء ومن ثم الترشيح كانت فكرة جيدة لأن الرمل غير قابل للذوبان في الماء ويمكن أن يُفصل بالترشيح. ولكن ترك المرشَّح ليتبخر كليًّا كانت فكرة سيئة. بعد أن ما تبخر كل الماء، أصبح الـNaCl الآن ملوثاً بالـKNO<sub>3</sub> لأن الـKNO<sub>3</sub> هو أيضاً قابل للذوبان. يجب على المرشَّح أن يُترك ليتبخر جزئياً فقط، لكي يتبلور الـNaCl ويبقى الـKNO<sub>3</sub> في المحلول المرشَّح الباقي.

            p ما هي القواسم المشتركة بين ماء المطر والماء المقطر؟
                br
                input.answer(type="checkbox" id="5")
                label(for="5") الجواب:
                span كلاهما يحتوي على صفر أو على كمية بسيطة من أملاح معدنية لأن الإثنين قد صُنعا نتيجة لتكثف بخار الماء. ولكن عادة ما يكون الماء المقطر أنقى من ماء المطر لأن ماء المطر يمر عبر الغلاف الجوي ويلقط بعض الحبيبات الصغيرة من غبار وبعض الملوثات الغازية الموجودة في الجو، مثل أكسيد النيتروجين وأكسيد الكبريت. تتفاعل هذه الأكاسيد مع الماء لإعطاء أحماض. لذلك فبعض المناطق التي فيها تلوث هواء شديد، تعاني من ما يسمى بـ"أمطار حمضية acid rains".

            p 6. اقترح طريقة بسيطة لفصل خليط من حشوات حديد (Fe) ونحاس (Cu).
                br
                input.answer(type="checkbox" id="6")
                label(for="6") الجواب:
                span انظر إلى القسم رقم <a href="#1.4.7">1.4.7</a> و<a href="#fig_1.19">الصورة 1.19</a>. مثل الكبريت، فالنحاس لا ينجذب بالمغناطيس، بينما الحديد ينجذب له. فقط استعمل مغناطيس لسحب حشوات الحديد من الخليط.

            p 7. المشَّرح هو:
                br
                |أ) محلول سيتم ترشيحه
                br
                |ب) مادة صلبة ستطرد من المحلول
                br
                |ت) محلول ما بعد الترشيح
                br
                input.answer(type="checkbox" id="7")
                label(for="7") الجواب:
                span ت

            p ما هو الفرق بين المرشَّح وشراب الأم المقطر mother liquor?
                br
                input.answer(type="checkbox" id="8")
                label(for="8") الجواب:
                span المرشَّح هو محلول خالي من أي مواد صلبة بعد عملية الترشيح. شراب الأم المقطر هو جزء من المحلول الباقي بعد عملية التبلور.

            br

            a.next(href="/1.5") الصفحة التالية ← 1.5

            a.previous(href="/1.3") 1.3 → الصفحة السابقة

            br