include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.6 التفاعلات الكيميائية
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.6 التفاعلات الكيميائية
            p
                |- <a href="#1.6.1">1.6.1 التفاعلات والمعادلات الكيميائية</a>
                br
                |- <a href="#1.6.2">1.6.2 علامات تدل على تفاعلات كيميائية</a>
                br
                |- <a href="#1.6.3">1.6.3 حسابات كيميائية بسيطة. قياس اتحادية العناصر. قانون حفظ الكتلة (المادة) وقانون النسب الثابتة</a>
                br
                |- <a href="#1.6.4">1.6.4 الكاشف المحدِّد</a>
                br
                |- <a href="#1.6.5">1.6.5 تمارين</a>
            hr

            h2 <a id="1.6.1" href="#1.6.1">1.6.1 التفاعلات والمعادلات الكيميائية</a>

            p في القسم الفرعي <a href="/1.4#1.4.7">1.4.7</a>، تعلمنا عن فصل خليط من مسحوقَي كبريت وحديد باستخدام مغناطيس (<a href="/1.4#fig_1.19">الصورة 1.19</a>). هذا الفصل هو ظاهرة فيزيائية مبنية على الفرق بين خصائص المغنطة بين الحديد والكبريت.

            p دعنا الآن نرى ماذا سيحصل إذا سخنا خليطاً من الكبيت والحديد. بما أن تنفيذ هذه التجربة ليس مناسباً أبداً، ففقط شاهد هذه عروض الفيديوهات هذه: <a href="https://www.youtube.com/watch?v=cL6I1O1YHH0">الفيديو 1</a>، <a href="https://www.youtube.com/watch?v=A5H6DVe5FAI">الفيديو 2</a>، <a href="https://www.youtube.com/watch?v=NxAeQneITNA">الفيديو 3</a>. التفاعل الكيميائي الذي يحصل بين الكبريت والحديد هو فعلاً تفاعل مذهل. في هذا التحول، <span class="term">الكاشفَين reagents</span> الإثنين (أيضاً يسما بـ<span class="term">المتفاعلَين reactants</span>)، Fe و S، يُستهلكا وتُشكل مادة كيميائية جديدة، كبريتيد الحديد (FeS).

        .center.red_box
            p ننحرف قليلاً. إذا شاهدت <a href="https://www.youtube.com/watch?v=cL6I1O1YHH0">الفيديو 1</a> بما فيه الكفاية، فربما لاحظت أن الملوق الذي استُعمل لنقل الكبريت، هو نفسه الذي نُقل به مسحوق الحديد بدون أي تنظيف. هذا التصرف هو <u>ليس</u> تصرف مختبر أبحاث صحيح. أي ملوق أو ملعقة لمست بكيماوي يجب عليها أن تُنظف  قبل استخدامها مع كيماويات أخرى. ونفس الشيء، إذا استخدمت ماصة بسترة لسحب سائل ما، فيجب أن تُغسل قبل استعمالها مع سائل آخر. هذه القواعد تهدف إلى منع تلوث الكيماويات.

        .center
            p ناتج التفاعل، كبريتيد الحديد (FeS)، لديه خواص فيزيائية وكيميائية مختلفة تماماً عن التي للحديد والكبريت، المواد نفسها التي صُنع منها. الحديد (Fe) يُجذب بالمغناطيس، بينما كبريتيد الحديد (FeS) لا يُجذب. الكبريت (S) أصفر اللون، بينما كبريتيد الحديد (FeS) الناتج من التفاعل لونه بني على رمادي. نقطة ذوبان الـFeS هي (1,194 °C) والتي هي تماماً مختلفة عن الحديد (1,538 °C) والكبريت (115 °C).

            p المعادلة الكيميائية لهذا التفاعل هي كالتالي.

            h3(dir="ltr") Fe + S = FeS

            p هذه المعادلة تريك أن ذرة واحدة من الحديد (Fe) تتفاعل مع (+) ذرة واحدة من الكبريت (S) لإعطاء (=) جزيء واحد من كبريتيد الحديد (FeS). عادةً ما تُستبدل علامة يساوي في المعادلات الكيميائية بسهم، كما يُرى أدناه.

            h3(dir="ltr") Fe + S → FeS

            p يشير السهم إلى الاتجاه الذي يذهب إليه التفاعل. عادةً ما تُستخدم علامة يساوي والسهم بالتبادل في المعادلات الكيميائية.

            h2 <a id="1.6.2" href="#1.6.2">1.6.2 علامات تدل على تفاعلات كيميائية</a>

            p هناك الكثير من العلامات التي تلمح إلى احتمالية وجود تفاعل كيميائي. من هذه العلامات الفوران (تطور الغاز)، تشكل ترسب، اندلاع نار كنتيجة لاشتعال تلقائي، توهج ضوء، وتغير في اللون، الرائحة، أو الحرارة، إلخ. من بين كل هذه التأثيرات، فالنار هي العلامة الوحيدة الخالية الغير مبهمة. لا توجد علامة أخرى تكون فيها متأكد 100% أن ما تراه هو تفاعل كيميائي. على سبيل المثال، فقاعات من بخار الماء أُنتجت بسبب غليان الماء هي طبعاً ليست بسبب تفاعل كيميائي. وأيضاً، فترسب نادة صلبة في محلول بعد تبريده عملية ليس لها أي دخل بتحول كيميائي. ويجب أيضاً أن نضع في بالنا أن بعض التفاعلات الكيميائية تحدث بدون أي علامات مرئية.

            h2 <a id="1.6.3" href="#1.6.3">1.6.3 حسابات كيميائية بسيطة. قياس اتحادية العناصر. قانون حفظ الكتلة (المادة) وقانون النسب الثابتة</a>

            p كبريتيد الحديد، FeS، ناتج تفاعل الحديد (Fe) والكبريت (S)، هو في بعض الأحيان يُستخدم لمعالجة المياه الجوفية والتربة. افترض أننا نريد أن نصنع كمية من الـFeS باستخدام الـFe والـS لتطبيق المعالجة هذا. لأجل ذلك، يجب علينا أن نعرف نسبة الحديد والكبريت التي يجب استخدامها للإعداد، أو بالأحرى، <span class="term">قياس اتحادية العناصر stoichiometry</span> التي للتفاعل. بمعنى أوسع، فقياس اتحادية العناصر هو <a href="https://goldbook.iupac.org/terms/view/S06026">قياس العلاقة ما بين كميات المواد الكيميائية التي ستتفاعل والكميات الناتجة أيضاً</a>. لفهم هذه العلاقة (علاقة اتحادية العناصر) للتفاعل الذي لدينا ما بين الـFe والـS، يجب علينا أولا أن نعرف قانونيَن أساسيَّين في الكيمياء. <span class="term">قانون حفظ الكتلة law of conservation of mass</span> و<span class="term">قانون النسب الثابتة law of definite proportion</span>.

            p - قانون حفظ الكتلة (المادة) ينص على أنه في تفاعل كيميائي فلن تُخلق أو تُدمر أي ذرات. وبينما يبقى عدد الذرات نسفه، فتبقى الكتلة أيضاً نفسها ولا تتغير. استخلص هذا القانون من عمل عالميَن عظيمَين، أنطوان لافوازييه (فرنسا)، وميخائيل لومونوسوف (روسيا)، والذان تستطيع أن ترى صوراهما في <a href="#fig_1.20">الصورة 1.20</a>.

            p - قانون النسب الثابتة ينص على أنه مهما كان المصدر أو طريقة الإعداد، فسيظل المركب الكييميائي يحتوي على عناصره بنسب ثابتة. تم اكتشاف هذا القانون بواسطة عالم فرنسي عظيم اسمه جوزيف بروست (<a href="#fig_1.20">الصورة 1.20</a>).
            .figure <a id="fig_1.20" href="#fig_1.20">الصورة 1.20</a>
                div
                    img(src="/imgs/fig_1.20.webp", alt="")
                div 
                    p من اليسار إلى اليمين:
                        br
                        |1. أنطوان لافوازييه (1743-1794) (<a href="https://wellcomecollection.org/works/m5frx53c">المصدر</a>)
                        br
                        |2. ميخائيل لومونوسوف (1711-1765) (<a href="http://moscow.org/fotobank/fotopage_675.htm">المصدر</a>)
                        br
                        |3. جوزيف بروست (1754-1826) (<a href="https://commons.wikimedia.org/wiki/File:Portrait_of_Louis_Proust._Wellcome_L0006972.jpg">المصدر</a>)
            
            p الآن، لنرى كيفية تطبيق هذين القانونَين لحل مشكلتنا. لنفترض أنك تريد صناعة 88g من الـFeS. من قانون حفظ الكتلة، فنعرف أنه يجب على خليط الحديد والكبريت لإعداد الـFeS أن يكون هو أيضاً 88g.

            p ولكن، كم يجب من الـ88g أن يكون حديد وكم يجب أ، يكون كبريت؟ للإجابة على هذا السؤال، نُطبق قانون بروست لقانون النسب الثابتة. فكما يقول هذا القانون، مهما كان التحول الذي سيطرء لصناعة كبريتيد الحديد، مهما كان حجم التفاعل ومهما كانت الظروف، ومهما كانت النسب للكواشف المستخدمة، فنسبة ذرات Fe إلى ذرات S لصناعة ناتج كبريتيد الحديد ستبقى دائماً وإلى يوم القيامة 1:1. حتى لو أخذنا كومة كبيرة من الحديد وحفنة من الكبريت (أو حتى العكس)، ففي التفاعل، كل ذرة كبريت ستُضم مع ذرة حديد واحدة فقط، وسيبقى كبريتيد الحديد بنفس التكوين، وبالتالي، نفس الصيغة، FeS. ولكن ماذا سيحصل لذرات الكبريت أو الحديد الزائدة؟ لاشيء. فقط لن تتفاعل. كيف نعرف ذلك؟ عرفنا ذلك من كثير من دراسات وتجارب من علماء مختلفين. علمنا بدقة من هذه الدراسات أن تكوين كربيتيد الحديد ومعادلته الكيميائية لتشكيله هي:

            h3 Fe + S = FeS

            p كما شُرح سابقاً، فهذه المعادلة تشير إلى أن ذرة حديد (Fe) واحدة تتفاعل مع ذرة كبريت (S) واحدة لإعطاء جزيء كبريتيد الحديد (FeS). الوزن الذري (أو الكتلة الذرية) لكلا من هذين العنصرين تستطيع إجادهما في <a href="/imgs/fig_1.2.png">الجدول الدوري</a>. كتلة ذرة الكبريت هي 32.066 ≈ 32 وكتلة ذرة الحديد هي 55.845 ≈ 56 وحدة كتل ذرية atomic mass units (amu)، وأيضاً ما تعرف بدالتون Dalton (Da). [وحدة كتلة ذرية واحدة تساوي كتلة 1/12 ذرة كربون وتقريباً <span dir="ltr">1.66×10<sup>−24</sup>g</span>. سنتكلم عن amu. أكثر لاحقاً؛ وللوقت الحالي، فعلينا فقط نحتاج أن نعرف الأرقام.] بمعرفة الصيغة (FeS) والكتلة الذرية للـFe (56) والـS (32)، فنستطيع الآن حساب كتلة جزيء الـFeS بسهولة: <span dir="ltr">56+32=88amu</span>. وبذلك، فلصناعة 88 وحدة كتلية من الـFeS سواءٌ أكانت (غرام، كليوغرام، طن)، فيجب علينا استخدام 56 وحدة كتلية من الحديد سواءٌ أكانت (غرام، كليوغرام، طن) وأيضاً 32 وحدة كتلية من الكبريت سواءٌ أكانت (غرام، كليوغرام، طن) لخلق هذا التفاعل. يعني:
            p(dir="ltr")
                |56g Fe + 32g S = 88g FeS
                br
                |56kg Fe + 32kg S = 88kg FeS
                br
                |56lb Fe + 32lb S = 88lb FeS
                br
            p وهكذا... لا تهم الوحدة (غرام، كليوغرام، طن) لأن النسب ستظل ثابتة.

            p ماذا إذا أردتنا أن نصنع ضعف الكمية من الـFeS، 176g؟ بسيطة، فقط ضاعف كمية الكبريت والحديد:
            p(dir="ltr")
                |<span class="blue_vibrant">56g</span> Fe + <span class="blue_vibrant">32g</span> S = <span class="blue_vibrant">88g</span> FeS
                br
                |<span class="vibrant_red">2</span>×<span class="blue_vibrant">56g</span> Fe + <span class="vibrant_red">2</span>×<span class="blue_vibrant">32g</span> S = <span class="vibrant_red">2</span>×<span class="blue_vibrant">88g</span> FeS
                br
                |<span class="green">112g</span> Fe + <span class="green">64g</span> S = <span class="green">176g</span> FeS

            p دعنا الآن نفترض حالة أقل بساطة. لنفترض أنك تريد 100g من الـFeS. فكم يجب أن تستخدم من الكبريت والحديد؟ كل هذه المسائل هي عبارة عن علاقات طردية ليس إلا. لنفكر بها بمنطقية. سنحسب الآن كمية الـFe: لصناعة 88g من الـFeS، نحتاج إلى 56g من الـFe. ولصناعة 100g من الـFeS، نحتاج إلى x من الـFe، وبما أنها علاقة طردية، فسنحسب أولاً النسبة التي زاد فيها الـFeS والتي هي من 80 => 100. فلنعرف نسبة الزيادة الطردية، نقسم الأخير على الأول 100/88 = <span class="vibrant_red">1.136</span>. وبعدها نستخدم هذه النسبة لزيادة الـFe. فنضرب الـ56 بهذه النسبة 56×<span class="vibrant_red">1.136</span> = 63.6 وكما ترى فالنتيجة النهائية هي 63.6g.
            .figure.no_border
                div
                    img.portrait(src="/imgs/Fe_FeS_equation.png", alt="")

            p بما أنه أصبحنا نعرف كمية الـFe المحتاجة، فنستطيع أن نعرف أيضاً كمية الكبريت بدون عملية الحساب الطويلة هذه. فقط سنعرف الكمية الزائدة وهي ستكون الكبريت، أي:
            h3.center
                |100g FeS = 63.6g Fe + <span class="blue_vibrant">x</span> S
                br
                |<span class="blue_vibrant">x</span> = 36.4g
            p أو تستعمل الطريقة الطويلة مرة أخرى:
            .figure.no_border
                div
                    img.portrait(src="/imgs/S_FeS_equation_one_line.png", alt="")

            p هل المعادلات أعلاه صعبة قليلاً؟ بسيطة! الكيمياء في كثير من الأحيان تشبه الطبخ :) في كلا من الطبخ والكيمياء، نحتاج إلى كميات ونسب مكونات لصناعة شيء ما. لنفترض أنك تريد صناعة فطيرة تفاح، ستحتاج إلى تفاحتَين وكوب من الطحين (ضمن مكونات أخرى). وأنت لديك الآن 5 تفاحات وتريد صناعة فطيرة كبيرة. فكم كوب طحين ستحتاج؟ كمية الطحين (وأيضاً المكونات الأخرى) ستزيد نسبياً (طردياً)، كالتالي:
            .figure.no_border
                div
                    img.portrait(src="/imgs/apple_flour_equation.png", alt="")
            
            h2 <a id="1.6.4" href="#1.6.4">1.6.4 الكاشف المحدِّد</a>

            p دعنا الآن نفترض مشكلة فطيرة تفاح أخرى. لنفترض أنه لديك 6 تفاحات و4 أكواب من الطحين. ونريد أن نصنع أكبر فطيرة ممكنة بمكوناتنا المتوفرة، وبما أن الوصفة تقول تفاحتَين لكل كوب طحين واحد، فهناك ثلاثة احتمالات (ولكن واحدة منهما صحيحة فقط).

            p 1. لدينا طحين كافي أكثر من التفاح. في هذه الحالة، فسيكون حجم الفطيرة محدداً بعدد التفاحات. نستطيع أن نقول التفاحات هي <em>المكون المحدِّد</em>. سنستخدم كل التفاحات الستة ونحسب منهم كمية الطحين المحتاجة.

            p 2. لدينا طحين أقل من التفاح. نقول هنا أن الطحين هو <em>المكون المحدِّد</em>. فسنستخدم كل الطحين المتاح ونحسب منه عدد التفاحات المحتاجة.

            p 3. كمية الطحين والتفاح هما متناسبان مع بعض بالضبط وليس هناك أي <em>مكون المحدِّد</em>.
            
            p لنعرف أي الاحتمالات هو الصحيح. سنحسب كم كوب طحين نحتاج لصناعة فطيرة بـ6 تفاحات:
            .figure.no_border
                div
                    img.portrait(src="/imgs/apple_flour_equation_6_apples.png", alt="")
            p كمى ترى فنحتاج 3 أكواب طحين، ونحن لدينا 4! أي أنه لدينا طحين أكثر من اللازم، و<em>المكون المحدِّد</em> هو التفاح. وكان هذا الاحتمال 1.

            p نرجع إلى الكيمياء الحبيبة، لنفترض أنه لديك 64g من الكبريت و120g من الحديد لصناعة FeS. فكم يجب علينا أن نستخدم من كليهما لصناعة أكبر كمية ممكنة من الـFeS؟ على منهاج فطيرة التفاحة، فسنطبق نفس الشيء على الكبريت والحديد. يجب أن نعرف أولاً أيُّهما هو <em>المكون المحدِّد</em>، أو في الكيمياء، <span class="term">الكاشف المحدِّد limiting reagent</span> أو <span class="term">المتفاعل المحدِّد limiting reactant</span>.

            p بما أن الكتلة الذرية للكبريت (32) والحديد (56) وأن الصيغة الكيميائية تنص على أننا نريد ذرة كبريت واحدة لكل ذرة حديد واحدة (FeS؛ 1:1)، فيجب أن يكون لدينا 32g كبريت لكل 56g حديد (32g:56g). ونحن لدينا 64g كبريت بدلاً من 32g. فكم نحتاج من الحديد ليتفاعل كاملاً مع 64g من الكبريت؟
            .figure.no_border
                div
                    img.portrait(src="/imgs/Fe_FeS_equation_64gS.png", alt="")
            p كما ترى فنحتاج إلى 112g حديد، ونحن بالأصل لدينا 120g أي 8g زيادة. هذه الزيادة لن تتفاعل وستبقى حديداً، وكما يقول الكيميائيون <em>غير متفاعلة</em>. فسيكون الناتج لدينا 176g كبريتيد الحديد (FeS) وأيضاً 8g حديد غير متفاعل.

            h2 <a id="1.6.5" href="#1.6.5">1.6.5 تمارين</a>

            p 1. مثل الحديد، فالزنك (Zn) يتفاعل أيضاً مع الكبريت. ناتج التفاعل يكون كبريتيد الزنك، ZnS. وبالمناسبة، فالـZnS هو مركب مهم ولديه استخدامات متعددة  في تطبقات مواد الإلكترونيات والأجهزة البصرية، الأصباغ، وأيضاً كحفاز. الحفاز هو مركب يستطيع أن يسرع تفاعلاً كيميائياً معيناً. سنتكلم عن الحفازات وظاهرة التحفيز لاحقاً. ولكن للوقت الحالي،

            p (أ) بمعرفتك صيغة كبريتيد الزنك (ZnS)، فاكتب لنا معادلة تشكيله من الزنك (Zn) والكبريت (S)؛

            p (ب) باستخدام المعادلة التي كتبتها والكتل الذرية للـS والـZn من <a href="/imgs/fig_1.2.png">الجدول الدوري</a>، فاحسب كم غرام Zn نحتاج ليتفاعل مع 16g كبريت وكم غرام من الـZnS سنحصل عليه.
                br
                |قَرب عدد الكتل الذرية إلى أقرب أحاد (4.<u>9</u>1 => 1) وكميات الغرام إلى أقرب عُشر (0.2<u>1</u>6 => 0.2).

            p (ت) لديك 30g كبريت و30g زنك. كم تستطيع أن تصنع من الـZnS بهذه الكميات؟ وأي منهما هو الكاشف المحدِّد؟
                br
                input.answer(type="checkbox" id="1")
                label(for="1") الجواب:
                span
                    br
                    |أ) Zn + S = ZnS
                    br
                    |ب) 32.5g من الـZn؛ 48.5g من الـZnS
                    br
                    |ت) 44.8g؛ الـZn هو الكاشف المحدِّد
    

            p كما علمنا سابقاً في القسم الفرعي <a href="#1.6.4">1.6.4</a>، فإذا استعملنا 120g من الحديد للتفاعل مع 64g من الكبريت، ففقط 112g من الحديد سيتفاعل. والباقي، 120g - 112g = 8g سيبقى غير متفاعل، والناتج المتفاعل سيكون 176g من الـFeS وأيضاً 8g من الحديد الغير متفاعل. اقترح طريقة بسيطة لفصل الحديد الغير متفاعل من ناتج الـFeS.
                br
                input.answer(type="checkbox" id="2")
                label(for="2") الجواب:
                span الحديد يُجذب بالمغناطيس، ولكن الـFeS لا يُجذب. استخدم طريقة الفصل بالمغناطيس (<a href="/1.4#1.4.7">القسم 1.4.7</a> و<a href="/1.4#fig_1.19">الصورة 1.19</a>). ولكن قبل ذلك، يجب علينا أن نطحن الخليط بشكل جيد، والذي يكون على شكل مادة صلبة قاسية.

            br
            a.next(href="/1.7") الصفحة التالية ← 1.7
            a.previous(href="/1.5") 1.5 → الصفحة السابقة