include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 1.9 التكافؤ
    body
        +navbar
        .center
            h1 الوحدة الأولى
            p.center.blue 1.9 التكافؤ
            p
                |- <a href="#1.9.1">1.9.1 التكافؤ</a>
                br
                |- <a href="#1.9.2">1.9.2 تمارين</a>
            hr

            h2 <a id="1.9.1" href="#1.9.1">1.9.1 التكافؤ</a>

            p لقد شاهدت حتى الآن العديد من الصيغ في هذه الدورة. كيف لنا أن نعرف أن صيغة ملح الطعام هي NaCl؟ تكوين الجسم ونسبة العناصر في الـNaCl ومركبات أخرى قد حُددت <u>بالتجربة</u>. ولكن لماذا في الـNaCl ذرة كلوريد واحدة لكل ذرة صوديوم، بينما في الـMgCl<sub>2</sub> هناك ذرتَي Cl لكل ذرة مغنسيوم، وفي الـAlCl ذرة الألومنيوم مربوطة بثلاث ذرات Cl؟ هل يمكننا تخمين نسب عناصر جزيئات كهذه؟ نستطيع، ولكن يجب علينا معرفة التكافؤات للعناصر المعطاة في الجزيء المكوَّن منها.

            p <span class="term">تكافؤ valence</span> عنصر معين هو قدرته على الاندماج مع عدد معين من ذرات عناص أخرى. هل قد أربكك هذا؟ لن أتفاجئ إذا فعلت ذلك. بدأ اهتمامي بالكيمياء عندما كنت حوالي العاشرة من عمري. أعترف أن مفهوم التكافؤ كان يمثل مشكلة بالنسبة لي. "مشكلة الطفولة" تلك التي كانت لدي والتي جعلتني الآن أفكر كثيراً في كيفية شرح فكرة التكافؤ ببساطة ووضوح.

            p تصور ذرات من عناصر مختلفة كمجسمات صغيرة ككرات ملونة مثلاً ولكل أحدهن عدد من "الأيدي" (<a href="#fig_1.28">الصورة 1.28</a>). يستطيعون أن يتماسكوا يداً بيد مع بعضهم. بتماسك الأيادي يشكلون جزيئات. البعض لديه يد واحدة فقط، آخر لديه اثنان، ثلاثة، أربعة، أو حتى أكثر. الهيدروجين (H) لديه يد واحدة، وكذلك الفلور (F)، الكلور (Cl)، والصوديوم (Na)، البوتاسيوم (K)، وعناصر أخرى. الأكسجين (O)، المغنيسوم (Mg)، الكالسيوم (Ca)، والباريوم (Ba) لديهم كلهم يدان اثنتان. الألومنيوم (Al) والنيتروجين (N) لديهم ثلاثة، بينما الكربون (C) لديه أربعة.

            .figure <a id="fig_1.28" href="#fig_1.28">الصورة 1.28</a>
                div
                    img(src="/imgs/fig_1.28.png" alt="")
                div
                    p تصور لذرات عناصر محددة ككرات بعدد أيادي مختلف.

            p عندما يتماسك الهيدروجين (H) "الأحادي اليد" مع مع النيتروجين (F)، والذي هو "أحادي اليد" أيضاً، فيتكون لنا جزيء الـHF (فلوريد الهيدروجين) (<a href="#fig_1.29">الصورة 1.29</a>). الهيدروجين والفلور لا يمكن أبداً أن يشكلوا جزيئات أخرى كـ H<sub>2</sub>F أو H<sub>3</sub>F أو H<sub>4</sub>F أو HF<sub>4</sub> لأن الهيدروجين لديه يد واحدة فقط والفلور لدي يد واحدة فقط كذلك. نفس الشيء مع ملح الطعام، كلوريد الصوديوم والذي صيغته هي NaCl لأن كلا من الـNa والـCl لديهم يد واحدة فقط (<a href="#fig_1.29">الصورة 1.29</a>). العدد المعين "لأيادي" كل عنصر يشرح قانون النسب الثابتة، والذي ينص على أنه مهما كان مصدر أو طريقة الإعداد، فالمركب الكيميائ سيحتوي دائماً على نفس النسبة من العناصر (<a href="/1.6#1.6.3">القسم الفرعي 1.6.3</a>).
            .figure <a id="fig_1.29" href="#fig_1.29">الصورة 1.29</a>
                div
                    img(src="/imgs/fig_1.29.png" alt="")
                div
                    p "التصافح" بين الـH والـF وبين الـNa والـCl، عناصر لديها تكافؤ بمعدل 1 ("يد" واحدة)

            p الأكسجين (O) هو دائماً ثنائي التكافؤ، أي لديه ("يدان" اثنتان). لذلك فالأكسجين يستطيع أن "يتصافح" مع ذرتَي هيدروجين أحاديات التكافؤ ("ذوات يد واحدة") ( <a href="#fig_1.30">الصورة 1.30</a>) لتشكيل جزيء الماء (H<sub>2</sub>O). وبما أن تكافؤ النيتروجين يساوي 3، فيترابط مع ثلاث ذرات هيدروجين لصنع جزيء الأمونيا (NH<sub>3</sub>). في جزيء الميثان (CH<sub>4</sub>)، ذرة الكربون رباعية التكافؤ تترابط مع أربع ذرات هيدروجين أحادية التكافؤ.
            .figure <a id="fig_1.30" href="#fig_1.30">الصورة 1.30</a>
                div
                    img(src="/imgs/fig_1.30.png" alt="")
                div
                    p
                    |جزيئات متكونة من الهيدروجين (H) (التكافؤ = 1) و:
                    br
                    |- الأكسجين (O) (التكافؤ = 2)
                    br
                    |- النيتروجين (N) (التكافؤ = 3)
                    br
                    |- الكربون (C) (التكافؤ = 4)

            p عدد "الأيادي" التي لدى العنصر تمثل قدرته على الاندماج مع عدد معين من ذرات عناصر أخرى، والذي هو <u>بالتكافؤ</u> (اقرأ فوق). كل تماسك أيدي في <a href="#fig_1.29">الصورة 1.29</a> و<a href="#fig_1.30">1.30</a> يمثل <span class="term">ترابط كيميائي chemical bond</span> بين ذرتين اثنتين. بالطبع، فالكيميائيون لا يرسمون أيدي متماسكة لمتثيل الترابطات الكيميائية. نرسم فقط فقط خطوطاً بين تمثيلات الذرات للإشارة إلى أنه هتين الذرتين مترابطتان كيميائياً ببعضهم. سنعرف أكثر عن أنواع الترابطات الكيميائية في <a href="/coursemodules#2">الوحدة 2</a> من هذه الدورة.

            p معرفة تكافؤ العناصر الكيميائية تسمح لنا بتخمين التكوينات (الصيغ) بطريقة موثوق بها لمركبات متنوعة. على سبيل المثال، لو تم التوصل تجريبياً إلى أن مركب السيليكون (Si) الذي يتشكل مع الأكسجين (O) هو SiO<sub>2</sub> (ثنائي أكسيد السيليكون). هل نستطيع أن نحدد تكافؤ السيليكون من هذه الصيغة؟ نعم نستطيع. بإعطاء الصيغة SiO<sub>2</sub> وتكاؤث الأكسجين 2، نستطيع التصول إلى أن ذرة الـSi لديها أربع "أيادي"، أو بالأحرى هي رباعية التكافؤ. وبالتالي، فيُتوقع من السيليكون أن يشكل مركبات على شكل الصيغ SiH<sub>4</sub>، SiF<sub>4</sub>، و SiCl<sub>4</sub> مع ذرات "أيادي أحادية" من الـH، الـF، والـCl. هذه الصيغ هي صحيحة، كما ثبُت تجريبياً.

            p أرقام التكافؤات (عدد "الأيادي") لبعض العناصر معروضة في الجدول 1.

            .figure <a id="table_1" href="#table_1">الجدول 1.</a> عدد تكافؤ عناصر معينة
                div
                    table   
                        tr 
                            th العناصر
                            th التكافؤ
                        tr 
                            td 1
                            td <span class="vibrant_red">Cu</span> ،Ag ،K ،Na ،Li ،Br ،Cl ،F ،<span class="vibrant_red">N</span> ،H
                        tr 
                            td 2
                            td <span class="vibrant_red">Cr</span> ،<span class="vibrant_red">Pb</span> ،Hg ،<span class="vibrant_red">Cu</span> ،<span class="vibrant_red">Sn</span> ،Zn ،<span class="vibrant_red">Fe</span> ،Ba ،Ca ،Mg ،<span class="vibrant_red">S</span> ،O ،<span class="vibrant_red">N</span> ،<span class="vibrant_red">C</span>
                        tr 
                            td 3
                            td <span class="vibrant_red">Fe</span> ،<span class="vibrant_red">Cr</span> ،Al ،<span class="vibrant_red">P</span> ،<span class="vibrant_red">N</span>
                        tr 
                            td 4
                            td <span class="vibrant_red">Pb</span> ،<span class="vibrant_red">S</span> ،<span class="vibrant_red">Sn</span> ،Si ،<span class="vibrant_red">N</span> ،<span class="vibrant_red">C</span>
                        tr 
                            td 5
                            td <span class="vibrant_red">P</span> ،<span class="vibrant_red">N</span>
                        tr 
                            td 6
                            td <span class="vibrant_red">Cr</span> ،<span class="vibrant_red">S</span>
            
            p في <a href="#table_1">الجدول 1</a> بعض الرموز ملونة بالأسود وبعض بالأحمر. الذين بالأسود هم لعناصر تظهر تكافؤ واحد فقط. مثلاً، تكافؤ الهيدروجين، الفلور، والصوديوم سيبقى دائماً 1. للأكسجين (O)، الكالسيوم (Ca)، والزنك (Zn)، فتكافؤهم سيكون دائماً 2 وسيكون دائماً 3 للألومنيوم (Al). ولكن، يمكن للحديد (Fe) أن يكون ثنائي أو ثلاثي التكافؤ، والنحاس يمكن أن يكون إما أحادي أو ثنائي التكافؤ. نعرف من هذه الحقائق أن كلا من الـCuCl والـCuCl<sub>2</sub> هما مركبان معروفان ومستقران، وكذلك أيضاً لـFeCl<sub>2</sub> و FeCl<sub>3</sub>. كلا من الـCuCl والـCuCl<sub>2</sub> هما كلوريدات نحاس. للتفرقة بينهم عند كتابة الأسامي الكيميائية، يُكتب التكافؤ بالأرقام الرومانية بين قوسين بعد اسم العنصر المتعدد التكافؤ. وبالتالي، فاسم الـCuCl هو "كلوريد النحاس(I)" والـCuCl<sub>2</sub> " كلوريد النحاس(II)". على نفس المنوال، "كلوريد الحديد(II)" هو اسم الـFeCl<sub>2</sub> و "كلوريد الحديد(III)" هو للـFeCl<sub>3</sub>. تُقرأ الأسامي كالتالي: كلوريد النحاس الأحادي، كلوريد النحاس الثنائي، كلوريد الحديد الثنائي، كلوريد الحديد الثلاثي.

            p هناك أيضاً أسامي جذابة قديمة شائعة لكلوريدات النحاس والحديد، والتي تعكس تكافؤ الـCu والـFe. كلوريد النحاس(I) يُسمى cuprous chloride وكلوريد النحاس(III) يسمى cupric chloride. نفس الشيء مع الأسامي القديمة للـFeCl<sub>2</sub> والـFeCl<sub>3</sub>، يسمان بـferrous chloride و ferric chloride على التوالي. تُستخدم هذه الأسامي لحد اليوم.

            p لماذا للعناصر المختلفة عدد "أيدي" مختلفة بالأحرى علمياً تكافؤات مختلفة؟ سنعرف ذلك في الوحدة التالية (<a href="/coursemodules#2">الوحدة 2</a>) من دورتنا هذه. إبان ذلك، دعنا نقوم ببعض التمارين.

            h2 <a id="1.9.2" href="#1.9.2">1.9.2 تمارين</a>

            p وأنت تحل هذه التمارين، فكر "بالأيادي" التي تمتلكها العناصر <a href="#table_1">الجدول 1</a>.

            p.no_bottom 1. تكافؤ الإنديوم (In) هو دائماً 3. بمعرفة تكافؤ الكلور (1) والأكسجين (2)، فما هي القيم التي ستكون للأرقام z ،y ،x للصيغ التالية:
                br
                |1) كلوريد الإنديوم InCl<sub>x</sub>
                br
                |2) أوكسيد الإنديوم In<sub>y</sub>O<sub>z</sub>
            input.answer(type="checkbox" id="1")
            label(for="1") الجواب:
            div
                |1) x = 3
                br
                |2) y = 2؛ z = 3

            p.no_bottom 2. باستخدام أعداد التكافؤ في <a href="#table_1">الجدول 1</a>، اكتب صيغ مركبات الأكسجين مع العناصر التالية: Cr ،P ،C ،Al ،Ba ،K
            input.answer(type="checkbox" id="2")
            label(for="2") الجواب:
            div
                |K<sub>2</sub>O
                br
                |BaO
                br
                |Al<sub>2</sub>O<sub>3</sub>
                br
                |CO<sub>2</sub> ،CO
                br
                |P<sub>2</sub>O<sub>5</sub> ،P<sub>2</sub>O<sub>3</sub>
                br
                |CrO<sub>3</sub> ،Cr<sub>2</sub>O<sub>3</sub> ،CrO

            br
            a.next(href="/1.10") الصفحة التالية ← 1.10
            a.previous(href="/1.8") 1.8 → الصفحة السابقة