include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 2.1 اكتشاف الجدول الدوري
    body
        +navbar
        .center
            h1 الوحدة الثانية
            p.center.blue 2.1 اكتشاف الجدول الدوري
            p
                |- <a href="#2.1.1">2.1.1 الحاجة إلى تنظيم المعلومات الكيميائية في القرن التاسع عشر. اكتشاف مندلييف</a>
                br
                |- <a href="#2.1.2">2.1.2 إنه <u>ليس</u> بالوزن الذري الذي يحكم الجدول الدوري</a>
                br
                |- <a href="#1.18.3">2.1.3 تمارين</a>

            hr

            h2 <a id="2.1.1" href="#2.1.1">2.1.1 الحاجة إلى تنظيم المعلومات الكيميائية في القرن التاسع عشر. اكتشاف مندلييف</a>
            p في الوحدة الأولى، عرفنا أنفسنا ببعض أساسيات الكيمياء الوصفية. أغلب هذه المعلومات بالأصل متراكمة من ما قبل 150 سنة. ولكن في ذلك الحين، الما كان معروفاً عن المواد الكيميائية وتفاعلاتها كان عبارة عن مجموعة متناثرة من الحقائق التي كانت تصيح على السامعين لتنظيمها. <a href="https://ar.wikipedia.org/wiki/%D8%AA%D8%A7%D8%B1%D9%8A%D8%AE_%D8%A7%D9%84%D8%AC%D8%AF%D9%88%D9%84_%D8%A7%D9%84%D8%AF%D9%88%D8%B1%D9%8A">حاول</a> الكثير من العلماء في القرن التاسع عاشر العثور على مصنفات في سلوك العناصر الكيميائية. أتى النجاح أخيراً في الـ 1869 مع اكتشاف القانون الدوري وتصييغ الجدول الدوري بواسطة النابغة <a href="https://www.chemistryworld.com/features/the-father-of-the-periodic-table/3009828.article">ديميتري مندلييف</a>. الأصغر بين إخوته الـ 17 الذي ولد في قرية سيبيرية نائية في 1834، كان عمر ديميتري مندلييف 35 عاماً فقط عندما اكتشف اكتشافه (<a href="#fig_2.1">الصورة 2.1</a>) الذي كان بمثابة ولادة الكيمياء الحديثة.

            .figure <a id="fig_2.1" href="#fig_2.1">الصورة 2.1</a>
                div
                    img(src="/imgs/fig_2.1.webp" alt="")

                div
                    p مخطوطة مندلييف الأصلية بتاريخ 17 فبراير 1869 (اليسار؛ <a href="https://commons.wikimedia.org/wiki/File:Mendeleev_law.jpg">المصدر</a>) ونسختها المطبوعة (اليمين؛ <a href="https://commons.wikimedia.org/wiki/File:Mendeleev%27s_1869_periodic_table.svg">المصدر</a>). يقرأ العنوان: "بصيرة إلى نظام العناصر بناءً على وزنهم الذري وتشابههم الكيميائي" (تُرجم من الروسية التي ما قبل إصلاح الهجاء 1917-1918).

        br

        .center.red_box
            p ننحرف قليلاً. هناك <a href="http://yfaat.ch.huji.ac.il/sason/The_Periodic_Table_Popularization_through_Art_and_Music.pdf">مقال</a> جديد ممتاز عن اكتشاف مندلييف الرائع وكيف أن القانون الدوري وجدوله قد "وضعا عالم المادة الكيميائية في راحة اليد" وإلهامهما ليس للكثير من أجيال العلماء القادمة، بل أيضاً للكتاب، الفنانين، والموسيقيين.

        .center
            p حلل مندلييف الخواص الكيميائية والفيزيائية للعناصر الـ 63 التي كانت معروفة آنذاك بناءً على أوزانهم الذرية. في ذلك الوقت، لم يكن قد اكتُشف الهيكل الذري، الذرة كلها كانت تُعتبر أصغر جزيء لا يُرى بالعين المجردة من المادة، وكان الوزن الذري هو الخاصية الأساس أساسية للعنصر الكيميائي. عندما سرد مندلييف العناصر بترتيب أوزانهم الذرية (<a href="#fig_2.1">الصورة 2.1</a>)، لاحظ أن أولائك الذين لديهم نفس الخواص يأتون على فترات منتظمة، وبذلك يصبحوا <u>مجموعات</u>. صاغ مندلييف القانون الدور كالتالي:

            p.center "خواص العناصر هي في اعتمادهم الدوري على أوزانهم الذرية"

            p لفهم القانون الدوري بشكل أفضل، خذ نسخة حديثة للجدول الدوري. اعثر على المجموعة 1، العمود على أقصى اليسار. عدا عن الهيدروجين (والذي هو حالة خاصة)، العناصر التي تُكون المجموعة 1 هي <u>فلزات قلوية</u>: Li, Na, K, Rb, Cs, Fr. كلهم يظهرون خواص فيزيائية وسلوكيات كيميائية متشابهة بشكل ملحوظ (<a href="#fig_2.2">الصورة 2.2</a>).

            .figure <a id="fig_2.2" href="#fig_2.2">الصورة 2.2</a>
                div
                    img(src="/imgs/fig_2.2.png" alt="")

                div
                    p كل الفلزات القلوية متشابهة بشكل كبير من ناحية الخواص الفيزيائية والكيميائية.

            
            p على وجه الخصوص، فكل الفلزات القلوية توصل الحرارة والكهرباء، ذوات نقطة ذوبان منخفضة، وطرايا لدرجة استطاعتك قطعهم بسكينة بسهولة. كل الفلزات القلوية تفاعلية بشكل كبير، تكافؤهم يساوي واحد بشكل ثابت. على سبيل المثال، كلهن يتفاعلن مع الهيدروجين لإعطاء الهيدروكسيد المقابل لهن.

            p(dir="ltr")
                |2M + 2H<sub>2</sub> = 2MOH + H<sub>2</sub>
                br
                |(M = Li, Na, K, Rb, Cs, Fr)
            
            p الهيدروكسيدات المنتجة في هذا التفاعل هي قواعد قوية. مع بعض الاستثاءات النادرة جداً، أملاح الفلزات القلوية تذوب بسهولة في الماء. بينما أن هذه الخواص الفيزيائية والكيميائية هي كلها للفلزات القلوية، فهي للفلزات القلوية فقط وغير مشتركة أبداً مع أي عناصر أخرى.

            p مثال منوذجي آخر هو المجموعة 18 على أقصى اليمين (<a href="#fig_2.3">الصورة 2.3</a>)، تضم الهيليوم (He)، النيون (Ne)، الآرغون (Ar)، الكريبتون (Kr)، الزينون (Xe)، والرادون (Rn). هذه العناصر، تسمى <u>بالغازات الخاملة inert gases</u> أو <u>النبيلة noble</u>، لم يكونوا معروفين عندما صَيّغ مندلييف الجدول الدوري. اكتشاف الغازات الخاملة أعطى دعماً قوياً للقانون الدوري.كل الغازات النبيلة هي غازات تتواجد كجزيئات أحادية الذرة والتي هي خاملة بشكل استثنائي (اسم على مسمى). مرة أخرى، بينما أنهن شبيهات كثيراً ببضهم البعض، فالغازات النبيلة هي مختلفة عن كل العناصر الأخرى.

            .figure <a id="fig_2.3" href="#fig_2.3">الصورة 2.3</a>
                div
                    img(src="/imgs/fig_2.3.png" alt="")

                div
                    p الغازات النبيلة هي شبيهة جداً ببعضها وفي نفس الوقت مختلفة تماماً عن كل العناصر الكيميائية الأخرى.

            p الهالوجينات (الفلور، الكلور، البروم، اليود، والأستاتين) تشغل المجموعة 17 من الجدول الدوري (<a href="#fig_2.4">الصورة 2.4</a>). كلهن يُكونَّ جزيئات ثنائية الذرة X<sub>2</sub> (X = F, Cl, Br, I, At)، لا يوصلن الكهرباء أو الحرارة، ويُظهرن خواص كيميائية أغلبها للافلزات. على سبيل المثال، يتفاعلن مع الهيدروجين لإعطاء أحماض HX ومع الفلزات لتشكيل أملاح، حيث يكون تكافؤ الهالوجين دائمًا 1. نستطيع أن نرى مرة أخرى، أن العناصر في المجموعة 17 متشابهون إلى حد كبير، وفي نفس الوقت مختلفين تماماً عن العناصر الكيميائية الأخرى. ينطبق هذا الأمر على كل مجموعة في الجدول الدوري.

            .figure <a id="fig_2.4" href="#fig_2.4">الصورة 2.4</a>
                div
                    img(src="/imgs/fig_2.4.png" alt="")

                div
                    p تُكون الهالوجينات مرة أخرى مجموعة من عناصر متشابهة جداً

            
            p دعنا الآن نضع الصفوف الأفقية في عين الاعتبار، تسمى <i>الدورات</i>. يُرى هنا نمط مثير للاهتمام ولكن في نفس الوقت مختلف أيضاً. عدا أولهم، الذي فيه فقط عنصران اثنان (H و He)، فكل الصفوف تبدأ بفلز قلوي. بعدها بفلز قلوي ترابي (Be, Mg, Ca, Sr, Ba, Ra). وبينما نتنقل خلال الدورة من اليسار إلى اليمين، نلاحظ أن الخواص الفلزية للعناصر تتلاشى، وتُستبدل بخواص لافلزية. على نهاية كل دورة نرى هالوجين، لافلز نموذجي، وأخيراً، غاز نبيل. بعد الغاز النبيل، تبدأ دورة جديدة لإظهار نفس النمط.

            p بتحليل الأنماط بدقة من الدورات والمجموعات، اختتم مندلييف الأمر بختامَين هامَّين. أحدهما هو أنه هناك بعض الأخطاء في الحسابات التجريبية للأوزان الذرية لبعض العناصر. صحح أولائك. ولاحظ أيضاً بعض الفجوات في الجدول وقد لخص إلى أن هذه الفجوات هي لعناصر لم يتم اكتشافها بعد. ذهب إلى حد <a href="https://ar.wikipedia.org/wiki/%D8%B9%D9%86%D8%A7%D8%B5%D8%B1_%D9%85%D9%86%D8%AF%D9%84%D9%8A%D9%8A%D9%81_%D8%A7%D9%84%D9%85%D8%AA%D9%88%D9%82%D8%B9%D8%A9">تَوقع</a> بعض هذه العناصر وخصائصهم بدقة خطيرة. بعد توقعات مندلييف، اكتُشف الغاليوم (Ga)، السكانديوم (Sc)، والجرمانيوم (Ge) أعوام 1875، 1879، و 1886، على التوالي.

            h2 <a id="2.1.2" href="#2.1.2">2.1.2 إنه <u>ليس</u> بالوزن الذري الذي يحكم الجدول الدوري</a>

            p حصل القانون الدوري لمندلييف على شعبية فورية، كما شهدت عليه حقيقة أن أقدم جدول دوري لصف مدرسي (<a href="#fig_2.5">الصورة 2.5</a>؛ <a href="https://www.bbc.com/news/uk-scotland-edinburgh-east-fife-46904926">عُثر عليها مؤخراً بالخطأ</a>) قُدّر أنه قد طُبع بعد حوالي 10-15 سنة من اكتشاف مندلييف. ولكن، لا مندلييف ولا غيره استطاع فهم مصدر الدورية هذه. الآن نعرف أن المصدر الأساسي للقانون الدوري يقع في الهيكل الذري، وأن <u>الدورية هي وظيفة رقم العنصر في الجدول الدوري، لا وزنه الذري</u>.

            .figure <a id="fig_2.5" href="#fig_2.5">الصورة 2.5</a>
                div
                    img(src="/imgs/fig_2.5.webp" alt="")

                div
                    p أقدم جدول دوري لصف مدرسي، طُبع بين 1879 و 1866 (<a href="https://www.thevintagenews.com/2019/01/22/oldest-periodic-table/">المصدر</a>).

            p هناك ثلاث أمثلة على عناصر بأوزان ذرية أعلى موضوعة أمام قرينها الذي وزنه الذري أقل في الجدول. إنهم:

            p 1. الآرغون (Ar)، #18، الكتلة الذرية = 39.95 والبوتاسيوم (K)، #19، الكتلة الذرية = 39.10

            p 2. الكوبالت (Co)، #27، الكتلة الذرية = 58.93، والنيكل (Ni)، #28، الكتلة الذرية = 58.69

            p 3. التيلوريوم (Te)، #52، الكتلة الذرية = 127.60 واليود (I)، #53، الكتلة الذرية = 126.90

            p أيام أعمال مندلييف، لم يكن قد اكتُشف عن الآرغون ولم يكن تحديد الوزن عالي الدقة بما فيه الكفاية لملاحظة الفرق البسيط بين وزن الكوبالت والنيكل. أم للتيلوريوم واليود، فقد كان مندلييف مدركاً للتناقض، كما يشهد على ذلك علامة الاستفهام الموضوعة بجانب الوزن الذري للـ Te في مخطوطته (<a href="#fig_2.1">الصورة 2.1</a>). على الرغم من ذلك، قام بوضع العنصرَين في أماكنهما الصحيحة في جدوله، لأن التيلوريوم يعرض خواصاً كيميائية شبيهة بالتي للسيلنيوم، الكبريت، الأكسجين، بينما اليود هو شبيه بالبروم، الكلور، والفلور.

            p لكشف السبب ما وراء هذه الاستثناءات الثلاثة (Ar-K, Co-Ni, Te-I) ولفهم المصدر الحقيقي للقانون الدوري، دعنا نذهب إلى القسم التالي.

            h2 <a id="2.1.3" href="#2.1.3">2.1.3 تمارين</a>

            p 1. عبر عن القانون الدوري بلسانك. أعطي أمثلة على التشابهات الظاهرة من العناصر في المجموعة 1 (الفلزات القلوية)، المجموعة 17 (الهالوجينات)، والمجموعة 18 (الغازات النبيلة) في الجدول الدوري.

            p 2. ماذا كان تناقض التيلوريوم-اليود الذي لاحظه مندلييف أثناء ترتيب العناصر بوزنهم الذري؟ وكيف حل هذا التناقض؟

            p 3. ماذا تقول لنا أزواج العناصر الآرغون-البوتاسيوم، الكوبالت-النيكل، التيلوريوم-اليود عن القانون الدوري كما قال مندلييف؟

            br
            br
            
            a.next(href="/2.2") الصفحة التالية ← 2.2
            a.previous(href="/1.19") 1.19 → الصفحة السابقة