include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 2.2 الذرات، معلومات أساسية
    body
        +navbar
        .center
            h1 الوحدة الثانية
            p.center.blue 2.2 الذرات، معلومات أساسية
            p 
                |- <a href="#2.2.1">2.2.1 ما هي الذرة؟ حجم وكتلة الذرات</a>
                br
                |- <a href="#2.2.2">2.2.2 نواة الذرة والإلكترونات. تركيب وحجم النواة. البروتونات والنيوترونات</a>
                br
                |- <a href="#2.2.3">2.2.3 الأرقام الذرية</a>
                br
                |- <a href="#2.2.4">2.2.4 دور النيوترونات في النواة. النظراء</a>
                br
                |- <a href="#2.2.5">2.2.5 تطبيقات النظراء في الكيمياء</a>
                br
                |- <a href="#2.2.6">2.2.6 الكتل الذرية، الأوزان الذرية، ووحدة الكتل الذرية (amu) معادٌ زيارتها</a>
                br
                |- <a href="#2.2.7">2.2.7 تمارين</a>
            hr

            h2 <a id="2.2.1" href="#2.2.1">2.2.1 ما هي الذرة؟ حجم وكتلة الذرات</a>

            p لا أدري ما إذا كان هناك تعريف لذرة يرضي النفس ويريح البال. في <a href="https://goldbook.iupac.org/">الكتاب الذهي</a>، السلطة الأكبر في التسميات الكيميائية، الاتحاد الدولي للكيمياء البحتة والتطبيقية (IUPAC) يُعرف الذرة على أنها "أصغر جزيء يُعَرف على أنه عنصر كيميائي" وأن العنصر الكيميائي هو "صنف من الذرات". فلفهم ما هي الذرة، يجب على المرء أيضاً فهم ما هو العنصر. ولكن لفهم العنصر، يجب على المرء فهم ما هي الذرة. أمُتَلَخْبِطٌ أنت قليلاً؟

            p في هذه الدورة، نُعرف الذرات على أنها جيسيمات لامشحونة تتكون منها الجزيئات. تتكون الذرة من إلكترونات سالبة الشحن وتحيط حول نواة موجبة الشحن تتكون من بروتونات ونيوترونات.

            p الجزيء هو أصغر وحدة من المادة الكيميائية التي تُبقي على التكوين والخواص الكيميائية للمادة الكيميائية.

        .center.red_box
            p ننحرف شوي بس. إنه لمن الأدق قول أن الجزيء هو أصغر وحدة من المادة الكيميائية التي تُبقي على <u>أغلب</u>، بدلاً من كل، الخواص الكيميائية للمادة الكيميائية. يأتي هذا التعديل المهم لأنه أحياناً تحتاج إلى <u>أكثر من جزيء واحد</u> من المادة الكيميائية لإظهار خاصية كيميائية معينة. على سبيل المثال، خاصية معينة للماء هي قابليته للتفاعل مع الصوديوم لإعطاء NaOH وغاز الهيدروجين.

            p(dir="ltr") 2H<sub>2</sub>O + 2Na = 2NaOH + H<sub>2</sub>↑

            p كما هو واضح من هذه المعادلة، فلإظهار هذه الخاصية الكيميائية، يجب أن يكون هناك <u>جزيئان</u> من الماء. مثال آخر هو تثاني ثنائي أكسيد النيتروجين.

            p(dir="ltr") 2NO<sub>2</sub> = N<sub>2</sub>O<sub>4</sub>

            p من الواضح هنا الحاجة الماسة إلى <u>جزيئان</u> من الـ NO<sub>2</sub> ليحدث التفاعل.


        .center
            p الذرات هي صغيرة الحجم. مرة كتير. دعنا نستذكر مقولة ريتشارد فاينمان (القسم <a href="/1.2#1.2.1">1.2.1</a>)، "إذا كُبرت تفاحة إلى حجم الكرة الأرضية، فحجم ذرات التفاحة المكبرة سيكونوا تقريباً بمثابة حجم التفاحة الأصلية" (<a href="#fig_2.6">الصورة 2.6</a>)

            .figure <a id="fig_2.6" href="#fig_2.6">الصورة 2.6</a>
                div
                    img.portrait(src="/imgs/fig_2.6.webp" alt="")
                div
                    p "إذا كُبرت تفاعحة إلى حجم الكرة الأرضية، فحجم ذرات التفاحة المكبرة سيكونوا تقريباً بمثابة حجم التفاحة الأصلية" (ريتشارد فاينمان) (<a href="http://quantum.otago.ac.nz/atom.html">المصدر</a>)

            p لأخذ فكرة عن كتلة الذرة الضئيلة جداً، تصور صندوق كرتون <span dir="ltr">50×50×50cm</span> (<a href="#fig_2.7">الصورة 2.7</a>، اليسار) مليئ بالفحم الكربوني الصلب (<a href="#fig_2.7">الصورة 2.7</a>، اليمين)، والذي هو تقريباً كربون بالكامل. ستكون كتلة الصندوق حوالي 65 كيلوغرام. ولكن، إذا كان وزن كل ذرة في الصندوق فقط غرام 1، فسيكون وزن الصندوق كوزن كوكب الأرض كاملاً، الذي كتلته تساوي <span dir="ltr">6×10<sup>24</sup></span> كيلوغرام.

            .figure <a id="fig_2.7" href="#fig_2.7">الصورة 2.7</a>
                div
                    img(src="/imgs/fig_2.7.webp" alt="")

                div
                    p صندوق كرتون <span dir="ltr">50×50×50cm</span> (اليسار) وفحم صلب (اليمين؛ <a href="http://www.macnesgroup.com/images/resource/anthracite.jpg">المصدر</a>)

            h2 <a id="2.2.2" href="#2.2.2">2.2.2 نواة الذرة والإلكترونات. تركيب وحجم النواة. البروتونات والنيوترونات</a>

            p تتكون الذرة من <u>نواة</u> مشحونة موجباً <u>وإلكترونات</u> مشحونة سالباً تدور حول النواة (<a href="#fig_2.8">الصورة 2.8</a>). شاهد الـ 30 ثانية الأولى من هذا <a href="https://www.youtube.com/watch?v=P2IsIkSn5bk">الفيديو</a> لرؤية رسم متحرك لهذه العملية.

            .figure <a id="fig_2.8" href="#fig_2.8">الصورة 2.8</a>
                div
                    img(src="/imgs/fig_2.8.png" alt="")

                div
                    p تمثيل بايخ للذرة

            p بينما الذرات مجهريات الحجم، فنواة الذرة هي أصغر بكثيير، حوافي فقط 1/100,000 من حجم الذرة نفسها. لأخذ فكرة عن هذا الفرق الهائل، تخيل أنك في وسط مبنى إريكسون الكرة (السويد، ستوكهولم) وبين يديك بذرة خشخاش واحدة (<a href="#fig_2.9">الصورة 2.9</a>). هكذا هو حجم النواة مقارنة بحجم الذرة الكلي. إذا أردت معرفة كيف اكتُشف أن النواة موجبة الشحن، صغيرة جداً، وكثيفة، فاقرأ عن <a href="https://en.wikipedia.org/wiki/Geiger%E2%80%93Marsden_experiment">تجربة رذرفورد مع رقاقة الذهب</a> و/أو شاهد <a href="https://www.youtube.com/watch?v=5pZj0u_XMbc">هذا</a> <a href="https://www.youtube.com/watch?v=XBqHkraf8iE">وهذا</a> الفيديو.

            .figure <a id="fig_2.9" href="#fig_2.9">الصورة 2.9</a>
                div
                    img(src="/imgs/fig_2.9.webp" alt="")

                div
                    p إذا كُبرت نواة الذرة لحجم ذرة خشخاش (حوالي 1mm؛ اليسار؛ <a href="https://ourlittlesnowflake.files.wordpress.com/2013/05/poppy-seed.jpg">المصدر</a>)، فسيكون حجم الذرة الكلي حوالي نفس حجم مبنى إريكسون الكرة (110 متر؛ اليمين؛ <a href="https://www.attractionsworld.net/stockholm/ericsson-globe.html">المصدر</a>)

            p تتكون النواة من جسيمات من نوعين، بروتونات ونيوترونات. البروتون هو موجب الشحن، بينما النيوترون هو محايد كهربائياً (لا يمتلك أي شحنة).

            p البروتونات والنيوترونات لديهم حوالي نفس الكتلة وتقريباً أثقل 2،000 مرة من الإلكترون. في الحسابات الكيميائية، يُمكن غض النظر عن كتلة الإلكترونات في النواة وأيضاً الفرق البسيط ما بين كتلتَي البروتون والنيوترون لأنهما ضئيلَين.

            p <a href="#table_1">الجدول 1</a> يعرض الشحنات والكتل للبروتون، النيوترون، والإلكترون. <u>ما علينا حفظه هو الشحنات وحجم الكتل المقرب للجسيمات الثلاثة هذه المكونة للذرة</u>.

            .figure <a id="table_1" href="#table_1">الجدول 1.</a> الكتل والشحنات للجسيمات المكونة للذرة
                div
                    table
                        tr(align="center")
                            th الجسيم
                            th الموقع
                            th الشحنة
                            th الكتلة (amu)
                            th الكتلة المقربة (amu) في الكيمياء
                        tr(align="center") 
                            td بروتون
                            td في النواة
                            td(dir="ltr") +1
                            td 1.00728
                            td 1
                        tr(align="center")
                            td نيوترون
                            td في النواة
                            td 0
                            td 1.00866
                            td 1
                        tr(align="center")
                            td إلكترون
                            td حول النواة
                            td(dir="ltr") -1
                            td 0.00055
                            td 0

            h2 <a id="2.2.3" href="#2.2.3">2.2.3 الأرقام الذرية</a>

            p لقد علمنا أن أصناف (أنواع) الذرات تسمى بالعناصر الكيميائية. كل عنصر فريد من نوعه، باختلافه عن أي عنصر آخر بعدد بروتوناته وإلكتروناته. رقم كل عنصر في الجدول الدوري، أو بالأحرى <u>الرقم الذري</u>، هو عدد الإلكترونات في ذرة هذا العنصر. على سبيل المثال (<a href="#fig_2.10">الصورة 2.10</a>)، الهيدروجين (H) لديه الرقم 1 في الجدول الدوري، والذي يعني أنه لدى الهيدروجين إلكترون واحد. الكربون (C) لديه الرقم 6 في الجدول الدوري، أي لديه 6 إلكترونات. أثقل عنصر طبيعي على الأرض، اليورانيوم (U)، رقمه 92، أي لديه 92 إلكترون.

            p بما أن الذرات محايدة كهربائياً (ليس فيها أي شحنة صافية)، فعدد البروتونات المشحونة موجباً هو دائماً نفس عدد الإلكترونات المشحونة سالباً. لذلك، فعادةً ما يقال أن الرقم الذري هو عدد البروتونات الذين في نواة الذرة، أو بالأحرى شحنة نواة الذرة.

            .figure <a id="fig_2.10" href="#fig_2.10">الصورة 2.10</a>
                div
                    img(src="/imgs/fig_2.10.png" alt="")

                div
                    p العدد الذري لعنصر ما هو عدد إلكترونات ذرته، والذي يساوي عدد بروتوناتها، والذي يساوي شحنة نواتها

            h2 <a id="2.2.4" href="#2.2.4">2.2.4 دور النيوترونات في النواة. النظراء</a>

            p الجسم الموجب يجذب الجسم السالب. الجسمان السالبان يتنافرا، وكذلك الموجبان يتنافرا أيضاً (<a href="#fig_2.11">الصورة 2.11</a>). تسمى قوتَي الانجذاب والتنافر الكهربائيتان هتَين <a href="https://ar.wikipedia.org/wiki/%D9%82%D8%A7%D9%86%D9%88%D9%86_%D9%83%D9%88%D9%84%D9%88%D9%85">بقوى كولوم</a>. كلما كانت المسافة أقل، كلما كان الانجذاب أو التنافر أقوى، والنسبة تكون <a href="https://ar.wikipedia.org/wiki/%D9%82%D8%A7%D9%86%D9%88%D9%86_%D9%83%D9%88%D9%84%D9%88%D9%85">تربيعية</a>.

            .figure <a id="fig_2.11" href="#fig_2.11">الصورة 2.11</a>
                div
                    img.portrait(src="/imgs/fig_2.11.png" alt="")

                div
                    p جسمان موجابان أو سالبان يتنافرا، بنما أحدهما موجب والآخر سالب يتجذابا

        br

        .center.red_box
            p ننحرف قليلاً، بما أن الإلكترونات المشحونة سالباً تقع حول النواة المشحونة موجباً، فكيف للإلكترونات أن لا تقع على النواة بسبب قوة كولوم؟ الفيزياء الكلاسيكية لا تعطي إجابة مرضية لهذا السؤال، ولكن ميكانيكا الكم تعطي ذلك. لا نريد نحن أن نتعامل مع ميكانيكا الكم في دورتنا الابتدائية هذه. إذا كنت مهتماً لمعرفة المزيد، فهذه <a href="http://www.fnal.gov/pub/science/inquiring/questions/bob.html">المقالة</a> قد تكون نقطة بداية جميلة لك.

        .center
            p البروتونات هي موجبة الشحن وبذلك تتنافر عن بعضها البعض. دور النيوترونات اللامشحونة في النواة هو لموازنة النواة بتخفيف تفاعلات البروتونات مع البروتونات. يُعرض ذلك في نموذج بسيط لنواة البيريليوم (Be)، الذي يحتوي على أربع بروتونات وخمس نيوترونات (<a href="#fig_2.12">الصورة 2.12</a>)

            .figure <a id="fig_2.12" href="#fig_2.12">الصورة 2.12</a>
                div
                    img.portrait(src="/imgs/fig_2.12.png" alt="")

                div
                    p نموذج ثنائي الأبعاد مبسط جداً للنواة الذرية للبيريليوم، Be (العدد الذري 4) مع البروتونات الموجبة الشحن باللون الأحمر والنيوترونات اللامشحونة بالرمادي الغامق

            p عدد النيوترونات في النواة لعنصر ما قد يكون مختلفاً في بعض الأحيان. أصناف كهذه <u>من نفس العنصر</u> التي يختلف بينهم عدد النيوترونات يُسمَّون <u>بالنظراء</u>. حتى للهيدروجين، الذي فيه بروتون واحد فقط في النواة، لديه ثلاث نظراء معروفين (<a href="#fig_2.13">الصورة 2.13</a>). بعض النظراء غير مستقرين، يحصل بهم دائماً <a href="https://ar.wikipedia.org/wiki/%D8%A7%D8%B6%D9%85%D8%AD%D9%84%D8%A7%D9%84_%D9%86%D8%B4%D8%A7%D8%B7_%D8%A5%D8%B4%D8%B9%D8%A7%D8%B9%D9%8A">تحلل إشعاعي</a>. سنتعامل في دورتنا هذه فقط مع النظراء المستقرين.

            .figure <a id="fig_2.13" href="#fig_2.13">الصورة 2.13</a>
                div
                    img(src="/imgs/fig_2.13.png" alt="")

                div
                    p عرض تخطيطي للنظراء الثلاثة للهيدروجين مع الإلكترونات الطائفة باللون الأزرق، النواة بالرمادي، والبروتونات بالأحمر، والنيوترونات بالرمادي الغامق

            p لتحديد نظير ما باستخدام اسم العنصر، نكتب اسم العنصر يتبعه واصلة ومن ثم رقم النظير، والذي هو كتلة النواة ("تدوين الواصلة"). مثلاً، نظير الكربون الرئيسي لديه 6 بروتونات و 6 نيوترونات في النواة. لذلك، فاسم هذا النظير هو كربون-12. نظير الكربون الأقل شيوعاً بكثير، كربون-13، لديه 7 نيوترونات في النواة، مع (طبعاً) 6 بروتونات.

            p يُمكن أيضاً تحديد النظير باستخدام رمز العنصر بكتابة عدد الكتلة الذرية (كتلة النواة) كرقم أعلى السطر قبل الرمز ("تدوين النظير"). بهذه الطريقة، نظيرَي كربون-12 و كربون-13 سيُكتبا كـ <sup>12</sup>C و <sup>13</sup>C، على التوالي. نفس الشيء مع النظراء الثلاثة للهيدروجين المكتوبين كـ <sup>1</sup>H (هيدروجين-1)، <sup>2</sup>H (هيدروجين-2)، و <sup>3</sup>H (هيدروجين-3). بينما الـ <sup>1</sup>H و <sup>2</sup>H مستقرين، فالـ <sup>3</sup>H إشعاعي. هؤلاء النظراء الثلاثة <a href="https://ar.wikipedia.org/wiki/%D9%86%D8%B8%D8%A7%D8%A6%D8%B1_%D8%A7%D9%84%D9%87%D9%8A%D8%AF%D8%B1%D9%88%D8%AC%D9%8A%D9%86">مهمين</a> جداً لدرجة أن كل واحد منهم قد حصل على اسم مخصص ورمز: البروتيوم للـ <sup>1</sup>H (هيدروجين-1؛ الرمز H)، الديوتيريوم للـ <sup>2</sup>H (هيدروجين-2؛ الرمز D)، والتريتيوم للـ <sup>3</sup>H (هيدروجين-3؛ الرمز T). لا يوجد أي نظراء لأي عناصر أخرى لديها أسامي مخصصة.

            p تقريباً حوالي ربع العناصر الكيميائية كلها لديهم نظير واحد فقط مستقر. هذه العناصر، تسمى <span class="term">العناصر أحادية النظير</span>، تشمل، مع آخرين، الـ <sup>9</sup>Be (بيريليوم-9)، <sup>19</sup>F (فلور-19)، <sup>23</sup>Na (صوديوم-23)، <sup>27</sup>Al (ألومنيوم-27)، <sup>31</sup>P (فوسفور-31)، <sup>127</sup>I (يود-127)، و <sup>197</sup>Au (ذهب-197).

        .center.red_box
            p ننحرف قليلاً. بعض الناس يظنوا فوراً من سماع كلمة "نظير" على أنه "خطر إشعاعي". ليس هناك أي داعي للخوف من الإشعاعية، طالما أن النظير مستقر، بمعنى أنه لاإشعاعي. بأكل الطعام وشرب الماء نستهلك نظيرَي الكربون (<sup>12</sup>C و <sup>13</sup>C)، نظيرَي الهيدروجين (<sup>1</sup>H و <sup>2</sup>H)، نظيرَي النيتروجين (<sup>14</sup>N و <sup>15</sup>N)، ونظراء الأكسجين الثلاثة (<sup>16</sup>O، <sup>17</sup>O، و <sup>18</sup>) يومياً. كل مرة نأكل فيها طعاماً مالحاً، نستهلك أيضاً كلا من نظيرَي الكلور (<sup>35</sup>Cl و <sup>37</sup>Cl) ونظير الصوديوم الوحيد (<sup>23</sup>Na). النظراء الإشعاعيين هم سيوف ذو حدّين، إما تشفي أو تذبح. يُستخدم الكوبالت-60 (<sup>60</sup>Co) في <a href="https://ar.wikipedia.org/wiki/%D8%B9%D9%84%D8%A7%D8%AC_%D8%A8%D8%A7%D9%84%D9%83%D9%88%D8%A8%D8%A7%D9%84%D8%AA">العلاج بالكوبالت</a> لمعالجة السرطان والذي قد أنقذ حياة الكثير من الأرواح. نظير الفلور <sup>18</sup>F هو لا غنى عنه في أكثر أداة تشخيص السرطان حساسية، <a href="https://ar.wikipedia.org/wiki/%D8%AA%D8%B5%D9%88%D9%8A%D8%B1_%D9%85%D9%82%D8%B7%D8%B9%D9%8A_%D8%A8%D8%A7%D9%84%D8%A5%D8%B5%D8%AF%D8%A7%D8%B1_%D8%A7%D9%84%D8%A8%D9%88%D8%B2%D9%8A%D8%AA%D8%B1%D9%88%D9%86%D9%8A">التصوير المقطعي بالإصدار البوزيتروني</a>. <a href="https://ar.wikipedia.org/wiki/%D8%A7%D8%AE%D8%AA%D8%A8%D8%A7%D8%B1_%D8%A5%D8%AC%D9%87%D8%A7%D8%AF_%D8%A7%D9%84%D9%82%D9%84%D8%A8">اختبار الجهد</a> الإشعاعي الموظف للتكنيشيوم-99 (<sup>99</sup>Te) عادة ما يُجرى على المريضين الذين قد يكون لديهم مرض في الشريان التاجي من أجل تحديد وتقليل من خطورة حدوث نوبة قلبية. من الناحية الأخرى، فالبولونيوم-210 (<sup>210</sup>Po) هو أخطر نظير إشعاعي، والذي استُخدم <a href="https://ar.wikipedia.org/wiki/%D8%AA%D8%B3%D9%85%D9%8A%D9%85_%D8%A3%D9%84%D9%83%D8%B3%D8%A7%D9%86%D8%AF%D8%B1_%D9%84%D9%8A%D8%AA%D9%81%D9%8A%D9%86%D9%8A%D9%86%D9%83%D9%88">للتسميم الشنيع لألكساندر ليتفينينكو</a>.

        .center

            h2 <a id="2.2.5" href="#2.2.5">2.2.5 تطبيقات النظراء في الكيمياء</a>
            p هل يظهر النظراء من نفس العنصر خصائص كيميائية مختلفة؟ الكثير من كتب الكيمياء الابتدائية ستجاوب سلباً على هذا السؤال. ولكن كإجابة صادقة أكثر، فهي نعم ولا. "لا" لأنه ليس هناك اختلاف نوعي بين النظراء المختلفين لعنصر ما من ناحية الخصائص الكيميائية. ولكن الجواب أيضاً "نعم" لأن بعض التفاعلات تبطأ بحوالي 5-6 مرات أو حتى 10-13 (في درجة حرارة الغرفة) عندما يُتسبدل النظير المعتاد <sup>1</sup>H بالـ <sup>2</sup>H (الديوتيريوم) في مواقع معينة لبعض الجزيئات المتفاعلة. على الرغم من ذلك، فحالات كهذه نادرة. في أغلب الأحيان، تكون المعدلات شبه متطابقة ويُحتاج إلى طرق معينة للكشف وقياس الفرق الضئيل. عادة ما قياسات دقيقة كهذه تُعطي معلومات مفصلة <u>لآلية التفاعل reaction mechanism</u>، المسار الذي تتحول فيه الكواشف إلى منتجات.

            p طريقة أخرى لاستخدام النظراء لأخذ لمحة داخل آلية التفاعل هي <a href="https://ar.wikipedia.org/wiki/%D8%AA%D9%88%D8%B3%D9%8A%D9%85_%D8%A8%D8%A7%D9%84%D9%86%D8%B8%D9%8A%D8%B1_%D8%A7%D9%84%D9%85%D8%B4%D8%B9">التوسيم النظيري isotopic labeling</a>. هذه الطريقة توظف جزيئات مخصصة صناعية، بحيث أن تُستبدل (تُوَسم) ذرة واحدة أو أكثر من عنصر ما بنظير أقل شيوعاً من نفس العنصر. يستخدم المركب الموسوم بعد ذلك لتفاعل ما ويُتتبع النظير الأندر باستخدام طريقة كشف. النتيجة قد تكون غير متوقعة وكاشفة لحقائق جديدة. خذ هذا المثال.

            p تخيل أن الماء العادي (H<sub>2</sub>) قد مُزرج بحمض كبريتيك معدد بشكل خاص بحث أنه مُوَسم بالديوتيريوم (D<sub>2</sub>SO<sub>4</sub>؛ D = <sup>2</sup>H، اقرأ أعلاه). يُقطر بعض الماء من المحلول الناتج ويُحلل باستخدام طريقة خاصة، مثل مطيافية الكتلة، للكشف عن وجود الديوتيريوم. سيُري التحليل أن الماء المقطر هو خليط من H<sub>2</sub>O، D<sub>2</sub>O، و DOH. نستطيع بذلك الخلاصة إلى أن ذرات هيدروجين الماء قد تبادلت مواقعها مع ذرات هيدروجين حمض الكبريتيك (<a href="#fig_2.14">الصورة 2.14</a>). هذه العملية تسمى <u>بتبادل H/D <span dir="ltr">(H/D exchange)</span></u> أو <u>تخليط النظراء (isotope scrambling)</u>.

            .figure <a id="fig_2.14" href="#fig_2.14">الصورة 2.14</a>
                div
                    img(src="/imgs/fig_2.14.png" alt="")

                div
                    p تبادل الهيدروجين (<sup>1</sup>H) - الديوتيريوم (D = <sup>2</sup>H) بين الـ D<sub>2</sub>SO<sub>4</sub> والـ H<sub>2</sub>O


            p لاحظ أن تفاعل التبادل هذا <u>قابل للنعكاس</u>. لقد أخذنا سابقاً لمحة بسيطة عن التفاعلات القابلة للانعكاس، ولكن هذه أول مرة نستعمل فيها رمز السهمان المتعاكسان "⇄" بدل الـ "=" في معادلة كيميائية أو مخطط ما (<a href="#fig_2.14">الصورة 2.14</a>). يُستخدم هذا الرمز عادة للإشارة إلى قابلية انعكاس تحول كيميائي ما.

            p تبادل H/D بين الـ D<sub>2</sub>SO<sub>4</sub> و H<sub>2</sub>O هو ليس بالقصة الملفقة. سيُحصل على نفس النتيجة ما إذا خُلط H<sub>2</sub>SO<sub>4</sub> مع D<sub>2</sub>O، وفي كلا الحالتين، فنظراء <sup>1</sup>H و <sup>2</sup>H (D) سيُوزعا بالتساوي على جزيئات الماء وحمض الكبريتيك. من دون تجارب التوسيم النظيري، لن يكون هناك أي طريقة لمعرفة أن ذرات الـ H مع حمض أو ماء يتبادلون مواقع بعضهما البعض.

            p  يُستخدم الكثير من نظراء الهيدروجين المستقرين والمشعين في تحقيقات التوسيم النظيري. في الوحدة الرابعة، سنعرف كيف أن آلية <u>الأسترة (esterification)</u>، تفاعل عضوي مهم جداً، قد صُنعت باستخدام تجربة توسيم نظيري لـ <sup>18</sup>O.

            h2 <a id="2.2.6" href="#2.2.6">2.2.6 الكتل الذرية، الأوزان الذرية، ووحدة الكتل الذرية (amu) معادٌ زيارتها</a>

            p الذرات هي مجهرية وكتلها ضئيلة جداً. سيكون قياس الكتل الذرية بالكلوغرام أو حتى الغرام غير منطق أبداً وسيكون كغباء قياس كتلة الألماس بالأطنان. مثلاً، عدد ذرات الـ Fe في فقط غرام واحد من الحديد يفوق الـ 10<sup>22</sup>، أو بالأحرى، أكثر من 10 آلاف مليار مليار. بالتأكيد نحتاج إلى وحدة مناسبة للكتل الذرية والجزيئية. الوحدة هي amu (وحدة الكتل الذرية atomic mass unit)، أيضاً ما تُعْرف بدالتون (Da)، وتُعَرف كـ 1/12 من كتلة نظير الكربون <sup>12</sup>C.

            p خذ دقيقة من وقتك وراجع الأوزان الذرية للعناصر في الجدول الدوري. سترى أن الأرقام كلها كسرية، ما عدا العناصر المُصطنعة مثل التكنيشيوم (Tc) والبروميثيوم (Pm). لماذا؟ ألا يجب على كل الأوزان الذرية في الجدول الدوري أن تكون أرقاماً كاملة، طالما أن كتلة البروتون = كتلة النيوترون = 1amu؟ الإجابة هي لا، السبب الرئيسي لذلك هو وجود أكثر من نظير واحد لأغلب العناصر. الأوزان الذرية المعروضة في الجدول الدوري للعناصر الطبيعية قد <em>حُددت بالتجربة</em>، باستخدام مواد كيميائية متنوعة. تقيس طرق التجارب هذه الأوزان الذرية <a href="https://ar.wikipedia.org/wiki/%D9%85%D8%AA%D9%88%D8%B3%D8%B7_%D9%85%D9%88%D8%B2%D9%88%D9%86">كمتوسط موزن</a> لكل كتل النظراء الطبيعيين، بناءً على وفرتهم الطبيعية. مُتَلَخْبِطٌ قليلاً؟ أكمل القراءة.

            p دعنا نأخذ الكربون. إذا كان هناك نظير واحد فقط للكربون في الطبيعة، <sup>12</sup>C، فسيكون الوزن الذري للكربون 12. ولكن هناك نظيران آخران للكربون، كربون-13 وكربون-14. بينما أن الـ <sup>14</sup>C يتواجد بكميات ضئيلة جداً ويُمكن إهماله في حساباتنا، فوفرة الـ <sup>13</sup>C، تقريباً 1%، لا يجب أن تُهمل أبداً. لكل 99 ذرة كربون <sup>12</sup>C هناك 1 ذرة كربون <sup>13</sup>C. وبذلك فالوزن المتوسط لكتلة ذرة كربون واحدة هو <span dir="ltr">[(12×99) + (13×1)] / 100 = 12.01 amu</span>، والذي هو قيمة الوزن الذري الموجود في الجدول الدوري.

            p إذا كان ما زال لديك مشكلة في فهم هذه الفكرة، فتخيل صندوقاً مليئاً بالآلاف أو ملايين أو مليارات من الخرز الزجاجي، أزرق وأحمر. الخرزة الزرقاء توزن 12g والحمراء 13g. لكل 99 خرزة زرقاء، هناك خرزة حمراء واحدة (<a href="#fig_2.15">الصورة 2.15</a>). الوزن المتوسط للخرزة الواحدة في هذا الخليط هو <span dir="ltr">[(12×99) + (13×1)] / 100 = 12.01g</span>. الآن تخيل أن الخرزة الزرقاء هي ذرة <sup>12</sup>C التي كتلتها تساوي 12amu، والحمراء هي ذرة <sup>13</sup>C التي كتلتها تساوي 13amu.

            .figure <a id="fig_2.15" href="#fig_2.15">الصورة 2.15</a>
                div
                    img.portrait(src="/imgs/fig_2.15.jpg" alt="")

                div
                    p لكل 99 خرزة زرقاء بوزن 12g للواحدة، هناك خرزة حمراء بوزن 13g

            p هناك أيضاً عاملان إضافيان لكون الوزن الذري كسري.

            p - كتل البروتونات والنيوترونات هي ليست 1amu تماماً (<a href="#table_1">الجدول 1</a>)

            p - <a href="https://en.wikipedia.org/wiki/Nuclear_binding_energy#Mass_defect">العيب في الكتلة</a> هو فرق ضئيل ولكن ملحوظ بين كتلة نواة الذرة وبين مجموع كتل النيوترونات والبروتونات المكونة لتلك النواة. هذا الفرق هو بسبب إطلاق طاقة ما بعد تكون النواة الذرية من بروتونات ونيوترونات منفصلة، نسبة إلى صيغة آينشتاين <a href="https://ar.wikipedia.org/wiki/%D8%AA%D9%83%D8%A7%D9%81%D8%A4_%D9%83%D8%AA%D9%84%D8%A9-%D8%B7%D8%A7%D9%82%D8%A9">E = mc<sup>2</sup></a>.

            p ولكن لأغلب مجالات الكيمياء، لن يكون تأثير هذين العاملين هام بما فيه الكفاية لأخذهم بعين الاعتبار.

            p في <a href="#2.2.1">القسم 2.1</a> أعلاه، قد ذكرنا أنه هناك ثلاث "تناقضات" يكون فيها العنصر بالعدد الذري الأخفض أثقل من العنصر بالعدد الذري الأعلى (Ar vs K؛ Co vs Ni؛ Te vs I). الآن وبتعرفنا على النظراء، يجب علينا رؤية أنه لا يوجد تناقض هناك. كان كله بسبب عدد النيوترونات في النواة للنظراء الطبيعيين بين كل من أزواج Ar-K، Co-Ni، و Te-I. أوفر نظير للآرغون (<sup>40</sup>Ar، > 90%) هو أثقل من أوفر نظير للبوتاسيوم (<sup>39</sup>K، > 93%). على الرغم من أن ذرة البوتاسيوم هي أثقل ببروتون واحد من ذرة الآرغون، إلى أن نظراء الآرغون الطبيعيون يتفوقوا على الكالسيوم بعدد النيوترونات فيهم. نفس الأمر مع أزواج Co-Ni و Te-I.

            p محاولة تقدير عدد النظراء لعنصر ما باستخدام الوزن الذري في الجدول الدوري هي محاولة لا فائدة منها. على سبيل المثال، ربما قد يفكر أحدهم أن البروم (Br) هو عنصر أحادي النظير، <sup>80</sup>Br، لأن وزنه الذري (79.9) هو فقط 0.1amu أقل من 80. ولكن الوضع ليس كذلك، لأن الـ <sup>80</sup>Br، هو نظير غير مستقر طبيعياً. النظراء الطبيعيون للبروم هم <sup>79</sup>Br و <sup>81</sup>Br، يتواجدون بنسبة حوالي 1:1، والذي يجل متوسطهم تقريباً 80. نفس الشيء مع الوزن الذري للقصدير (118.71) الذي لا يقول شيئاً عن تكوين نظراءه. في الواقع، فالقصدير هو العنصر الذي لديه أكثر عدد من النظراء المستقرين (عشرة يا عباس!)، تتراوح وفرتهم من <span dir="ltr">~0.3</span> لـ <sup>115</sup>Sn إلى <span dir="ltr">~32.6%</span> لـ <sup>120</sup>Sn.

            p ربما لم يعجبك استخدامي لمصطلحي "الكتلة الذرية" و "الوزن الذري" بالتبادل. في الفيزياء، الكتلة والوزن يعنيان شيئاًن مختلفان: الكتلة هي <em>كمية</em> المادة، بينما الوزن هو <em>قوة</em> الجاذبية المطبقة على جسم ما. ولكن في الكيمياء، كلا الكتلة والوزن يعنيان نفس الشيء، كمية المادة. ولكنه جدير بالذكر أن مصطلح "الكتلة" يُستخدم أكثر عندما يشار إلى نظير واحد لذرة ما، أما "الوزن" فيُستخدم عند الإشارة إلى الكتلة المتوسطة للنظراء الطبيعيين لعنصر ما.

            h2 <a id="2.2.7" href="#2.2.7">2.2.7 تمارين</a>

            p.no_bottom 1. الذرة هي:
                br
                |(a) أكبر بكثير من نواتها
                br
                |(b) تستطيع مقارنة حجمها مع حجم نواتها
                br
                |(c) أكبر قليلاً من نواتها
            input.answer(type="checkbox" id="q1")
            label(for="q1") الجواب:
            span (a)

            p.no_bottom 2. يُقال أحياناً أن المادة هي أغلبها من فراغ. لماذا؟:
            input.answer(type="checkbox" id="q2")
            label(for="q2") الجواب:
            span تتكون المادة من الذرات. فكر بـ(I) حجم النواة نسبة إلى حجم الذرة (<a href="#fig_2.9">الصورة 2.9</a>) و (II) حقيقة أن النواة يقع فيها 99% من كتلة الذرة (<a href="#table_1">الجدول 1</a>). أنصحك بقراءة <a href="https://www.businessinsider.com.au/physics-atoms-empty-space-2016-9">هذه المقالة</a>.

            p.no_bottom 3. تتكون نواة الذرة من:
                br
                |(a) بروتونات موجبة الشحن، ونيوترونات سالبة الشحن
                br
                |(b) بروتونات موجبة الشحن، ونيوترونات محايدة كهربائياً، وإلكترونات سالبة الشحن
                br
                |(c) بروتونات موجبة الشحن، ونيوترونات محايدة كهربائياً
                br
                |(d) نيوترونات لامشحونة وإلكترونات سالبة الشحن
            input.answer(type="checkbox" id="q3")
            label(for="q3") الجواب:
            span (c)

            p.no_bottom 4. العدد الذري لعنصر ما هو:
                br
                |(a) عدد الإلكترونات في الذرة
                br
                |(b) عدد البروتونات في الذرة
                br
                |(c) عدد البروتونات والنيوترونات في الذرة
                br
                |(d) شحنة نواة الذرة
                br
                |(e) عدد البروتونات ناقص عدد النيوترونات في نواة الذرة
            input.answer(type="checkbox" id="q4")
            label(for="q4") الجواب:
            span (a)، (b)، (d)

            p.no_bottom 5. تتكون نواة عنصر ما من 15 بروتون و 16 نيوترون. ما هو هذا العنصر؟ ما هو هذا النظير؟ هل هذا العنصر أحادي النظير؟
            input.answer(type="checkbox" id="q5")
            label(for="q5") الجواب:
            span عدد البروتونات هو العدد الذري للعنصر. العنصر 15 هو الفوسفور. بما أن عدد النظير هو مجموع البروتونات والنيوترونات في النواة (<span dir="ltr">15 + 16 = 31</span>)، النظير هو <sup>31</sup>P (فوسفور-31). للإجابة على آخر سؤال، يجب عليك إما أن تعرف الجواب من قلبك (ولست مجبراً على ذلك)، أو أن تبحث عن نظراء الفوسفور على الإنترنت أو في كتيب. الفوسفور-31 هو النظير الوحيد المستقر طبيعياً للفوسفور، لذلك فالفوسفور هو عنصر أحادي النظير.

            p.no_bottom 6. النيوترون هو:
                br
                |(a) أثقل قليلاً من البروتون وأثقل بكثير من الإلكترون
                br
                |(b) أثقل من الإلكترون ولكن أخف بكثير من البروتون
                br
                |(c) أثقل بكثير من البروتون ولكن أخف من الإلكترون
                br
                |(d) أخف من البروتون والإلكترون
            input.answer(type="checkbox" id="q6")
            label(for="q6") الجواب:
            span (a)

            p.no_bottom 7. نظراء مختلفين لنفس العنصر لديهم خصائص كيميائية متطابقة. صحيح أم خاطئ؟
            input.answer(type="checkbox" id="q7")
            label(for="q7") الجواب:
            span صحيح، على الرغم من ذلك ففي بعض الحالات استبدال ذرة في جزيء متفاعل سيسرع قليلاً من معدل تفاعل المادة الكيميائية.

            p.no_bottom 8. اعثر على الفلور في الجدول الدوري. الفلور هو عنصر أحادي النظير. كم عدد البروتونات، النيوترونات، وإلكترونات لدى نظير فلور طبيعي؟
            input.answer(type="checkbox" id="q8")
            label(for="q8") الجواب:
            span يري الجدول الدوري أن العدد الذري للفلور هو 9 وأن وزنه الذري هو 19. يشير العدد الذري إلى أن لدى الفلور 9 بروتونات و 9 إلكترونات. وبما أن الفلور أحادي النظير، فالوزن الذري لنظيره الوحيد هو 19. هذا هو مجموع العدد الكلي لعدد البروتونات والنيوترونات في ذرة الفلورين. وبذلك فعدد النيوترونات هو <span dir="ltr">19 - 9 = 10</span>.

            p 9. لماذا الوزن الذري للآرغون (العدد الذري: 18) أثقل من الذي للبوتاسيوم (العدد الذري: 19)؟
                br
                |الجواب: انظر إلى <a href="#2.2.6">القسم 2.2.6</a>

            p.no_bottom 10. المغنيسيوم (Mg، الذري #12) لديه ثلاث نظراء طبيعيين: <sup>24</sup>Mg (79%)، <sup>25</sup>Mg (10%)، <sup>26</sup>Mg (11%). كم من البروتونات والنيوترونات يحتوي كل واحد من هؤلاء النظراء؟ باستخدام النسبة المؤية لتوزيع النظراء، احسب الوزن الذري المتوسط للمغنيسيوم الطبيعي.
            input.answer(type="checkbox" id="q10")
            label(for="q10") الجواب:
            span نسبة إلى العدد الذري للـ Mg (12)، فعدد البروتونات لأي نظير للمغنيسيوم هو دائًما 12. عدد النيوترونات في <sup>24</sup>Mg، <sup>25</sup>Mg، <sup>26</sup>Mg هو الوزن الذري ناقص العدد الذري = 12، 13، 14 على التوالي. الوزن الذري للـ Mg هو الوزن المتوسط للنظراء الثلاثة: <span dir="ltr">(24×0.79) + (25×0.10) + (26×0.11) = 24.3</span>. قارن هذا العدد المحسوب مع الوزن الذري للمغنيسيوم في الجدول الدوري.

            br
            br

            a.next(href="/2.3") الصفحة التالية ← 2.3
            a.previous(href="/2.1") 2.1 → الصفحة السابقة