include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title 2.3 الإلكترونات في الذرات
    body
        +navbar
        .center
            h1 الوحدة الثانية
            p.center.blue 2.3 الإلكترونات في الذرات
            p
                |- <a href="#2.3.1">2.3.1 أغلفة الإلكترونات</a>
                br
                |- <a href="#2.3.2">2.3.2 أغلفة الإلكترونات الفرعية. المدارات. الغلافان الأول والثاني: ملء المدارات بالإلكترونات. مبدأ أوفباو، مبدأ باولي، وقاعدة هوند</a>
                br
                |- <a href="#2.3.4">2.3.3 الغلاف الثالث. الدورية تأتي من التوزيع الإلكتروني للغلاف الأبعد الخارجي (غلاف التكافؤ)</a>
                br
                |- <a href="#2.3.4">2.3.4 الغلاف الرابع. خدع المدار-d والمدار-f</a>
                br
                |- <a href="#2.3.6">2.3.5 تمارين</a>
                br
            hr

            h2 <a id="2.3.1" href="#2.3.1">2.3.1 أغلفة الإلكترونات</a>

            p لم يكن اهتمام الكيميائيين على نواة الذرة فقط بل على إلكتروناتها أيضاً، وبالأخص أولئك الذين هم أبعد مسافة من النواة. هذه الإلكترونات تسمى <span class="term">بإلكترونات التكافؤ</span>، أو <span class="term">إلكترونات الغلاف الأبعد (غلاف التكافؤ)</span>. هذه هي الإلكترونات المسؤولة عن تكوين الجزيئات من الذرات عبر الروابط الكيميائية.

            p علمنا أن الإلكترونات السالبة الشحن تدور حول النواة الموجبة الشحن. علمنا أيضاً أن العدد الذري لعنصر ما هو عدد إلكترونات (وبالتالي أيضاً، عدد بروتونات) ذرة من نوع هذا العنصر. الآن سنتعرف على كيفية توزيع هذه الإلكترونات في ذرات عناصر متنوعة.

            p إذا، فالإلكترونات تدور حول النواة بشكل عشوائي وسريع كثيراً، ولكن، هذا الطواف يكون بداخل حدود مدار محددة، تُصنف بمسافات محددة عن النواة. مثل ما أنا الكواكب في نظامنا الشمسي تدور حول الشمس بمداراتهم المحددة (<a href="#fig_2.16">الصورة 2.16</a>)، تدور الإلكترونات داخل مداراتها الذرية التي تسمى <span class="term">بالأغلفة الإلكترونية</span>.

            .figure <a id="fig_2.16" href="#fig_2.16">الصورة 2.16</a>
                div
                    img(src="/imgs/fig_2.16.jpg" alt="")
                div
                    p تدور الكواكب في نظامنا الشمسي حول الشمس بمدارات محددة (<a href="https://tech.hindustantimes.com/tech/news/solar-system-amazing-reason-why-planets-orbit-in-same-plane-explained-71632307036365.html">المصدر</a>)

            p عادة ما تسمى الأغلفة الإلكترونية <span class="term">بمستويات طاقة الإلكترون</span>. لماذا هذا الإسم؟ تنجذب الإلكترونات السالبة الشحن إلى  البروتونات الموجبة الشحن في النواة. تكون قوة الجذب هذه أقوى على المسافات القصيرة، وبالتالي فتصبح الإلكترونات مستقرة وتقل طاقتهم. لذلك يُقال أن أغلفة الإلكترونات الأقرب للنواة هي <u>أقل طاقة</u> من الأغلفة الأبعد. شاهد هذا <a href="https://www.youtube.com/watch?v=qgh07VsK_UU">الفيديو</a> لكلب مربوط حول عمود، يركض كالمجنون. أما كلب برباط أقصر (<a href="#fig_2.17">الصورة 2.17</a>) لن يستطيع الركض حول العمود بهذه الحيوية. على نفس المنوال، فطاقة الإلكترونات تكون أقل عندما "تُربط" بشكل أقرب إلى النواة. تخيل: الكلب = الإلكترون، الرباط = قوة الجذب الكهربائية، والعمود = النواة الذرية.

            .figure <a id="fig_2.17" href="#fig_2.17">الصورة 2.17</a>
                div
                    img.portrait(src="/imgs/fig_2.17.jpg" alt="")
                div
                    p الكلب برباط قصير (<a href="https://media.istockphoto.com/photos/dog-waits-for-his-owner-picture-id134453120?k=6&m=134453120&s=612x612&w=0&h=q0NS2iLvCft7qbrIK7BI-Y76WLq6cbsdkAm-oN-8vOg=">الصورة</a>) لن يستطيع الركض حول العمود بحيوية الكلب ذو الرباط الطويل (<a href="https://www.youtube.com/watch?v=qgh07VsK_UU">الفيديو</a>)

            p على الرغم من أن تشبيه النظام الشمسي بالنموذج الذري هو تشبيه مفيد، إلا أن هناك اختلافات كبيرة بينهما.

            p <u>أولاً</u>، مدارات الكواكب هي مسطحة (<a href="#fig_2.16">الصورة 2.16</a>)، بمعنى أن الكواكب تدور حول الشمس على مدار مسطح ثنائي الأبعاد. في المقابل، فالأغلفة الإلكترونية هي ثلاثية الأبعاد. تخيل بيضة مسلوقة وبصفارها مُزال. شكل البياض الباقي قد يكون تمثيل بسيط لغلاف إلكترون. في هذا الغلاف، تتحرك الإلكترونات بشكل فوضوي إلى أعلى، أسفل، يمين، يسار، وفي كل الاتجاهات الأخرى الممكنة.

            p <u>ثانياً</u>، فأغلب الرسومات لمدارات الإلكترونات تري مسارات مستقيمة ومحددة تماماً، مثل <a href="/2.2#fig_2.8">الصورة 2.8</a>. نفس الشيء مع بياض البيضة بكيف أن لديه حدود داخلية وخارجية محددة. ولكن، حدود الأغلفة الإلكترونية هي ضبابية. أي رسم توضيحي لغلاف إلكترون يري الأماكن الثلاثية الأبعاد التي تكون احتمالية وجود الإلكترون فيها أعلى شيء.

            p <u>ثالثاً</u>، كل مدار حول الشمس يحتوي على كوكب واحد فقط. في المقابل، تستطيع الأغلفة الإكترونية أن تستوعب على أكثر من إلتكرون واحد. يُحسب أكبر عدد من الإلكترونات يستطيع الغلاف n استيعابه بالصيغة 2n<sup>2</sup>. الغلاف 1 (الغلاف الأول) يستطيع أن يستوعب 2 إلكترونات، الغلاف الثاني يستطيع أن يستوعب 8 إلكترونات، الثالث 18 إلكترون، وهكذا.

            h2 <a id="2.3.2" href="#2.3.2">2.3.2 أغلفة الإلكترونات الفرعية. المدارات. الغلافان الأول والثاني: ملء المدارات بالإلكترونات. مبدأ أوفباو، مبدأ باولي، وقاعدة هوند</a>

            p كل غلاف إلكترون يحتوي على <span class="term">غلاف إلكترون فرعي</span>، والذي بدوره يتكون من <span class="term">مدارات</span>. يُمكن تشبيه نظام الإلكترونات بفندق ذو عدة طوابق. في كل طابق هناك غرف ذو أنواع مختلفة (فئة). كل غرف الفئة الواحدة هي مطابقة لبعضها البعض، ومختلفة عن غرف الفئات الأخرى. تخيل بهذه الطريقة:

            p
                |- الفندق كله = <u>الذرة</u>
                br
                |- كل طابق في الفندق = <u>غلاف إلكترون</u>
                br
                |- كل فئة غرف متطابقة = <u>غلاف إلكترون فرعي</u>
                br
                |- كل غرفة، مهما كان نوعها = <u>مدار</u>
                br
                |- كل نزيل في الفندق = إلكترون

            p دعنا نرى الغلافان الأول والثاني (الطابقان) مع كل المدارات (الغرف) على أشكال معينة <a href="#fig_2.18">الصورة 2.18</a>.

        .center.extra
            .figure <a id="fig_2.18" href="#fig_2.18">الصورة 2.18</a>
                div
                    a.extra(href="/imgs/fig_2.18.png")
                        img(src="/imgs/fig_2.18.png" alt="")
                div
                    p رسم توضيحي لغلافي الإلكترون (الطابقين) الأول والثاني (n = 1, 2). النقطة السوداء في الوسط تصور النواة


        .center
            p "طابقنا الأول" هو غلافنا الأول (n = 1)، والذي هو أخفضهم طاقة (أقربهم إلى النواة). هذا "الطابق" لديه فقط "غرفة" واحدة (مدار واحد)، والذي يكون على شكل كروي. في <a href="#fig_2.18">الصورة 2.18</a>، يُصور هذا المدار باللون الأزرق. كل المدارات الكروية الشكل تسمى <u>بمدارات-s</u>.

            p بينما أنه هناك فقط "غرفة" واحدة، وبالتالي، فقط "نوع واحد من الغرف" (غلاف فرعي واحد) في "الطابق الأول"، فالـ"طابق الثاني" (الغلاف الثاني) يحتوي على أربع "غرف" بالمجمع (أربع مدارات) من "فئتين" مختلفتين (غلافَين فرعيين اثنين). كل المدارات الأربعة هذه للغلاف الثاني (n = 2) مصورة باللون الأخضر في <a href="#fig_2.18">الصورة 2.18</a>. أحد الأربعة هو مدار -s الكروي الشكل. المدارات الثلاثة الأخرى هي أعلى طاقة بقليل ولديها شكل "دمبل". مدارات بهذا الشكل تسمى <u>بمدارات-p</u>. كل مدارات-p الثلاثة متطابقة تماماً، ما عدى اتجاهاتهم في الفضاء. كمى يُرى في <a href="#fig_2.18">الصورة 2.18</a>، فكل واحد منهم هو عمودي للآخر.

            p هناك مدار-s في الغلاف الأول والثاني أيضاً (<a href="#fig_2.18">الصورة 2.18</a>). للتفرقة بينهم، يُكتب رقم الغلاف قبل رمز المدار. كالتالي:
                br
                |المدار-s في الغلاف الأول: 1s
                br
                |المدار-s في الغلاف الثاني: 2s
                br
                |المدار-p في الغلاف الثاني: 2p

            p لنعبئ الآء الغلافين الأول والثاني بوضع إلكترونات في مداراتهم، واحد بواحد. (البروتونات والنيوترونات سيوضعوا أيضاً في النواة نظريا بطريقة تلقائية للحفاظ على حيادية شحنة الذرة ولاستقرار النواة). تتبع عملية تعبئة الأغلفة بالإلكترونات ثلاث قواعد: <a href="https://ar.wikipedia.org/wiki/%D9%85%D8%A8%D8%AF%D8%A3_%D8%A3%D9%88%D9%81%D8%A8%D8%A7%D9%88">مبدأ أوفباو</a>، <a href="https://ar.wikipedia.org/wiki/%D9%85%D8%A8%D8%AF%D8%A3_%D8%A7%D8%B3%D8%AA%D8%A8%D8%B9%D8%A7%D8%AF_%D8%A8%D8%A7%D9%88%D9%84%D9%8A">مبدأ باولي</a>، <a href="https://ar.wikipedia.org/wiki/%D9%82%D8%A7%D8%B9%D8%AF%D8%A9_%D9%87%D9%88%D9%86%D8%AF">وقاعدة هوند</a>.

            p 1. ينص مبدأ أوفباو (أوفباو هي كلمة ألمانية تعني "التشييد") على أنه للحصول على أكثر استقرار ممكن، يجب على الإلكترونات أن تعبئ الأغلفة المنخفضة الطاقة أولاً.

            p 2. على النحو التالي من مبدأ باولي، <i>يستيط كل مدار أن يسع إلكترونين فقط لا أكثر.</i> ("نزيلَين" اثنين لكل "غرفة"). بدون الدخول إلى تفاصيل كثيرة، فيستطيع إلكترونان اثنان أن يشغلا نفس المدار إذا ما كانا <u>يدوران حول نفسهما</u> بكشل متعاكس. بأبسط المفاهيم، فالإلكترون يدور حول محوره مثل ما تدور الكواكب حول نفسها. أحدهما باتجاه عقارب الساعة، والآخر باتجاه عكس عقارب الساعة (<a href="#fig_2.19">الصورة 2.19</a>).

            .figure <a id="fig_2.19" href="#fig_2.19">الصورة 2.19</a>
                div
                    img.portrait(src="/imgs/fig_2.19.png" alt="")
                div
                    p إلكترونان اثنان يشغلا مدار واحداً بنفس الوقت يدوران بشكل متعاكس

            p 3. تنص قاعدة هوند على أنه يجب على كل المدارات المتطابقة في غلاف فرعي أن يُعبؤوا كلهم بإلكترون واحد قبل أن يُعبؤوا بإلكترونين اثنين. سنشرح هذا بعد قليل.

            p الآن نستطيع أن نبدأ بوضع الإلكترونات في الأغلفة. باتباع مبدأ أوفباو، فأول إلكترون لدينا سيكون في أخفض غلاف طاقة والذي لديه مدار واحد فقط ألا وهو 1s. ما حصلنا عليه الآن هو ذرة هيدروجين (<a href="#fig_2.20">الصورة 2.20</a>)، أول عنصر في الجدول الدوري.

            .figure <a id="fig_2.20" href="#fig_2.20">الصورة 2.20</a>
                div
                    img.portrait(src="/imgs/fig_2.20.png" alt="")
                div
                    p لدى ذرة الهيدروجين إلكترون واحد فقط، يقع في المدار 1s

            p بإضافة إلكترون واحد آخر (وبروتون واحد ونيوترونان اثنان) سنحصل على ذرة هيليوم (He)، العنصر رقم 2 في الجدول الدوري (<a href="#fig_2.21">الصورة 2.21</a>).
            .figure <a id="fig_2.21" href="#fig_2.21">الصورة 2.21</a>
                div
                    img.portrait(src="/imgs/fig_2.21.png" alt="")
                div
                    p لدى ذرة الهيليوم إلكترونان اثنان في المدار 1s

            p طول نصف قطر ذرة الهيليوم هو 0.31Å وهي أصغر ذرة معروفة [الرمز Å هو للأنغستروم، وحدة طول؛ 1Å = 10<sup>-10</sup>m]. طول نصف قطر الهيدروجين هو أكبر بكثير، 0.53Å. ليش؟ لأن قوة الجذب الكهربائية (<a href="/2.2#fig_2.11">الصورة 2.11</a>) ما بين جسم سالب وآخر موجب هي متناسبة طرداً مع قيمة الشحن. لدى رذة الهيدروجين إلكترون واحد فقط (-1) وبروتون واحد فقط (+1)، بينما ذرة الهيليوم لديها إلكترونان اثنان في نفس المدار (-2) وبروتونان اثنان (+2). لذلك فقوة الجذب الكهربائية هي أكبر لدى الهيليوم، لذلك تنكمش ذرة الهيليوم على بعضها البعض أكثر وبذلك تصبح أصغر من ذرة الهيدروجين (<a href="#fig_2.22">الصورة 2.22</a>).
            .figure <a id="fig_2.22" href="#fig_2.22">الصورة 2.22</a>
                div
                    img(src="/imgs/fig_2.22.png" alt="")
                div
                    p ذرة الهيليوم هي أصغر حجماً من ذرة الهيدروجين بسبب الانكماش الحاصل من قوة الجذب الكهربائية ما بين الأقطاب السالبة والموجبة مقارنة بقوة جذب الشحنات لدى الهيدروجين

            p بوضعنا إلكترونان اثنان في المدار 1s، نكون قد أتممنا تعبئة غلافنا الأول الذي يحتوي فقط على غلاف فرعي واحد والذي يتكون من مدار 1s واحد. تذكر أنه لا يستطيع أي مدار إيواء أكثر من الكترونين اثنين (نزيلَين اثنين لكل غرفة لا أكثر). لذلك فإلكتروننا الثالث يجب أن يذهب إلى المدار 2s، وبذلك نكون قد خلقنا ذرة الليثيوم (Li)، وبإضافة إلكترون رابع أيضاً، سنخلق ذرة البيريليوم (Be) (<a href="#fig_2.23">الصورة 2.23</a>). اعثر على الـ Li والـ Be في الجدول الدوري ولاحظ أنه <u>ببدأ تعبئة المدار 2s الذي هو أول مدار في الغلاف الثاني، نكون قد بدأنا بدورة جديدة في الجدول الدوري</u>.
            .figure <a id="fig_2.23" href="#fig_2.23">الصورة 2.23</a>
                div
                    img(src="/imgs/fig_2.23.png" alt="")
                div
                    p توزيع الإلكترونات في ذرتَي الليثيوم (Li) والبيريليوم (Be)

            p نأتي الآن إلى الإلكترون الخامس. سيُأخذ الإلكترون الخامس من قبل مدارات 2p الثلاثة. بما أن هذه المدارات الثلاثة متطابقة تماماً، فنستطيط وضع الإلكترون في أي أحد منهم. لقد خلقنا الآن ذرة البورون (B). في <a href="#fig_2.24">الصورة 2.24</a>.
            .figure <a id="fig_2.24" href="#fig_2.24">الصورة 2.24</a>
                div
                    img(src="/imgs/fig_2.24.png" alt="")
                div
                    p الإلكترون الخامس يذهب إلى إحدى مدارات 2p الثلاثة لخلق ذرة البورون (B)

            p عندما نريد وضع الإلكترون السادس، نقع في مشكلة. إنه من الواضح وجوب وضع هذا الإلكترون في أحد مدارات 2p الثلاثة. ولكن، هل يجب وضعه في المدار الذي بالأصل يحتوي على الإلكترون الخامس، أم في إحدى المدارين الأخريَين الفارغَين؟ تأتي هنا قاعدة هوند لإنقاذنا. تنص قاعدة هوند على أنه يجب على كل المدارات المتطابقة في الغلاف الفرعي الواحد أن تُعبأ كلها بإلكترون واحد على الأقل قبل أن يُسمح بتبعئتهم بإلكترونين اثنين (<a href="#fig_2.25">الصورة 2.25</a>). تستطيع مقارنة قاعدة هوند بطريقة جلوس الركاب في الحافلة أو القطارات (<a href="#fig_2.26">الصورة 2.26</a>). في المقاعد المزدوجة، يجلس الناس أولاً في كل المقاعد الفارغة، بعدها يبدأ الناس في الجلوس بالمقاعد الشاغرة مع الشخص الآخر.
            .figure <a id="fig_2.25" href="#fig_2.25">الصورة 2.25</a>
                div
                    img(src="/imgs/fig_2.25.png" alt="")
                div
                    p يجب أن تُعبأ كل مدرات 2p المتطابقة بإلكترون واحد على الأقل قبل أن يُعبأ أحدهم بإلكترون ثاني

            br

            .figure <a id="fig_2.26" href="#fig_2.26">الصورة 2.26</a>
                div
                    img(src="/imgs/fig_2.26.jpg" alt="")
                div
                    p عادة ما تُأخذ المقاعد المزدوجة الفارغة أولاً قبل بدأ الناس بالجلوس في المقاعد الشاغرة.

            p بخطى قاعدة هوند، العنصر التالي، النيتروجين (N)، لديه إلكترون واحد في كل مدارات 2p الثلاثة (<a href="#fig_2.27">الصورة 2.27</a>). بوضع 3 إلكترونات أكثر على مدارات 2p الثلاثة الشاغرة كلها بإلكترون واحد، نخلق ذرة الأكسجين (O)، الفلور (F)، والنيون (Ne) (<a href="#fig_2.28">الصورة 2.28</a>).
            .figure <a id="fig_2.27" href="#fig_2.27">الصورة 2.27</a>
                div
                    img(src="/imgs/fig_2.27.png" alt="")
                div
                    p توزيع الإلكترونات في ذرة النيتروجين (N). لاحظ هنا أن كل مدارات 2p قد أصبحت شاغرة بإلكترون واحد نسبة إلى قاعدة هوند

            br

        .center.extra
            .figure <a id="fig_2.28" href="#fig_2.28">الصورة 2.28</a>
                div
                    a.extra(href="/imgs/fig_2.28.png")
                        img(src="/imgs/fig_2.28.png" alt="")
                div
                    p توزيع الإلكترونات في ذرات الأسكجين (O)، الفلور (F)، والنيون (Ne)

        .center

            p لحتى هذه النقطة، قد استخدمنا رسوم المدارات لشرح <u>التوزيع الإلكتروني</u> لذرة ما، أي طريقة توزيع الإلكترونات في الذرة. ولكن هناك طريقتان أخرتان مشهورتان لتوضيح كيفية توزيع الإلكترونات في الذرة. أحدهن هي بكتابة المدارات الشاغرة بترتيب طاقة تصاعدي مع رقم الإلكترونات في كل غلاف فرعي كحرف علوي. بهذه الطريقة، يُكتب التوزيع الإلكتروني للعناصر العشرة الأولى من الجدول الدوري كالتالي:


            link(href="/css/special.css" type="text/css" rel="stylesheet")
            div#electron_configuration(dir="ltr")
                div 
                    div H (هيدروجين)
                    div 1s<sup>1</sup>
                div 
                    div He (هيليوم)
                    div 1s<sup>2</sup>
                div
                    div Li (ليثيوم)
                    div 1s<sup>2</sup> 2s<sup>1</sup>
                div
                    div Be (بيريليوم)
                    div 1s<sup>2</sup> 2s<sup>2</sup>
                div
                    div B (بورون)
                    div 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>1</sup>
                div
                    div C (كربون)
                    div 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>2</sup>
                div
                    div N (نيتروجين)
                    div 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>3</sup>
                div
                    div O (أكسجين)
                    div 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>4</sup>
                div
                    div F (فلور)
                    div 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>5</sup>
                div
                    div Ne (نيون)
                    div 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup>

            p يُعرض التوزيع الإلكتروني أيضاً كصناديق، هذه الصناديق تحل محل شكل المدارات (<a href="#fig_2.29">الصورة 2.29</a>).

        .center.extra
            .figure <a id="fig_2.29" href="#fig_2.29">الصورة 2.29</a>
                div
                    a.extra(href="/imgs/fig_2.29.png")
                        img(src="/imgs/fig_2.29.png" alt="")
                div
                    p طريقة لعرض التوزيع الإلكتروني هي برسم صناديق بدل رسم شكل المدار كله

        .center
            p تُرسم الإلكترونات المُعبئة كأسهم عمودية. <a href="#fig_2.30">الصورة 2.30</a> تُري هذه الطريقة لعناصر الدورة الأولى والثانية في الجدول الدوري. تعاكس اتجاه الأسهم يُوضح تعاكس اتجاه دوران كل إلكترونان زوجيان حول نفسما.
            .figure <a id="fig_2.30" href="#fig_2.30">الصورة 2.30</a>
                div
                    img(src="/imgs/fig_2.30.png" alt="")
                div
                    p رسوم صناديق تخطيطية توضح التوزيع الإلكتروني في ذرات الدورة الأولى والثانية من ذرة الهيدروجين (H) إلى ذرة النيون (Ne)

            h2 <a id="2.3.3" href="#2.3.3">2.3.3 الغلاف الثالث. الدورية تأتي من التوزيع الإلكتروني للغلاف الأبعد الخارجي (غلاف التكافؤ)</a>

            p تنتهي دورة الجدول الدوري الثانية مع عنصر النيون (Ne)، غاز نبيل. التوزيع الإلكتروني للـ Ne، 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup>، يُري أن كل المدارات للغلافان الفرعيان الأول والثاني قد عُبئوا بالكامل (<a href="#fig_2.31">الصورة 2.31</a>). لإضافة المزيد على "فندقنا ذو العدة طوابق" (ذرتنا) بـ"نزلاء جدد" (إلكترونات)، نحتاج إلى استخدام "الغرف" (المدارات) التي في "الطابق الثالث" (غلاف الإلكترون الثالث).

            .figure <a id="fig_2.31" href="#fig_2.31">الصورة 2.31</a>
                div
                    img(src="/imgs/fig_2.31.png" alt="")
                div
                    p في ذرة النيون (Ne)، كلا من الغلافان الأول والثاني مُعبئان تماماً بالإلكترونات

            p تبدأ التعبئة للطابق الثالث (الغلاف الثالث) بالغلافان الفرعيان 3s و 3p، والطريقة هي نفسها تماماً. أول إلكترونان يذهبا إلى أقل مدار طاقة ألا وهو 3s، مع أنه أقل مدار طاقة في الغلاف الثالث، إلا أنه يبقى أكثر طاقة وأبعد عن النواة من أي مدارات أخرى في الغلاف الأول أو الثاني (<a href="#fig_2.32">الصورة 2.32</a>).

            .figure <a id="fig_2.32" href="#fig_2.32">الصورة 2.32</a>
                div
                    img(src="/imgs/fig_2.32.png" alt="")
                div
                    p رسم توضيحي يصور المدارات 1s, 2s, 2p, 3s

            p كما يُرى في الصورة <a href="#fig_2.33">الصورة 2.33</a>، فالصوديوم (Na)، أول عنصر في الدورة الثالثة، لديه التوزيع الإلكتروني 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>1</sup>. الإلكترون التالي يذهب إلى المدار 3s أيضاً لإعطاء عنصر ذرة المغنيسيوم (Mg)، 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup>. أصبح الآن المدار 3s معبئاً بالكامل. فللعنصر التالي، نبدأ بتعبئة المدار 3p، وسنحصل على ذرة الألومنيوم (Al; 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>1</sup>)، انظر إلى <a href="#fig_2.33">الصورة 2.33</a>.
            .figure <a id="fig_2.33" href="#fig_2.33">الصورة 2.33</a>
                div
                    img(src="/imgs/fig_2.33.png" alt="")
                div
                    p التوزيع الإلكتروني في أول ثلاث عناصر الدورة الثالثة، الصوديوم (Na)، المغنيسيوم (Mg)، والألومنيوم (Al)
            p أتى دورك الآن. أنهِ تعبئة مدارات 3p للعناصر الخمسة التالية: Si, P, S, Cl, Ar. ارسم التوزيع الإلكتروني لهذه العناصر باتباع <a href="#fig_2.33">الصورة 2.33</a>. أيضًا حاول أن ترسم شكل المدارات لكل العناصر من الدورة الثالثة. بفعل لذلك، ارسم فقط المدارات الأبعد أي 3s و 3p ولا ترسم المدارات الداخلية 1s, 2s, 2p لكي لا تصبح الصورة معقدة.

            p لدينا الآن معلومات كافية للتوصل إلى استنتاج هام جدًا، كالتالي 

            p.center "الخواص الكيميائية لعنصر ما تحدد بتوزيع إلكترونات الأغلفة الأبعد عن النواة، أو بالأحرى، فإلكترونات التكافؤ."

            p لمعرفة كيفية توصلنا لهذا الاستنتاج، سنأخذ نظرة عن قرب لعناصر الدورة الثانية والثالثة وسنبحث عن ارتباطات ما بين توزيع الإلكترونات والخواص الكيميائية. (لن نحسب الدورة الأولى لأنها تحتوي على عنصرَين اثنين فقط، H, He، والذي لن يكون كافيًا لتحليلنا).

            p أولًا، دعنا نحلل الصفوف الأفقية (الدورات). كل عناصر الدورة الثانية (<a href="#fig_2.34">الصورة 2.34</a>) يختلفوا عن بعضهم البعض من ناحية السلوك الكيميائي. الاختلاف هو ثابت مع تغير توزيع الإلكترونات الأبعد لكل من هذه العناصر (المرى باللون الأحمر في <a href="#fig_2.34">الصورة 2.34</a>)، ولكن هذا ليس الأمر مع توزيع الإلكترونات للأغلفة الداخلية الذي هو نفسه لكلهم (1s<sup>2</sup>).

        .center.extra
            .figure <a id="fig_2.34" href="#fig_2.34">الصورة 2.34</a>
                div
                    a.extra(href="/imgs/fig_2.34.webp")
                        img(src="/imgs/fig_2.34.webp" alt="")
                div
                    p الدورة الثانية من الجدول الدوري


        .center
            p سترى نفس النمط لعناصر الدورة الثالثة (<a href="#fig_2.35">الصورة 2.35</a>). مرة أخرى، فهذه العناصر تختلف عن بعضها البعض من ناحية السلوك الكيميائي وأيضًا من ناحية عدد إلكترونات التكافؤ، ولكن لديهم كلهم نفس توزيع الأغلفة الداخلية (1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>).

        .center.extra
            .figure <a id="fig_2.35" href="#fig_2.35">الصورة 2.35</a>
                div
                    a.extra(href="/imgs/fig_2.35.webp")
                        img(src="/imgs/fig_2.35.webp" alt="")
                div
                    p الدورة الثالثة من الجدول الدوري

        .center
            p الملاحظات أعلاه تشير إلى أن إلكترونات الغلاف الأبعد من العنصر هي التي تتحكم بخصائصه الكيميائية. هذا الاستنتاج يؤكد أيضًا بمقارنة العناصر للدورة الثانية والثالثة في كل مجموعة (العواميد في <a href="#fig_2.36">الصورة 2.36</a>). الفلزان القلويان Li و Na (أول عمود في <a href="#fig_2.36">الصورة 2.36</a>) لديهم خصائص متشابها حدًا ونفس توزيع إلكترونات الأغلفة الأبعد، 2s<sup>1</sup> و 3s<sup>1</sup> بالتوالي. نفس الشيء مع الفلزَين القلويَين الترابيَين Be (2s<sup>2</sup>), Ar (3s<sup>2</sup>)، الهالوجينَين F (2s<sup>2</sup>2p<sup>5</sup>), Cl (3s<sup>2</sup>3p<sup>5</sup>)، الغازين النبيلَين Ne (2s<sup>2</sup>2p<sup>6</sup>), Ar (3s<sup>2</sup>3p<sup>6</sup>)، الكربون (2s<sup>2</sup>2p<sup>2</sup>) والسيليكون (3s<sup>2</sup>3p<sup>2</sup>)، إلخ.


        .center.extra
            .figure <a id="fig_2.36" href="#fig_2.36">الصورة 2.36</a>
                div
                    a.extra(href="/imgs/fig_2.36.webp")
                        img(src="/imgs/fig_2.36.webp" alt="")
                div
                    p العناصر الذين في نفس المجموعة (نفس العمود) يُظهروا خصائص كيميائية متشابهة ولديهم أيضًا نفس التوزيع الإلكتروني للاغلفة الأبعد.

        .center

            p يُلخص <a href="#table_2">الجدول 2</a> تحليلنا الذي يستنتج أن الأغلفة الأبعد هي التي تحدد الخصائص الكيميائية لعنصر ما.

            .figure <a id="table_2" href="#table_2">الجدول 2.</a> الخصائص الكيميائية للعناصر كدالة لتوزيع الإلكترونات في الغلاف الأبعد.
                div
                    table
                        tr(align="center")
                            th العناصر
                            th الخصائص الكيميائية
                            th توزيع الغلاف الأبعد
                            th توزيع الأغلفة الداخلية
                        tr(align="center") 
                            td في الدورة (الصفوف الأفقية)
                            td مختلفة
                            td مختلف
                            td متشابه
                        tr(align="center")
                            td في المجموعة (العواميد)
                            td متشابهة
                            td متشابه
                            td مختلف

            p تعلمنا الآن كيفية توزيع الإلكترونات في مدارات الدورة 1 و2 و3. أكمل القراءة لمعرفة ماذا سيحدث إذا أبقينا على وضع إلكترونات لتعبئة الأغلفة التالية.

            h2 <a id="2.3.4" href="#2.3.4">2.3.4 الغلاف الرابع. خدع المدار-d والمدار-f</a>

            p آخذ عنصر أخذناه بعين الاعتبار كان عنصر الآرغون (Ar). التوزيع الإلكتروني للآرغون، 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3p<sup>6</sup>، يري أن مدارات الغلاف الأبعد 3s و 3p معبئة تمامًا بالإلكترونات. بذلك، فالإلكترون التالي سيذهب إلى مدار 4s لخلق ذرة البوتاسيوم (K; 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3p<sup>6</sup>4s<sup>1</sup>)، العنصر الذي تبدأ به الدورة الرابعة. التشابه ما بين توزيع الإلكترونات للغلاف الأبعد لـ K (4s<sup>1</sup>) و Li (2s<sup>1</sup>) و Na (3s<sup>1</sup>) يشير إلى أن البوتاسيوم لديه خصائص كيميائية متشابهة مع الـ Li و Na. وهذا فعلًا صحيح.

            p بإضافة إلكترون آخر لتوزيعة البوتاسيوم سيخلق لدينا ذرة الكالسيوم (Ca; 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3p<sup>6</sup>4s<sup>2</sup>)، الذي هو عضو نموذجي من مجموعة الفلزات القلوية الترابية.

            p سيظن البعض أن الإلكترون التالي يجب أن يذهب إلى مدار 4p، ولكن الأمر ليس كذلك. بعد تعبئة مدار 4s. لن تكون مدارات 4p بل ستكون مدارات 3d التي ستستضيف الإلكترون التالي. هناك خمس مدارات لغلاف d. وبالتالي، فتعبئة مدارات 3d بالإلكترونات سيخلق عناصر عشرة جديدة، من السكانديوم (Sc) إلى الزنك (Zn). هذه العناصر تسمى <span class="term">بعناصر البلوك-d</span> لأن إلكتروناتهم الأكبر طاقة تقع في مدارات-d لديهم. يسمَّو أيضًا <span class="term">بالفلزات الإنتقالية</span> لأنهم يُظهروا كل خصائص الفلزات وفي نفس الوقت يُظهروا انتقالًا ما بين العناصر ذو إلكترونات تكافؤ في مدارات s وما بين عناصر ذو إلكترونات تكافؤ في مدارات p.

            p كما ذكر أعلاه، فأكبر رقم يستطيع تحمله غلاف n يُحسب بالصيغة 2n<sup>2</sup>. وبذلك فالغلاف 3 يستطيع أن يستوعب 2 x 3<sup>2</sup> = 18 إلكترون. من بين الـ 18 إلكترون، 2 و 6 مستضافون عند مدار 3s و 3p على التوالي. والـ 10 الباقون يستضافوا عند مدارات 3d.

            p قد تتساءل، لماذا تُعبء مدارات الغلاف الثالث قبل مدارات الغلاق الرابع؟ <a href="#fig_2.37">الصورة 2.37</a> ستعطي جوابًا لذلك. بينما أن مدارات 3d تنتمي إلى الغلاف الثالث، فهي أعلى طاقة من مدارات 4s. هذه خاصية مثيرة للاهتمام "لفندق الإلكترونات ذو العدة طوابع لدينا". وبما أن مدارات-p هي أعلى طاقة من مدارات-s، فمدارات-d هي أعلى طاقة من مدارات-s الغلاف التالي أيضًا.

            .figure <a id="fig_2.37" href="#fig_2.37">الصورة 2.37</a>
                div
                    img(src="/imgs/fig_2.37.webp" alt="")
                div
                    p الرسم البياني لطاقات المدارات يري أن مدارات 3d هي أعلى طاقة من مدارات 4s

            p اعثر على السكانديوم (Sc) و الزنك (Zn)، أول وآخر عناصر البلوك-3d في الجدول الدوري. <a href="#fig_2.38">الصورة 2.38</a> تعرض التوزيع الإلكتروني لهذين العنصرين مع عناصر الفلزات الانتقالية أخرى (Mn و Ni بالتحديد).

            .figure <a id="fig_2.38" href="#fig_2.38">الصورة 2.38</a>
                div
                    img(src="/imgs/fig_2.38.webp" alt="")
                div
                    p التوزيع الإلكتروني لـ Sc, Mn, Ni, Zn كأمثلة نموذجية لعناصر البلوك-d.

            p بعد الزنك (Zn)، تُعبء مدارات 4p لخلق العناصر الستة التالية، كالتالي:

            p الغاليوم (Ga): 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3s<sup>2</sup>3p<sup>6</sup>4s<sup>2</sup>3d<sup>10</sup>4p<sup>1</sup> (الغلاف الخارجي 4s<sup>2</sup>4p<sup>1</sup> متناظر مع B و Al)

            p الغيرمانيوم (Ge): 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3s<sup>2</sup>3p<sup>6</sup>4s<sup>2</sup>3d<sup>10</sup>4p<sup>2</sup> (الغلاف الخارجي 4s<sup>2</sup>4p<sup>2</sup> متناظر مع C و Si)

            p زرنيخ (As): 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3s<sup>2</sup>3p<sup>6</sup>4s<sup>2</sup>3d<sup>10</sup>4p<sup>3</sup> (الغلاف الخارجي 4s<sup>2</sup>4p<sup>3</sup> متناظر مع N و P)

            p السيلينيوم (Se): 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3s<sup>2</sup>3p<sup>6</sup>4s<sup>2</sup>3d<sup>10</sup>4p<sup>4</sup> (الغلاف الخارجي 4s<sup>2</sup>4p<sup>4</sup> متناظر مع O و S)

            p البروم (Br): 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3s<sup>2</sup>3p<sup>6</sup>4s<sup>2</sup>3d<sup>10</sup>4p<sup>5</sup> (الغلاف الخارجي 4s<sup>2</sup>4p<sup>5</sup> متناظر مع F و Cl)

            p الكريبتون (Kr): 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3s<sup>2</sup>3p<sup>6</sup>4s<sup>2</sup>3d<sup>10</sup>4p<sup>6</sup> (الغلاف الخارجي 4s<sup>2</sup>4p<sup>6</sup> متناظر مع He و Ne)

            p
                |الترتيب العام لتعبئة الإلكترونات هو:
                br
                span(dir="ltr") 1s, 2s, 2p, 3s, 3p, 4s, 3d, 4p, 5s, 4d, 5p, 6s, ...


            p في الواعق، بعد تعبئة المدار 6s بإلكترونين اثنين والمدار 5d بإلكترون واحد، يحدث شيءٌ أكثر غرابة. تبدأ الإلكترونات بتعبئة مدارات 4f لتكوين <span class="term">عناصر البلوك-f</span> أو <span class="term">اللانثينيدات</span>. اللانثينيدات (La إلى Lu) وأيضًا مناظريهم <span class="term">الأكتينيدات</span> (Ac إلى Lr) موضوعين بشكل أنيق كصفين تحت الجدول الدوري. وُضعوا كذلك ليكون الشكل الدوري متراص وإلا سكون <a href="https://upload.wikimedia.org/wikipedia/commons/f/f2/Periodic_table_blocks_spdf_%2832_column%29.svg">كهذا</a>. أأنت الآن متلخبط؟ ارتاح يا زلمة! في دورتنا هذه، لن نتعامل مع أي عناصر اللبوك-f، سنتعامل فقط مع عناصر محددة من البلوك-f. على أية حال، فمن المهم أخذ نظرة إلى <a href="#table_3">الجدول 3</a> الذي يلخص سعة التعبيء للغلافات الأربعة الأولى وتفاصيل مداراتهم.

                
        .center.extra
            .figure <a id="table_3" href="#table_3">الجدول 3.</a> عدد الإلكترونات في الغلاف n = 1, 2, 3, 4.
                div
                    table
                        tr(align="center")
                            th رقم غلاف الإلكترون n
                            th عدد الإلكترونات الذي يستوبعها الغلاف
                            th عدد الأغلفة الفرعية (المدارات)
                            th نوع وشكل الأغلفة الفرعية (المدارات)
                        tr(align="center") 
                            td 1
                            td 2
                            td 1
                            td  <img src="/imgs/table_3.1.webp">
                        tr(align="center")
                            td 2
                            td 8
                            td 4
                            td <img src="/imgs/table_3.2.webp">
                        tr(align="center")
                            td 3
                            td 18
                            td 9
                            td <img src="/imgs/table_3.3.webp">
                        tr(align="center")
                            td 4
                            td 32
                            td 16
                            td <img src="">