include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title التواصل
    body
        +navbar

        .center 
            h1 التواصل

            p.center
                span.blue chemistryfromscratch@gmail.com

            p إذا أردت التواصل معي، فلن أقوم بمشاركة عنوان بريدك الإلكتروني. إذا أردت مني حذف الرسالة ومحتوياتها بعد فتحها وقراءتها، فاذكر كذلك في الرسالة.

            p إذا أردت التواصل معي أنا (المترجم): manerakai@protonmail.com 
