include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title وحدات الدورة
    body
        +navbar

        div.center
            h1 وحدات الدورة

            h2.blue <a id="1" href="#1">الوحدة الأولى</a>

            dl
                dt <a href="/1.1">1.1 ما هي الكيمياء؟</a>
                dd - <a href="/1.1#1.1.1">1.1.1 علم الكيمياء</a>
                dd - <a href="/1.1#1.1.2">1.1.2 هل الكيمياء والكيماويات خطيرَين؟</a>
                dd - <a href="/1.1#1.1.3">1.1.3 إذا كانت بعض الكيماويات خطيرة، لماذا نحتاج لأن نتعامل معهم؟</a>
                dd - <a href="/1.1#1.1.4">1.1.4 المادة والمادة الكيميائية</a>

            dl
                dt <a href="/1.2">1.2 من ماذا تتكون المادة؟ العناصر الكيميائية</a>
                dd - <a href="/1.2#1.2.1">1.2.1 العناصر الكيميائية هي أنواع مختلفة من الذرات</a>
                dd - <a href="/1.2#1.2.2">1.2.2 الفلزات واللافلزات وأشباه الفلزات</a>
                dd - <a href="/1.2#1.2.3">1.2.3 الصيغ الكيميائية</a>
                dd - <a href="/1.2#1.2.4">1.2.4 تمارين</a>

            dl
                dt <a href="/1.3">1.3 العناصر الكيميائية البسيطة والمعقدة</a>
                dd - <a href="/1.3#1.3.1">1.3.1 العناصر الكيميائية البسيطة والمعقدة</a>
                dd - <a href="/1.3#1.3.2">1.3.2 المواد الكيميائية البسيطة والعناصر: هناك فرق!</a>
                dd - <a href="/1.3#1.3.3">1.3.3 تمارين</a>

            dl
                dt <a href="/1.4">1.4 المواد الكيميائية الفردية والمخاليط</a>
                dd - <a href="/1.4#1.4.1">1.4.1 المواد الكيميائية الفردية</a>
                dd - <a href="/1.4#1.4.2">1.4.2 الشوائب والنقاوة</a>
                dd - <a href="/1.4#1.4.3">1.4.3 مخاليط المواد الكيميائية</a>
                dd - <a href="/1.4#1.4.4">1.4.4 المخاليط المتجانسة وغير المتجانسة</a>
                dd - <a href="/1.4#1.4.5">1.4.5 فصل المخاليط وطرق التنقية: التقطير، وإعادة التبلور</a>
                dd - <a href="/1.4#1.4.6">1.4.6 تجارب بلورة</a>
                dd - <a href="/1.4#1.4.7">1.4.7 طرق فصل غير اعتيادية</a>
                dd - <a href="/1.4#1.4.8">1.4.8 تمارين</a>

            dl
                dt <a href="/1.5">1.5 الفرق بين الظواهر الفيزيائية والكيميائية</a>
                dd - <a href="/1.5#1.5.1">1.5.1 الفرق الرئيسي ما بين الظواهر الفيزيائية والكيميائية</a>
                dd - <a href="/1.5#1.5.2">1.5.2 تجارب</a>
                dd - <a href="/1.5#1.5.3">1.5.3 تمارين</a>

            dl
                dt <a href="/1.6">1.6 التفاعلات الكيميائية</a>
                dd - <a href="/1.6#1.6.1">1.6.1 التفاعلات والمعادلات الكيميائية</a>
                dd - <a href="/1.6#1.6.2">1.6.2 علامات تدل على تفاعلات كيميائية</a>
                dd - <a href="/1.6#1.6.3">1.6.3 حسابات كيميائية بسيطة. قياس اتحادية العناصر. قانون حفظ الكتلة (المادة) وقانون النسب الثابتة</a>
                dd - <a href="/1.6#1.6.4">1.6.4 الكاشف المحدِّد</a>
                dd - <a href="/1.6#1.6.5">1.6.5 تمارين</a>

            dl
                dt <a href="/1.7">1.7 حسابات أكثر مع الكتل الذرية</a>
                dd - <a href="/1.7#1.7.1">1.7.1 النسبة المئوية للعناصر في المركبات</a>
                dd - <a href="/1.7#1.7.2">1.7.2 تحديد الكتل الذرية للعناصر</a>
                dd - <a href="/1.7#1.7.3">1.7.3 تمارين</a>

            dl
                dt <a href="/1.8">1.8 أنواع التفاعلات الكيميائية الرئيسية. المعادلات الكيميائية وموازنتهن</a>
                dd - <a href="/1.8#1.8.1">1.8.1 هل هناك أنواع كثيرة للتفاعلات الكيميائية؟</a>
                dd - <a href="/1.8#1.8.2">1.8.2 تفاعل الاتحاد</a>
                dd - <a href="/1.8#1.8.3">1.8.3 تفاعل التحلل</a>
                dd - <a href="/1.8#1.8.4">1.8.4 تفاعل الاستبدال</a>
                dd - <a href="/1.8#1.8.5">1.8.5 تفاعل التبادل</a>
                dd - <a href="/1.8#1.8.6">1.8.6 موازنة معادلات كيميائية بسيطة</a>
                dd - <a href="/1.8#1.8.7">1.8.7 تنفيذ تجارب لتفاعلات كيميائية معينة في البيت</a>
                dd - <a href="/1.8#1.8.8">1.8.8 تمارين</a>

            dl
                dt <a href="/1.9">1.9 التكافؤ</a>
                dd - <a href="/1.9#1.9.1">1.9.1 التكافؤ</a>
                dd - <a href="/1.9#1.9.2">1.9.2 تمارين</a>

            dl
                dt <a href="/1.10">1.10 الأكسجين</a>
                dd - <a href="/1.10#1.10.1">1.10.1 معلومات عامة</a>
                dd - <a href="/1.10#1.10.2">1.10.2 الأوزون (O<sub>3</sub>). تآصل</a>
                dd - <a href="/1.10#1.10.3">1.10.3 تطبيقات للأكسجين</a>
                dd - <a href="/1.10#1.10.4">1.10.4 الخواص الفيزيائية للـO<sub>2</sub></a>
                dd - <a href="/1.10#1.10.5">1.10.5 إعداد الأكسجين</a>
                dd - <a href="/1.10#1.10.6">1.10.6 الخواص الكيميائية للأكسجين O<sub>2</sub></a>
                dd - <a href="/1.10#1.10.7">1.10.7 تمارين</a>

            dl
                dt <a href="/1.11">1.11 الهيدروجين</a>
                dd - <a href="/1.11#1.11.1">1.11.1 معلومات عامة</a>
                dd - <a href="/1.11#1.11.2">1.11.2 تطبيقات للهيدروجين</a>
                dd - <a href="/1.11#1.11.3">1.11.3 خواص فيزيائية للـH<sub>2</sub></a>
                dd - <a href="/1.11#1.11.4">1.11.4 إعداد الهيدروجين. تجربة</a>
                dd - <a href="/1.11#1.11.5">1.11.5 خواص كيميائية للـH<sub>2</sub></a>
                dd - <a href="/1.11#1.11.6">1.11.6 تمارين</a>

            dl
                dt <a href="/1.12">1.12 الأحماض والقواعد</a>
                dd - <a href="/1.12#1.12.1">1.12.1 الأحماض. معلومات عامة</a>
                dd - <a href="/1.12#1.12.2">1.12.2 تسمية الأحماض</a>
                dd - <a href="/1.12#1.12.3">1.12.3 حمض الكبريتيك. التجفاف</a>
                dd - <a href="/1.12#1.12.4">1.12.4 حمض الهيدروكلوريك. نسبة تركيز الكتلة المئوي</a>
                dd - <a href="/1.12#1.12.5">1.12.5 حمض النتريك</a>
                dd - <a href="/1.12#1.12.6">1.12.6 حمض الفوسفوريك</a>
                dd - <a href="/1.12#1.12.7">1.12.7 حمض الكربونيك</a>
                dd - <a href="/1.12#1.12.8">1.12.8 القواعد. معلومات عامة والتسمية</a>
                dd - <a href="/1.12#1.12.9">1.12.9 هيدروكسيد الصوديوم (الصودا الكاوية)، NaOH، هيدروكسيد البوتاسيوم (البوتاس الكاوي)، KOH</a>
                dd - <a href="/1.12#1.12.10">1.12.10 هيدروكسيد الكالسيوم (الجير المطفأ)، Ca(OH)<sub>2</sub></a>
                dd - <a href="/1.12#1.12.11">1.12.11 قواعد لاذوبانية</a>
                dd - <a href="/1.12#1.12.12">1.12.12 أهذا حمض أم قاعدة؟ مؤشرات الأحماض والقواعد</a>
                dd - <a href="/1.12#1.12.13">1.12.13 تمارين</a>

            dl 
                dt <a href="/1.13">1.13 تفاعلات التعادل. الأملاح</a>
                dd - <a href="/1.13#1.13.1">1.13.1 تفاعلات التعادل. الأملاح</a>
                dd - <a href="/1.13#1.13.2">1.13.1 التعادل الجزئي</a>
                dd - <a href="/1.13#1.13.3">1.13.1 تمارين</a>

            dl 
                dt <a href="/1.14">1.14 الفئات الرئيسية للمركبات اللاعضوية: الأكاسيد</a>
                dd - <a href="/1.14#1.14.1">1.14.1 معلومات عامة</a>
                dd - <a href="/1.14#1.14.2">1.14.2 تسمية الأكاسيد</a>
                dd - <a href="/1.14#1.14.3">1.14.3 الأكاسيد القاعدية، الحمضية، التذبذبية، والمتعادلة</a>
                dd - <a href="/1.14#1.14.4">1.14.4 إعداد الأكاسيد</a>
                dd - <a href="/1.14#1.14.5">1.14.5 الخواص الكيميائية للأكاسيد</a>
                dd - <a href="/1.14#1.14.6">1.14.6 تمارين</a>

            dl 
                dt <a href="/1.15">1.15 ماذا يجب علينا معرفته قبل أن نواصل</a>
                dd - <a href="/1.15#1.15.1">1.15.1 تمهيد</a>
                dd - <a href="/1.15#1.15.2">1.15.2 الذي هو قاعدة يتفاعل مع الذي هو حمض والذي هو حمض يتفاعل مع الذي هو قاعدة</a>
                dd - <a href="/1.15#1.15.3">1.15.3 التفاعلات التي تصل إلى الإكمال</a>
                dd - <a href="/1.15#1.15.4">1.15.4 تمارين</a>

            dl 
                dt <a href="/1.16">1.16 الفئات الرئيسية للمركبات اللاعضوية: الأحماض</a>
                dd - <a href="/1.16#1.16.1">1.16.1 ملاحظات عامة</a>
                dd - <a href="/1.16#1.16.2">1.16.2 إعداد الأحماض</a>
                dd - <a href="/1.16#1.16.3">1.16.3 الخواص الكيميائية للأحماض</a>
                dd - <a href="/1.16#1.16.4">1.16.4 تمارين</a>

            dl 
                dt <a href="/1.17">1.17 الفئات الرئيسية للمركبات اللاعضوية: القواعد (هيدروكسيدات الفلزات)</a>
                dd - <a href="/1.17#1.17.1">1.17.1 ملاحظات عامة والتسمية</a>
                dd - <a href="/1.17#1.17.2">1.17.2 إعداد قواعد هيدروكسيدات الفلزات</a>
                dd - <a href="/1.17#1.17.3">1.17.3 الخواص الكيميائية للقواعد. تجربة: تفاعل ألومنيوم مع الـ NaOH</a>
                dd - <a href="/1.17#1.17.4">1.17.4 تمارين</a>

            dl 
                dt <a href="/1.18">1.18 الفئات الرئيسية للمركبات اللاعضوية: الأملاح</a>
                dd - <a href="/1.18#1.18.1">1.18.1 ملاحظات عامة والتسمية</a>
                dd - <a href="/1.18#1.18.1">1.18.2 إعداد الأملاح</a>
                dd - <a href="/1.18#1.18.2">1.18.3 الخواص الكيميائية للأملاح. تجربة: تفاعل الـ CuSO<sub>4</sub> مع الـ Fe (مسمار حديد)</a>
                dd - <a href="/1.18#1.18.3">1.18.4 تمارين</a>

            dl 
                dt <a href="/1.19">1.19 اختبر معرفتك</a>

            hr

            h2.blue <a id="2" href="#2">الوحدة الثانية</a>


            dl
                dt <a href="/2.1">2.1 اكتشاف الجدول الدوري</a>
                dd - <a href="/2.1#2.1.1">2.1.1 الحاجة إلى تنظيم المعلومات الكيميائية في القرن التاسع عشر. اكتشاف مندلييف</a>
                dd - <a href="/2.1#2.1.2">2.1.2 إنه <u>ليس</u> بالوزن الذري الذي يحكم الجدول الدوري</a>
                dd - <a href="/2.1#1.18.3">2.1.3 تمارين</a>

            dl 
                dt <a href="/2.2">2.2 الذرات، معلومات أساسية</a>
                dd - <a href="/2.2#2.2.1">2.2.1 ما هي الذرة؟ حجم وكتلة الذرات</a>
                dd - <a href="/2.2#2.2.2">2.2.2 نواة الذرة والإلكترونات. تركيب وحجم النواة. البروتونات والنيوترونات</a>
                dd - <a href="/2.2#2.2.3">2.2.3 الأرقام الذرية</a>
                dd - <a href="/2.2#2.2.4">2.2.4 دور النيوترونات في النواة. النظراء</a>
                dd - <a href="/2.2#2.2.5">2.2.5 تطبيقات النظراء في الكيمياء</a>
                dd - <a href="/2.2#2.2.6">2.2.6 الكتل الذرية، الأوزان الذرية، ووحدة الكتل الذرية (amu) معادٌ زيارتها</a>
                dd - <a href="/2.2#2.2.7">2.2.7 تمارين</a>


            dl 
                dt <a href="/2.3">2.3 الإلكترونات في الذرات</a>
                dd - <a href="/2.3#2.3.1">2.3.1 أغلفة الإلكترونات</a>
                dd - <a href="/2.3#2.3.2">2.3.2 أغلفة الإلكترونات الفرعية. المدارات. الغلافان الأول والثاني: ملء المدارات بالإلكترونات. مبدأ أوفباو، مبدأ باولي، وقاعدة هوند</a>
                dd - <a href="/2.3#2.3.4">2.3.3 الغلاف الثالث. الدورية تأتي من التوزيع الإلكتروني للغلاف الأبعد الخارجي (غلاف التكافؤ)</a>
                dd - <a href="/2.3#2.3.4">2.3.4 الغلاف الرابع. خدع المدار-d والمدار-f</a>
                dd - <a href="/2.3#2.3.6">2.3.5 تمارين</a>