include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title التبرع
    body
        +navbar

        .center 
            h1 التبرع

            p الكيمياء من الصفر هو مشروع رجل واحد. أخذ معي أكثر من سنتين كاملتين من العمل الجاد لأنشئ هذه الدورة وأبني هذا الموقع، كل ذلك لوحدي. لكي تكون الدورة متوفرة لك بشكل مجاني، فأدفع من جيبي استضافة الموقع وتسجيل النطاق والصيانة.

            p إذا كانت هذه الدورة مفيدة وودت أن تدعمني أنا والمشروع، فتستطيع أن تتبرع بالدورلا عبر <a href="https://www.paypal.com/">بايبال</a> إلى حساب: <span class="blue">chemistryfromscratch@gmail.com</span>

            p مهما كان المبلغ، فأنا ممتن جدا لتبرعك.

            p إذا وددت مساعدتي ولكن ليس بجيبك مال في الوقت الحالي، أو إذا كنت تعيش في بلد لا يتوفر فيه بايبال. فسأكون مسروراً جداً إذا وصلتني رسالة "شكرا" منك.

            p.center شكراً!