include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title الأسئلة الشائعة
    body
        +navbar

        .center 
            h1 الأسئلة الشائعة

            p
                span.blue
                    strong هل هذه الدورة مجانية؟
                br
                |- نعم. الدورة كلها متوفرة بلا مقابل وبدون أي خدع تسويقية.

            p
                span.blue
                    strong لا يبدوا عليك أنك تتوقع أي شيء بالمقابل. هل لديك وقت كثير بين يديك؟ هل أنت زنغيل؟
                br
                |- ليس لدي وقت كثير بين يدي. ولكنني فعلاً أتوقع شيئاً بالمقابل. على مر الـ30 سنة الماضية، رأيت هبوط مروع في أساسيات تعليم الكيمياء. لقد قابلت طلبة، دكاترة كيميائيين، وحتى بروفيسورين كيميائيين، بـ"أماكن فارغة" مروعة في معرفتهم بأساسيات الكيمياء. فقط أتخيل في نفسي عن ماذا يدرس أولاء طلبتهم، وبعض الطلبة سيصحبون أيضاً مدرسي كيمياء. هذه الدورة هي محاولتي لإعادة الاستقامة لهذا العالم الذي يصرخ من أجلها. أنا لست ثرياً بشكل مستقل، إذا وجدت أن هذه الدورة مفيدة وأردت دعمي أنا والمشروع، فسأكون ممتناً جداً لتبرعك.

            p 
                span.blue
                    strong هل تعتدق أن العالم يحتاج إلى كيميائيين أكثر؟
                br
                |- بمنظوري الشخصي، فالعالم يحتاج لكيميائين جيدين أكثر وكيميائيين سيئين أقل، وخاصة الدكاترة الكيميائيين العاديين. وأهم من ذلك، العالم كله يحتاج أناساً متعلمة ومثقفة أكثر بأساسيات الكيمياء.

            p 
                span.blue
                    strong هل يشارك الأفراد الآخرون في كيمياء من الصفر نفس رؤيتك عن تعليم الكيمياء ومجانية هذه الدورة؟
                br
                |- الكيمياء من الصفر هي مشروع شخص واحد. أنا بنفسي قد صنعت الدورة كاملة والموقع أيضاً، والذي كله أخذ مني سنتين من العمل. أشكر بعض أعضاء عائلتي وأصدقاء قرؤوا المسودات ولأجل تعليقاتهم. أعرف الكثير من العلماء العالمين الممتازين الذين يشاركون رؤيتي لتعليم العلوم عامة وتعليم الكيمياء خاصة.

            p
                span.blue
                    strong كم أحتاج من الرياضيات لأستطيع تعلم الدورة؟
                br
                |- تحتاج إلى معرفة إضافة، طرح، ضرب، وقسمة الأرقام. وربما أيضاً تحتاج إلى معرفة الكسور والنسب المؤوية. لا رفع، لا لوغاريتم، لا دوال مثلثية، لا اشتقاقات، لا تكاملات.

            p
                span.blue
                    strong لماذا عرض مواد الدورة مبسط بزيادة؟
                br
                |- عن عمد. يجب علينا تعلم المشي قبل استطاعتنا الركض. هذه الدورة هي للذين يتمنون تعلم الكيمياء من الصفر. هدفي ليس للذيك يريدون دورة كيمياء متقدمة؛ في الواقع، هدفي هو العكس تماماً. هدفي هو مساعدة القارئ ليتعلم أساسيات الكيمياء. ولفعل ذلك بأوضح طريقة ممكنة، يجب علي تبسيط الكثير من المفاهيم والنماذج الكيميائية. بعد تعريف نفسك على الأساسيات، سيكون بوسعك توسيع معرفتك عن الكيمياء بأخذ دورات متقدمة أكثر. هناك الكثير منهم على الإنترنت. ومنهم الجيد.

            p
                span.blue
                    strong كيف تُقارن دورتك مع دورات كيمياء أخرى على الإنترنت؟
                br
                |- لا أقول أنك قد أتيت إلى المكان الصحيح لتعلم أساسيات الكيمياء. هناك دورات كيمياء أخرى على الإنترنت. أنت الوحيد فقط الذي يستطيع اتخاذ القرار ما إذا كانت <i>الكيمياء من الصفر</i> هي الدورة الأنسب لك.

            p
                span.blue
                    strong ماذا يجب علي فعله إذا لم أستطع حل سؤال والذي لم يكن جوابه مكتوب في الدورة؟
                br
                |- الإجابات الصحيحة معطاة لأغلب الأسئلة، ولكن ليس كلهم. الأسئلة، المتروكة هي للأسئلة الأبسط. فقط راجع المادة مرة أخرى، اقرأ بتمعن وتفكر، افهم ماذا تقرأ، ومن ثم ستبلي بلاء حسناً المرة القادمة.

            p
                span.blue
                    strong ماذا إذا وجدت خطأ في الدورة؟
                br
                |- سأكون ممتناً إذا أعلمتني بذلك مباشرة، بذلك إذا كان هناك أي خطأ، يصلح بأسرع وقت ممكن. بجانب ذلك، أنا لست متحدث أصلي باللغة الإنجليزية. إذا كنت أنت (أو تتحدث الإنجليزية كلغتك الأم) وأردت اقتراح تعديلات تحريرية، فسأكون ممتناً جداً لذلك. رجائاً أرسل مقترحاتك. هدفي هو جعل هذه الدورة أفضل ما يكون من كل النواحي.

            p
                span.blue
                    strong كيف ستجيب على الرسائل البريدية على الفور؟
                br
                |- يعتمد الأمر على عدد الرسائل التي وسلطتني ومدى انشغالي. أحاول في أغلب الأحيان مدى وسعي في الرد على الرسائل على الفور. ربما لن أجيب على الرسائل التي ليس لها صلة في الدورة، الكيمياء، أو العلوم عامةً.
            
            p
                span.blue
                    strong هل توفر دروساً خصوصية؟
                br
                |- هذا الأمر قيد الاعتبار. هل يجب علي تقديم دروس خاصة، سُينشر ذلك في الموقع.

            p
                span.blue
                    strong هل لديك فيسبوك، تويتر، لينكد إن، إلخ.؟
                br
                |- لا. لا أستخدم مواقع التواصل الاجتماعي. آسف.