include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title الكيمياء من الصفر
    body.index
        .space_between
            div
                +navbar
                .center(style="text-align:center;")
                    p هذا الموقع ما زال قيد الإنشاء (بيتا)
                    
                    h1 الكيمياء من الصفر

                    h2 هذه الدورة المجانية هي للذين يتمنون تعلم أساسيات الكيمياء من الصفر تماماً

                    p ربما أنت فقط مهتم بالكيمياء، تجدها ساحرة وغامضة، وتريد إزالة الستار الخافي لأسرارها

                    p ربما لا تناسبك الكيمياء ورغبتك في تعلمها تأتي بسبب حاجة ما؛ كاجتياز امتحان مثلاً. والله يعني كلنا مرزوقين بقدرات مختلفة، ولكن لازم نخلص من الامتحان ¯/_(ツ)_\¯

                    p ربما تحب أن يكون لديك فهم أكثر وأفضل للمواد الكيميائية، المضافات الغذائية، الأقمشة، المواد، وأغراض المعيشة حولك، وكيفية استعمالهم بأمان وحكمة

                    br
                    br

                    p تمت ترجمة هذه الدورة إلى العربية من <a href="https://chemistryfromscratch.org/">الدورة الأصلية الإنجليزية</a>. تعاونّا معاً لإنشاء هذه النسخة العربية.
                    
                    br
                    


            .footer
                div
                    a(href="/termsofuse.html")  سياسة الاستخدام
                    a(href="/privacy.html")  الخصوصية
                div
                    a(href="/contact.html")  التواصل
                    a(href="https://ar.wikipedia.org/wiki/%D8%AD%D9%82%D9%88%D9%82_%D8%A7%D9%84%D8%AA%D8%A3%D9%84%D9%8A%D9%81_%D9%88%D8%A7%D9%84%D9%86%D8%B4%D8%B1")  حقوق الطبع والنشر © 2020-2022