include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title المقدمة
    body
        +navbar

        div.center
            h2#introduction <a href="#introduction">المقدمة</a>

            p ربما أنت متحمس لتعلم أساسيات الكيمياء ﻷنك بالأصل مهتم بالمادة. ولكن على الأغلب أنك قد عانيت الكثير لفهم الكيمياء. لن أتفاجئ إذا حاولت جاهداً، وربما حتى أكثر من مرة، ولكن لسبب ما أو لآخر لم تفلح معك أبداً. ضع في بالك أنه لا يوجد إنسان طبيعي عادي القدرات غير قادر على فهم أساسيات الكيمياء؛ لذلك لا بد من سبب ما منعك من تعلمها. أعطها فرصة أخرى وربما ستتفاجئ بمدى منطقيتها ومتعتها وبساطتها. وأنصحك بالتمسك بالقواعد التالية.

            p.red - إذا كنت تكره الكيمياء، ضع في بالك أن هذا الشعور قابل للتغير.
            p.red - خذ وقتك بقراءة وفهم المادة. تأكد من أنك فهمت كل ما بها قبل إكمالها واجتيازها.
            p.red - تقبل وتفهم حاجة عمل الذاكرة. تعلم وحفظ المعلومات الكيميائية هو <a href="https://pubs.acs.org/doi/pdf/10.1021/ed065p57" target="_blank" >بمثابة تعلم لغة أجنبية</a>: صعبة في البداية ولكن أسهل بكثير في المراحل التالية.
            p.red - حاول أن تحب الكيمياء. إذا نجحت بذلك، فسترد لك الكيمياء المقابل. نتعلم الأشياء التي نحبها وتثير اهتماماتنا كثيراً بسهولة وبسرعة. تأتي هذا المشاعر بشكل طبيعي. 

            h2#the_key_question <a href="#the_key_question">السؤال الرئيسي</a>

            p.center "لم ولن أكون كيميائياً. لماذا يجب علي تعلم الكيمياء؟"

            p فقدت عدد المرات التي سمعت فيها هذا السؤال من قبل طلاب ثانوية وطلاب ذوي تخصصات أخرى في الكلّية. وقت أيام تخصصي أنا في الكيمياء، سألت نفسي سؤالاً مشابهاً. في ذلك الوقت، كنت أتصارع مع دورتَي الرياضيات والفيزياء المتقدمة والتَي كانتا بالإجبار. مع تزايد استيائي، سألت أبي الذي كان دكتوراً في الفيزياء، "لماذا يجب علي دراسة كل هذه المعادلات الفيزيائية المعقدة المجنونة إذا أردت أن أكون كيميائياً؟" كان جوابه الفوري بسيطًا وقصيرًا، "لأنك تريد أن تكون عالماً وانساناً مثقفًا".

            p إذا أردت أن تكون انساناً مثقفاً بدلاً من أن تكون أهبلاً <a href="https://en.wikipedia.org/wiki/Chemophobia">راهباً للكيماويات</a>، فستكون فكرة جيدة أن تعرّف نفسك على الكيمياء.

            p <a href="https://exploringyourmind.com/how-fear-feeds-on-ignorance/">الخوف من المجهول</a> هي ظاهرة معروفة لدى الناس. وأيضاً كما كتبها أحدهم، "<a href="https://youtube.com/watch?v=l_SzCFaGxQM">الخوف هو أم العنف</a>". بجانب العنف، الخوف من المجهول قد يؤدي إلى عواقب وخيمة. الصورة 1 تريك بعض الصور الشاذة لمخلوقات حية، بعضهم غير ضار بالبشر والآخر مميت لهم. هل تستطيع تمييز الخطيرين بينهم بدون النظر إلى الوصف؟
            .figure <a id="fig_1" href="#fig_1">الصورة 1</a>
                div
                    img(src="/imgs/figure_1.webp", alt="figure_1.webp")
                div
                    p
                        |الصورة 1:
                        br
                        |الصف الأول من اليسار إلى اليمين:
                        br
                        |1. الشيطان الشائك (غير ضار؛ <a href="https://commons.wikimedia.org/wiki/File:Thornydevil.jpg">المصدر</a>)
                        br
                        |2. الحلزون المخروطي (مميت؛ <a href="https://www.app.com/story/sports/outdoors/fishing/hook-line-and-sinker/2014/09/25/ocean-facts-beautiful-deadly-cone-snails/16230425/">المصدر</a>)
                        br
                        |3. سمكة الصياد الاحدب (غير ضارة؛ <a href="https://www.science-rumors.com/top-20-humpback-anglerfish-facts-to-know-what-this-creature-is/">المصدر</a>)
                        br
                        |الصف الثاني من اليسار إلى اليمين:
                        br
                        |1. قرش متشمس (غير ضار؛ <a href="https://commons.wikimedia.org/wiki/File:Cetorhinus_maximus_by_greg_skomal.JPG">المصدر</a>)
                        br
                        |2. آيزوبود عملاق (غير ضار؛ <a href="https://list25.com/25-dangerous-looking-animals-that-are-relatively-harmless/5/">المصدر</a>)
                        br
                        |3. الضفدع الذهبي السام (مميت؛ <a href="https://www.chemistryworld.com/news/single-mutation-keeps-lethal-frog-from-poisoning-itself/3007949.article">المصدر</a>)

            p المعرفة هي الطريقة الوحيدة للتمييز والتعامل مع الحيوانات المميتة وأيضاً النباتات، الفطريات، والبكتيريا. وكذلك أيضاً معرفة المواد الكيميائية معرفة مهمة لتمييز الخطيرة منها عن غيرها. ولكن على عكس الحيوانات، فنادراً ما تستطيع التعرف على المواد الكيميائية عن طريق مظهرها الخارجي فقط ﻷن الكثير منهم يشبهون بعضهم البعض بلونهم الأبيض مثلاً، أو حتى بكونهم سوائل وغازات بلا لون. عادةً ما يُعَرف المركب الكيميائي بهيكليته و/أو بتركيبه الكيميائي وأيضاً باسمه. الصورة 2 تريك صوراً لأربع عبوات ذو مواد كيميائة. من منهم الآمن ومن منهم الخطير؟

            .figure <a id="fig_2" href="#fig_2">الصورة 2</a>
                div
                    img(src="/imgs/figure_2.webp", alt="figure_2.webp")
                div
                    p
                        |الصورة 2:
                        br
                        |عبوات تجارية من اليسار إلى اليمين:
                        br
                        |1. أسبرين (=حمض الساليسيليك؛ <a href="https://digital.sciencehistory.org/works/7p88cg990/viewer/4m90dv87d">المصدر</a>)
                        br
                        |2. حمض الساليسيليك (=أسبرين؛ <a href="https://labchem-wako.fujifilm.com/us/product/detail/W01W0101-1026.html">المصدر</a>)
                        br
                        |3. صودا الخَبز (=بيكربونات الصوديوم؛ <a href="https://www.webstaurantstore.com/arm-hammer-12-oz-baking-soda-shaker/99901670.html">المصدر</a>)
                        br
                        |4. بيكربونات الصوديوم (=صودا الخَبز؛ <a href="https://cdn11.bigcommerce.com/s-ufhcuzfxw9/images/stencil/500x659/products/12771/15499/CH-NAHCO3__99853.1503517929.jpg?c=2">المصدر</a>)

            p الكل يعلم أن الأسبرين يستخدم بدون الحاجة إلى وصفة طبية وصودا الخَبز هي منتج منزلي آمن. ولكن ماذا بإمكانك القول عن العبوتين الأخرتين؟ هل سيكون من الآمن استعمالهن خارج غطاء للدخان؟ هل الكيماويات بداخلهن سامة أو مسرطنة؟ هل بامكانهن الاشتعال بشكل فوري؟ هل بالإمكان استعمالهن كمنتجات منزلية وإذا لم يكن كذلك، فكيف يجب التخلص منهن بطريقة آمنة وصديقة للبيئة؟ أي كيميائي سيموت من الضحك على هذه الأسئلة لأن الأسبرين هو الاسم التجاري لحمض الساليسيليك وصودا الخَبز هو اسم شائع لبيكربونات الصوديوم.

            p من المفيد أن تكون مثقفاً ومتعلماً. ولسوء الحظ، هناك بعض الناس المخادعين حولنا. دائماً ما كان الحال هكذا وسيبقى كذلك. معرفتك هي أفضل وسيلة دفاع ضد هؤلك الذين يريدون خداعك.

            p فائدة أخرى من كونك مثقف من الناحية الكيميائية هي أن تسمح لك بتوفير مالك في حياتك اليومية. لنفترض أنك تحتاج إلى مسكن متاح بلا وصفة طبية مثل الـAdvil، الـMotrin، أو الـIbuprofen. إذا كنت تعرف أن هؤلاء الثلاثة هم نفس المركب <br>(rac-2-(p-isobutylphenyl)propionic acid) وبلا <a href="https://www.drugs.com/medical-answers/motrin-advil-difference-3122169/">أي فرق</a> من ناحية قوة التأثير أو احتمالية الأعراض الجانبية، فبالتأكيد ستفكر بشراء ألواح 100 200-mg من الـIbuprofen بـ2$ فقط (وول مارت) بدلاً من دفع 8-10$ لنفس الكمية من ألواح الـMotrin أو الـAdvil في نفس المتجر، أو حتى في مكان آخر.

            p في هذه الدورة، لن تتعلم فقط عن صودا الخَبز، الأسبرين، والـIbuprofen. ستتعلم أيضا لماذا فايبر البوليمر العضوي الذي من صنع الإنسان أقوى من الفولاذ، ما إذا كان السكر البني أكثر تغذية من السكر الأبيض، لماذا فكرة خلط الخل مع مبيض الملابس فكرة ليست بالجيدة، وكثير من الأشياء الأخرى من المفيد معرفتها. ولكن للعلم، هذه الدورة ليست عبارة عن تحويشة لبعض الحقائق المثيرة للاهتمام والممتعة، بل هي دورة تعليم كيمياء حقيقية للمبتدئين. لمعرفة المزيد، أكمل القراءة.


            h2#about_the_course <a href="#about_the_course">عن الدورة</a>

            p هذه الدورة ليست بأي شكل من الأشكال دورة كيمياء متقدمة. كما قال العنوان "كيمياء من الصفر" يدل على أنها للمبتدئين فقط. إذا رغبت في تعلم الكيمياء على مرحلة أكثر تقدماً، فيجب عليك أن تنظر إلى مكان آخر.

            p تنقسم هذه الدورة إلى أربعة وحدات، الوحدة الأولى تُعرف القارئ على مصطلحات المفاهيم الأساسية للعلوم الفيزيائية وتوفر مقدمة للكيمياء الوصفية. الوحدة الثانية تتعامل مع هيكلية الذرات، التوزيع الإلكتروني، الروابط الكيميائية، وجوانب أخرى من الكيمياء العامة. الوحدة الثالثة والرابعة تغطي مواضيع محددة في الكيمياء اللاعضوية والعضوية على التوالي.

            p كل وحدة مقسومة إلى أقسام وأقسام فرعية. عند كل نهاية قسم هناك قسم تمارين فرعي. الأجوبة الصحيحة والحلول التي غالباً ما تأتي بشروحات مفصلة، متاحة لأغلب التمارين والمسائل. رجائاً حاول أن تجيب وتقرأ الشروحات بتمعن حتى وإن أجبت على الأسئلة بشكل صحيح.

            p النص مزود بروابط لمقالات، لفيديوهات تجارب كيميائية كثيرة ولرسوم متحركة مرئية لها علاقة بالموضوع. أنصحك بشدة بمشاهدة الفيديوهات، والتي قد اخترتها بعناية من أجل هذه الدورة.

            p أخيرا وليس آخراً وأهم شيء، <span style="text-decoration:underline;">شغل مخك!</span> ركز على فهم المفاهيم والمبادئ بدلاً من حفظ المادة فقط.

            h2#about_me <a href="#about_me">عني</a>

            p لدي شهادة دكتورة في الكيمياء من جامعة مشهورة ولدي الكثير من سنوات الخبرة في البحث، التعليم والتدريس الخصوصي. لدي أكثر من 200 منشور في المؤلفات المفتوحة وبراءات الاختراع <a href="https://ar.wikipedia.org/wiki/%D9%85%D8%A4%D8%B4%D8%B1_%D8%A5%D8%AA%D8%B4">ومؤشر إتش</a> = 60 وبعض الجوائز المرموقة في رصيدي. ولكن بنا أنه لا علاقة لهم بهذه الدورة، فليست هناك الحاجة للشكف عن هويتي هنا. نيّتي هي أن أبقى مجهول الهوية لمستخدمي هذا الموقع.

            br
            br