include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")
    head
        +metadata
        title الخصوصية
    body
        +navbar

        .center
            h1 الخصوصية
           
            p الشيء الوحيد الذي أستطيع معرفته عنك هو عنوان الـ IP لديك. إذا أردت إخفائه، فاستخدم VPN أو <a href="https://www.torproject.org/">متصفح تور</a>