include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")

    head
        +metadata
        title الكيمياء من الصفر

    body
        +navbar

        div.center(dir="ltr")
            h1 Website Standard Terms and Conditions

            h2#1 <a href="#1">1. Introduction</a>
            p These "Website Standard Terms and Conditions" (these "Terms" or these "Website Terms of Use") contained herein on this webpage, shall govern your use of this website (chemistryfromscratch.org), including all pages within this website (collectively referred to herein below as this "Website"). These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly accept all terms and conditions contained herein in full. You must not use this Website, if you have any objection to any of these Website Standard Terms And Conditions.

            h2#2 <a href="#2">2. Age</a>
            p You must be the age of majority (18 in most states of the United States; older in some jurisdictions) or older to use this Website. While individuals under the age of 18 (but not younger than 13) may utilize the Website, they must do so only with the consent and involvement of a parent or legal guardian, under such person's account and otherwise subject to these Terms. I do not seek through this Website to gather personal information from or about any person, including persons under the age of 13 (for tips from the Federal Trade Commission on protecting children's privacy online, see: www.onguardonline.gov).

            h2#3 <a href="#3">3. Restrictions and Prohibited Uses</a>
            p You agree not to reproduce, duplicate, copy, publish in any media, publicly perform and/or show, sell, sublicense, exploit and/or otherwise commercialize any Website material without my express written consent. You are expressly and emphatically restricted from all of the following:
            p - Using this Website in any way that is, or may be, damaging to this Website;
            p - Using this Website in any way that impacts user access to this Website;
            p - Using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity;
            p - Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website, or while using this Website; and
            p - Using this Website to engage in any advertising or marketing.
            p In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the site or its content:
            p - For any unlawful purpose;
            p - To solicit others to perform or participate in any unlawful acts;
            p - To violate any international, federal, provincial or state regulations, rules, laws, or local ordinances;
            p - To infringe upon or violate my copyright and other rights;
            p - To harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability;
            p - To publish or make public in any other way false or misleading information about the Website and/or its content;
            p - To not knowingly or recklessly repeat, retransmit, or republish false or misleading information and/or statements made by others about the Website and/or its content;
            p - To spam, phish, pharm, pretext, spider, crawl, or scrape;
            p - For any obscene or immoral purpose; or
            p - To interfere with or circumvent the security features of the Website or any other websites or the Internet.

            h2#4 <a href="#4">4. Content and Copyright</a>
            p The content of the Website is based on information from published scientific and educational sources with a keen focus on accuracy and integrity. In cases where information found on the Website may be inaccurate or needs to be updated I ask that you contact me. In cases where you feel like a copyright may have been infringed upon, I ask that you reach out to me directly via email (see: contact page).

            p With the exception of images with sources referenced by links or otherwise, I own all rights to the intellectual property and material contained in this Website, and all such rights are reserved. You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing the material contained on this Website.

            h2#5 <a href="#5">5. Links to Other Sites</a>
            p This Website contains links to third-party websites. These links are provided as a convenience to you. I do not control and am not responsible for the content of such third-party websites or the conduct of the operators of such third-party websites, and do not make any representations regarding the accuracy, copyright or other statutory or regulatory compliance, legality or decency of any of the content or other materials on such third-party websites. If you decide to access linked third-party websites, you do so at your own risk.

            h2#6 <a href="#6">6. No Warranties</a>
            p This Website is provided "as is," with all faults, and I make no express or implied representations or warranties of any kind related to this Website or the materials contained on this Website. Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.
            p I am not responsible if information made available on this Website is not accurate, complete or current. The material on this Website is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information. Any reliance on the material on this site is at your own risk.
            p This Website contains certain historical information. Historical information, necessarily, is not current and is provided for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation to update any information on our site. You agree that it is your responsibility to monitor changes to our site.

            h2#7 <a href="#7">7. Limitation of Liability</a>
            p In no event shall I be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and I shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.

            h2#8 <a href="#8">8. Indemnification</a>
            p You hereby indemnify me, to the fullest extent, and undertake to keep me indemnified against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney's fees) arising out of or in any way related to your breach of any of the provisions of these Terms.

            h2#9 <a href="#9">9. Severability</a>
            p If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.

            h2#10 <a href="#10">10. Variation of Terms</a>
            p I, the owner of this Website, reserve the right, at my sole discretion, to change, modify, add or remove portions of these Terms, at any time. It is your responsibility to check these Terms periodically for changes. Your continued use of this Website following the posting of changes will mean that you accept and agree to the changes.

            h2#11 <a href="#11">11. Assignment</a>
            p I shall be permitted to assign, transfer, and subcontract my rights and/or obligations under these Terms without any notification or consent required. However, you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.

            h2#12 <a href="#12">12. Entire Agreement</a>
            p These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between me and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same.

            h2#13 <a href="#13">13. Governing Law & Jurisdiction</a>
            p Governing Law & Jurisdiction. These Terms will be governed by and construed in accordance with the laws of the State of Delaware, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Delaware for the resolution of any disputes.

            br