include widgets/widgets.pug
doctype html
html(lang="ar" dir="auto")

    head
        +metadata
        title الكيمياء من الصفر

    body
        +navbar

        div.center
            h1 شروط وأحكام الموقع الأساسية

            h2#1 <a href="#1">1. المقدمة</a>
            p شروط الاستخدام المكتوبة في هذه الصفحة هي اللتي ستُحكِّم طريقة استخدامك لهذا الموقع. هذه الشروط تُطبق بقوة كاملة وتأثر على استخدامك لهذا الموقع. استخدامك للموقع يعني أنك توافق على كل الشروط في هذه الصفحة. إذا كان لديك أي اعتراض على أي من الشروط، فلا يجب عليك أن تستخدم الموقع.

            h2#2 <a href="#2">2. العمر</a>
            p يجب أن تكون بعمر الغالبية (18 في أغلب الولايات بأميريكا؛ أكبر من ذلك في مناطق أُخَر). بينما الأشخاص الذين دون الـ18 (ولكن ليس دون الـ13) يمكنهم استخدام الموقع ولكن بموافقة ومراقبة أحد الوالدين أو حارس قانوني. أنا لا أسعى عبر هذا الموقع على أن أجمع أي معلومات عن أي مستخدم ومن ضمنهم الدون الـ13. لمزيد من المعلومات عن لجنة التجارة الفيدرالية لحماية خصوصية الأطفال، زُر موقع:&nbsp;
                a(href="http://www.onguardonline.gov/") www.onguardonline.gov

            h2#3 <a href="#3">3. القيود والاستخدامات المحظورة</a>
            p أنت توافق على عدم إعادة النشر، نسخ، أو نشر أي مواد من الموقع. أداء علني أو إظهار، بيع، ترخيص فرعي، استغلال أو تسويق أي مواد من الموقع بدون موافقة كتابية مني. أنت ممنوع بشكل تام عن أي ما بالتالي:
            p - استخدام هذا الموقع بأي طريقة يمكن أن تضر هذا الموقع.
            p - استخدام الموقع بأي طريقة تؤثر على تمكن وصول المستخدمين لهذا الموقع.
            p - استخدام هذا الموقع لأغراض غير قانونية، أو بطريقة ما تؤدي إلى إيذاء الموقع أو أي شخص أو أي كيان تجاري.
            p - الانخراط في أي تعدين بيانات، حصاد بيانات، استخراج بيانات أو أي نشاط آخر مشابه فيما يتعلق بهذا الموقع، أو أثناء استخدام هذا الموقع؛ و
            p - استخدام هذا الموقع للنخراط في أي ترويج أو تسويق
            p بالإضافة إلى محظورات أُخر على النحو المبين في شروط الاستخدام، أنت ممنوع من استخدام الموقع أو محتوياته:
            p - لأي أغراض غير قانونية؛
            p - ﻷي حث أو تشجيع أشخاص آخرين على القيام بأغراض غير قانونية؛
            p - لانتهاك أي أنظمة، قوانين سواءً أكانت عالمية، فيديرالية، ريفية دولية، أو مراسيم محلية؛
            p - لانتهاك أو التعدي على حقوقي للطبع والنشر وحقوق أخرى
            p - لأي تضييق، استغلال، إهانة، إيئاء، قذف، استخفاف، أو أي تمييز على أساس الجنس، التوجه الجنسي، الدين، العرق، العمر، الأصل الوطني، أو إعاقة؛
            p - لنشر شيء ما بأي طريقة كانت معلومات خاطئة ومضللة عن هذا الموقع أو محتوايته؛
            p - لعدم سواءً بمعرفة أو بتهور إعداة إرسال، أو إعادة نشر أي معلومات خاطئة أو أي تصريحات من أُناس أُخر عن الموقع أو محتوايته؛
            p - لإرسال أي رسائل مزعجة أو احتيالية تصيُّد أو كشط.
            p - لأي فاحشة أو غرض غير أخلاقي؛ أو
            p - للتدخل مع أو التلاعب على ميزات أمان هذا الموقع أو أي موقع آخر.

            h2#4 <a href="#4">4. المحتوى وحقوق الطبع والنشر</a>
            p محتوى الموقع مبني على معلومات من مصادر علمية وتعليمية منشورة مع حرصٍ شديد على الدقة والنزاهة. في حالة وجود أي معلومات خاطئة أو غير دقيقة أو تحتاج للتحديث، فتواصل معي. في حالة وجودك ﻷي انتهاك لحقوق الطبع والنشر في مكان ما، فتواصل معي بشكل مباشر عبر بريدي الإلكتروني &lpar;زُر:&nbsp;
                a(href="") التواصل
                | &rpar;.

            p بغض النظر عن الصور والمصادر المشار إليها بروابط وما إلى ذلك، أنا أمتلك جميع الحقوق الفكرية والملكية والمواد المتضمنة في هذا الموقع. وكل هذه الحقوق محفوظة. لديك أنت ترخيص محدود فقط وهو بهدف مشاهدة المواد المتضمنة في هذا الموقع.

            h2#5 <a href="#5">5. الروابط لمواقع أخرى</a>
            p هذا الموقع يحتوي على روابط لمواقع ذات طرف ثالث. وُفِّرَت هذه الروابط كوسيلة لراحتك. أنا لا أتحكم ولست مسؤول عن محتوى هذه المواقع ذات الطرف الثالث أو عن أي إجراء من العاملين فيها، ولا أقدم إي إقرارات بخصوص الدقة، حقوق الطبع والنشر، أو أي امتثال قانوني أو تنظيمي، أو أي شرعية أو أدب أي من المحتوى أو أي مواد أُخر عن هذه المواقع. إذا قررت زيارة هذه الروابط، فعلى مسؤوليتك الخاصة.

            h2#6 <a href="#6">6. بلا ضمانات</a>
            p يُقَدَّم هذا الموقع "كما هو" بكل أخطائه، لا أعطي أي ضمانات من أي نوع لهذا الموقع أو للمواد المتضمنة به. إضافة إلى ذلك، لا يجب على أي شيء في هذا الموقع أن يكون على شكل استشارة أو نصيحة لك.
            p أنا لست مسؤولاً عن إذا ما كانت المعلومات في هذا الموقع غير دقيقة أو غير كاملة أو قديمة أي ليست حديثة. المواد في هذا الموقع هو فقط لأخذ معلومات عامة فقط ولا يجب أن يعتمد عليها كالمصدر الوحيد لاتخاذ قرارات بدون استشارة خبير، أو مصادر أكثر دقة وأكل أو أحدث. أي اعتماد على أي من المعلومات في هذا الموقع هو على مسؤوليتك الخاصة.

            p - يحتوي هذا الموقع على بعض المعلومات التاريخية. ليس بالضرورة أن يكون هذا النوع من المعلومات حديث ووُفِّرَ لك أنت كمرجع فقط لا غير. نحن نحافظ على حق تغيير محتويات هذا الموقع في أي وقتٍ نريد، ولكن لسنا مجبرين بذلك. أنت توافق على أن مراقبة التغييرات في موقعنا هي مسؤوليتك الخاصة.

        .center(dir="ltr")
            h2#7 <a href="#7">7. Limitation of Liability</a>
            p In no event shall I be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and I shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.

            h2#8 <a href="#8">8. Indemnification</a>
            p You hereby indemnify me, to the fullest extent, and undertake to keep me indemnified against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney's fees) arising out of or in any way related to your breach of any of the provisions of these Terms.

            h2#9 <a href="#9">9. Severability</a>
            p If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.

            h2#10 <a href="#10">10. Variation of Terms</a>
            p I, the owner of this Website, reserve the right, at my sole discretion, to change, modify, add or remove portions of these Terms, at any time. It is your responsibility to check these Terms periodically for changes. Your continued use of this Website following the posting of changes will mean that you accept and agree to the changes.

            h2#11 <a href="#11">11. Assignment</a>
            p I shall be permitted to assign, transfer, and subcontract my rights and/or obligations under these Terms without any notification or consent required. However, you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.

            h2#12 <a href="#12">12. Entire Agreement</a>
            p These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between me and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same.

            h2#13 <a href="#13">13. Governing Law & Jurisdiction</a>
            p Governing Law & Jurisdiction. These Terms will be governed by and construed in accordance with the laws of the State of Delaware, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Delaware for the resolution of any disputes.

            br